.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.header-404 {
  background: url(../img/404_header.jpg) #f9f7f8 bottom no-repeat;
  min-height: 100px;
  padding-top: 50px; }

.sb-quicklinks-list {
  text-align: center; }
  .sb-quicklinks-list li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    background: none;
    padding-left: 0; }
  .sb-quicklinks-list a {
    text-align: center;
    background: none;
    font-size: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;
    transition: 0.1s all linear;
    color: #1d9fca; }
    .sb-quicklinks-list a:hover {
      text-decoration: none; }
    .sb-quicklinks-list a:active i {
      background-color: #9ab1bc; }

.mb-icon__home {
  background: url(../img/icon-home-pages-60.svg) no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  box-sizing: content-box;
  border: 1px solid #9ab1bc; }
  .no-svg .mb-icon__home {
    background-image: url(../img/icon-home-pages-60.png); }
  .mb-icon__home.mb-icon__home--homeloan {
    background-position: -120px 0; }
  .mb-icon__home.mb-icon__home--personalloan {
    background-position: -60px 0; }
  .mb-icon__home.mb-icon__home--carinsurance {
    background-position: -180px 0; }
  .mb-icon__home.mb-icon__home--learningcentre {
    background-position: -240px 0; }
  a:hover .mb-icon__home {
    border-color: #1d9fca; }
