.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.header-about {
  background: url(../img/about/header-aboutus-fallback.png) bottom no-repeat #1d9fca;
  background: url(../img/about/header-aboutus.png) no-repeat 93% 30px, url(../img/about/bg-lightblue-pattern.png) bottom no-repeat #1d9fca;
  padding: 30px;
  height: 190px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .header-about h1 {
    font-weight: 700;
    color: #f6f8f9;
    margin-top: 25px;
    line-height: 1.6; }
  .header-about h2 {
    color: #f6f8f9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    width: 40%; }

.quote {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-size: 2.1rem;
  color: #5e6a77; }

.section-vision {
  border-top: 5px solid #e5e9eb;
  border-bottom: 5px solid #e5e9eb;
  padding: 20px 0;
  position: relative; }
  .section-vision:before {
    position: absolute;
    content: '';
    display: block;
    background: url(../img/about/about-pointingup.jpg) no-repeat;
    width: 197px;
    height: 190px;
    right: 0;
    top: -195px; }

.about-infographics {
  position: absolute;
  bottom: 0; }

.imoney-region {
  background: url(http://www.imoney-group.com/wp-content/themes/imgroup/img/region-map.png) center top no-repeat #f2f3f3;
  /* old browsers */
  background: url(http://www.imoney-group.com/wp-content/themes/imgroup/img/region-map.png) center top no-repeat, url(http://www.imoney-group.com/wp-content/themes/imgroup/img/region-bg.jpg) #f2f3f3;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #5b6877;
  text-align: center; }

.imoney-region a:link, .imoney-region a:visited, .imoney-region a:active {
  color: #5b6877; }

.imoney-region a:hover {
  color: #454f5a; }

.imoney-region h5 {
  font-size: 21px;
  font-size: 2.1rem;
  color: inherit;
  position: relative;
  width: 438px;
  margin: 0 auto 36px; }

.imoney-region h5:before, .imoney-region h5:after {
  position: absolute;
  display: block;
  content: '';
  background: #aaa;
  bottom: -17px; }

.imoney-region h5:before {
  width: 100%;
  height: 2px;
  left: 11px; }

.imoney-region h5:after {
  height: 8px;
  width: 2px;
  left: 50%;
  margin-left: -1px; }

.imoney-region ul {
  margin: 20px 0;
  padding: 0; }

.imoney-region ul li {
  display: inline-block;
  margin: 0 20px; }

.imoney-region .region-logo {
  background: url(http://www.imoney-group.com/wp-content/themes/imgroup/img/imoney-region-logos.png) no-repeat;
  margin: 0 auto 15px;
  height: 33px;
  position: relative; }

.imoney-region .region-logo:before {
  position: absolute;
  display: block;
  content: '';
  background: #aaa;
  height: 8px;
  width: 2px;
  margin-left: -1px;
  top: -20px;
  left: 50%; }

.imoney-region .region-logo.region-malaysia {
  width: 139px;
  background-position: 0 0; }

.imoney-region .region-logo.region-singapore {
  width: 94px;
  background-position: 0 -40px; }

.imoney-region .region-logo.region-indonesia {
  width: 94px;
  background-position: 0 -80px; }

.imoney-region .region-logo.region-thailand {
  width: 94px;
  background-position: 0 -120px; }

.imoney-region .region-logo.region-philippines {
  width: 94px;
  background-position: 0 -160px; }

.imoney-region .region-logo.region-hongkong {
  width: 138px;
  background-position: 0 -200px; }
