.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.header-affiliate {
  background: url(../img/header-affiliate.jpg) center no-repeat;
  height: 240px;
  padding: 30px; }
  .header-affiliate h1 {
    font-weight: 700;
    color: #f6f8f9;
    margin-top: 15px;
    line-height: 1.6; }
  .header-affiliate h2 {
    color: #cbae85;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem; }

.affiliate-main {
  margin-top: -120px; }
