/* base font color */
/* lighter font color */
.application-header .application-wrapper, .application-step {
  zoom: 1; }
  .application-header .application-wrapper:before, .application-step:before, .application-header .application-wrapper:after, .application-step:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .application-header .application-wrapper:after, .application-step:after {
    clear: both; }

.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/*****************************
	APPLICATION FORM
******************************/
.application-wrapper {
  width: 1000px;
  margin: 0 auto; }

.application-header {
  background: #fff;
  height: 50px;
  line-height: 50px;
  color: #5e6a77; }
  .application-header .application-wrapper {
    background: url(../img/icon-securitylock.png) no-repeat right center; }
  .application-header h2 {
    line-height: 50px;
    margin: 0 0 0 10px;
    float: left;
    color: #5e6a77; }

/* main content */
.application-step {
  font-size: 11px;
  font-size: 1.1rem;
  color: #7d8a96;
  margin-top: 30px; }
  .application-step li {
    padding: 0 0 10px;
    background: transparent;
    float: left;
    margin-right: 30px; }
    .application-step li.application-step-current {
      color: #434c55;
      position: relative; }
      .application-step li.application-step-current:after {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent transparent #06456b;
        border-width: 5px;
        border-style: solid;
        display: block;
        content: '';
        bottom: 0;
        left: 50%;
        margin-left: -2px; }

[role="main"] {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.application-title {
  color: #fff;
  background: url(../img/application-title-bg.png) top right no-repeat #06456b; }
  .application-title h1:first-child {
    color: #fff;
    margin: 0; }

form select.form-control {
  width: 286px; }

.application-detail {
  height: 300px;
  overflow: auto; }
  .application-detail table, .application-detail td {
    background: #fff; }
  .application-detail table {
    margin-bottom: 0; }
  .application-detail td {
    padding: 2px 10px;
    background-color: transparent;
    height: 50px; }
    .application-detail td:first-child {
      width: 40%; }
    .application-detail td:last-child {
      width: 60%; }

.application-sidebar {
  font-size: 13px;
  font-size: 1.3rem; }

.application-imoney-usp h3 {
  margin-bottom: 5px;
  color: #06456b;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.application-imoney-usp p + h4 {
  margin-top: 20px; }

/* footer  */
[role="contentinfo"] {
  font-size: 12px;
  font-size: 1.2rem;
  color: #5e6a77;
  margin-top: 30px;
  margin-bottom: 30px; }

.lt-ie9 .application-detail td {
  width: 90px; }
