/* base font color */
/* lighter font color */
.application-header .application-wrapper, .application-header .ct-wrapper, .application-step {
  zoom: 1; }
  .application-header .application-wrapper:before, .application-header .ct-wrapper:before, .application-step:before, .application-header .application-wrapper:after, .application-header .ct-wrapper:after, .application-step:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .application-header .application-wrapper:after, .application-header .ct-wrapper:after, .application-step:after {
    clear: both; }

.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/*****************************
	APPLICATION FORM
******************************/
.application-wrapper {
  width: 680px;
  margin: 0 auto; }

.application-header {
  background: #fff;
  height: 50px;
  line-height: 50px;
  color: #5e6a77;
  margin-bottom: 30px; }
  .application-header .application-wrapper, .application-header .ct-wrapper {
    background: url(../img/icon-securitylock.png) no-repeat right center; }
  .application-header h2 {
    line-height: 50px;
    margin: 0 0 0 10px;
    float: left;
    color: #5e6a77; }

/* main content */
.application-step {
  font-size: 11px;
  font-size: 1.1rem;
  color: #7d8a96;
  margin-top: 30px; }
  .application-step li {
    padding: 0 0 10px;
    background: transparent;
    float: left;
    margin-right: 30px; }
    .application-step li.application-step-current {
      color: #434c55;
      position: relative; }
      .application-step li.application-step-current:after {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent transparent #06456b;
        border-width: 5px;
        border-style: solid;
        display: block;
        content: '';
        bottom: 0;
        left: 50%;
        margin-left: -2px; }

[role="main"] {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.application-title {
  color: #fff;
  background: url(../img/application-title-bg.png) top right no-repeat #06456b; }
  .application-title h1:first-child {
    color: #fff;
    margin: 0; }

.application-detail table, .application-detail td {
  border: none;
  vertical-align: middle; }
.application-detail table {
  margin-bottom: 0; }
.application-detail td {
  min-width: 60px;
  padding: 0 20px 0 0; }

/* footer  */
[role="contentinfo"] {
  font-size: 12px;
  font-size: 1.2rem;
  color: #5e6a77;
  margin-top: 30px;
  margin-bottom: 30px; }

.form-horizontal .control-label {
  font-weight: 500;
  text-align: left; }

.form-footer > * {
  overflow: visible; }
.form-footer input[type="checkbox"] {
  float: left; }
.form-footer .option {
  font-size: 11px;
  font-size: 1.1rem;
  color: #5e6a77;
  padding-left: 20px;
  display: block;
  position: relative;
  top: -2px;
  margin-bottom: 5px; }

#edit-submitted-house-purchase-price {
  width: 98%; }
  .hl-application #edit-submitted-house-purchase-price {
    width: 85%; }

/*****************************
	APPLICATION FORM - HOME LOAN
******************************/
.hl-application {
  background: #f4f3ef url(../img/application/application-hl-bg-couple.jpg) right top no-repeat;
  margin-top: 20px; }
  .hl-application [type="submit"] {
    padding: 12px 60px;
    height: auto !important;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold; }

.footer-media--hlapply {
  background-color: #f0eee9; }

.hl-application__header {
  padding: 0 100px 10px 0; }

.hl-application__form {
  border: 4px solid #1d9fca;
  background: #fff; }

.hl-application__sidebar {
  margin-top: 240px;
  color: #5e6a77; }

.sidebar__block {
  border-bottom: 1px solid #e5e9eb;
  margin-bottom: 10px; }

.sidebar__block--first {
  background: url(../img/application/application-sidebar-lightbulb.jpg) left top no-repeat;
  padding-top: 40px; }

.sidebar__heading {
  color: inherit;
  font-size: 18px;
  font-size: 1.8rem; }

#step-two {
  display: none; }

.hl-choosebanks .checkbox {
  padding-left: 0;
  float: left;
  width: 50%;
  margin-bottom: 4px; }
  .hl-choosebanks .checkbox label {
    line-height: 20px;
    cursor: pointer; }
    .hl-choosebanks .checkbox label.hover {
      color: #434c55; }
  .hl-choosebanks .checkbox .checked + {
    color: #1d9fca; }

.infopanel {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f6f8f9;
  border-left: 3px solid #d3d7d8; }
  .infopanel > *:last-child {
    margin-bottom: 0; }
  .form-control-static .infopanel {
    margin-top: -7px;
    padding-top: 7px; }

#submitted-message {
  opacity: 0; }
