.table-asbloan [data-column="0"], .table-asbloan .apply-col {
  width: 10%; }
.table-asbloan [data-column="3"] {
  width: 12%; }
.table-asbloan [data-column="4"], .table-asbloan [data-column="5"] {
  width: 14%; }
.table-asbloan td:nth-child(5), .table-asbloan td:nth-child(6), .table-asbloan td:nth-child(7), .table-asbloan td:nth-child(8) {
  text-align: left; }
.table-asbloan td {
  font-size: 13px;
  font-size: 1.3rem; }
