@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.disp-t {
  display: table;
  width: 100%; }

.disp-tc {
  display: table-cell; }

/* ==========================================================================
   MOBILE CONTROL
   ========================================================================== */
.mb-bmw-test-drive .bmw-hero-header img {
  display: block; }
.mb-bmw-test-drive .hero-content {
  background: #333;
  padding: 15px 20px; }
  .mb-bmw-test-drive .hero-content h3 {
    font-size: 22px;
    font-size: 2.2rem;
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
.mb-bmw-test-drive.bmw-test-drive .testdrive-form-row {
  display: block;
  width: 100%; }
  .mb-bmw-test-drive.bmw-test-drive .testdrive-form-row .btn-test-drive {
    font-size: 18px;
    font-size: 1.8rem;
    width: 85%; }
.mb-bmw-test-drive.bmw-test-drive .desc-row {
  font-weight: normal; }
.mb-bmw-test-drive.bmw-test-drive .success-wrap {
  left: auto;
  right: auto; }
.mb-bmw-test-drive .success-wrap.animated {
  position: relative; }

/* media queries */
@media (max-width: 480px) {
  .mb-bmw-test-drive .content-top {
    padding-left: 15px !important; }
    .mb-bmw-test-drive .content-top ul li {
      padding-left: 0;
      padding-top: 80px;
      padding-bottom: 30px; }
      .mb-bmw-test-drive .content-top ul li.balloon-payment, .mb-bmw-test-drive .content-top ul li.trade-in {
        background-position: top center; }
      .mb-bmw-test-drive .content-top ul li.trade-in {
        padding-top: 60px; }
  .mb-bmw-test-drive .content-btm {
    padding: 7px !important; }
  .mb-bmw-test-drive .bmw-feature-table thead td:first-child {
    font-size: 17px;
    font-size: 1.7rem; }
  .mb-bmw-test-drive .bmw-feature-table thead td {
    font-size: 13px;
    font-size: 1.3rem; } }
/* ==========================================================================
   END MOBILE
   ========================================================================== */
.bmw-test-drive {
  color: #fff;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif; }
  .bmw-test-drive h1, .bmw-test-drive h2, .bmw-test-drive h3, .bmw-test-drive h4, .bmw-test-drive h5, .bmw-test-drive h6 {
    color: #fff;
    margin-bottom: 2px; }
  .bmw-test-drive p {
    margin-bottom: 3px; }
  .bmw-test-drive .bmw-hero {
    height: 360px;
    position: relative; }
    .bmw-test-drive .bmw-hero .daftar {
      position: absolute;
      display: inline-block;
      bottom: 36px;
      width: 157px;
      left: 33px;
      border: 1px solid #fff; }
  .bmw-test-drive .second-row {
    display: table; }
    .bmw-test-drive .second-row .bmw-headline {
      background: #006395;
      padding: 9px 20px; }
      .bmw-test-drive .second-row .bmw-headline h3 {
        font-weight: 600;
        font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
        font-size: 22px;
        font-size: 2.2rem; }
      .bmw-test-drive .second-row .bmw-headline p {
        margin-bottom: 0;
        font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
        font-weight: 400; }
    .bmw-test-drive .second-row .bmw-content {
      padding: 15px;
      color: #dadada; }
      .bmw-test-drive .second-row .bmw-content.content-top {
        padding-left: 30px;
        padding-bottom: 5px; }
  .bmw-test-drive .content-top h4 {
    color: #ffa94e; }
  .bmw-test-drive .content-top li {
    padding-left: 130px;
    padding-bottom: 20px; }
    .bmw-test-drive .content-top li.balloon-payment {
      background: url(../img/campaign/bmw-test-drive/balloon-icon.png) 20px 50% no-repeat;
      background-size: 55px 66px; }
    .bmw-test-drive .content-top li.trade-in {
      background: url(../img/campaign/bmw-test-drive/trade-car.png) 0 50% no-repeat;
      background-size: 100px 48px; }
  .bmw-test-drive .content-btm h4 {
    font-weight: 500; }
  .bmw-test-drive .desc-row {
    display: table-cell;
    vertical-align: top;
    background: #121212;
    font-weight: 200; }
  .bmw-test-drive .testdrive-form-row {
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #3595c6;
    vertical-align: top;
    font-family: "Raleway", 'Helvetica Neue', Arial, sans-serif;
    width: 370px;
    position: relative;
    padding: 15px 20px 60px; }
    .bmw-test-drive .testdrive-form-row .form-header-wrap {
      margin-bottom: 18px; }
      .bmw-test-drive .testdrive-form-row .form-header-wrap h3 {
        font-weight: 600;
        font-family: "Raleway", "Helvetica Neue", Arial, sans-serif; }
      .bmw-test-drive .testdrive-form-row .form-header-wrap p {
        font-size: 15px;
        font-size: 1.5rem;
        font-family: "Raleway", "Helvetica Neue", Arial, sans-serif; }
    .bmw-test-drive .testdrive-form-row h3 {
      line-height: 18px; }
    .bmw-test-drive .testdrive-form-row .form-group {
      margin-bottom: 13px;
      position: relative; }
      .bmw-test-drive .testdrive-form-row .form-group input[type="text"], .bmw-test-drive .testdrive-form-row .form-group input[type="email"], .bmw-test-drive .testdrive-form-row .form-group input[type="tel"], .bmw-test-drive .testdrive-form-row .form-group input[type="number"] {
        padding: 8px 10px 8px 60px;
        line-height: initial;
        font-size: 17px;
        font-size: 1.7rem;
        border: 0;
        background-color: #fff;
        position: relative;
        left: 0;
        font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
        -webkit-transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        transition: 0.2s ease all; }
        .bmw-test-drive .testdrive-form-row .form-group input[type="text"].error, .bmw-test-drive .testdrive-form-row .form-group input[type="email"].error, .bmw-test-drive .testdrive-form-row .form-group input[type="tel"].error, .bmw-test-drive .testdrive-form-row .form-group input[type="number"].error {
          background-color: #FFBFB7;
          color: #333; }
          .bmw-test-drive .testdrive-form-row .form-group input[type="text"].error:focus, .bmw-test-drive .testdrive-form-row .form-group input[type="email"].error:focus, .bmw-test-drive .testdrive-form-row .form-group input[type="tel"].error:focus, .bmw-test-drive .testdrive-form-row .form-group input[type="number"].error:focus {
            color: #313131; }
        .bmw-test-drive .testdrive-form-row .form-group input[type="text"]:focus, .bmw-test-drive .testdrive-form-row .form-group input[type="email"]:focus, .bmw-test-drive .testdrive-form-row .form-group input[type="tel"]:focus, .bmw-test-drive .testdrive-form-row .form-group input[type="number"]:focus {
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          background-color: #ffe8b8;
          -webkit-transform: translateX(3px);
          -moz-transform: translateX(3px);
          -ms-transform: translateX(3px);
          -o-transform: translateX(3px);
          transform: translateX(3px);
          -webkit-transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          transition: 0.2s ease all; }
          .no-transforms .bmw-test-drive .testdrive-form-row .form-group input[type="text"]:focus, .no-transforms .bmw-test-drive .testdrive-form-row .form-group input[type="email"]:focus, .no-transforms .bmw-test-drive .testdrive-form-row .form-group input[type="tel"]:focus, .no-transforms .bmw-test-drive .testdrive-form-row .form-group input[type="number"]:focus {
            left: 3px; }
      .bmw-test-drive .testdrive-form-row .form-group .error {
        color: #FFE6C1; }
      .bmw-test-drive .testdrive-form-row .form-group .select-field {
        background-color: #fff;
        border: 0;
        height: 45px;
        width: 100%;
        display: block;
        text-indent: 52px;
        font-size: 17px;
        color: #aaa;
        margin-bottom: 0;
        font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
        font-weight: 400; }
        .bmw-test-drive .testdrive-form-row .form-group .select-field.field-salary {
          background: #fff url(../img/campaign/bmw-test-drive/icon-salary@2x.png) 10px 8px no-repeat;
          background-size: 40px 27px; }
        .bmw-test-drive .testdrive-form-row .form-group .select-field:focus {
          box-shadow: 0 0 0 2px #f49631;
          background-color: #fce5cc !important; }
        .bmw-test-drive .testdrive-form-row .form-group .select-field.error {
          background-color: #FFBFB7; }
      .bmw-test-drive .testdrive-form-row .form-group .form-control {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 45px; }
    .bmw-test-drive .testdrive-form-row .field-name, .bmw-test-drive .testdrive-form-row .field-email, .bmw-test-drive .testdrive-form-row .field-mobile, .bmw-test-drive .testdrive-form-row .field-age {
      background: #fff url(../img/campaign/bmw-test-drive/icon-name@2x.png) 10px 8px no-repeat;
      background-size: 40px 27px; }
    .bmw-test-drive .testdrive-form-row .field-email {
      background-image: url(../img/campaign/bmw-test-drive/icon-email@2x.png); }
    .bmw-test-drive .testdrive-form-row .field-mobile {
      background-image: url(../img/campaign/bmw-test-drive/icon-mobile@2x.png); }
    .bmw-test-drive .testdrive-form-row .field-age {
      background-image: url(../img/campaign/bmw-test-drive/icon-age@2x.png); }
    .bmw-test-drive .testdrive-form-row .checkbox-field {
      padding-bottom: 10px;
      color: #004467;
      font-weight: 600; }
      .bmw-test-drive .testdrive-form-row .checkbox-field .error {
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: 400; }
      .bmw-test-drive .testdrive-form-row .checkbox-field .form-group {
        margin-bottom: 2px; }
      .bmw-test-drive .testdrive-form-row .checkbox-field label {
        font-size: 17px;
        font-size: 1.7rem; }
      .bmw-test-drive .testdrive-form-row .checkbox-field input[type="radio"] {
        display: none;
        cursor: pointer; }
        .bmw-test-drive .testdrive-form-row .checkbox-field input[type="radio"]:checked + label:before {
          background: url(../img/campaign/bmw-test-drive/check-icon-ticked.png) 0 0 no-repeat;
          content: "";
          width: 20px;
          height: 20px;
          background-size: 20px;
          position: absolute;
          left: 0;
          top: 3px;
          -webkit-transition: 0.2s ease background;
          -moz-transition: 0.2s ease background;
          transition: 0.2s ease background; }
        .bmw-test-drive .testdrive-form-row .checkbox-field input[type="radio"]:hover {
          cursor: pointer; }
      .bmw-test-drive .testdrive-form-row .checkbox-field .radio-label {
        padding-left: 30px; }
        .bmw-test-drive .testdrive-form-row .checkbox-field .radio-label:before {
          content: "";
          width: 20px;
          height: 20px;
          background: url(../img/campaign/bmw-test-drive/check-icon.png) 0 0 no-repeat;
          background-size: 20px;
          position: absolute;
          left: 0;
          top: 3px;
          -webkit-transition: 0.2s ease background;
          -moz-transition: 0.2s ease background;
          transition: 0.2s ease background; }
        .bmw-test-drive .testdrive-form-row .checkbox-field .radio-label:hover {
          cursor: pointer; }
    .bmw-test-drive .testdrive-form-row .agreement-wrap {
      position: relative;
      color: #012d44;
      font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
      border-top: 2px solid #00547e;
      padding-top: 15px;
      padding-bottom: 20px; }
      .bmw-test-drive .testdrive-form-row .agreement-wrap .error {
        padding-left: 30px; }
      .bmw-test-drive .testdrive-form-row .agreement-wrap input[type="checkbox"] {
        display: none; }
        .bmw-test-drive .testdrive-form-row .agreement-wrap input[type="checkbox"]:checked + label:before {
          background: url(../img/campaign/bmw-test-drive/check-icon-ticked.png) 0 0 no-repeat;
          content: "";
          width: 20px;
          height: 20px;
          background-size: 20px;
          position: absolute;
          left: 0;
          top: 3px; }
      .bmw-test-drive .testdrive-form-row .agreement-wrap .checkbox-label {
        padding-left: 30px;
        display: block;
        position: relative; }
        .bmw-test-drive .testdrive-form-row .agreement-wrap .checkbox-label:before {
          content: "";
          width: 20px;
          height: 20px;
          background: url(../img/campaign/bmw-test-drive/check-icon.png) 0 0 no-repeat;
          background-size: 20px;
          position: absolute;
          left: 0;
          top: 3px; }
        .bmw-test-drive .testdrive-form-row .agreement-wrap .checkbox-label:hover {
          cursor: pointer; }
    .bmw-test-drive .testdrive-form-row .btn-test-drive {
      background: #f59f43;
      width: 79%;
      margin: 0 auto;
      display: block;
      position: relative;
      padding: 9px 20px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 22px;
      font-size: 2.2rem;
      border: 1px solid #e47c0c;
      box-shadow: 0 3px 0 #975208;
      overflow: hidden;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      transition: 0.2s ease all;
      outline: none;
      z-index: 1; }
      .bmw-test-drive .testdrive-form-row .btn-test-drive:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: rgba(248, 232, 209, 0.2);
        opacity: 0;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
        -moz-transform: translate3d(-50%, -50%, 0) rotate(45deg);
        -ms-transform: translate3d(-50%, -50%, 0) rotate(45deg);
        -o-transform: translate3d(-50%, -50%, 0) rotate(45deg);
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
        -webkit-transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        transition: 0.2s ease all; }
      .bmw-test-drive .testdrive-form-row .btn-test-drive:hover:after {
        height: 380%;
        opacity: 1;
        z-index: 1; }
      .bmw-test-drive .testdrive-form-row .btn-test-drive:active:after {
        height: 500%;
        opacity: 1;
        z-index: 1; }
      .no-csstransforms .bmw-test-drive .testdrive-form-row .btn-test-drive:after {
        display: none; }
      .no-csstransforms .bmw-test-drive .testdrive-form-row .btn-test-drive:hover {
        background: #f38e21; }
  .bmw-test-drive .bmw-feature-table {
    background: transparent;
    border: 0; }
    .bmw-test-drive .bmw-feature-table thead {
      color: #fff;
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 500; }
      .bmw-test-drive .bmw-feature-table thead td:first-child {
        font-size: 20px;
        font-size: 2rem;
        font-family: "Raleway", 'Helvetica Neue', Arial, sans-serif; }
    .bmw-test-drive .bmw-feature-table td {
      background: transparent;
      border-bottom: 1px solid #395851; }
      .bmw-test-drive .bmw-feature-table td:first-child {
        border-right: 3px solid #3f9985; }
    .bmw-test-drive .bmw-feature-table tbody h4 {
      color: #67ffdd;
      font-size: 14px;
      font-size: 1.4rem; }
    .bmw-test-drive .bmw-feature-table tbody p {
      font-size: 12px;
      font-size: 1.2rem; }
    .bmw-test-drive .bmw-feature-table tbody td:first-child {
      border-right: 3px solid #3f9985; }
    .bmw-test-drive .bmw-feature-table tbody tr:last-child td {
      border-bottom: 0; }
    .bmw-test-drive .bmw-feature-table .bmw-checked {
      width: 23px;
      height: 23px;
      background: url(../img/campaign/bmw-test-drive/bmw-tick.png) 0 0 no-repeat;
      background-size: 23px 23px;
      display: block;
      margin: 0 auto; }
  .bmw-test-drive .bmw-contacts {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    color: #e1e1e1;
    background: #006395; }
  .bmw-test-drive .tick-icon {
    width: 60px;
    height: 60px;
    background: #84f081 url(../img/campaign/bmw-test-drive/tick-icon.png) 50% 50% no-repeat;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 0; }
  .bmw-test-drive .success-wrap {
    position: absolute;
    padding-top: 90px;
    text-align: center;
    margin-top: 50px;
    opacity: 0;
    left: 15px;
    right: 15px; }
    .bmw-test-drive .success-wrap:before {
      content: "";
      position: absolute;
      height: 1px;
      display: block;
      background: #66E266;
      left: 50%;
      top: 30px;
      width: 0;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      transition: 0.2s ease all; }
    .bmw-test-drive .success-wrap h2 {
      padding-bottom: 10px; }
    .bmw-test-drive .success-wrap h4 {
      color: #fafafa;
      font-weight: 400; }
    .bmw-test-drive .success-wrap.animated {
      -webkit-animation: slideIn 1s ease;
      -moz-animation: slideIn 1s ease;
      animation: slideIn 1s ease;
      opacity: 1; }
      .bmw-test-drive .success-wrap.animated:before {
        left: 0;
        right: 0;
        width: 100%;
        -webkit-transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        transition: 0.2s ease all; }

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(70px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }
@-moz-keyframes slideIn {
  0% {
    -moz-transform: translateY(70px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0px);
    opacity: 1; } }
@keyframes slideIn {
  0% {
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
