/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.bpi-c {
  background-image: -webkit-linear-gradient(#b01116, #80070b 100%);
  background-image: linear-gradient(#b01116, #80070b 100%);
  padding: 15px 0 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  min-height: 890px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 300px; }

.glow {
  position: absolute;
  background-image: url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/glow.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 413px;
  top: 0;
  left: 0; }

.bpi-logo {
  width: 80px;
  height: 38px;
  background-image: url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/bpi-bank-logo.png);
  background-size: 80px 36px;
  position: absolute;
  right: 20px;
  top: 12px; }

.bpi-headline-first {
  padding: 20px 40px;
  background-color: #770004;
  background-repeat: no-repeat;
  width: 650px;
  height: 77px;
  position: relative;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .bpi-headline-first:before {
    display: block;
    content: "";
    position: absolute;
    right: -40px;
    top: 0;
    border-width: 38px 20px 39px;
    border-style: solid;
    border-color: transparent transparent #770004 #770004; }

.bpi-headline-second {
  padding: 10px 20px;
  background-color: #d8af38;
  background-image: -webkit-linear-gradient(left, #d8af38, #bd931a);
  background-image: linear-gradient(to right,#d8af38, #bd931a);
  border-bottom: 4px solid #9c7608;
  position: relative;
  text-align: right;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
  .bpi-headline-second h4 {
    color: #fff;
    margin: 0;
    font-size: 19px;
    font-size: 1.9rem;
    font-weight: 400; }

.bpi-anim {
  padding: 30px 0;
  position: relative; }
  .bpi-anim .cloud1, .bpi-anim .cloud2, .bpi-anim .cloud3 {
    background-image: url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/sky.png);
    background-repeat: no-repeat;
    background-size: 198px 50px; }
  .bpi-anim .plane-promo {
    background-image: url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/plane-promo.png);
    background-repeat: no-repeat;
    background-size: 699px 109px; }
  .bpi-anim .plane-success {
    background-image: url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/plane-thankyou.png);
    background-repeat: no-repeat;
    background-size: 620px 109px; }

.cloud1 {
  position: absolute;
  left: 1%;
  top: 38px;
  background-position: -101px 0;
  width: 96px;
  height: 38px;
  opacity: 0;
  -webkit-transition: 0.7s ease-out all;
  -moz-transition: 0.7s ease-out all;
  transition: 0.7s ease-out all; }
  .cloud1.moving {
    left: 3%;
    opacity: 1; }

.cloud2 {
  position: absolute;
  top: 20px;
  right: 32%;
  background-position: -101px 0;
  width: 96px;
  height: 38px;
  opacity: 0;
  -webkit-transition: 0.7s ease-out all 0.3s;
  -moz-transition: 0.7s ease-out all 0.3s;
  transition: 0.7s ease-out all 0.3s; }
  .cloud2.moving {
    right: 30%;
    opacity: 1; }

.cloud3 {
  position: absolute;
  top: 90px;
  right: 7%;
  background-position: 0 0;
  width: 100px;
  height: 50px;
  opacity: 0;
  -webkit-transition: 0.7s ease-out all;
  -moz-transition: 0.7s ease-out all;
  transition: 0.7s ease-out all; }
  .cloud3.moving {
    right: 10%;
    opacity: 1; }

.plane-promo {
  position: relative;
  width: 699px;
  height: 110px;
  display: inline-block;
  top: 40px;
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -ms-transform: translateX(150%);
  -o-transform: translateX(150%);
  transform: translateX(150%);
  -webkit-transition: 3s ease-out all;
  -moz-transition: 3s ease-out all;
  transition: 3s ease-out all;
  transition-delay: .5s; }
  .bpi-success .plane-promo {
    left: -100% !important; }
  .plane-promo.moving {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    left: 60px; }
  .plane-promo.floating {
    -webkit-animation: floating 4s ease-in-out infinite;
    -moz-animation: floating 4s ease-in-out infinite;
    animation: floating 4s ease-in-out infinite; }

.plane-success {
  position: absolute;
  width: 620px;
  height: 109px;
  left: 100%;
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -ms-transform: translateX(150%);
  -o-transform: translateX(150%);
  transform: translateX(150%);
  -webkit-transition: 3s ease-out all;
  -moz-transition: 3s ease-out all;
  transition: 3s ease-out all;
  transition-delay: 2s;
  color: #fff;
  top: 50px; }
  .bpi-success .plane-success {
    left: 100px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: floating 4s ease-in-out infinite 2s;
    -moz-animation: floating 4s ease-in-out infinite 2s;
    animation: floating 4s ease-in-out infinite 2s; }

.bpi-application-wrap {
  padding: 30px 13%;
  position: relative;
  z-index: 2; }
  .bpi-application-wrap .bpi-content {
    margin-bottom: 30px; }
  .bpi-application-wrap .bpi-content__header {
    background-color: #d8af38;
    background-image: -webkit-linear-gradient(left, #d8af38, #bd931a);
    background-image: linear-gradient(to right,#d8af38, #bd931a);
    padding: 14px 15px;
    font-size: 17px;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    border-radius: 4px 4px 0 0;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
  .bpi-application-wrap .bpi-content__body {
    background: #fff; }

.bpi-card {
  margin: 0; }
  .bpi-card > li {
    padding: 20px 150px 20px 190px;
    background: none;
    border-bottom: 1px solid #e5e9eb;
    position: relative;
    cursor: pointer;
    box-shadow: inset -130px 0 0 #fcf7e9; }
    .bpi-card > li ul {
      margin-bottom: 0; }
    .bpi-card > li:hover .bpi-card__select {
      border-color: #a96364; }
    .bpi-card > li:hover .bpi-card__select-tip {
      -webkit-animation: bounce 0.9s ease-in infinite;
      -moz-animation: bounce 0.9s ease-in infinite;
      animation: bounce 0.9s ease-in infinite; }
  .bpi-card h5 {
    color: #b01116;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 0;
    line-height: 1.3; }
  .bpi-card h6 {
    color: #bd931a;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400; }
  .bpi-card .bpi-cards__img {
    position: absolute;
    left: 20px;
    top: 24px; }
  .bpi-card__select {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid #C49495;
    background: transparent;
    border-radius: 50%;
    right: 40px;
    top: 50%;
    margin-top: -25px; }
    .bpi-card__select:before {
      position: absolute;
      content: '';
      width: 56px;
      height: 56px;
      background: #59b545 url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/bpi-card-select.png) center no-repeat;
      display: block;
      background-size: 17px, 18px;
      left: -3px;
      top: -3px;
      border-radius: 50%;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear;
      -moz-transition: -moz-transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear;
      transition: transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear; }
    .bpi-card--selected .bpi-card__select:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .bpi-card__select .bpi-card__select-tip {
      font-size: 11px;
      position: absolute;
      text-align: center;
      width: 100%;
      top: -28px;
      left: -6px;
      background: #C543A6;
      padding: 2px 5px;
      border-radius: 2px;
      color: #fff; }
      .bpi-card__select .bpi-card__select-tip:after {
        position: absolute;
        width: 0;
        height: 0;
        border: 3px solid;
        border-color: #C543A6 transparent transparent;
        top: 100%;
        content: '';
        left: 50%;
        margin-left: -3px; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0); }
  20% {
    -webkit-transform: translateY(-25px); }
  30% {
    -webkit-transform: translateY(-25px); }
  40% {
    -webkit-transform: translateY(0);
    padding-top: 0; }
  50% {
    -webkit-transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(0);
    padding-top: 0; }
  70% {
    -webkit-transform: translateY(-8px); }
  80% {
    -webkit-transform: translateY(0);
    padding-top: 0; } }
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0); }
  20% {
    -moz-transform: translateY(-25px); }
  30% {
    -moz-transform: translateY(-25px); }
  40% {
    -moz-transform: translateY(0);
    padding-top: 0; }
  50% {
    -moz-transform: translateY(-15px); }
  60% {
    -moz-transform: translateY(0);
    padding-top: 0; }
  70% {
    -moz-transform: translateY(-8px); }
  80% {
    -moz-transform: translateY(0);
    padding-top: 0; } }
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px); }
  30% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px); }
  40% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; }
  50% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; }
  70% {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  80% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes floating {
  0% {
    -moz-transform: translateY(0); }
  50% {
    -moz-transform: translateY(-15px); }
  100% {
    -moz-transform: translateY(0); } }
@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
#bpi-app-form {
  padding: 20px; }
  #bpi-app-form .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ebca6c;
    position: relative;
    background: #F5F3ED;
    padding: 5px 10px; }
    #bpi-app-form .form-control:focus {
      background: #faf2dc;
      border-bottom: 1px solid #bd931a; }
    #bpi-app-form .form-control.error {
      background: #F7DEDE; }
  #bpi-app-form .picked {
    padding: 10px;
    border: 3px solid #c8eddb;
    background: #ebf8f2; }
  #bpi-app-form .control-label {
    display: block; }

.bpi-submitted {
  text-align: center;
  position: relative;
  display: none; }
  .bpi-submitted__content {
    padding: 30px;
    background-image: -webkit-linear-gradient(#59b545, #16a220 100%);
    background-image: linear-gradient(#59b545, #16a220 100%);
    margin: 60px 0; }
    .bpi-submitted__content h2 {
      color: #fff;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      text-transform: uppercase; }
    .bpi-submitted__content h4 {
      color: #0A5E03; }

.btn-bpi-submit {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  background: #3AAF77;
  border: 1px solid #2d895d;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  .btn-bpi-submit:hover {
    background: #2bbe78; }

.required {
  color: red; }

.bpi-footer {
  background: url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/building-ph.svg) bottom center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px; }
  .no-svg .bpi-footer {
    background: url(/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi/building-ph.svg) bottom center no-repeat; }

label.error {
  font-size: 12px;
  font-size: 1.2rem;
  color: #da4f49;
  display: block; }

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media (max-width: 1020px) {
  body {
    min-width: 0;
    padding: 0 10px; }

  #page, .ct-wrapper {
    width: auto; } }
@media (max-width: 825px) {
  .bpi-application-wrap {
    width: auto;
    padding-left: 10px;
    padding-right: 10px; } }
@media (max-width: 810px) {
  .bpi-logo {
    position: relative;
    margin: 0 auto 30px;
    right: auto; }

  .plane-promo, .plane-success {
    width: 97%;
    box-sizing: border-box;
    margin-left: 10px; }
    .plane-promo.moving, .plane-success.moving {
      left: 10px; }

  .bpi-success .plane-success {
    left: 2px;
    background-size: contain; }

  .bpi-headline-first {
    width: 100%;
    height: auto; }
    .bpi-headline-first:before {
      display: none; }

  .bpi-headline-second {
    text-align: center; }
    .bpi-headline-second h4 {
      font-size: 17px;
      font-size: 1.7rem; } }
@media (max-width: 767px) {
  .bpi-card .bpi-cards__img {
    width: 100px; }

  .bpi-c {
    padding-bottom: 200px; }

  .bpi-card > li {
    padding-left: 135px; }

  .bpi-anim .plane-promo {
    background-size: contain;
    height: 100px;
    margin-left: 0; }

  .bpi-footer {
    height: 200px; } }
@media (max-width: 550px) {
  #bpi-app-form {
    padding: 10px; }

  .bpi-headline-first {
    padding-top: 15px;
    padding-bottom: 10px; }

  .bpi-headline-second h4 {
    font-size: 14px;
    font-size: 1.4rem; }

  .bpi-c {
    padding-bottom: 130px;
    min-height: 600px; }

  .bpi-footer {
    height: 130px; }

  .bpi-card .bpi-cards__img {
    left: auto;
    top: 15px; }

  .plane-promo {
    display: none; }

  .bpi-card > li {
    box-shadow: inset -80px 0 0 #fcf7e9; }

  .bpi-card > li {
    padding-left: 15px;
    padding-top: 90px;
    padding-right: 90px; }

  .bpi-card__select {
    right: 14px; }

  .bpi-submitted__content {
    padding: 15px; } }
