/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

html, body {
  height: 100%;
  background-color: #EAEFF1; }

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-width: 800px;
  font-size: 14px;
  font-size: 1.4rem; }
  body .header-logo {
    float: none;
    display: inline-block; }
  body .header {
    text-align: center;
    min-width: 800px; }

::-webkit-input-placeholder {
  color: #859eb3; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #859eb3; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #859eb3; }

:-ms-input-placeholder {
  color: #859eb3; }

.wrapper {
  width: 800px;
  margin: 0 auto; }

.call-me-hero {
  padding: 80px 0 30px;
  background-image: url(../img/call-me-back//low-poly-20.png), -webkit-linear-gradient(#7AD3F0, #46A2C8 100%);
  background-image: url(../img/call-me-back//low-poly-20.png), linear-gradient(#7AD3F0, #46A2C8 100%);
  background-size: cover;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .call-me-hero .wrapper {
    position: relative;
    z-index: 2; }
  .call-me-hero h1 {
    color: #fff;
    font-size: 40px;
    font-size: 4rem;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    font-family: "Lato", sans-serif; }
  .call-me-hero h4 {
    font-size: 27px;
    font-size: 2.7rem;
    color: #07456B;
    margin-bottom: 0; }
  .call-me-hero h5 {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 300;
    color: #07456B; }
  .call-me-hero .card-showcase {
    background: url(../img/call-me-back//card-showcase.png) 0 0 no-repeat;
    position: absolute;
    width: 465px;
    height: 634px;
    right: -150px;
    top: -125px;
    z-index: 0; }
  .call-me-hero .call-me-form {
    padding: 20px;
    background-color: rgba(7, 69, 107, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    width: 460px;
    margin: 100px auto 50px;
    position: relative;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    transition: 0.3s ease all;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
    .call-me-hero .call-me-form.shake {
      -webkit-animation: shake 1s both;
      -moz-animation: shake 1s both;
      animation: shake 1s both; }
    .call-me-hero .call-me-form.success {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 56px 20px;
      overflow: visible; }
      .call-me-hero .call-me-form.success .thankyou-wrapper {
        opacity: 1; }
      .call-me-hero .call-me-form.success .circle-success {
        top: -38px;
        -webkit-transition: 0.7s ease all;
        -moz-transition: 0.7s ease all;
        transition: 0.7s ease all; }
    .call-me-hero .call-me-form .indicator-text {
      position: absolute;
      top: -50px;
      left: -80px;
      color: #EEFBFF;
      font-size: 13px;
      font-size: 1.3rem;
      text-align: left;
      -webkit-transform: rotate(-4deg);
      -moz-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
      -o-transform: rotate(-4deg);
      transform: rotate(-4deg);
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
      .call-me-hero .call-me-form .indicator-text:after {
        content: "";
        display: inline-block;
        background-size: 49px 52px;
        background-image: url(../img/call-me-back//arrow-dashed.png);
        width: 49px;
        height: 52px;
        position: absolute;
        left: 10px;
        bottom: -60px; }
    .call-me-hero .call-me-form .thankyou-wrapper {
      opacity: 0; }
      .call-me-hero .call-me-form .thankyou-wrapper .circle-success {
        width: 60px;
        height: 60px;
        position: absolute;
        background-image: url(../img/call-me-back//circle-success.png);
        bottom: 0;
        background-size: 60px;
        left: 50%;
        margin-left: -30px;
        -webkit-transition: 0.7s ease all;
        -moz-transition: 0.7s ease all;
        transition: 0.7s ease all; }
      .call-me-hero .call-me-form .thankyou-wrapper h4 {
        font-size: 22px;
        font-size: 2.2rem;
        color: #3AA83A;
        margin-bottom: 20px; }
      .call-me-hero .call-me-form .thankyou-wrapper p {
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        font-size: 1.6rem;
        color: #4A4A4A;
        font-weight: 400; }
      .call-me-hero .call-me-form .thankyou-wrapper a {
        color: #19A4D7; }
    .call-me-hero .call-me-form .form-wrapper {
      position: relative; }
    .call-me-hero .call-me-form .input-wrapper {
      margin-bottom: 13px;
      text-align: left; }
      .call-me-hero .call-me-form .input-wrapper label.error {
        color: #FFD4D4; }
      .call-me-hero .call-me-form .input-wrapper .txtbox.error {
        background: #FAE4E3;
        border: 1px solid #EC0606; }
    .call-me-hero .call-me-form input[type="text"], .call-me-hero .call-me-form input[type="number"] {
      color: #fff;
      border: 0;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      margin-bottom: 4px;
      margin-top: 5px;
      font-size: 16px;
      font-size: 1.6rem;
      color: #5C7B94;
      box-shadow: none; }
    .call-me-hero .call-me-form .txtbox:focus {
      box-shadow: 0 2px 2px #145a85; }
    .call-me-hero .call-me-form .btn-call {
      background-color: #EFA223;
      width: 100%;
      border: 0;
      font-size: 18px;
      font-size: 1.8rem;
      padding: 5px 8px;
      box-shadow: 0 3px 0 #b8780d;
      margin-bottom: 15px; }
      .call-me-hero .call-me-form .btn-call:hover {
        background-color: #f0a831; }
    .call-me-hero .call-me-form p {
      font-size: 11px;
      font-size: 1.1rem;
      color: #fff; }
      .call-me-hero .call-me-form p a {
        color: #31D6FF; }

.call-me-testi {
  padding: 50px 0;
  text-align: center; }
  .call-me-testi .testi-text {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 18px;
    font-size: 1.8rem;
    color: #8C9EA5;
    width: 80%;
    margin: 0 auto 40px;
    text-align: left;
    position: relative; }
    .call-me-testi .testi-text:before {
      background-image: url(../img/call-me-back//quote-icon.png);
      position: absolute;
      content: "";
      display: block;
      width: 120px;
      height: 90px;
      left: -90px;
      opacity: 0.1; }
  .call-me-testi .testi-ppl img {
    border-radius: 50%; }
  .call-me-testi .testi-ppl h4 {
    color: #07456B;
    margin-bottom: 0;
    margin-top: 15px; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0); } }
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -moz-transform: translate3d(10px, 0, 0); } }
@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@media (max-width: 960px) {
  .wrapper, body .header, body {
    min-width: 100%;
    width: 100%; }

  .call-me-hero .card-showcase {
    background: url(../img/call-me-back//card-showcase-horiz.png) 50% 0 no-repeat;
    background-size: contain;
    width: 100%;
    height: 244px;
    position: absolute;
    bottom: -100px;
    top: auto;
    right: 0;
    left: 0; }
  .call-me-hero .call-me-form {
    margin-bottom: 170px; } }
@media (max-width: 630px) {
  .call-me-hero {
    padding-left: 10px;
    padding-right: 10px; }
    .call-me-hero .call-me-form {
      margin-bottom: 100px; }
      .call-me-hero .call-me-form .indicator-text {
        top: -70px;
        left: 0;
        right: 0;
        text-align: center;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        font-size: 17px;
        font-size: 1.7rem; }
        .call-me-hero .call-me-form .indicator-text:after {
          display: none; }
    .call-me-hero .card-showcase {
      bottom: -150px; } }
@media (max-width: 480px) {
  .call-me-hero {
    padding-top: 50px; }
    .call-me-hero h1 {
      font-size: 30px;
      font-size: 3rem; }
    .call-me-hero h4 {
      font-size: 20px;
      font-size: 2rem; }
    .call-me-hero h5 {
      font-size: 18px;
      font-size: 1.8rem; }
    .call-me-hero .call-me-form {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; }
      .call-me-hero .call-me-form.success {
        margin-top: 70px;
        padding: 40px 20px 30px; }
    .call-me-hero .card-showcase {
      bottom: -160px;
      background-size: 422px 122px; }

  .call-me-testi .testi-text {
    font-size: 16px;
    font-size: 1.6rem; } }
