/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/*****************************
	REFINANCING CAMPAIGN
******************************/
.refinancing-hero {
  position: relative;
  float: right;
  top: -7px;
  padding-right: 30px; }

.refinancing-chart {
  position: relative;
  width: 438px;
  margin: 0 auto; }
  .refinancing-chart .refinancing-chart-low {
    position: absolute;
    z-index: 2;
    right: 102px;
    top: 70px;
    -webkit-animation: pop 0.8s 3 2s;
    -moz-animation: pop 0.8s 3 2s;
    animation: pop 0.8s 3 2s; }

.refinancing-why h3 {
  margin-bottom: 5px; }
.refinancing-why p + h3 {
  margin-top: 20px; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }

  50% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px); }

  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }

  50% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px); }

  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes pop {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }

  50% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px); }

  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); } }
.icon-why {
  background: url(../img/campaign/refinancing/icon-why.png) no-repeat left;
  padding-left: 22px; }

.icon-idea {
  background: url(../img/campaign/refinancing/icon-idea.png) no-repeat left;
  padding-left: 22px; }

.icon-want {
  background: url(../img/campaign/refinancing/icon-want.png) no-repeat left;
  padding-left: 22px; }

.application-title {
  color: #fff;
  background: url(../img/application-title-bg.png) top right no-repeat #06456b; }
  .application-title h1:first-child {
    color: #fff;
    margin: 0; }

.refinancing-signup-header {
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  margin: -13px 0 0; }

.refinancing-whyimoney-1 {
  background: url(../img/campaign/refinancing/icon-why-1.png) no-repeat left 3px;
  padding-left: 45px; }

.refinancing-whyimoney-2 {
  background: url(../img/campaign/refinancing/icon-why-2.png) no-repeat left 3px;
  padding-left: 45px; }

.refinancing-whyimoney-3 {
  background: url(../img/campaign/refinancing/icon-why-3.png) no-repeat left 3px;
  padding-left: 45px; }

.refinancing-whyimoney-4 {
  background: url(../img/campaign/refinancing/icon-why-4.png) no-repeat left 3px;
  padding-left: 45px; }

.bank-logos {
  background: url(../img/campaign/refinancing/bank-logos.png) center no-repeat;
  height: 54px; }

.form-select {
  width: 100%; }

/* footer  */
[role="contentinfo"] {
  font-size: 12px;
  font-size: 1.2rem;
  color: #5e6a77;
  margin-top: 30px;
  margin-bottom: 30px; }

.lt-ie9 .application-detail td {
  width: 90px; }

.refinancing-header-v2 {
  background: url(../img/campaign/refinancing/refinancing-hero.png) no-repeat -65px center;
  padding-left: 190px; }

.refinancing-signup-v2 {
  border: 4px solid #06456b; }

.block-lightblue {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .block-lightblue textarea, .block-lightblue input[type="text"], .block-lightblue input[type="password"], .block-lightblue input[type="datetime"], .block-lightblue input[type="datetime-local"], .block-lightblue input[type="date"], .block-lightblue input[type="month"], .block-lightblue input[type="time"], .block-lightblue input[type="week"], .block-lightblue input[type="number"], .block-lightblue input[type="email"], .block-lightblue input[type="url"], .block-lightblue input[type="search"], .block-lightblue input[type="tel"], .block-lightblue input[type="color"] {
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .block-lightblue textarea:focus, .block-lightblue textarea:active, .block-lightblue input[type="text"]:focus, .block-lightblue input[type="text"]:active, .block-lightblue input[type="password"]:focus, .block-lightblue input[type="password"]:active, .block-lightblue input[type="datetime"]:focus, .block-lightblue input[type="datetime"]:active, .block-lightblue input[type="datetime-local"]:focus, .block-lightblue input[type="datetime-local"]:active, .block-lightblue input[type="date"]:focus, .block-lightblue input[type="date"]:active, .block-lightblue input[type="month"]:focus, .block-lightblue input[type="month"]:active, .block-lightblue input[type="time"]:focus, .block-lightblue input[type="time"]:active, .block-lightblue input[type="week"]:focus, .block-lightblue input[type="week"]:active, .block-lightblue input[type="number"]:focus, .block-lightblue input[type="number"]:active, .block-lightblue input[type="email"]:focus, .block-lightblue input[type="email"]:active, .block-lightblue input[type="url"]:focus, .block-lightblue input[type="url"]:active, .block-lightblue input[type="search"]:focus, .block-lightblue input[type="search"]:active, .block-lightblue input[type="tel"]:focus, .block-lightblue input[type="tel"]:active, .block-lightblue input[type="color"]:focus, .block-lightblue input[type="color"]:active {
      border-color: #06456b;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .block-lightblue .extra-info {
    color: #fff;
    margin-top: 10px; }
  .block-lightblue .btn {
    border-color: #177c9d;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), inset 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), inset 0 1px rgba(255, 255, 255, 0.2);
    display: block;
    width: 100%; }
  .block-lightblue .bt {
    border-color: #177c9d; }

@media screen and (max-width: 1000px) {
  .ct-wrapper, #page {
    width: 750px; }

  h1 {
    font-size: 26px;
    font-size: 2.6rem; } }
