.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.sb-container {
  margin: 10px 0; }

.section-title {
  font-size: 28px;
  margin-bottom: 10px; }

.section-description {
  padding: 0 100px;
  margin-bottom: 20px; }

#career-introduction {
  background: #b4ced6 url(../img/careers/career-header.png) right no-repeat;
  height: 288px; }

.career-introduction-content {
  float: left;
  margin: 20px 0 0 30px;
  width: 45%; }

#career-team, #career-benefits, #job-openings {
  text-align: center;
  padding: 40px 30px; }

#career-team {
  background: url(../img/careers/bg-blue-cog.png) top left no-repeat, url(../img/careers/bg-blue.png);
  color: #cbf2ff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

#career-team .section-title, .career-team-core h3 {
  color: #fff; }

.career-team-core {
  display: inline-block;
  width: 260px;
  margin: 15px;
  vertical-align: top; }

.career-team-core h3 {
  font-size: 21px;
  position: relative;
  display: inline-block; }

.team:before {
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/careers/icon-team-imoney.png) top left no-repeat;
  content: '';
  display: block;
  left: -32px;
  top: 3px; }

.team-product:before {
  background-position: 0px -25px; }

.team-operations:before {
  background-position: 0px -48px; }

.team-marketing:before {
  background-position: 0px -74px; }

.team-hr:before {
  background-position: 0px -97px; }

.career-team-core p {
  background: url(../img/careers/blue-underline.png) top center no-repeat;
  padding-top: 8px;
  text-align: left;
  margin: 10px 0; }

.career-team-core p + p {
  background: none;
  padding-top: 0; }

#career-benefits {
  background: #dfeeef url(../img/careers/bg-dirt.png); }

#career-benefits h2 {
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.7); }

.cyan {
  color: #1ca0cb; }

.benefit {
  background: #fff7cb;
  padding: 20px 40px;
  margin: 20px 160px;
  text-align: left;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative; }

.benefit:nth-of-type(even) {
  background: #fffbe2; }

.benefit:before {
  position: absolute;
  content: '';
  display: block;
  background: url(../img/careers/clip.png) no-repeat;
  width: 23px;
  height: 27px;
  top: -7px;
  left: 15px; }

.benefit p {
  margin: 0; }

#job-openings {
  background: #fafbfc url(../img/careers/bg-white-texture.png); }

.job-entry {
  border: 2px dotted #d1d8dd;
  margin: 10px 160px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
  overflow: hidden; }

.job-entry h4 {
  float: left;
  line-height: 34px;
  font-size: 18px;
  margin-bottom: 0; }

.job-entry a {
  float: right; }
