/* base font color */
/* lighter font color */
@font-face {
  font-family: 'Digital7';
  src: url('../img/cc-petrol-saving/digital7.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../img/cc-petrol-saving/digital7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.hide { display: none; }


.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

html {
  overflow-x: hidden; }

body {
  background: #1d9cca url('../img/cc-petrol-saving/bg.jpg') repeat-x top; }

.ct-wrapper {
  position: relative; }

/****************************
	HEADER
*****************************/
.top {
  padding: 20px 0;
  background: #07456B;
  border-bottom: solid 9px #0767AA;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1; }
  .top-logo {
    height: 27px;
    width: 150px;
    background: url(../img/imoney-malaysia-logo-white.svg) no-repeat;
    -webkit-background-size: 150px 27px;
    background-size: 150px 27px;
    display: block; }
    .no-svg .top-logo {
      background-image: url(../img/imoney-malaysia-logo-white.png); }
  .top-tagline {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    color: #9DDFFD; }

.header-filter {
  position: relative;
  padding-bottom: 25px;
  color: #fff; }
  .header-filter:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 740px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    background: url(../img/cc-petrol-saving/bg-petrol.png) no-repeat top;
    background-size: 1440px auto; }
  .header-filter h1 {
    font-weight: 700;
    font-size: 35px;
    font-size: 3.5rem;
    text-align: center;
    color: #364660;
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    padding: 13px;}
    .header-filter h1 span {
    color: #428CB4; }

/****************************
	PETROL WRAPPER
*****************************/
#page {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  margin: 38px auto 0px;}
.petrol-panel {
  z-index: 5;
  position: relative;
  margin-bottom: 38px;
  left: 250px;
  width: 500px;
  background-color: #fff;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 25px 0 rgba(0,0,0,.3);
transition: left 0.5s ease-out;
}
  .petrol-panel:after {
    content: "";
    display: block;
    position: absolute;
    width: 540px;
    height: 38px;
    left: -20px;
    background: #dbdbdb; /* Old browsers */
    background: -moz-linear-gradient(top,  #dbdbdb 0%, #c7c7c7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#c7c7c7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbdbdb 0%,#c7c7c7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbdbdb 0%,#c7c7c7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbdbdb 0%,#c7c7c7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dbdbdb 0%,#c7c7c7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */ }
  .petrol-panel .spending {
    position: relative;
    background-color: #085B8E;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0; }
  .petrol-panel .display-spending {
    width: 150px;
    position: absolute;
    top: -25px;
    left: 29%;
    padding: 12px 13px;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.8;
    color: #5D5D5D;
    background-color: #DFDFDA;
    border: solid 15px #0770AA;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:inset 0 0 8px 0 rgba(0,0,0,.5);
    box-shadow:inset 0 0 8px 0 rgba(0,0,0,.5); }
    .petrol-panel .display-spending:before,
    .petrol-panel .display-spending:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 10px;
      left: -33px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 18px 55px 0;
      border-color: transparent rgba(0,0,0,0.2) transparent transparent; }
      .petrol-panel .display-spending:after {
        top: 10px;
        left: 191px;
        border-width: 55px 18px 0 0;
        border-color: rgba(0,0,0,0.2) transparent transparent transparent;}
    .petrol-panel .display-spending span {
      float: right;
      font-family: 'Digital7', sans-serif;
      font-size: 40px;
      font-size: 4rem;
      line-height: 1;
      color: #414141; }
  .spending .permth { /* PER MONTH */
    position: relative;
    display: block;
    top: 16px;
    left: 360px;
    width: 90px;
    text-align: center;
    color: #fff; }
  .petrol-panel .btns-spending {
    background-color: #07456B;
    border-top: solid 1px rgba(255,255,255,.2);
    padding: 15px 28px}
    .btns-spending .btn-group .btn {
      outline: none;
      height: 40px;
      padding: 1px 15px;
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 500;
      color: #999FA3;
      border: none;
      border-right: solid 1px rgba(0,0,0,.15);
      border-left: solid 1px rgba(255,255,255,.7);
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top,  #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #ffffff 0%,#e3e3e3 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */ }
    .btns-spending div button:first-child {
      border-left: none; }
    .btns-spending div button:last-child {
      border-right: none;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0; }
    .btns-spending .btn-spending:hover {
      background: #fcf7d4; /* Old browsers */
      background: -moz-linear-gradient(top,  #FFFFFF 0%, #F7F5E3 80%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(80%,#F7F5E3)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #FFFFFF 0%,#F7F5E3 80%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #FFFFFF 0%,#F7F5E3 80%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #FFFFFF 0%,#F7F5E3 80%); /* IE10+ */
      background: linear-gradient(to bottom,  #FFFFFF 0%,#F7F5E3 80%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F7F5E3',GradientType=0 ); /* IE6-9 */ }
    .btns-spending .btn-spending.selected {
      background: #38B6E5;
      color: #fff;
      border-left: solid 1px rgba(0,0,0,.05);
      -webkit-box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.2);
      box-shadow:inset 0 2px 0 0 rgba(0,0,0,.2); }
  .petrol-panel h2 {
    color: #fff;
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 78px 0 28px 0; }
  .petrol-card {
    padding: 15px 19px;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    -webkit-transition: box-shadow 100ms ease-out;
    -moz-transition: box-shadow 100ms ease-out;
    -ms-transition: box-shadow 100ms ease-out;
    -o-transition: box-shadow 100ms ease-out;
    transition: box-shadow 100ms ease-out;}
    .petrol-card.selected {
      -webkit-box-shadow:inset 0px 0px 0px 2px #2DBCC1;
      -moz-box-shadow:inset 0px 0px 0px 2px #2DBCC1;
      box-shadow:inset 0px 0px 0px 2px #2DBCC1; }
      .petrol-card.selected a.btn-tellmore {
        background: #2DBCC1 url(../img/cc-petrol-saving/icon-tick.png) no-repeat center;
        background-size: 21px auto;
        font-size: 0px;
        font-size: 0rem; }
    .petrol-card.notSelected {
      opacity: 0.3;}
  .petrol-card img {
    width: 70px;
    margin-top: 5px;}
  .petrol-card p {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 200;
    padding-top: 6px; }
  .petrol-card .color-red {
    font-weight: 400; }
  .petrol-card strong {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 500;
    color: #484848; }
  .petrol-card .permth {
    font-size: 11px;
    font-size: 1.1rem;
    color: #939393; }
  .petrol-card a.btn-tellmore {
    width: 116px;
    background-color: #fff;
    border: solid 1px #2DBCC1;
    padding: 0 13px;
    font-size: 12px;
    font-size: 1.2rem;
    color: #2DBCC1;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none; }
    .petrol-card a.btn-tellmore:hover {
      background-color: #2DBCC1;
      color: #fff; }
.form-panel {
  z-index: 1;
  position: relative;
  width: 300px;
  min-height: 496px;
  left: -150px;
  background-color: #E5EBF1;
  margin-top: 40px;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out; }
  .form-panel h2 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #556F78; }
  .form-panel h2 span {
    display: block;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 6px;
    padding: 8px;
    color: #fff;
    background-color: #38596C; }
  .form-panel p {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 200;
    color: #879EA6; }

.pushPanel .form-panel, .pushPanel .petrol-panel { left: 100px;  }


.control-label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #556F78;
  text-align: left; }

input[type="text"],
input[type="email"],
input[type="tel"] {
  height: 35px;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 2px;
  border: solid 1px #CAD5D8;
  -webkit-box-shadow: none;
  box-shadow: none;}
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    border: solid 1px #2DBCC1; }
  ::-webkit-input-placeholder {
   font-weight: 200; }
  :-moz-placeholder { /* Firefox 18- */
   font-weight: 200; }
  ::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 200; }
  :-ms-input-placeholder {  
   font-weight: 200; }

.form-control.valid {
  border-color: #59b259; }

.form-control.error {
  border-color: #da4f49; }

label.error {
  color: #da4f49; }

#btn-last {
  outline: none;
  padding: 0 25px 2px;
  border: none;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-color: #8CC047; }
  #btn-last:hover {
  background-color: #B0D248; }


.slick-slider {
  margin-bottom: 0; }
  .slick-slider .question {
    border-bottom: none; }

.footnote, .footnote p {
  background-color: #0581B1;
  color: #f1f8fa; }

.footnote-callme {
  text-align: right; }
  .footnote-callme h4 {
    font-weight: 400;
    font-size: 18px;
    font-size: 1.8rem; }
    .footnote-callme h4 span {
      display: inline-block;
      color: #1d9fca;
      padding: 2px 10px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .footnote-callme .extra-info {
    color: #bde8f6;
    padding-right: 11px; }

.parsley-error.form-control {
  border-color: #da4f49; }

.parsley-success.form-control {
  border-color: #59b259; }

/****************************
	RWD
*****************************/
@media (max-width: 1000px) {
  body {
    min-width: 0; }

  .ct-wrapper, #page {
    width: auto;
    margin-left: 10px;
    margin-right: 10px; }

  .petrol-panel {
    float: none;
    left: 0;
    margin: 0 auto 38px; }
  
  .form-panel {
    float: none;
    left: 0;
    width: 500px;
    min-height: 280px;
    margin: 0 auto;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
  .form-panel:last-child {
    padding-bottom: 10px; }

  .pushPanel .form-panel, .pushPanel .petrol-panel {
    left: 0;}

  .footnote-callme {
    width: 100%;
    margin-left: 0;
    text-align: center;} }

@media (max-width: 767px) {
    .header-filter h1 {
      width: 100%;
      padding: 13px 0;
      font-size: 30px;
      font-size: 3rem; }
    .spending .permth {
      left: 0px;
      top: 70px;
      width: 83px;
      margin: 0 auto; }
    .petrol-panel:after {
      width: 100%;
      left: 0; }
    .form-panel p {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: 400; } }

@media (max-width: 479px) {
  .header-filter {
    padding-bottom: 0; }
  .header-filter h1 {
    width: 100%;
    padding: 13px 0;
    font-size: 22px;
    font-size: 2.2rem; }
    .header-filter:before {
      display: none; }
  
  .petrol-panel, .form-panel {
    width: 100%; }

  .petrol-panel .display-spending {
    left: 25%; }
    .spending .permth {
      font-size: 12px;
      font-size: 1.2rem; }

  .petrol-panel .btns-spending {
    padding: 15px 10px; }
  .btns-spending .btn-group {
    width: 99%;
    margin: 0 auto; }
  .btns-spending .btn-group .btn {
    padding: 0;
    width: 19.8%;
    font-size: 14px;
    font-size: 1.4rem; }
    
  .petrol-card p {
    width: 50%;
    line-height: 1.2; }
  .petrol-card strong {
    display: block;
    line-height: 1; }
  .petrol-card img {
    margin-top: 15px;}
    
  .form-panel p, .petrol-card .permth {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400; }
    
  .top-tagline span {
    display: none; }

  [class*="fl-offset"] {
    margin-left: 0; }

  .footnote .ct-wrapper {
    margin-left: 0; }
    .footnote ol {
      text-align: left;
      padding: 0 10px 0 25px; } }
    
@media (max-width: 320px) {
  .header-filter h1 {
    font-size: 22px;
    font-size: 2.2rem; }
    
  .petrol-panel .display-spending {
    left: 50px; }

  .petrol-panel .btns-spending {
    padding: 15px 0; }

  .petrol-panel h2 {
    margin: 85px 0 20px 0;
    font-size: 17px;
    font-size: 1.7rem; }

  .petrol-card {
    padding: 15px 15px 0 15px; }
  .petrol-card p {
    width: 40%;
    padding-top: 0;
    font-size: 12px;
    font-size: 1.2rem; } }
