/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/****************************
	MAIN (content)
*****************************/
.scb-cb {
  background: #00182a url(../img/campaign/scb/bg.jpg) top no-repeat;
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.scb-bar {
  overflow: hidden; }
  .scb-bar [class*="bar"] {
    float: left;
    height: 10px; }

.bar-1 {
  background-color: #59b545;
  width: 35%; }

.bar-2 {
  background-color: #16a220;
  width: 15%; }

.bar-3 {
  background-color: #004475;
  width: 25%; }

.bar-4 {
  background-color: #0083d6;
  width: 15%; }

.bar-5 {
  background-color: #00599e;
  width: 10%; }

.scb-header {
  padding: 30px;
  text-align: center;
  position: relative; }
  .scb-header__logo {
    background: url(../img/campaign/scb/logo-scb.png) no-repeat;
    float: right;
    width: 94px;
    height: 36px;
    -webkit-background-size: 94px 36px;
    background-size: 94px 36px;
    position: relative;
    top: -15px;
    right: -15px; }
  .scb-header__headline {
    clear: right;
    background: url(../img/campaign/scb/headline.png) no-repeat center;
    max-width: 745px;
    height: 71px;
    margin: 20px auto 0;
    background-size: cover; }
  .scb-header__subheadline {
    margin-bottom: 30px;
    color: #fff;
    display: inline-block;
    padding: 2px 10px;
    background: #004475;
    position: relative; }
    .scb-header__subheadline:before, .scb-header__subheadline:after {
      position: absolute;
      width: 0;
      height: 0;
      border-width: 17px 6px;
      border-style: solid;
      content: '';
      display: block;
      top: 0; }
    .scb-header__subheadline:after {
      left: 100%;
      border-color: transparent transparent transparent #004475; }
    .scb-header__subheadline:before {
      right: 100%;
      border-color: transparent #004475 transparent transparent; }
  .scb-header__mechanism {
    padding: 0 11.5%; }
    .scb-header__mechanism li {
      text-align: left;
      float: left;
      width: 50%;
      background: none;
      padding: 0 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
      font-size: 1.6rem;
      position: relative; }
      .scb-header__mechanism li:last-child {
        padding-right: 0; }
      .scb-header__mechanism li:first-child:before {
        background-position: 0 0; }
      .scb-header__mechanism li:before {
        position: absolute;
        content: '';
        width: 32px;
        height: 33px;
        background: url(../img/campaign/scb/mechanism.png) no-repeat right;
        display: block;
        -webkit-background-size: 64px 33px;
        background-size: 64px 33px;
        left: -10px;
        top: 2px; }
      .scb-header__mechanism li span {
        color: #1d9fca;
        font-weight: 700;
        font-size: 24px;
        font-size: 2.4rem;
        display: block; }

.scb-steps {
  position: relative;
  padding: 30px 13%;
  background: rgba(0, 41, 70, 0.7) url(../img/campaign/scb/arrow-down-green.png) no-repeat center 90%;
  -webkit-background-size: 21px 11px;
  background-size: 21px 11px;
  color: #1d9fca; }
  .scb-steps .how {
    position: absolute;
    left: 50%;
    top: -12px;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    background: #00599e;
    color: #fff;
    height: 24px;
    line-height: 24px; }
    .scb-steps .how:before, .scb-steps .how:after {
      position: absolute;
      width: 0;
      height: 0;
      border-width: 12px 6px;
      border-style: solid;
      content: '';
      display: block;
      top: 0; }
    .scb-steps .how:after {
      left: 100%;
      border-color: transparent transparent transparent #00599e; }
    .scb-steps .how:before {
      right: 100%;
      border-color: transparent #00599e transparent transparent; }
  .scb-steps strong {
    color: #59b545; }
  .scb-steps ul {
    overflow: hidden;
    margin-bottom: 0;
    margin-left: -14px; }
  .scb-steps li {
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 33.33%; }
    .scb-steps li strong {
      display: block; }

.scb-content {
  padding: 30px 13%; }

/****************************
	FORM
*****************************/
.scb-application {
  background: #fff;
  margin-bottom: 20px; }
  .scb-application__header {
    background-image: -webkit-linear-gradient(#59b545 0, #16a220 100%);
    background-image: linear-gradient(to   , #16a220 100%);
    padding: 15px 20px;
    text-align: center; }
    .scb-application__header h4 {
      margin-bottom: 0;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .scb-application__body {
    color: #434c55; }

.scb-card {
  margin-bottom: 0; }
  .scb-card > li {
    background: none;
    padding: 20px 150px 20px 190px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e5e9eb;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    box-shadow: inset -130px 0 0 #f6f7f8;
    cursor: pointer; }
    .scb-card > li:hover .scb-card__select {
      border-color: #84909e; }
    .scb-card > li.scb-card--selected:hover .scb-card__select {
      border-color: #59b545; }
    .scb-card > li ul {
      margin-bottom: 0; }
  .scb-card h5 {
    font-size: 18px;
    font-size: 1.8rem;
    color: #00599e;
    margin-bottom: 0; }
  .scb-card__image {
    position: absolute;
    left: 20px; }
  .scb-card__select {
    position: absolute;
    width: 44px;
    height: 44px;
    border: 3px solid #afb7bf;
    background: transparent;
    border-radius: 50%;
    right: 40px;
    top: 50%;
    margin-top: -25px; }
    .scb-card__select:before {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      background: #59b545 url(../img/campaign/scb/scb-card-select.png) center no-repeat;
      display: block;
      -webkit-background-size: 17px 18px;
      background-size: 17px 18px;
      left: -3px;
      top: -3px;
      border-radius: 50%;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.1s linear, -webkit-transform 0.1s linear, -ms-transform 0.1s linear;
      -moz-transition: -moz-transform 0.1s linear, -webkit-transform 0.1s linear, -ms-transform 0.1s linear;
      transition: transform 0.1s linear, -webkit-transform 0.1s linear, -ms-transform 0.1s linear; }
    .scb-card__select .scb-card__select-tip {
      font-size: 11px;
      position: absolute;
      text-align: center;
      width: 100%;
      top: -28px;
      left: -6px;
      background: #fa0;
      padding: 2px 5px;
      border-radius: 2px;
      color: #fff; }
      .scb-card__select .scb-card__select-tip:after {
        position: absolute;
        width: 0;
        height: 0;
        border: 3px solid;
        border-color: #fa0 transparent transparent;
        top: 100%;
        content: '';
        left: 50%;
        margin-left: -3px; }
    .scb-card--selected .scb-card__select:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

#scb-form {
  padding: 20px; }
  #scb-form input[type="text"], #scb-form input[type="email"], #scb-form .form-control {
    line-height: 1.5;
    border: none;
    box-shadow: none;
    padding: 5px 10px;
    border-radius: 0;
    background: #edf1f3;
    border-bottom: 1px solid #d3d7d8; }
    #scb-form input[type="text"]:focus, #scb-form input[type="text"]:active, #scb-form input[type="email"]:focus, #scb-form input[type="email"]:active, #scb-form .form-control:focus, #scb-form .form-control:active {
      border-bottom-color: #1d9fca; }
    #scb-form input[type="text"].error, #scb-form input[type="email"].error, #scb-form .form-control.error {
      border-bottom-color: #da4f49; }
    #scb-form input[type="text"].valid, #scb-form input[type="email"].valid, #scb-form .form-control.valid {
      border-bottom-color: #59b259; }

label.error {
  font-size: 11px;
  font-size: 1.1rem;
  color: #da4f49; }

.btn-scb-submit {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  font-weight: 700;
  border: none;
  background-image: -webkit-linear-gradient(#0083d6 0, #00599e 100%);
  background-image: linear-gradient(to   , #00599e 100%); }
  .btn-scb-submit:hover {
    background-color: #0083d6; }

/****************************
	SUBMITTED & SHARE
*****************************/
.scb-content--submitted {
  text-align: center;
  padding-top: 0; }

.scb-submitted__header {
  background-image: -webkit-linear-gradient(#59b545 0, #16a220 100%);
  background-image: linear-gradient(to   , #16a220 100%);
  padding: 30px;
  margin: 0 -18% 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  .scb-submitted__header > h2 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase; }
  .scb-submitted__header p {
    display: inline-block;
    max-width: 740px;
    background: #107818;
    padding: 10px;
    margin-bottom: 0; }
.scb-submitted__share {
  padding-top: 30px;
  background: url(../img/campaign/scb/arrow-down-green.png) no-repeat center top;
  -webkit-background-size: 21px 11px;
  background-size: 21px 11px; }

.headline-share {
  max-width: 328px;
  margin-bottom: 10px; }

.referral-link {
  color: #1d9fca;
  border-radius: 6px;
  border: 3px solid #1d9fca;
  padding: 10px;
  font-weight: bold;
  margin: 40px 0;
  word-wrap: break-word; }

[class*="scb-share-"] {
  display: inline-block;
  width: 160px;
  height: 60px;
  background: url(../img/campaign/scb/scb-share-btns.png) no-repeat;
  -webkit-background-size: 320px 60px;
  background-size: 320px 60px;
  margin: 0 10px; }

.scb-share-fb {
  background-position: left; }

.scb-share-tw {
  background-position: right; }

.box {
  display: none; }

.scb-footer {
  padding: 30px 13%;
  color: #768392;
  font-size: 11px;
  font-size: 1.1rem;
  background: rgba(0, 0, 0, 0.25); }

@media (max-width: 1020px) {
  body {
    min-width: 0;
    padding: 0 10px; }

  #page, .ct-wrapper {
    width: auto; } }
@media (max-width: 820px) {
  .scb-header__headline {
    max-width: none;
    background-size: 100% auto; } }
@media (max-width: 767px) {
  .scb-header__logo {
    float: none;
    margin: 0 auto -15px;
    right: 0; }

  .scb-header__mechanism {
    padding: 0; }
    .scb-header__mechanism li span {
      font-size: 21px;
      font-size: 2.1rem; }

  .scb-steps, .scb-content, .scb-footer {
    padding-left: 30px;
    padding-right: 30px; }

  .scb-submitted__header {
    margin-left: -35px;
    margin-right: -35px; }

  .scb-card__image {
    width: 100px; }
  .scb-card > li {
    padding-left: 140px;
    padding-right: 120px;
    box-shadow: inset -100px 0 0 #f6f7f8; }
  .scb-card__select {
    right: 25px; } }
@media (max-width: 479px) {
  .scb-header, .scb-steps, .scb-footer {
    padding-left: 10px;
    padding-right: 10px; }

  .scb-content {
    padding: 10px; }

  .scb-header__headline {
    background-image: url(../img/campaign/scb/headline-small.png);
    height: 120px; }

  .scb-header__subheadline {
    font-size: 18px;
    font-size: 1.8rem; }
    .scb-header__subheadline:before, .scb-header__subheadline:after {
      border-width: 13px 6px; }

  .scb-header__mechanism li {
    float: none;
    width: auto;
    text-align: center;
    padding: 0; }
    .scb-header__mechanism li span {
      font-size: 18px;
      font-size: 1.8rem; }
    .scb-header__mechanism li:before {
      display: none; }
    .scb-header__mechanism li:first-child {
      margin-bottom: 20px; }

  .scb-steps li {
    float: none;
    width: auto;
    text-align: center;
    margin-bottom: 20px; }

  .scb-card__image {
    position: static; }
  .scb-card > li {
    padding-left: 15px;
    padding-right: 100px;
    box-shadow: inset -80px 0 0 #f6f7f8; }
  .scb-card__select {
    right: 15px; }

  #scb-form {
    padding: 15px; }

  .scb-application {
    margin-bottom: 10px; }

  .scb-submitted__header {
    margin-left: -15px;
    margin-right: -15px; }

  .headline-share {
    max-width: 100%; }

  .btn-lg {
    font-size: 14px;
    font-size: 1.4rem; } }
