/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

html {
  overflow-x: hidden; }

body {
  background: #1d9fca url(../img/cc-smartfilter/bg.jpg) top center repeat-x;
  overflow-x: hidden; }

.ct-wrapper {
  position: relative; }

/****************************
	HEADER
*****************************/
.top {
  padding: 20px 0;
  background: #fff;
  position: relative;
  z-index: 1; }
  .top-logo {
    height: 27px;
    width: 150px;
    background: url(../img/imoney-malaysia-logo.svg) no-repeat;
    -webkit-background-size: 150px 27px;
    background-size: 150px 27px;
    display: block; }
    .no-svg .top-logo {
      background-image: url(../img/imoney-malaysia-logo.png); }
  .top-skiplink {
    position: absolute;
    right: 0;
    font-size: 11px;
    font-size: 1.1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.header-filter {
  padding: 40px 0 30px;
  color: #fff;
  position: relative; }
  .header-filter:before {
    position: absolute;
    height: 500px;
    width: 500px;
    border: 45px solid #db2870;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    top: -320px;
    left: -5%; }
  .header-filter h1, .header-filter h2 {
    color: #fff; }
  .header-filter h1 {
    font-weight: 700;
    font-size: 36px;
    font-size: 3.6rem;
    margin-bottom: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .header-filter h2 {
    font-size: 16px;
    font-size: 1.6rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 0; }
.header-callme {
  position: absolute;
  right: 0;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right; }
  .header-callme a {
    color: #fff; }
  .header-callme h4 {
    font-weight: 400;
    font-size: 18px;
    font-size: 1.8rem; }
    .header-callme h4 span {
      display: inline-block;
      color: #1d9fca;
      padding: 2px 10px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .header-callme .extra-info {
    color: #bde8f6; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/****************************
	SLIDES
*****************************/
.slide {
  box-shadow: inset 60px 0 0 #f1f8fa;
  position: relative;
  overflow: hidden; }
  .slide-progressbar {
    position: absolute;
    top: 0;
    width: 0;
    height: 5px;
    background-color: #71e5e9;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    transition: width 1s ease-out; }
  .slide-arrowback {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    background: url(../img/cc-smartfilter/arrow-back.png) 20px center no-repeat;
    -webkit-background-size: 14px 26px;
    background-size: 14px 26px;
    bottom: 0;
    left: 0; }
    .lt-ie9 .slide-arrowback {
      background-image: url(../img/cc-smartfilter/arrow-back-1x.png); }
  .slide-active {
    box-shadow: inset 60px 0 0 #06456b;
    opacity: 1 !important; }
    .slide-active .question-title span {
      color: #fff; }

.question {
  padding: 30px 30px 30px 60px;
  border-bottom: 1px solid #e5e9eb;
  -webkit-transition: box-shadow 0.5s ease-out, opacity 0.3s linear;
  -moz-transition: box-shadow 0.5s ease-out, opacity 0.3s linear;
  transition: box-shadow 0.5s ease-out, opacity 0.3s linear;
  opacity: 0.5; }
  .no-js .question, .question:hover, .question.slide-submit {
    opacity: 1; }
  .question-title {
    font-weight: 700;
    position: relative;
    margin-left: 20px;
    color: #06456b;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #e5e9eb;
    padding-bottom: 10px; }
    .question-title span {
      position: absolute;
      left: -55px; }
  .question-content {
    margin: 20px; }

.btn-ccfilter {
  background-color: #2dbcc1;
  font-weight: 700;
  border: none;
  border-radius: 5px; }
  .btn-ccfilter:hover, .btn-ccfilter:active {
    background-color: #28a8ac; }

.form-figure {
  position: relative;
  margin-bottom: 30px; }
  .form-figure .figure-output {
    position: absolute;
    left: 100%;
    margin-left: 20px;
    top: -6px;
    width: 100%;
    font-size: 18px;
    font-size: 1.8rem; }

.control-label {
  font-size: 15px;
  font-size: 1.5rem; }
  .form-horizontal .control-label {
    text-align: left; }
  [data-question="3"] .control-label {
    margin-top: -5px; }

.radio {
  margin-bottom: 10px; }
  .radio label {
    font-size: 15px;
    font-size: 1.5rem; }
    .radio label input {
      margin-top: 4px; }

.form-control.valid {
  border-color: #59b259; }

.form-control.error {
  border-color: #da4f49; }

label.error {
  color: #da4f49; }

#btn-form {
  outline: none; }

.question-quantity {
  position: absolute;
  left: 16px;
  bottom: 40px;
  width: 27px; }
  .question-quantity span {
    height: 5px;
    width: 5px;
    background-color: #afb7bf;
    display: block;
    float: left;
    margin: 2px;
    border-radius: 50%; }
  .question-quantity .currentSlide {
    background-color: #2dbcc1; }

[data-question="5"]:before, .slide-questions-2 [data-question="4"]:before {
  content: '';
  position: absolute;
  width: 214px;
  height: 304px;
  right: 10px;
  bottom: -30px;
  background: url(../img/cc-smartfilter/human.jpg) no-repeat bottom right;
  -webkit-background-size: 214px 304px;
  background-size: 214px 304px; }
  .lt-ie9 [data-question="5"]:before, .lt-ie9 .slide-questions-2 [data-question="4"]:before {
    background-image: url(../img/cc-smartfilter/human-1x.jpg); }

@media (max-width: 479px) {
  .slide {
    box-shadow: inset 5px 0 0 #f1f8fa; }
    .slide-active {
      box-shadow: inset 5px 0 0 #06456b; }

  .question {
    padding: 20px 10px; }
    .question-title {
      margin-right: 20px; }
      .question-title span {
        position: static; }
        .slide-active .question-title span {
          color: #06456b; }

  .question-quantity {
    left: auto;
    right: 16px; } }
.slick-slider {
  margin-bottom: 0; }
  .slick-slider .question {
    border-bottom: none; }

#btn-last {
  line-height: 1.5;
  padding: 8px 24px 12px; }

.footnote {
  color: #f1f8fa; }

.parsley-error.form-control {
  border-color: #da4f49; }

.parsley-success.form-control {
  border-color: #59b259; }

/****************************
	CC Spending
*****************************/
#spending-checkbox {
  position: relative;
  top: 20px; }

.cc-spending {
  width: 108px;
  height: 120px;
  padding-left: 0;
  text-align: center; }
  .cc-spending input {
    left: 0;
    margin: 0 auto; }
  .cc-spending label i {
    height: 19px;
    padding: 2px 7px 0 21px;
    /* width: 100%; */
    display: inline-block;
    margin: 0 5px;
    line-height: 19px;
    font-size: 12px; }

.btns-marital li {
  width: 32%;
  height: 100px;
  float: left;
  margin-right: 2%;
  padding: 0;
  position: relative; }
  .btns-marital li:last-child {
    margin-right: 0; }

.btns-marital label, .btns-marital input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.btns-marital input[type="radio"],
.btns-insuree input[type="radio"],
.btns-concern input[type="radio"],
.btns-radio input[type="radio"] {
  opacity: 0.011;
  z-index: 100; }

.btns-marital input[type="radio"]:checked + label,
.btns-insuree input[type="radio"]:checked + label,
.btns-concern input[type="radio"]:checked + label,
.btns-radio input[type="radio"]:checked + label {
  background-color: #2DBCC1;
  color: #fff; }

.btns-marital label {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  text-align: center;
  cursor: pointer;
  z-index: 90;
  padding: 35px 10px;
  background-color: #D8D8D8;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700; }

.btns-marital label:hover {
  background-color: #ccc; }

.recommended-card {
  padding: 0 10px 20px;
  border-right: 1px solid #e5e9eb;
  position: relative; }
  .recommended-card:last-child {
    border-right: none; }

.card-name {
  min-height: 45px;
  margin-top: 5px; }

.card-image {
  height: 90px;
  max-height: 90px;
  width: auto; }

.card-apply {
  margin-top: 10px; }

.card-wrapper {
  max-height: 90px;
  position: relative;
  display: inline-block; }

.card-rank {
  position: absolute;
  box-shadow: 0 0 0 2px #fff;
  top: -12px;
  left: -15px;
  width: 24px;
  height: 24px;
  background: #59b259;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 50%;
  line-height: 24px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 1; }

.loading {
  color: #5e6a77;
  position: absolute;
  font-style: italic;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/****************************
	THANK YOU
*****************************/
.slide-thankyou {
  box-shadow: none; }
  .slide-thankyou .question {
    padding: 30px; }

/****************************
	RWD
*****************************/
@media (max-width: 1000px) {
  body {
    min-width: 0; }

  .ct-wrapper, #page {
    width: auto;
    margin-left: 10px;
    margin-right: 10px; }

  .question {
    opacity: 1; }

  .cc-spending {
    width: 25%; } }
@media (max-width: 767px) {
  .header-callme {
    display: none; }

  .header-filter {
    padding: 20px 0 10px; }
    .header-filter h1 {
      font-size: 30px;
      font-size: 3rem; }

  [data-question="5"]:before, .slide-questions-2 [data-question="4"]:before {
    display: none; }

  .btns-marital li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    height: 80px; }

  .btns-marital label {
    padding: 25px 10px; }

  .card-name {
    min-height: 0; }

  .card-image {
    height: auto; }

  .recommended-card.fl-4 {
    float: none;
    width: auto;
    border-right: none;
    border-bottom: 1px solid #e5e9eb;
    padding: 20px 0 30px; }
    .recommended-card.fl-4:first-child {
      padding-top: 0; }
    .recommended-card.fl-4:last-child {
      border-bottom: none; }

  .card-wrapper {
    float: left;
    padding-right: 5%;
    width: 35%; }

  .card-name, .card-apply {
    text-align: left;
    padding-left: 40%; }

  .card-apply .btn-lg {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px; } }
@media (max-width: 479px) {
  .top-skiplink span {
    display: none; }

  .question-content [class*="fl-"], .question-content [class*="w-"] {
    width: auto;
    float: none; }
  .question-content [class*="fl-"].control-label {
    margin-bottom: 10px;
    display: block; }

  [class*="fl-offset"] {
    margin-left: 0; }

  .form-figure .figure-output {
    position: static;
    margin-top: 20px;
    margin-left: 0; }
    .question-content-3 .form-figure .figure-output {
      position: absolute;
      left: auto;
      right: 0;
      top: -55px;
      width: auto; }

  .cc-spending {
    width: 50%; } }
