@charset "UTF-8";
/* base font color */
/* lighter font color */
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:700");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/****************************
	MAIN (content)
*****************************/
.uobladys {
  background: #f6e2d8 url(../img/campaign/uob/uobladys-bg.jpg) top no-repeat;
  font-family: 'Raleway', sans-serif;
  position: relative; }
  .uobladys:before {
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    content: '';
    position: absolute;
    display: block;
    border: 5px solid #f3d9cc; }
  .uobladys h1 {
    font-family: 'Playfair Display', serif;
    color: #c8588f;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
    font-size: 54px;
    font-size: 5.4rem; }
  .uobladys h2 {
    color: #ad5532;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 30px; }
    .uobladys h2:before, .uobladys h2:after {
      content: '—————————';
      font-weight: normal;
      opacity: 0.25;
      position: relative;
      top: -1px;
      letter-spacing: -2px; }
    .uobladys h2:before {
      margin-right: 10px; }
    .uobladys h2:after {
      margin-left: 10px; }

.uob__top {
  text-align: center;
  padding: 30px;
  position: relative; }
  .uob__top:before, .uob__top:after {
    position: absolute;
    content: '';
    display: block;
    width: 160px;
    top: 0;
    bottom: 0; }
  .uob__top:before {
    left: 0;
    background: url(../img/campaign/uob/uobladys-lady-left.png) right 100px no-repeat; }
  .uob__top:after {
    right: 0;
    background: url(../img/campaign/uob/uobladys-lady-right.png) left 100px no-repeat; }

.uob__footer {
  padding: 40px 30px;
  background-color: #631c3f;
  color: #f6e2d8;
  background: url(../img/campaign/uob/uobladys-purple-rose-left.png) no-repeat left bottom, url(../img/campaign/uob/uobladys-purple-rose-right.png) no-repeat right bottom #631c3f;
  position: relative; }
  .uob__footer:before {
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: transparent transparent #631c3f;
    top: -40px;
    left: 50%;
    display: block;
    content: '';
    margin-left: -20px; }

.uob__features {
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center; }
  .uob__features li {
    padding: 0 1% 30px;
    width: 31%;
    height: 110px;
    vertical-align: top;
    display: inline-block;
    background: url(../img/campaign/uob/uobladys-purple-list.png) center bottom no-repeat; }

/****************************
	CARD & CTA
*****************************/
.card {
  background: url(../img/campaign/uob/uobladys-cards.png) no-repeat;
  width: 210px;
  height: 133px;
  display: inline-block;
  margin: 0 5px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(142, 114, 95, 0.35); }
  .card--solitaire {
    background-position: top; }
  .card--platinum {
    background-position: bottom; }

.uob__click {
  margin-bottom: 20px; }

.uob__btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 21px;
  font-size: 2.1rem;
  background: #c8588f;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 60px;
  border: #f3d9cc 5px solid;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }
  .uob__btn:hover {
    text-decoration: none;
    background-color: #cc6497; }
  .uob__btn:active {
    position: relative;
    top: 1px; }
