/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.checkbox-applybar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 1000px;
  padding: 5px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #1d9fca;
  color: #fff;
  line-height: 34px; }
  .checkbox-applybar a {
    color: #fff; }
  .checkbox-applybar .checkbox-applybar-status {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis; }
  .checkbox-applybar .btn-success {
    border-color: #177c9d;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), inset 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), inset 0 1px rgba(255, 255, 255, 0.2);
    position: relative;
    left: 9px; }

.check-apply {
  background: #59b259;
  color: #fff;
  padding: 3px;
  border-radius: 2px;
  position: relative; }
  .check-apply .tooltip {
    margin-left: 3px; }
    .check-apply .tooltip .tooltip-btn {
      background-color: #3c823c; }
      .check-apply .tooltip .tooltip-btn:hover {
        background-color: #347134; }
  .check-apply:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 6px;
    border-color: #59b259 transparent transparent;
    position: absolute;
    bottom: -12px;
    border-style: solid;
    left: 50%;
    margin-left: -6px; }

.checkbox-sidebar-applybox {
  display: none; }
