/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.cc-tablecol1 {
  padding-left: 94px; }
  .cc-tablecol1 h5 {
    margin-bottom: 0; }
  .cc-tablecol1 p {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 0; }

.table-creditcard td {
  text-align: center;
  padding-left: 8px;
  padding-right: 8px; }
.table-creditcard td:first-child {
  text-align: left; }
.table-creditcard [data-column="0"] {
  width: 250px; }
.table-creditcard [data-column="2"], .table-creditcard [data-column="3"], .table-creditcard [data-column="4"] {
  width: 45px; }
.table-creditcard [data-column="5"] {
  width: 90px; }
.table-creditcard .apply-col a {
  padding-left: 6px;
  padding-right: 6px; }

.cc-image {
  max-width: 84px;
  height: auto; }

.cc-spending {
  width: 10.3%;
  height: 90px;
  float: left;
  position: relative; }
.cc-spending label, .cc-spending input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  right:0;
  bottom:0; }
.cc-spending input {
  width: 74px;
  height: 105px;
  opacity:0.011;
  z-index: 100;
  left: 40px;
  cursor: pointer; }
/*label text*/
.cc-spending label i {
  position: relative;
  height: 25px;
  font-style: normal;
  color: #454F6A;
  padding: 3px 10px 3px 25px;
  background-color: #DDD;
  border-radius: 12px; }
.cc-spending input:checked + label i {
  color: #fff;
  background-color: #089ECC; }
.cc-spending label i:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
.cc-spending input:checked + label i:before {
  background: #fff url(../img/cc/cc-icons-tick.png) no-repeat 2px 3px;
  background-size: 11px auto;}
/*label icon*/
.cc-spending label span {
  border: solid 2px #fff;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  display: block;
  background: #fff url(../img/cc/cc-icons.png) no-repeat 23px 19px;
  background-size: 855px auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear; }
.cc-spending input:checked + label span {
  border: solid 2px #089ECC;}
.cc-spending .label-Groceries span {
  background-position: -86px 19px; }
.cc-spending .label-Utilities span {
  background-position: -195px 19px; }
.cc-spending .label-Travel span {
  background-position: -308px 19px; }
.cc-spending .label-Shopping span {
  background-position: -430px 19px; }
.cc-spending .label-Dining span {
  background-position: -550px 19px; }
.cc-spending .label-Entertainment span {
  background-position: -670px 19px; }
.cc-spending .label-Insurance span {
  background-position: -803px 19px; }

/*********************************
	SCORECARD
**********************************/
.scorecard {
  border-radius: 3px;
  width: 54px;
  margin: 0 auto;
  margin-bottom: 5px !important;
  text-align: center;
  background-color: #1d9fca;
  cursor: pointer; }
  .scorecard h3, .scorecard .scorecard-rating {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  .scorecard h3 {
    margin: 0;
    font-weight: 700;
    position: relative;
    top: 3px;
    font-size: 24px;
    font-size: 2.4rem; }
  .scorecard .scorecard-rating {
    font-size: 11px;
    font-size: 1.1rem;
    padding: 2px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .scorecard .scorecard-expand {
    width: 12px;
    height: 12px;
    margin: -5px auto 0;
    position: relative;
    top: 6px;
    border: 3px solid #1d9fca;
    border-radius: 50%;
    background: url(../img/cc-scorecard-plus.png) 0 0 no-repeat white; }
  .scorecard:hover .scorecard-content {
    opacity: 1;
    visibility: visible; }
  .scorecard .scorecard-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 4px;
    width: 380px;
    left: 50%;
    margin-left: -194px;
    position: absolute;
    top: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;
    transition: 0.1s all linear;
    z-index: 1;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); }
  .scorecard .scorecard-content-inner {
    border-radius: 3px;
    background-color: #fff; }
    .scorecard .scorecard-content-inner:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #fff;
      display: block;
      top: -20px;
      left: 50%;
      margin-left: -10px; }
    .scorecard .scorecard-content-inner:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-width: 12px;
      border-style: solid;
      border-color: transparent transparent rgba(0, 0, 0, 0.5);
      display: block;
      top: -28px;
      left: 50%;
      margin-left: -12px; }
    .scorecard .scorecard-content-inner .scorecard-comment {
      padding: 8px 0;
      border-top: 1px solid #e5e9eb; }
      .scorecard .scorecard-content-inner .scorecard-comment > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0; }
  .scorecard.scorecard-promo {
    background-color: #df931a; }
    .scorecard.scorecard-promo .scorecard-comment-feature {
      background-color: #df931a; }
    .scorecard.scorecard-promo .scorecard-expand {
      background-position: -12px 0;
      border-color: #df931a; }
  .scorecard.scorecard-bestcard {
    background-color: #cb2372; }
    .scorecard.scorecard-bestcard .scorecard-comment-feature {
      background-color: #cb2372; }
    .scorecard.scorecard-bestcard .scorecard-expand {
      background-position: -24px 0;
      border-color: #cb2372; }
  .scorecard .scorecard-list {
    padding: 8px 12px; }
  .scorecard .scorecard-comment {
    margin: 0 12px; }
  .scorecard .scorecard-comment-feature {
    padding: 8px 12px; }

.scorecard-content {
  line-height: 1.25;
  cursor: auto; }

.scorecard-content-inner {
  text-align: left;
  color: #5e6a77;
  font-size: 12px;
  font-size: 1.2rem;
  position: relative; }
  .scorecard-content-inner table {
    margin: 0;
    padding-top: 5px;
    border: none; }
    .scorecard-content-inner table tr:hover td, .scorecard-content-inner table td {
      background-color: transparent; }
    .scorecard-content-inner table td {
      border-bottom: none;
      padding: 2px 12px;
      text-align: left; }
      .scorecard-content-inner table td:first-child {
        width: 50px; }
      .scorecard-content-inner table td.scorecard-table-scorebar {
        width: 100px; }
      .scorecard-content-inner table td.scorecard-table-content {
        padding-left: 0; }
  .scorecard-content-inner .scorecard-comment {
    padding: 0 10px 10px; }
  .scorecard-content-inner .scorecard-comment-feature {
    color: #fff;
    background-color: #1d9fca;
    border-radius: 0 0 3px 3px; }
    .scorecard-content-inner .scorecard-comment-feature > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }

.scorecard-list {
  margin-bottom: 0;
  padding: 10px; }
  .scorecard-list li {
    padding-left: 0;
    background: none;
    padding: 2px 0; }
    .scorecard-list li > * {
      float: left; }
  .scorecard-list .scorebar {
    margin: 4px 10px 0 0; }
  .scorecard-list .scorecard-list-criteria {
    width: 100px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden; }
  .scorecard-list .scorecard-list-content {
    width: 135px; }

.scorebar {
  width: 100px;
  background: #e7ebed;
  height: 6px;
  position: relative; }
  .scorebar.scorebar-lg {
    width: 200px;
    display: inline-block; }
    .scorebar.scorebar-lg:after {
      background: url(../img/cc-score-indicator2x.png); }
  .scorebar:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    background: url(../img/cc-score-indicator.png);
    z-index: 2; }
  .scorebar .scorebar-score {
    height: inherit;
    background-color: #1d9fca; }

/*********************************
	CC Product Page
**********************************/
.table-cc-productpage tr > td {
  text-align: center; }

.cc-signup-header {
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  margin: -13px -1px 0 0; }
  .cc-signup-header h4 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    font-size: 18px;
    font-size: 1.8rem;
    background: url(../img/cc-apply-card.png) no-repeat right; }

.block-cc {
  width: 50%;
  float: left;
  padding: 0 10px 0 0;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(http://widgets.imoney.my/boxsizing.htc);
  font-size: 13px;
  font-size: 1.3rem;
  height: 170px; }
  .block-cc.block-cc-featured {
    width: 100%;
    padding: 10px 20px;
    height: auto;
    margin-bottom: 20px;
    background-color: #eaf8fc;
    border: 1px solid #bde8f6; }
  .block-cc h4 {
    color: #06456b;
    margin-bottom: 0; }
  .block-cc .scorebar {
    margin: 10px 0; }

.scorebar-scorenumber {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0 0 4px;
  color: #1d9fca;
  font-weight: bold; }

/*********************************
	CC Icon Sprite
**********************************/
[class*="cc-icon-"] {
  background: url(../img/sprite-cc.png) no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px; }

.cc-icon-petrol {
  background-position: 0 0; }

.cc-icon-groceries, .cc-icon-barang {
  background-position: -16px 0; }

.cc-icon-utilities, .cc-icon-utiliti {
  background-position: -32px 0; }

.cc-icon-travel, .cc-icon-perjalanan {
  background-position: -48px 0; }

.cc-icon-shopping, .cc-icon-beli-belah {
  background-position: -64px 0; }

.cc-icon-dining, .cc-icon-restoran {
  background-position: -80px 0; }

.cc-icon-entertainment, .cc-icon-hiburan {
  background-position: -96px 0; }

.cc-icon-insurance, .cc-icon-insuran {
  background-position: -112px 0; }

/*********************************
	MISC
**********************************/
.color-promoted {
  color: #df931a; }

.color-best {
  color: #cb2372; }

/*********************************
  Angular JS
**********************************/
.ng-cloak {
  opacity: 0; }

/*********************************
  CC Bank Page
**********************************/
.cc-bankpage-card-image {
  height: 90px; }
  .cc-bankpage-card-image img {
    height: 80px; }

.cc-bankpage-card-scorecard {
  background-color: #fff;
  border-top: 1px solid #e5e9eb;
  border-bottom: 1px solid #e5e9eb;
  height: 185px; }

.scorecard-comment-best {
  color: #cb2372;
  font-weight: bold; }

.scorecard-comment-promo {
  color: #df931a;
  font-weight: bold; }

.cc-bankpage-card {
  padding: 0 10px;
  margin-bottom: 20px; }
  .cc-bankpage-card .block-content {
    height: 110px; }
  .cc-bankpage-card .block-wrapper {
    margin-bottom: 0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    .cc-bankpage-card .block-wrapper:hover {
      box-shadow: 0 0 10px rgba(94, 106, 119, 0.5);
      border-color: #afb7bf; }
  .cc-bankpage-card .scorecard-list .scorebar {
    width: 75px; }
    .cc-bankpage-card .scorecard-list .scorebar:after {
      background-image: url(../img/cc-score-indicator-75px.png); }
  .cc-bankpage-card .scorecard-list .scorecard-list-criteria {
    width: 85px; }
  .cc-bankpage-card .scorecard-list .scorecard-list-content {
    width: 90px; }
  .cc-bankpage-card .scorecard-comment > * {
    margin-bottom: 0; }

.cc-bankpage-card-detail {
  min-height: 57px; }

.cc-bankpage-card-cta {
  padding-bottom: 10px; }

.cycle-slideshow {
  position: relative; }

.cc-cycle-pager {
  text-align: center; }
  .cc-cycle-pager a {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #768392;
    overflow: hidden; }
    .cc-cycle-pager a.cycle-pager-active {
      background-color: #1d9fca; }

.cc-bankpage-banners {
  position: relative; }
  .cc-bankpage-banners:hover .cycle-prev, .cc-bankpage-banners:hover .cycle-next {
    opacity: 0.8; }

a.cycle-prev, a.cycle-next {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #434c55;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  text-align: center;
  line-height: 50px;
  z-index: 150;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  a.cycle-prev:hover, a.cycle-next:hover {
    background-color: #1d9fca;
    text-decoration: none; }

.cycle-prev {
  left: 0; }

.cycle-next {
  right: 0; }
