.table-savingsaccount td:first-child, .table-savingsaccount .apply-col {
  text-align: center;
  width: 15%; }
.table-savingsaccount [data-column="3"] {
  width: 20%; }
.table-savingsaccount td:nth-child(4) {
  text-align: center; }
.table-savingsaccount .tr-expand td {
  text-align: left; }
