/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.row.demo > *, .row-fl.demo > * {
  background-color: #f6f8f9;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #e5e9eb; }

.row.demo > * {
  border: none; }

.table-homeloan td {
  text-align: center; }
  .table-homeloan td:first-child, .table-homeloan td:nth-child(6) {
    width: 80px; }
