/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.table-fixeddeposit {
  text-align: center; }
  .table-fixeddeposit [data-column="0"], .table-fixeddeposit [data-column="4"] {
    width: 20%; }
  .table-fixeddeposit [data-column="1"] {
    width: 28%; }
  .table-fixeddeposit [data-column="2"], .table-fixeddeposit [data-column="3"] {
    width: 16%; }

.fd-moreinfo-table td, .fd-moreinfo-table th {
  width: 10%;
  padding-left: 6px;
  padding-right: 6px; }
  .fd-moreinfo-table td:first-child, .fd-moreinfo-table th:first-child {
    width: 20%;
    padding-left: 10px; }
.fd-moreinfo-table .fd-moreinfo-table-placement, .fd-moreinfo-table .fd-moreinfo-table-deposit {
  width: 15%; }

#fd-return {
  display: none; }

.fd-banklogo-margin {
  margin-bottom: -5px; }

th.fd-selected-tenure {
  border-bottom-color: #1d9fca;
  color: #06456b; }
