/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.table-forex {
  border: none; }
  .table-forex [data-column="0"] {
    width: 10%; }
  .table-forex td, .table-forex th {
    padding-left: 6px;
    padding-right: 6px;
    position: relative; }
  .table-forex td {
    text-align: center;
    width: 6%;
    background: transparent; }
  .table-forex th {
    font-size: 11px;
    font-size: 1.1rem;
    vertical-align: bottom; }

.tr-hover {
  background-color: #f6f8f9; }

.forex-cal-curr-from {
  position: relative; }
  .forex-cal-curr-from:after {
    content: '\2192';
    position: absolute;
    right: -9px;
    top: -1px;
    font-size: 18px;
    font-size: 1.8rem; }

.forex-td-flag {
  width: 16px;
  display: block;
  margin: 2px auto 0; }
