.table-goldinvestment [data-column="0"], .table-goldinvestment .apply-col {
  width: 15%; }
.table-goldinvestment [data-column="1"], .table-goldinvestment [data-column="3"] {
  width: 8%; }
.table-goldinvestment [data-column="2"] {
  width: 25%; }
.table-goldinvestment td:nth-child(3), .table-goldinvestment td:nth-child(5) {
  text-align: left; }
