.table-homeloan-refinance-cash td {
  text-align: center; }
.table-homeloan-refinance-cash [data-column="0"], .table-homeloan-refinance-cash [data-column="2"] {
  width: 200px; }
.table-homeloan-refinance-cash [data-column="1"], .table-homeloan-refinance-cash [data-column="3"], .table-homeloan-refinance-cash .apply-col {
  width: 150px; }

.block-homeloan-info {
  box-shadow: 0 0 5px rgba(94, 106, 119, 0.5); }
