/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/*****************************
	HEADER
******************************/
.home-header {
  position: relative;
  width: 100%;
  height: 316px;
  overflow: visible; }

.header-slide {
  width: 940px;
  padding: 30px;
  height: 256px;
  background-repeat: no-repeat; }
  .header-slide.slide-imoney {
    background-repeat: repeat; }

.slide-homeloan {
  background-image: url(../img/home-headerslide-homeloan.jpg); }

.slide-creditcard {
  background-image: url(../img/home-headerslide-creditcard.jpg); }

.slide-personalloan {
  background-image: url(../img/home-headerslide-personalloan.jpg); }

.slide-calculator {
  margin-top: 10px;
  display: inline-block; }

.block-slide-submit {
  padding-top: 26px; }

.slide-title {
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  display: inline-block; }
  .slide-imoney .slide-title {
    border-bottom: none;
    padding-bottom: 0; }
  .slide-title:before {
    position: absolute;
    content: '';
    width: 3px;
    background-color: #1d9fca;
    display: block;
    height: 36px;
    left: -30px; }
  .slide-creditcard .slide-title {
    text-shadow: 0 1px 0 #fff; }

.header-slide-pager {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem; }
  .header-slide-pager li {
    display: inline-block;
    padding: 0;
    background-image: none; }
    .header-slide-pager li a {
      display: block;
      background: rgba(6, 69, 107, 0.9);
      color: rgba(255, 255, 255, 0.8);
      padding: 12px 30px;
      position: relative; }
      .header-slide-pager li a:hover {
        background: #06456b;
        text-decoration: none;
        color: #fff; }
    .header-slide-pager li.cycle-pager-active a {
      background-color: #1d9fca;
      color: #fff; }
      .header-slide-pager li.cycle-pager-active a:before {
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #1d9fca;
        content: '';
        display: block;
        top: -20px;
        left: 50%;
        margin-left: -10px; }

/* chosen overwrite */
.chosen-container-single {
  z-index: 102; }
  .chosen-container-single .chosen-default {
    color: #5e6a77;
    font-weight: bold; }
  .chosen-container-single .chosen-single {
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    background-image: -moz-linear-gradient(bottom, #e7ebed 0%, white 100%);
    background-image: -o-linear-gradient(bottom, #e7ebed 0%, white 100%);
    background-image: -webkit-linear-gradient(bottom, #e7ebed 0%, white 100%);
    background-image: linear-gradient(bottom, #e7ebed 0%, white 100%);
    border-radius: 3px; }
    .chosen-container-single .chosen-single div {
      right: 5px; }
      .chosen-container-single .chosen-single div b {
        width: 90%;
        background-position: 0 10px; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 10px; }

.chosen-container .chosen-results li {
  padding-left: 8px;
  padding-right: 8px; }
  .chosen-container .chosen-results li.highlighted {
    background: #1d9fca; }

ul.chosen-results li {
  background: none; }

/*****************************
	NEWS
******************************/
.article-feature {
  border-bottom: 1px solid #e5e9eb;
  margin-bottom: 10px;
  font-size: 13px;
  font-size: 1.3rem; }

.article-category {
  font-size: 11px;
  font-size: 1.1rem;
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: normal; }
  .article-category a {
    color: #768392; }

.article-feature-title {
  margin-bottom: 3px;
  font-weight: normal;
  line-height: 1.2; }

.article-supplement {
  font-size: 13px;
  font-size: 1.3rem; }

/*****************************
	SIDEBAR
******************************/
.sb-quicklinks-list a {
  display: block;
  padding: 4px 0;
  color: #5e6a77;
  background: url(../img/home-quicklinks-arrowright.png) right no-repeat; }

.sb-newsletter-title {
  line-height: 30px;
  height: 32px;
  background: url(../img/home-newsletter-title.png) left no-repeat;
  padding-left: 23px;
  margin: 10px 0 5px -3px;
  color: #fff;
  font-weight: bold; }

.sb-hlrate-table {
  font-size: 13px;
  font-size: 1.3rem; }
  .sb-hlrate-table, .sb-hlrate-table td {
    background: transparent;
    border: none; }
  .sb-hlrate-table td {
    padding: 0; }

.big-number {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #06456b;
  font-size: 32px;
  font-size: 3.2rem; }

/*****************************
	3 Panels
******************************/
.home-section-title {
  font-weight: 700;
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 0; }
  .home-testimonial .home-section-title {
    color: #fff;
    font-size: 21px;
    font-size: 2.1rem;
    margin-bottom: 20px; }

/* HOW IT WORKS */
.home-how {
  background: url(../img/home-section-separator.png) top no-repeat;
  padding-top: 50px;
  text-align: center; }

.how-steps {
  margin-top: 20px; }
  .how-steps p, .how-steps h5 {
    text-align: left; }
    .slide-imoney .how-steps p, .slide-imoney .how-steps h5 {
      text-align: center; }
  .how-steps h5 {
    margin-bottom: 0;
    color: #06456b; }

.how-step-1 {
  padding-right: 20px; }

.how-step-2 {
  padding-right: 10px; }

.how-step-3 {
  padding-left: 10px; }

.how-step-4 {
  padding-left: 20px; }

/* TESTIMONIAL */
.home-testimonial {
  background: url(../img/home-testimonial-bg.jpg) top no-repeat;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  min-height: 200px; }
  .home-testimonial a {
    color: white; }

.testimonial-link {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 11px;
  font-size: 1.1rem; }

.testimonials {
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .testimonials:before, .testimonials:after {
    position: absolute;
    width: 26px;
    height: 24px;
    display: block;
    content: '';
    background: url(../img/home-testimonial-quote.png) no-repeat;
    top: 3px; }
  .testimonials:before {
    left: -34px; }
  .testimonials:after {
    right: -34px;
    background-position: -26px 0; }

.testimonial footer {
  position: relative;
  padding-top: 10px;
  margin-top: 10px; }
.testimonial cite {
  font-size: 13px;
  font-size: 1.3rem;
  font-style: normal; }
  .testimonial cite i {
    display: block; }
  .testimonial cite img {
    border-radius: 3px; }

/* WHY */
.why-list li {
  margin: 3px 0; }
