.table-homeloan td {
  text-align: center; }
.table-homeloan [data-column="0"] {
  width: 130px; }
.table-homeloan [data-column="3"] {
  width: 120px; }
.table-homeloan [data-column="4"], .table-homeloan [data-column="5"] {
  width: 110px; }
.table-homeloan [data-column="6"] {
  width: 100px; }

.btn-homeloan-calculate {
  position: relative;
  top: 3px; }
