/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* HOME LOAN */
.table-homeloan-v2 td {
  text-align: center; }
.table-homeloan-v2 [data-column="0"] {
  width: 100px; }
.table-homeloan-v2 [data-column="1"] {
  width: 140px; }
.table-homeloan-v2 [data-column="3"] {
  width: 80px; }
.table-homeloan-v2 [data-column="4"], .table-homeloan-v2 [data-column="5"] {
  width: 90px; }
.table-homeloan-v2 [data-column="6"] {
  width: 100px; }

.table-homeloan-v2 .featured-wrapper .featured-content, .table-homeloan-v2 .featured-wrapper .featured-bar {
  width: 683px; }

.btn-homeloan-calculate {
  position: relative;
  top: 3px; }

.pagetab ul li a {
  color: #5e6a77;
  background: #e7ebed; }
  .pagetab ul li a:hover {
    text-decoration: none;
    background: #dee4e6; }
.pagetab ul li.active a {
  color: #fff;
  background: #1d9fca; }

#tab-homeloan {
  padding-bottom: 44px; }

/* icon sprites for more info block at sidebar */
.block-homeloan-info {
  box-shadow: 0 0 10px rgba(94, 106, 119, 0.5); }
  .block-homeloan-info [class*='icon-'] {
    background: url(http://www.imoney.my/static/home-loan/img/hl-info-icons.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -1px; }
  .block-homeloan-info .icon-house {
    background-position: -16px 0; }
  .block-homeloan-info .icon-badge {
    background-position: -32px 0; }
  .block-homeloan-info a {
    display: block;
    padding: 8px 10px;
    border-top: 1px solid rgba(94, 106, 119, 0.2); }
    .block-homeloan-info a:hover {
      text-decoration: none;
      background-color: #e7ebed; }

/* HOME LOAN REFINANCE */
.table-homeloan-refinance-v2 [data-column="0"] {
  width: 25%; }
.table-homeloan-refinance-v2 [data-column="1"], .table-homeloan-refinance-v2 [data-column="2"] {
  width: 19%; }
.table-homeloan-refinance-v2 [data-column="3"] {
  width: 16%; }
.table-homeloan-refinance-v2 .apply-col {
  width: 21%; }
.table-homeloan-refinance-v2 td:first-child img {
  height: 40px; }
.table-homeloan-refinance-v2 .extra-info {
  display: block; }
