/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/*****************************
	INFO
******************************/
.nav {
  text-align: center; }
  .nav a {
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    border-width: 0 1px;
    border-style: solid;
    border-color: #053553; }
    .nav a:first-child {
      border-right: none; }
    .nav a:hover, .nav a.active {
      background: #0d597e; }

.info-header {
  margin: 30px 0;
  text-align: center; }

.info-wrapper {
  width: 80%;
  min-width: 600px;
  max-width: 1000px;
  margin: 0 auto; }

[role="main"] {
  background: #fff;
  padding: 20px;
  margin-top: 20px; }

.map {
  padding: 10px 20px;
  background: #d8eaf1; }

/* footer  */
[role="contentinfo"] {
  font-size: 12px;
  font-size: 1.2rem;
  color: #5e6a77;
  margin-top: 30px;
  margin-bottom: 30px; }

/*****************************
	FREE SERVICES
******************************/
.free-services-list {
  overflow: hidden; }
  .free-services-list li {
    width: 44%;
    padding: 0 3% 1% !important;
    float: left;
    position: relative; }
  .free-services-list p {
    padding-left: 40px; }

[class*="icon-"] {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../img/hl-freeservice-icon.png) 0 0 no-repeat;
  display: block;
  left: 4%;
  top: 3px; }

.icon-assessment {
  background-position: -32px 0; }

.icon-multiple {
  background-position: -64px 0;
  width: 37px; }

.icon-consultation {
  background-position: -101px 0; }

.icon-value {
  background-position: -133px 0; }

.icon-updates {
  background-position: -165px 0; }

.icon-lawyers {
  background-position: -197px 0; }

.icon-insurance {
  background-position: -229px 0; }
