/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.campaign-cc-body {
  background: #fff;
  position: relative; }
  .campaign-cc-body.hsbc-red {
    background: #fff url(../img/campaign/hsbc-red-gold/shopping-red-card2.jpg) 0 125px no-repeat; }
  .campaign-cc-body:before {
    content: "";
    right: 25px;
    top: 0;
    width: 20px;
    display: block;
    position: absolute;
    background-color: #FF0000;
    bottom: 0;
    z-index: 2; }
  .campaign-cc-body:after {
    border-width: 20px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    content: "";
    position: absolute;
    right: 25px;
    top: 37px;
    z-index: 3; }

.hsbc-hero {
  padding: 20px 20px 0;
  position: relative; }
  .hsbc-hero .hsbc-card-showcase ul {
    padding: 0;
    margin-bottom: 7px; }
    .hsbc-hero .hsbc-card-showcase ul li {
      display: inline-block;
      float: left;
      padding-left: 0;
      margin-left: 10px;
      background-position: 0 0;
      width: 100px;
      height: 63px;
      background-size: 100px 63px; }
      .hsbc-hero .hsbc-card-showcase ul li:first-child {
        margin-left: 0; }
      .hsbc-hero .hsbc-card-showcase ul li.hsbc-card-black {
        background-image: url(../img/campaign/hsbc-red-gold/hsbc-platinum.png); }
      .hsbc-hero .hsbc-card-showcase ul li.hsbc-card-gold {
        background-image: url(../img/campaign/hsbc-red-gold/hsbc-gold-card.png); }
      .hsbc-hero .hsbc-card-showcase ul li.hsbc-card-red {
        background-image: url(../img/campaign/hsbc-red-gold/hsbc-red-card.png); }
    .hsbc-hero .hsbc-card-showcase ul:after {
      content: "";
      display: table;
      clear: both; }
  .hsbc-hero .hsbc-card-showcase h4 {
    font-size: 18px;
    font-size: 1.8rem; }
  .hsbc-hero .campaign-logo {
    position: absolute;
    right: 80px;
    top: 30px;
    width: 250px;
    height: 53px;
    background-image: url(../img/campaign/hsbc-red-gold/hsbc-logo@2x.png);
    background-repeat: no-repeat;
    background-size: 250px 53px; }
  .hsbc-hero .red-text-area {
    padding: 20px 70px 20px 40px;
    position: absolute;
    left: 0;
    bottom: -360px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    font-size: 30px;
    font-size: 3.5rem;
    line-height: 37px;
    z-index: 10;
    background-color: rgba(235, 52, 45, 0.88); }
    .hsbc-gold .hsbc-hero .red-text-area {
      font-size: 28px;
      font-size: 2.8rem;
      line-height: 30px;
      bottom: -370px;
      padding-left: 20px;
      padding-right: 29px; }

#parallax {
  position: absolute;
  overflow: hidden;
  width: 1000px;
  height: 516px; }
  #parallax .parallax-layer {
    position: absolute; }
  #parallax .grocer-bg {
    background: url(../img/campaign/hsbc-red-gold/grocer-bg.jpg) -30px -30px no-repeat;
    width: 1000px;
    height: 516px;
    position: absolute; }
  #parallax .woman-grocerer {
    background: url(../img/campaign/hsbc-red-gold/woman-grocerer.png) 0px -26px no-repeat;
    position: absolute;
    width: 1000px;
    height: 516px; }

.application-wrap {
  padding: 30px 13%;
  position: relative;
  z-index: 2; }
  .hsbc-red .application-wrap {
    margin-top: 440px; }
  .hsbc-gold .application-wrap {
    margin-top: 445px; }
  .application-wrap .application-content {
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18); }
    .application-wrap .application-content sup {
      padding-left: 2px; }
  .application-wrap .content__header {
    background: #eb342d;
    padding: 14px 15px;
    font-size: 17px;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    border-radius: 4px 4px 0 0;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
  .application-wrap .content__body {
    background: #fff; }

.application-card {
  margin: 0; }
  .application-card > li {
    padding: 20px 135px 20px 185px;
    background: none;
    border-bottom: 1px solid #e5e9eb;
    position: relative;
    cursor: pointer;
    box-shadow: inset -125px 0 0 #fcf7e9; }
    .application-card > li ul {
      margin-bottom: 0; }
    .application-card > li:hover .application-card__select {
      border-color: #a96364; }
    .application-card > li:hover .application-card__select-tip {
      -webkit-animation: bounce 0.9s ease-in infinite;
      -moz-animation: bounce 0.9s ease-in infinite;
      animation: bounce 0.9s ease-in infinite; }
  .application-card h5 {
    color: #000;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 0;
    line-height: 1.3; }
  .application-card h6 {
    color: #eb342d;
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 400; }
  .application-card__img {
    position: absolute;
    left: 20px;
    top: 24px; }
  .application-card__select {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid #C49495;
    background: transparent;
    border-radius: 50%;
    right: 35px;
    top: 50%;
    margin-top: -25px; }
    .application-card__select:before {
      position: absolute;
      content: '';
      width: 56px;
      height: 56px;
      background: #59b545 url(../img/campaign/hsbc-red-gold/bpi-card-select.png) center no-repeat;
      display: block;
      background-size: 17px, 18px;
      left: -3px;
      top: -3px;
      border-radius: 50%;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear;
      -moz-transition: -moz-transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear;
      transition: transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear; }
    .card--selected .application-card__select:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .application-card__select .application-card__select-tip {
      font-size: 11px;
      position: absolute;
      text-align: center;
      width: 100%;
      top: -28px;
      left: -6px;
      background: #4d4d4d;
      padding: 2px 5px;
      border-radius: 2px;
      color: #fff; }
      .application-card__select .application-card__select-tip:after {
        position: absolute;
        width: 0;
        height: 0;
        border: 3px solid;
        border-color: #4d4d4d transparent transparent;
        top: 100%;
        content: '';
        left: 50%;
        margin-left: -3px; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0); }
  20% {
    -webkit-transform: translateY(-25px); }
  30% {
    -webkit-transform: translateY(-25px); }
  40% {
    -webkit-transform: translateY(0);
    padding-top: 0; }
  50% {
    -webkit-transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(0);
    padding-top: 0; }
  70% {
    -webkit-transform: translateY(-8px); }
  80% {
    -webkit-transform: translateY(0);
    padding-top: 0; } }
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0); }
  20% {
    -moz-transform: translateY(-25px); }
  30% {
    -moz-transform: translateY(-25px); }
  40% {
    -moz-transform: translateY(0);
    padding-top: 0; }
  50% {
    -moz-transform: translateY(-15px); }
  60% {
    -moz-transform: translateY(0);
    padding-top: 0; }
  70% {
    -moz-transform: translateY(-8px); }
  80% {
    -moz-transform: translateY(0);
    padding-top: 0; } }
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px); }
  30% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px); }
  40% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; }
  50% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; }
  70% {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  80% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes floating {
  0% {
    -moz-transform: translateY(0); }
  50% {
    -moz-transform: translateY(-15px); }
  100% {
    -moz-transform: translateY(0); } }
@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
#cc-app-form {
  padding: 20px; }
  #cc-app-form .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ebca6c;
    position: relative;
    background: #F5F3ED;
    padding: 5px 10px; }
    #cc-app-form .form-control:focus {
      background: #faf2dc;
      border-bottom: 1px solid #bd931a; }
    #cc-app-form .form-control.error {
      background: #F7DEDE;
      border-bottom: 1px solid #eb342d; }
  #cc-app-form .picked {
    padding: 10px;
    border: 3px solid #c8eddb;
    background: #ebf8f2; }
  #cc-app-form .control-label {
    display: block; }

.footer-content {
  background: #333333;
  padding: 30px 13% 40px;
  color: #d1d1d1; }
  .footer-content ul li {
    list-style: none;
    background: none;
    padding-left: 0;
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 3px; }
    .footer-content ul li sup {
      color: #fff;
      font-size: 11px;
      font-size: 1.1rem;
      padding-right: 3px; }
    .footer-content ul li a {
      color: #64CDEC; }

.btn-cc-submit {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  background: #3AAF77;
  border: 1px solid #2d895d;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  .btn-cc-submit:hover {
    background: #2bbe78; }

.required {
  color: red; }

label.error {
  font-size: 12px;
  font-size: 1.2rem;
  color: #da4f49;
  display: block; }

.application-submitted {
  text-align: center;
  margin-top: 90px;
  position: relative;
  padding-bottom: 85px; }
  .application-submitted:before {
    background: #59b545 url(../img/campaign/hsbc-red-gold/bpi-card-select.png) 50% 50% no-repeat;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: -75px;
    border: 6px solid #fff;
    left: 50%;
    margin-left: -35px; }
  .application-submitted__content {
    padding: 20px;
    /*@include background-image(linear-gradient(#59b545, #16a220 100%));*/ }
    .application-submitted__content h2 {
      color: #59b545;
      font-weight: bold;
      font-size: 30px;
      font-size: 3rem;
      text-transform: uppercase; }
    .application-submitted__content h4 {
      color: #0A5E03;
      font-size: 20px;
      font-size: 2rem;
      margin-bottom: 0; }

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media (max-width: 999px) {
  body {
    min-width: 0;
    padding: 0 10px; }

  #page, .ct-wrapper {
    width: auto; }

  #parallax {
    display: none; }

  .campaign-cc-body.hsbc-gold {
    background: #fff url(../img/campaign/hsbc-red-gold/shopping-gold-card.jpg) 0 125px no-repeat; }
  .campaign-cc-body.hsbc-red {
    background-position: 50% 125px; } }
@media (max-width: 767px) {
  .application-submitted {
    margin-top: 0; }

  .campaign-cc-body.hsbc-gold, .campaign-cc-body.hsbc-red {
    background-size: 800px;
    background-position: 50% 125px; }
  .campaign-cc-body:before, .campaign-cc-body:after {
    display: none; }
  .campaign-cc-body:before {
    display: block;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    right: 0; }

  .application-wrap {
    width: auto;
    padding-left: 10px;
    padding-right: 10px; }

  .application-card .application-card__img {
    width: 100px; }

  .hsbc-hero .campaign-logo {
    background-size: 170px;
    width: 170px;
    height: 40px;
    right: 10px; }
  .hsbc-hero .hsbc-card-showcase ul li {
    background-size: 80px;
    width: 80px;
    height: 50px; }
  .hsbc-hero .red-text-area {
    bottom: -300px;
    background-color: rgba(235, 52, 45, 0.75); }
  .hsbc-hero .hsbc-card-showcase h4 {
    font-size: 16px;
    font-size: 1.6rem; }

  .application-card > li {
    padding-left: 135px; } }
@media (max-width: 550px) {
  body {
    padding: 0 !important; }

  .application-submitted {
    margin-top: 35px; }

  .footer-content {
    padding: 30px 20px 40px; }

  .campaign-cc-body.hsbc-gold {
    background-position: 60% 190px; }
  .campaign-cc-body.hsbc-red {
    background-position: 60% 190px; }
  .campaign-cc-body .application-wrap {
    margin-top: 400px; }

  .hsbc-card-showcase {
    padding-top: 65px;
    text-align: center; }
    .hsbc-card-showcase ul {
      width: 230px;
      margin: 0 auto; }

  .hsbc-hero {
    padding: 10px 10px 0; }
    .hsbc-hero .campaign-logo {
      margin: 0 auto;
      float: none;
      position: absolute;
      left: 50%;
      right: auto;
      margin-left: -70px;
      background-size: 150px;
      top: 20px;
      width: 150px; }
    .hsbc-hero .hsbc-card-showcase ul li {
      background-size: 70px;
      width: 70px;
      height: 45px; }
    .hsbc-hero .hsbc-card-showcase h4 {
      line-height: 21px; }
      .hsbc-hero .hsbc-card-showcase h4:after {
        content: "Scroll Down for more";
        display: block;
        width: 80%;
        margin: 5px auto 0;
        padding: 4px 15px;
        background: #d11b14;
        border-radius: 18px;
        font-size: 14px;
        font-size: 1.4rem;
        color: #fff;
        position: relative; }
    .hsbc-gold .hsbc-hero .red-text-area, .hsbc-red .hsbc-hero .red-text-area {
      font-size: 22px;
      font-size: 2.2rem;
      line-height: 24px;
      background-color: rgba(235, 52, 45, 0.78); }

  .application-card > li {
    box-shadow: inset -80px 0 0 #fcf7e9; }

  .application-card > li {
    padding-left: 15px;
    padding-top: 90px;
    padding-right: 90px; }

  .application-card__select {
    right: 14px; } }
