/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.campaign-cc-body {
  background: #000000;
  padding: 15px 0 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.campaign-logo {
  background: url(../img/campaign/hsbc-ph/hsbc-logo.png) no-repeat;
  width: 120px;
  height: 22px;
  background-size: 120px 22px;
  right: 20px;
  top: 20px;
  position: absolute; }

.campaign-headline-first {
  padding: 5px 0 0;
  position: relative;
  margin-top: 10px;
  text-align: center; }
  .campaign-headline-first h1 {
    color: #eb342d;
    font-weight: 500;
    font-size: 39px;
    font-size: 3.9rem; }
    .campaign-headline-first h1 .white {
      color: #fff;
      display: block;
      text-transform: uppercase;
      font-weight: 600; }

.campaign-headline-second {
  position: relative;
  padding-bottom: 40px;
  padding-top: 30px;
  text-align: center; }
  .campaign-headline-second h1 {
    color: #fff;
    margin: 0;
    position: relative;
    font-size: 34px;
    font-size: 3.4rem;
    font-weight: 500;
    border-bottom: 10px solid #FFA44B;
    display: inline-block;
    width: 300px;
    line-height: 40px;
    z-index: 2; }
    .campaign-headline-second h1 > span {
      position: relative;
      z-index: 2;
      background: #fff;
      display: inline-block;
      padding: 0 10px;
      color: #111;
      top: -8px; }
      .campaign-headline-second h1 > span:before {
        content: "";
        display: block;
        position: absolute;
        left: -40px;
        top: 0;
        border-width: 20px;
        border-style: solid;
        border-color: transparent #fff transparent transparent; }
      .campaign-headline-second h1 > span:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -40px;
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent transparent #fff; }
    .campaign-headline-second h1:before {
      content: "";
      display: block;
      border-width: 8px;
      border-style: solid;
      border-color: transparent #DB7B1C #DB7B1C transparent;
      position: absolute;
      left: 0;
      bottom: 0px; }
    .campaign-headline-second h1:after {
      content: "";
      display: block;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent #DB7B1C #DB7B1C;
      position: absolute;
      right: 0;
      bottom: 0px; }
    .campaign-headline-second h1 .wood-top {
      position: absolute;
      bottom: 0;
      left: 16px;
      right: 16px;
      height: 16px;
      background-color: #DB7B1C;
      z-index: 1; }
  .campaign-headline-second h2 {
    color: #fff;
    font-weight: 500;
    font-size: 33px;
    font-size: 3.3rem;
    padding-top: 180px; }
  .campaign-headline-second .deals-wrap {
    position: absolute;
    font-size: 42px;
    font-size: 4.2rem;
    color: #fff;
    left: 50%;
    margin-left: -135px;
    font-weight: 600; }
    .campaign-headline-second .deals-wrap span {
      display: inline-block;
      float: left;
      margin: 0;
      top: 60px;
      position: relative;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-transform-origin: 27px -150px;
      -moz-transform-origin: 27px -150px;
      -ms-transform-origin: 27px -150px;
      -o-transform-origin: 27px -150px;
      transform-origin: 27px -150px;
      box-shadow: inset 0 3px 0 #eb342d, inset 0 -3px 0 #eb342d, inset -3px 0 0 #eb342d, inset 3px 0 0 #eb342d, inset 0 5px 0 #ffb1ab, inset 0 -5px 0 #ffb1ab, inset -5px 0 0 #ffb1ab, inset 5px 0 0 #ffb1ab, -12px 2px 8px rgba(0, 0, 0, 0.3); }
      .campaign-headline-second .deals-wrap span:before {
        content: "";
        position: absolute;
        top: -60px;
        left: 0;
        border-width: 30px 27px 30px;
        border-color: transparent transparent #eb342d transparent;
        border-style: solid;
        -webkit-backface-visibility: visible;
        backface-visibility: visible; }
      .campaign-headline-second .deals-wrap span:after {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #000;
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -5px;
        z-index: 1; }
      .campaign-headline-second .deals-wrap span.d-letter {
        -webkit-animation: swinging 8s infinite ease-in-out 0.1s;
        -moz-animation: swinging 8s infinite ease-in-out 0.1s;
        animation: swinging 8s infinite ease-in-out 0.1s; }
      .campaign-headline-second .deals-wrap span.e-letter {
        -webkit-animation: swinging 8s infinite ease-in-out 0.25s;
        -moz-animation: swinging 8s infinite ease-in-out 0.25s;
        animation: swinging 8s infinite ease-in-out 0.25s; }
      .campaign-headline-second .deals-wrap span.a-letter {
        -webkit-animation: swinging 8s infinite ease-in-out 0.15s;
        -moz-animation: swinging 8s infinite ease-in-out 0.15s;
        animation: swinging 8s infinite ease-in-out 0.15s; }
      .campaign-headline-second .deals-wrap span.l-letter {
        -webkit-animation: swinging 8s infinite ease-in-out 0.27s;
        -moz-animation: swinging 8s infinite ease-in-out 0.27s;
        animation: swinging 8s infinite ease-in-out 0.27s; }
      .campaign-headline-second .deals-wrap span.s-letter {
        -webkit-animation: swinging 8s infinite ease-in-out 0.34s;
        -moz-animation: swinging 8s infinite ease-in-out 0.34s;
        animation: swinging 8s infinite ease-in-out 0.34s; }
  .campaign-headline-second [class*="-letter"] {
    padding: 5px 0 5px;
    width: 54px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #eb342d; }
  .campaign-headline-second .letter-rope {
    position: absolute;
    width: 2px;
    height: 48px;
    background: #fefefe;
    top: -63px;
    left: 50%;
    margin-left: -1px;
    z-index: 2; }

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0); }
  5% {
    -webkit-transform: rotate(10deg) translateX(13px); }
  10% {
    -webkit-transform: rotate(-9deg) translateX(-13px); }
  15% {
    -webkit-transform: rotate(8deg) translateX(10px); }
  20% {
    -webkit-transform: rotate(-7deg) translateX(-10px); }
  25% {
    -webkit-transform: rotate(6deg) translateX(7px); }
  30% {
    -webkit-transform: rotate(-5deg) translateX(-7px); }
  35% {
    -webkit-transform: rotate(4deg) translateX(7px); }
  40% {
    -webkit-transform: rotate(-3deg) translateX(-3px); }
  45% {
    -webkit-transform: rotate(2deg) translateX(3px); }
  50% {
    -webkit-transform: rotate(0); }
  /* Come to rest at 50%. The rest is just stillness */
  100% {
    -webkit-transform: rotate(0); } }
@-moz-keyframes swinging {
  0% {
    -moz-transform: rotate(0); }
  5% {
    -moz-transform: rotate(10deg) translateX(13px); }
  10% {
    -moz-transform: rotate(-9deg) translateX(-13px); }
  15% {
    -moz-transform: rotate(8deg) translateX(10px); }
  20% {
    -moz-transform: rotate(-7deg) translateX(-10px); }
  25% {
    -moz-transform: rotate(6deg) translateX(7px); }
  30% {
    -moz-transform: rotate(-5deg) translateX(-7px); }
  35% {
    -moz-transform: rotate(4deg) translateX(7px); }
  40% {
    -moz-transform: rotate(-3deg) translateX(-3px); }
  45% {
    -moz-transform: rotate(2deg) translateX(3px); }
  50% {
    -moz-transform: rotate(0); }
  /* Come to rest at 50%. The rest is just stillness */
  100% {
    -moz-transform: rotate(0); } }
@keyframes swinging {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  5% {
    -webkit-transform: rotate(10deg) translateX(13px);
    -moz-transform: rotate(10deg) translateX(13px);
    -ms-transform: rotate(10deg) translateX(13px);
    -o-transform: rotate(10deg) translateX(13px);
    transform: rotate(10deg) translateX(13px); }
  10% {
    -webkit-transform: rotate(-9deg) translateX(-13px);
    -moz-transform: rotate(-9deg) translateX(-13px);
    -ms-transform: rotate(-9deg) translateX(-13px);
    -o-transform: rotate(-9deg) translateX(-13px);
    transform: rotate(-9deg) translateX(-13px); }
  15% {
    -webkit-transform: rotate(8deg) translateX(10px);
    -moz-transform: rotate(8deg) translateX(10px);
    -ms-transform: rotate(8deg) translateX(10px);
    -o-transform: rotate(8deg) translateX(10px);
    transform: rotate(8deg) translateX(10px); }
  20% {
    -webkit-transform: rotate(-7deg) translateX(-10px);
    -moz-transform: rotate(-7deg) translateX(-10px);
    -ms-transform: rotate(-7deg) translateX(-10px);
    -o-transform: rotate(-7deg) translateX(-10px);
    transform: rotate(-7deg) translateX(-10px); }
  25% {
    -webkit-transform: rotate(6deg) translateX(7px);
    -moz-transform: rotate(6deg) translateX(7px);
    -ms-transform: rotate(6deg) translateX(7px);
    -o-transform: rotate(6deg) translateX(7px);
    transform: rotate(6deg) translateX(7px); }
  30% {
    -webkit-transform: rotate(-5deg) translateX(-7px);
    -moz-transform: rotate(-5deg) translateX(-7px);
    -ms-transform: rotate(-5deg) translateX(-7px);
    -o-transform: rotate(-5deg) translateX(-7px);
    transform: rotate(-5deg) translateX(-7px); }
  35% {
    -webkit-transform: rotate(4deg) translateX(7px);
    -moz-transform: rotate(4deg) translateX(7px);
    -ms-transform: rotate(4deg) translateX(7px);
    -o-transform: rotate(4deg) translateX(7px);
    transform: rotate(4deg) translateX(7px); }
  40% {
    -webkit-transform: rotate(-3deg) translateX(-3px);
    -moz-transform: rotate(-3deg) translateX(-3px);
    -ms-transform: rotate(-3deg) translateX(-3px);
    -o-transform: rotate(-3deg) translateX(-3px);
    transform: rotate(-3deg) translateX(-3px); }
  45% {
    -webkit-transform: rotate(2deg) translateX(3px);
    -moz-transform: rotate(2deg) translateX(3px);
    -ms-transform: rotate(2deg) translateX(3px);
    -o-transform: rotate(2deg) translateX(3px);
    transform: rotate(2deg) translateX(3px); }
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  /* Come to rest at 50%. The rest is just stillness */
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }
.application-wrap {
  padding: 30px 13%;
  position: relative;
  z-index: 2; }
  .application-wrap .application-content {
    margin-bottom: 30px; }
  .application-wrap .content__header {
    background: #eb342d;
    padding: 14px 15px;
    font-size: 17px;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    border-radius: 4px 4px 0 0;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
  .application-wrap .content__body {
    background: #fff; }

.application-card {
  margin: 0; }
  .application-card > li {
    padding: 20px 150px 20px 190px;
    background: none;
    border-bottom: 1px solid #e5e9eb;
    position: relative;
    cursor: pointer;
    box-shadow: inset -130px 0 0 #fcf7e9; }
    .application-card > li ul {
      margin-bottom: 0; }
    .application-card > li:hover .application-card__select {
      border-color: #a96364; }
    .application-card > li:hover .application-card__select-tip {
      -webkit-animation: bounce 0.9s ease-in infinite;
      -moz-animation: bounce 0.9s ease-in infinite;
      animation: bounce 0.9s ease-in infinite; }
  .application-card h5 {
    color: #000;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 0;
    line-height: 1.3; }
  .application-card h6 {
    color: #eb342d;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400; }
  .application-card__img {
    position: absolute;
    left: 20px;
    top: 24px; }
  .application-card__select {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid #C49495;
    background: transparent;
    border-radius: 50%;
    right: 40px;
    top: 50%;
    margin-top: -25px; }
    .application-card__select:before {
      position: absolute;
      content: '';
      width: 56px;
      height: 56px;
      background: #59b545 url(../img/campaign/hsbc-ph/bpi-card-select.png) center no-repeat;
      display: block;
      background-size: 17px, 18px;
      left: -3px;
      top: -3px;
      border-radius: 50%;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear;
      -moz-transition: -moz-transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear;
      transition: transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear; }
    .card--selected .application-card__select:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .application-card__select .application-card__select-tip {
      font-size: 11px;
      position: absolute;
      text-align: center;
      width: 100%;
      top: -28px;
      left: -6px;
      background: #C543A6;
      padding: 2px 5px;
      border-radius: 2px;
      color: #fff; }
      .application-card__select .application-card__select-tip:after {
        position: absolute;
        width: 0;
        height: 0;
        border: 3px solid;
        border-color: #C543A6 transparent transparent;
        top: 100%;
        content: '';
        left: 50%;
        margin-left: -3px; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0); }
  20% {
    -webkit-transform: translateY(-25px); }
  30% {
    -webkit-transform: translateY(-25px); }
  40% {
    -webkit-transform: translateY(0);
    padding-top: 0; }
  50% {
    -webkit-transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(0);
    padding-top: 0; }
  70% {
    -webkit-transform: translateY(-8px); }
  80% {
    -webkit-transform: translateY(0);
    padding-top: 0; } }
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0); }
  20% {
    -moz-transform: translateY(-25px); }
  30% {
    -moz-transform: translateY(-25px); }
  40% {
    -moz-transform: translateY(0);
    padding-top: 0; }
  50% {
    -moz-transform: translateY(-15px); }
  60% {
    -moz-transform: translateY(0);
    padding-top: 0; }
  70% {
    -moz-transform: translateY(-8px); }
  80% {
    -moz-transform: translateY(0);
    padding-top: 0; } }
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px); }
  30% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px); }
  40% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; }
  50% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; }
  70% {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  80% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 0; } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes floating {
  0% {
    -moz-transform: translateY(0); }
  50% {
    -moz-transform: translateY(-15px); }
  100% {
    -moz-transform: translateY(0); } }
@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
#cc-app-form {
  padding: 20px; }
  #cc-app-form .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ebca6c;
    position: relative;
    background: #F5F3ED;
    padding: 5px 10px; }
    #cc-app-form .form-control:focus {
      background: #faf2dc;
      border-bottom: 1px solid #bd931a; }
    #cc-app-form .form-control.error {
      background: #F7DEDE; }
  #cc-app-form .picked {
    padding: 10px;
    border: 3px solid #c8eddb;
    background: #ebf8f2; }
  #cc-app-form .control-label {
    display: block; }

.application-submitted {
  text-align: center;
  position: relative;
  display: none;
  padding-bottom: 85px; }
  .application-submitted__content {
    padding: 20px;
    background-image: -webkit-linear-gradient(#59b545, #16a220 100%);
    background-image: linear-gradient(#59b545, #16a220 100%); }
    .application-submitted__content h2 {
      color: #fff;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      text-transform: uppercase; }
    .application-submitted__content h4 {
      color: #0A5E03;
      margin-bottom: 0; }

.btn-cc-submit {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  background: #3AAF77;
  border: 1px solid #2d895d;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  .btn-cc-submit:hover {
    background: #2bbe78; }

.required {
  color: red; }

.bpi-footer {
  background: url(../img/campaign/hsbc-ph/building-ph.svg) bottom center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px; }
  .no-svg .bpi-footer {
    background: url(../img/campaign/hsbc-ph/building-ph.svg) bottom center no-repeat; }

label.error {
  font-size: 12px;
  font-size: 1.2rem;
  color: #da4f49;
  display: block; }

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media (max-width: 1020px) {
  body {
    min-width: 0;
    padding: 0 10px; }

  #page, .ct-wrapper {
    width: auto; } }
@media (max-width: 767px) {
  .application-wrap {
    width: auto;
    padding-left: 10px;
    padding-right: 10px; }

  .application-card .application-card__img {
    width: 100px; }

  .campaign-logo {
    position: relative;
    left: auto;
    right: auto;
    margin: 0 auto;
    top: auto;
    padding-bottom: 20px; }

  .application-card > li {
    padding-left: 135px; } }
@media (max-width: 550px) {
  .campaign-logo {
    background-size: 100px 19px;
    width: 100px;
    height: 19px; }

  body.page-campaign-hsbc-cards {
    padding: 0; }

  .page-campaign-hsbc-cards #page {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto; }

  .campaign-headline-first h1 {
    font-size: 29px;
    font-size: 2.9rem; }

  .campaign-headline-second h1 {
    width: 280px; }

  .campaign-headline-second h2 {
    font-size: 26px;
    font-size: 2.6rem; }

  #bpi-app-form {
    padding: 10px; }

  .campaign-cc-body {
    padding-bottom: 20px;
    min-height: 600px; }

  .application-card .application-card__img {
    left: auto;
    top: 15px; }

  .campaign-headline-second {
    padding-bottom: 10px; }

  .application-card > li {
    box-shadow: inset -80px 0 0 #fcf7e9; }

  .application-card > li {
    padding-left: 15px;
    padding-top: 90px;
    padding-right: 90px; }

  .application-card__select {
    right: 14px; }

  .application-submitted__content {
    padding: 15px; } }
