/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.table-homeloan-v2 [data-column="0"] {
  width: 18%; }
.table-homeloan-v2 [data-column="1"] {
  width: 13.5%; }
.table-homeloan-v2 [data-column="2"] {
  width: 19%; }
.table-homeloan-v2 [data-column="5"] {
  width: 12%; }

del, del.extra-info {
  color: #da4f49; }
