/* base font color */
/* lighter font color */
.table-travelinsurance-takaful td, .table-travelinsurance-conventional td {
  width: 10%; }
.table-travelinsurance-takaful [data-column="0"], .table-travelinsurance-takaful .apply-col, .table-travelinsurance-conventional [data-column="0"], .table-travelinsurance-conventional .apply-col {
  width: 15%; }

.table-pai-takaful [data-column="0"], .table-pai-conventional [data-column="0"] {
  width: 18%; }
.table-pai-takaful .apply-col, .table-pai-conventional .apply-col {
  width: 15%; }

.table-carinsurance td:first-child {
  width: 12%; }
.table-carinsurance .apply-col {
  width: 15%; }
.table-carinsurance [data-column="1"] {
  width: 18%; }
.table-carinsurance [data-column="2"] {
  width: 32%; }
.table-carinsurance [data-column="2-1"] {
  width: 16%; }
.table-carinsurance [data-column="4"], .table-carinsurance [data-column="5"] {
  width: 11.5%; }

.page-carinsurance__carimage {
  border: 5px solid #dee5e9;
  box-shadow: 0 1px 0 #c5d2d8; }

#enquire-form {
  display: none; }

.no-js #btn-advance-filter {
  display: none; }
