/* label color */
.label.label-best, .label.label-price, .label.label-intermediate {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 8px 4px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    line-height: 1;}
.label.label-best {
    background-color: #EA6D5B; }
.label.label-price {
    background-color: #B0C86E; }
.label.label-intermediate {
    background-color: #427FAA; }

#page-header.medinsurance {
    background: #42BCEA url(../img/medicalinsurance/header-medicalinsurance.png) no-repeat right top;
    background-size: 163px auto;
    border-bottom: solid 3px #297ABB;
    color: #E7F7FF; }
    #page-header.medinsurance h1 {
        margin-bottom: 5px;
        font-weight: 200;
        color: #fff; }
    #page-header.medinsurance h1 b {
        font-weight: 400; }
    #page-header.medinsurance p {
        margin-bottom: 0px; }
    #page-header.medinsurance p b {
        color: #F3FBFF; }

section.medins {
    border-bottom: solid 1px #CACED0;
    position: relative;
    padding-top: 30px;
    -webkit-transition: box-shadow .3s linear;
    -o-transition: box-shadow .3s linear;
    -moz-transition: box-shadow .3s linear;
    -ms-transition: box-shadow .3s linear;
    transition: box-shadow .3s linear; }
    section.medins:hover {
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3); }
    section.medins:last-child {
        border-bottom: none; }
    section.medins .medins-header {
        border-bottom: solid 1px #E3E3E3; }
        section.medins .logo-insurer {
            width: 58px;
            display: inline-block;}
        section.medins h1 {
            font-size: 20px;
            font-size: 2.0rem; 
            font-weight: 400;
            padding-left: 10px;
            color: #40ADE1; }
        section.medins h2 {
            font-size: 34px;
            font-size: 3.4rem;
            text-align: right;
            color: #434C55; }
            section.medins h2 span {
                font-size: 14px;
                font-size: 1.4rem;
                color: #787878; }
    section.medins .medins-claim>div {
        border-right: solid 1px #F1F1F1;
        width: 200px;
        padding: 0 25px;
        margin: 20px 0; }
        section.medins .medins-claim>div:first-child {
            width: 130px;
            padding: 0px; }
        section.medins .medins-claim>div:last-child {
            width: 155px;
            padding-right: 0px;
            border-right: none; }
        section.medins .medins-claim strong {
            display: block; }
    section.medins .medins-feature div.feature-header {
        background-color: #BFE0ED;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: 500;
        padding: 5px 10px;
        display: inline-block;
        position: relative;
        color: #434C55;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0; }
        section.medins .medins-feature div.feature-header:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 3px;
            right: -12px;
            border-style: solid;
            border-width: 26px 0 0 12px;
            border-color: transparent transparent transparent #BFE0ED; }
        section.medins .medins-feature div.block-wrapper {
            padding: 15px;
            margin-bottom: 20px; }
            section.medins .medins-feature ul {
                position: relative; }
                section.medins .medins-feature ul li {
                    background: none;
                    padding-left: 25px;
                    margin-bottom: 5px; }
                section.medins .medins-feature ul li.good:before,
                section.medins .medins-feature ul li.bad:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background: url(../img/medicalinsurance/icon_sprite.png) no-repeat;
                    background-size: 16px 48px;
                }
                section.medins .medins-feature ul li.good:before {
                    background-position: 0 -16px; }
                section.medins .medins-feature ul li.bad:before {
                    background-position: 0 -32px; }

section.medins .medins-coverage {
    background-color: #F8F9F9;
    display: none; }
    section.medins .medins-coverage h3 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: 500;
        padding-bottom: 3px;
        margin-bottom: 8px;
        color: #434C55;
        border-bottom: solid 1px #D5D9DC; }
    section.medins .medins-coverage ul li {
        background: none;
        position: relative;
        font-weight: 400;
        line-height: 1.8;
        padding-bottom: 5px; }
        section.medins .medins-coverage ul li:before {
            content: "";
            display: inline-block;
            position: absolute;
            background-color: #D0D6D9;
            top: 7px;
            left: 0;
            border-radius: 50%;
            width: 5px;
            height: 5px; }
        section.medins .medins-coverage ul li ul {
            margin-bottom: 0px; }
        section.medins .medins-coverage ul li ul li {
            color: #909ba3;
            padding-bottom: 0px;
            padding-left: 25px;
            line-height: 1.3; }
            section.medins .medins-coverage ul li ul li:before {
                top: 5px;
                width: 16px;
                height: 16px;
                border-radius: 0;
                background: url(../img/medicalinsurance/icon_sprite.png) no-repeat top;
                background-size: 16px 48px; }
            section.medins .medins-coverage ul li ul li span {
                font-size: 12px;
                font-size: 1.2rem;
                font-style: italic; }
    section.medins .medins-coverage p.moredetails {
        text-align: right;
        margin-bottom: 0px; }
        section.medins .medins-coverage p.moredetails a {
            position: relative;
            padding-right: 10px; }
            section.medins .medins-coverage p.moredetails a:after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 5px;
                right: -5px;
                border-style: solid;
                border-width: 4px 0 4px 5px;
                border-color: transparent transparent transparent #40aee1; }
    section.medins.emptystate {
        display: none; }
        section.medins.emptystate:hover {
        -webkit-box-shadow: none;
        box-shadow: none; }

div.block-content div.block-cal {
    border-bottom: solid 1px #E5E9EB;
    padding: 10px 16px; }
    div.block-content div.block-cal span.label {
        margin: 0 0 10px 10px;}
    div.block-content a.btn-advanced {
        position: relative;
        cursor: pointer; }
        div.block-content a.btn-advanced:after {
            content: "";
            display: inline-block;
            margin-left: 6px;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            border-color: #40aee1 transparent transparent transparent; }
    div.block-content div.advanced {
        display: none; }

/***** product page *****/
.bt-bluebar {
    border-top: 3px #297ABB solid !important; }

section#medins-package .medins-coverage {
    background-color: #F8F9F9; }
    section#medins-package .medins-coverage div {
        border-right: solid 1px #DCDCDC;
        padding: 0 30px 0 25px;
        margin: 30px 0; }
        section#medins-package .medins-coverage div:first-child {
            width: 36%; }
        section#medins-package .medins-coverage div:last-child {
            border-right: none; }
        section#medins-package .medins-coverage h4 {
            position: relative;
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: 600;
            margin: 0px; }
            section#medins-package .medins-coverage h4 + h4 {
                margin-top: 8px; }
            section#medins-package .medins-coverage h4.good,
            section#medins-package .medins-coverage h4.bad {
                padding-left: 22px; }
                section#medins-package .medins-coverage h4.good:before,
                section#medins-package .medins-coverage h4.bad:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0px;
                    width: 16px;
                    height: 16px;
                    background: url(../img/medicalinsurance/icon_sprite.png) no-repeat;
                    background-size: 16px 48px; }
                section#medins-package .medins-coverage h4.good:before {
                    background-position: 0 -16px; }
                section#medins-package .medins-coverage h4.bad:before {
                    background-position: 0 -32px; }

section#medins-package .medins-table th {
    border-bottom: solid 1px #E5E9EB; }
    section#medins-package .medins-table th:first-child {
        border-left: solid 1px #e5e9eb; }
    section#medins-package .medins-table tr:first-child th:first-child {
        border-left: none; }
    section#medins-package .medins-table td.block-green {
        background: #b0c86e; /* Old browsers */
        background: -moz-linear-gradient(top,  #b0c86e 65%, #a8bf69 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,#b0c86e), color-stop(100%,#a8bf69)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #b0c86e 65%,#a8bf69 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #b0c86e 65%,#a8bf69 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #b0c86e 65%,#a8bf69 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #b0c86e 65%,#a8bf69 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0c86e', endColorstr='#a8bf69',GradientType=0 ); /* IE6-9 */ }
    section#medins-package .medins-table th.block-lightgrey {
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top,  #fdfdfd 60%, #f6f6f6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fdfdfd 60%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fdfdfd 60%,#f6f6f6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fdfdfd 60%,#f6f6f6 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fdfdfd 60%,#f6f6f6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */ }
section#medins-package .medins-table tr:last-child td {
    border-bottom: none; }
section#medins-package .medins-table tr.highlight td {
    background-color: #F6F8F9;
    border-top: solid 3px #B0DEF1; }
section#medins-package .medins-table tr.highlight:hover td {
    background-color: #f3f3f3; }
section#medins-package .medins-table tr.bb0 td {
    border-bottom: none; }
section#medins-package .medins-table h2 {
    font-size: 34px;
    font-size: 3.4rem;
    font-weight: 200; }
    section#medins-package .medins-table h2 span {
        font-size: 14px;
        font-size: 1.4rem;
        color: #787878; }
section#medins-package .medins-table td span.good {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/medicalinsurance/icon_sprite.png) no-repeat 0px -17px;
    background-size: 16px 48px; }
/* section#medins-package .medins-table td span.bad {
//    width: 16px;
//    height: 16px;
//    display: inline-block;
//    background: url(../img/medicalinsurance/icon_sprite.png) no-repeat 0px -33px ;
//    background-size: 16px 48px; }*/
section#medins-package .medins-table .alert,
section#medins-package .medins-table div.alert-na {
    display: none; }
section#medins-package .medins-table .alert.show,
section#medins-package .medins-table div.alert-na.show {
    display: block; }
section#medins-package .medins-table table.alert-na {
    opacity: .2; }
section#medins-package .medins-table div.alert-na {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 20px 30px;
    margin: 90px 110px;
    border: solid 1px #cfcfcf;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.2);
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.2); }

/***** bank page *****/
.bb-bluebar {
    border-bottom: 3px #297ABB solid !important; }

section#medins-info {
    border-bottom: 1px #E3E3E3 solid;
    margin: 20px 30px; }
    section#medins-info div {
        position: relative;
        padding-left: 50px;
        margin: 0px 0px 20px 20px;
        border-right: solid 1px #F1F1F1; }
        section#medins-info div:first-child {
            margin-left: 0px;
            padding-left: 50px; }
        section#medins-info div:last-child {
            border-right: none; }
        section#medins-info div.hospital {
            width: 22%; }
        section#medins-info div.max-age {
            width: 24%; }
        section#medins-info div.co-ins {
            width: 19%; }
        section#medins-info div.renewal {
            width: 28%; }
        section#medins-info div:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 7px;
            left: 0px;
            width: 35px;
            height: 40px;
            background: url(../img/medicalinsurance/info_icons.png) no-repeat;
            background-size: auto 38px; }
            section#medins-info div.hospital:before {
                background-position: 0px 0px; }
            section#medins-info div.max-age:before {
                background-position: -34px 0px; }
            section#medins-info div.co-ins:before {
                background-position: -69px 0px; }
            section#medins-info div.renewal:before {
                background-position: -106px 0px; }
    section#medins-info h4 {
        font-size: 18px;
        font-size: 1.8rem;
        margin: 5px 0 0; }
        section#medins-info h4 span {
            display: inline-block;
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: 400; }

table#medins-plan {
    border: none; }
    table#medins-plan tbody td:first-child {
        border-left: solid 1px #E5E9EB; }
    table#medins-plan tbody td:last-child,
    table#medins-plan tfoot td:last-child {
        border-right: solid 1px #E5E9EB; }
    section#medins-package table#medins-plan tbody tr:last-child td,
    section#medins-package table#medins-plan tfoot tr:last-child td {
        border-bottom: solid 1px #E5E9EB; } 
    section#medins-package table#medins-plan tfoot tr td:first-child {
        border-bottom: none; }
    table#medins-plan tbody td + td {
        padding: 6px 20px; }
    table#medins-plan tbody tr:nth-child(1) td + td {
        padding:6px 12px; }
    table#medins-plan th {
        font-weight: 400;
        color: #fff; }
        table#medins-plan th.block-green {
            background-image: none;
            background-color: #B0C86E; }
        table#medins-plan th.block-blue {
            background-color: #427FAA; }
        table#medins-plan th.block-red {
            background-color: #EA6D5B; }
        table#medins-plan td {
            background-color: transparent; }
            table#medins-plan .hover {
                position: relative;
                background-color: #FAFCFD; }
            table#medins-plan tr.hover {
                background-color: transparent; }

section#medins-package div#map {
    position: relative; }
section#medins-package div#map h3 {
    font-weight: 700; }
    section#medins-package div#map h3 span {
        font-weight: 300; }
    section#medins-package div#map .searchpanel {
        border: solid 1px #E5E9EB;
        -webkit-border-radius: 8px 8px 0 0;
        border-radius: 8px 8px 0 0; }