/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

html {
  overflow-x: hidden; }

body {
  background: #1d9fca url(../img/medical-smartfilter/bg.jpg) top center repeat;
  background-size: 42px;
  overflow-x: hidden; }

.ct-wrapper {
  position: relative; }

/****************************
	HEADER
*****************************/
.top {
  padding: 20px 0;
  background: #fff;
  border-bottom: solid 9px #0767AA;
  position: relative;
  z-index: 1; }
  .top-logo {
    height: 27px;
    width: 150px;
    background: url(../img/imoney-malaysia-logo.svg) no-repeat;
    -webkit-background-size: 150px 27px;
    background-size: 150px 27px;
    display: block; }
    .no-svg .top-logo {
      background-image: url(../img/imoney-malaysia-logo.png); }
  .top-skiplink {
    position: absolute;
    right: 0;
    font-size: 11px;
    font-size: 1.1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.header-filter {
  padding: 10px 0 30px;
  color: #fff;
  position: relative; }
  .header-filter:before {
    content: '';
    position: absolute;
    height: 420px;
    width: 309px;
    background: url(../img/medical-smartfilter/stethoscope.png) no-repeat;
    background-size: 309px auto;
    top: 220px;
    left: -50px; }
  .header-filter h1, .header-filter h2 {
    color: #fff; }
  .header-filter h1 {
    font-weight: 700;
    font-size: 36px;
    font-size: 3.6rem;
    margin-bottom: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .header-filter h2 {
    font-size: 16px;
    font-size: 1.6rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 0; }
  .header-filter .header-doc {
    position: relative; }
  .header-filter .header-doc:after {
    content: '';
    position: absolute;
    height: 187px;
    width: 70px;
    background: url(../img/medical-smartfilter/doc.png) no-repeat;
    background-size: 70px auto;
    top: 10px;
    right: 5px; }
  .header-filter .header-doc span {
    min-width: 100px;
    position: absolute;
    display: inline-block;
    top: 80px;
    right: 80px;
    background-color: #73D3F4;
    color: #314F5D;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 6px 15px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear; }
    .header-filter .header-doc span:before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      right: 8px;
      width: 26px;
      height: 22px;
      background: url(../img/medical-smartfilter/doc-bubble.png) no-repeat;
      background-size: 22px; }
    .header-filter .header-doc:hover span {
      -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); 
      top: 76px;}

/****************************
	SLIDES
*****************************/
.slide-shadow {
  box-shadow: 0 0 25px rgba(0,0,0,.3);}
.slide {
  box-shadow: inset 60px 0 0 #f1f8fa;
  position: relative; }
  .slide-progressbar {
    position: absolute;
    top: 0;
    width: 0;
    height: 5px;
    background-color: #71e5e9;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    transition: width 1s ease-out; }
  .slide-arrowback {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    background: url(../img/medical-smartfilter/arrow-back.png) 20px center no-repeat;
    -webkit-background-size: 14px 26px;
    background-size: 14px 26px;
    top: 430px;
    left: 0; }
    .lt-ie9 .slide-arrowback {
      background-image: url(../img/medical-smartfilter/arrow-back-1x.png); }
  .slide-active {
    box-shadow: inset 60px 0 0 #06456b;
    opacity: 1 !important; }
    .slide-active .question-title span {
      color: #fff; }

.question {
  padding: 30px 30px 30px 60px;
  border-bottom: 1px solid #e5e9eb;
  -webkit-transition: box-shadow 0.5s ease-out, opacity 0.3s linear;
  -moz-transition: box-shadow 0.5s ease-out, opacity 0.3s linear;
  transition: box-shadow 0.5s ease-out, opacity 0.3s linear;
  opacity: 0.5; }
  .no-js .question, .question:hover, .question.slide-submit {
    opacity: 1; }
  .question-title {
    font-weight: 700;
    position: relative;
    margin-left: 20px;
    color: #06456b;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #e5e9eb;
    padding-bottom: 10px; }
    .question-title span {
      position: absolute;
      left: -55px; }
  .question-content {
    margin: 20px; }

.btn-medfilter, .btn-medfilter-last {
  background-color: #2dbcc1;
  font-weight: 700;
  border: none;
  border-radius: 5px; }
  .btn-medfilter:hover, .btn-medfilter:active, .btn-medfilter:focus {
    background-color: #28a8ac; }
.btn-medfilter-last {
  background-color: #FBD062;
  color: #79622E;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 3px 24px 7px;
  text-shadow: none; }
  .btn-medfilter-last:hover, .btn-medfilter-last:active {
    background-color: #E8B651;
    color: #604D22; }

.btns-marital li {
  width: 110px;
  height: 100px;
  float: left;
  margin-right: 10px;
  padding: 0;
  position: relative; }
  .btns-marital label, .btns-marital input,
  .btns-insuree label, .btns-insuree input,
  .btns-concern label, .btns-concern input,
  .btns-radio label, .btns-radio input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0; }
  .btns-marital input[type="radio"],
  .btns-insuree input[type="radio"],
  .btns-concern input[type="radio"],
  .btns-radio input[type="radio"] {
    opacity:0.011;
    z-index:100; }
  .btns-marital input[type="radio"]:checked + label,
  .btns-insuree input[type="radio"]:checked + label,
  .btns-concern input[type="radio"]:checked + label,
  .btns-radio input[type="radio"]:checked + label {
    background-color: #2DBCC1; }
  .btns-marital label, .btns-insuree label, .btns-concern label, .btns-radio label {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.2);
    box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.2);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    text-align: center;
    cursor:pointer;
    z-index:90;
    padding-top: 62px;
    background-color: #D8D8D8;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff; }
    .btns-marital label:hover,
    .btns-insuree label:hover,
    .btns-concern label:hover,
    .btns-radio label:hover {
      background-color: #ccc; }
  .icon-single, .icon-married, .icon-marriedwithchildren,
  .icon-myself, .icon-mychild, .icon-myparents,
  .icon-providers, .icon-illness, .icon-bills, .icon-travels {
    background: url(../img/medical-smartfilter/btn-icons.png) no-repeat;
    background-size: 570px auto; }
    .icon-single { background-position: 45px 16px; }
    .icon-married { background-position: -70px 16px; }
    .icon-marriedwithchildren { background-position: -184px 16px;  }
  /* multiple line button */
  .btns-marital label.icon-marriedwithchildren {
    padding-top: 57px; line-height: 0.9; }
    .btns-marital label.icon-marriedwithchildren span,
    .btns-insuree label.icon-myparents span {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: 200; }

.btns-insuree li {
  width: 220px;
  min-height: 40px;
  margin: 0 10px 10px 36px;
  padding: 0;
  position: relative; }
  .btns-insuree input[type="radio"]:checked + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -35px;
    width: 26px;
    height: 32px;
    background: url(../img/medical-smartfilter/icon-shield.png) no-repeat;
    background-size: 26px auto; }
  .btns-insuree label {
    text-align: left;
    padding: 5px 0px 0px 50px; }
    .icon-myself { background-position: 13px -92px; }
    .icon-mychild { background-position: -263px -95px; }
    .icon-myparents { background-position: -535px -90px;  }
  /* multiple line button */
  .btns-insuree label.icon-myparents {
    height: 45px; padding-top: 12px; line-height: 0.9; }

.btns-concern li {
  width: 200px;
  height: 236px;
  float: left;
  margin-right: 15px;
  padding: 0;
  position: relative; }
  .btns-concern li:last-child { margin-right: 0px; }
  .icon-providers { background-position: 65px -175px; }
  .icon-illness { background-position: -140px -175px; }
  .icon-bills { background-position: 75px -272px; }
  .icon-travels { background-position: -140px -275px; }
.btns-concern label {
  background-color: #B4C3C5;
  padding-top: 90px; }
.btns-concern label:hover {
  background-color: #9DB2B5; }
.btns-concern label:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -12px;
  left: -12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 3px #B4C3C5;
  background: #fff no-repeat 6px 6px;
  background-size: 15px auto;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;}
.btns-concern input[type="radio"]:checked + label {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1); }
.btns-concern input[type="radio"]:checked + label:before {
  width: 30px;
  height: 30px;
  top: -13px;
  left: -13px;
  border-color: #2DBCC1;
  background: #fff url(../img/medical-smartfilter/icon-tick.png) no-repeat 6px 7px;
  background-size: 17px auto; }
.btns-concern label p {
  height: 109px;
  margin-top: 10px;
  background-color: #fff;
  border: solid 1px #B4C3C5;
  border-top: none;
  color: #5D5D5D; 
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 200;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px; }

.btns-radio li {
  width: 100px;
  height: 40px;
  float: left;
  padding: 0;
  position: relative; }
  .btns-radio label {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-top: 5px; }
  .btns-radio li:first-child label {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }
  .btns-radio li:last-child label {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

.block-grey {
  width: 280px;
  padding: 10px 15px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 200;
  color: #5D5D5D; }
  .block-grey p {
    display: table-cell; }
  .icon-info {
    width: 12px;
    height: 14px;
    display: table-cell;
    padding-right: 10px;
    background: url(../img/medical-smartfilter/icon-info.png) no-repeat 0px 4px;
    background-size: 12px auto; }

.noUi-target {
    border: none;
    box-shadow: none;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
.noUi-origin {
    border-radius: 10px; }
.noUi-background {
    background-color: #D8D8D8;
    box-shadow: none; }
.noUi-horizontal {
    height: 20px; }
.noUi-connect {
    background: #FBD062;
    box-shadow: none; }
.noUi-handle {
    -webkit-border-radius: 50%;
    border-radius: 50%; }
.noUi-horizontal .noUi-handle {
    width: 37px;
    height: 37px;
    border: solid 1px #979797;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ffffff 0%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ffffff 0%,#dadada 100%); /* IE10+ */
    background: linear-gradient(135deg,  #ffffff 0%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.noUi-handle:before, .noUi-handle:after {
    width: 15px;
    left: 10px; }
.noUi-handle:before {
    height: 9px;
    background: transparent;
    border: solid 1px #979797;
    border-left: none;
    border-right: none;
    top: 12px; }
.noUi-handle:after {
    height: 1px;
    top: 17px;
    background-color: #979797; }
.tooltip {
	display: block;
	position: absolute;
    -webkit-border-radius: 12px;
	border-radius: 12px;
	background: #727272;
    font: 300 14px/1.4rem 'Roboto', 'Helvetica Neue', Arial, san-serifs;
    color: #fff;
	top: 50px;
    width: 125px; }
.tooltip:before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 48px;
    border-style: solid;
    border-width: 0 4px 7px 4px;
    border-color: transparent transparent #727272 transparent; }
.tooltip span {
    display: inline-block;
    float: left;
    padding: 5px;
    text-align: center;}
.tooltip strong {
	display: inline-block;
    float: left;
    background-color: #444444;
    font-weight: 500;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-border-radius: 12px 0 0 12px;
	border-radius: 12px 0 0 12px;
    padding: 5px 5px 5px 10px; }
#salary .tooltip, #premium .tooltip {
    width: 100px;
    left: -35px; }
#salary .tooltip span, #premium .tooltip span {
    width: 100px;
    margin: 0 auto; }
/***
#premium .noUi-handle-lower .tooltip {
    right: 0; }
#premium .noUi-handle-lower .tooltip:before {
    left: 103px;
    right: 14px; }
#premium .noUi-handle-upper .tooltip:before {
    left: 14px;
    right: 103px; }
#premium .noUi-handle-upper .tooltip span {
    padding-left: 10px; }
#premium .noUi-handle-upper .tooltip strong {
    float: right;
    -webkit-border-radius: 0 12px 12px 0;
	border-radius: 0 12px 12px 0;
    padding: 5px 10px 5px 5px; }
***/

.control-label {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 500; }
  .form-horizontal .control-label {
    text-align: left; }
  .control-label span {
    font-weight: 200;
    font-size: 14px;
    font-size: 1.4rem;
    color: #D8D8D8; }

input[type="text"],
input[type="email"],
input[type="tel"] {
  height: 35px;
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 2px;
  border: solid 1px #D8D8D8;
  -webkit-box-shadow: none;
  box-shadow: none;}
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    border: solid 1px #2DBCC1; }
  ::-webkit-input-placeholder {
   font-weight: 200; }
  :-moz-placeholder { /* Firefox 18- */
   font-weight: 200; }
  ::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 200; }
  :-ms-input-placeholder {  
   font-weight: 200; }

.form-control.valid {
  border-color: #59b259; }

.form-control.error {
  border-color: #da4f49; }

label.error {
  color: #da4f49; }

#btn-form {
  outline: none; }

[data-question="5"]:before {
  content: '';
  position: absolute;
  width: 264px;
  height: 492px;
  right: 0px;
  bottom: -58px;
  z-index: 10;
  background: url(../img/medical-smartfilter/human.png) no-repeat bottom right;
  -webkit-background-size: 264px 492px;
  background-size: 264px 492px; }
  .lt-ie9 [data-question="5"]:before {
    background-image: url(../img/medical-smartfilter/human-1x.png); }

@media (max-width: 479px) {
  .slide {
    box-shadow: inset 5px 0 0 #f1f8fa; }
    .slide-active {
      box-shadow: inset 5px 0 0 #06456b; }

  .question {
    padding: 20px 10px; }
    .question-title {
      margin-right: 20px; }
      .question-title span {
        position: static; }
        .slide-active .question-title span {
          color: #06456b; }

  .question-quantity {
    left: auto;
    right: 16px; } }
.slick-slider {
  margin-bottom: 0; }
  .slick-slider .question {
    border-bottom: none; }

.footnote, .footnote p {
  color: #f1f8fa; }

.footnote-callme {
  text-align: right; }
  .footnote-callme a {
    color: #fff; }
  .footnote-callme h4 {
    font-weight: 400;
    font-size: 18px;
    font-size: 1.8rem; }
    .footnote-callme h4 span {
      display: inline-block;
      color: #1d9fca;
      padding: 2px 10px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .footnote-callme .extra-info {
    color: #bde8f6;
    padding-right: 11px; }

#medical-info div {
  position: relative; }
  #medical-info span {
    display: block;
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 28px;
    font-size: 2.8rem;
    color: #D1D7DC; }
  #medical-info p {
    text-align: left;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.4; }

.parsley-error.form-control {
  border-color: #da4f49; }

.parsley-success.form-control {
  border-color: #59b259; }

/****************************
	RWD
*****************************/
@media (max-width: 1000px) {
  body {
    min-width: 0; }

  .ct-wrapper, #page {
    width: auto;
    margin-left: 10px;
    margin-right: 10px; }
  
  .slide-arrowback {
    top: 430px; }

  .question {
    opacity: 1; } }
@media (max-width: 767px) {
  .ct-wrapper div.fl-10 {
    width: 100%; }
  .header-doc, .footnote-callme {
    display: none; }

  .header-filter {
    padding: 20px 0 10px; }
    .header-filter h1 {
      font-size: 30px;
      font-size: 3rem; }

  [data-question="5"]:before {
    display: none; } 

  .slide-arrowback {
    top: auto;
    bottom: 0; } }
@media (max-width: 479px) {
  .top-skiplink span {
    display: none; }

  .question-content [class*="fl-"], .question-content [class*="w-"] {
    width: auto;
    float: none; }
  .question-content [class*="fl-"].control-label {
    margin-bottom: 10px;
    display: block; }

  [class*="fl-offset"] {
    margin-left: 0; }

  .form-figure .figure-output {
    position: static;
    margin-top: 20px;
    margin-left: 0; }
    .question-content-3 .form-figure .figure-output {
      position: absolute;
      left: auto;
      right: 0;
      top: -55px;
      width: auto; } }


/* Jun Han */
#parsley-id-multiple-concern {
  display: inline-block;
  position: static;
}
  #parsley-id-multiple-concern .color-red {
    color: #da4f49;
  }

.filled {
  position: absolute;
}

[data-question="5"] .filled {
  left: 10px;
  top: 8px;
  position: relative;
}