table.table-mobilephone {
  text-align: center; }
  table.table-mobilephone tr td:first-child {
    width: 10%; }
    table.table-mobilephone tr td:first-child img {
      max-width: 60px; }
  table.table-mobilephone tr td:nth-child(2) {
    padding-left: 0;
    text-align: left; }
  table.table-mobilephone tr td:last-child, table.table-mobilephone tr th:last-child {
    text-align: center; }
  table.table-mobilephone .btn-success {
    padding-left: 10px;
    padding-right: 10px; }
  table.table-mobilephone [data-column="2"] {
    width: 15%; }
  table.table-mobilephone [data-column="1"], table.table-mobilephone [data-column="3"] {
    width: 12%; }
  table.table-mobilephone [data-column="5"], table.table-mobilephone [data-column="4"] {
    width: 13%; }
  table.table-mobilephone [data-column="6"] {
    width: 16%; }
