.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.block-news {
  border-bottom: 1px solid #e5e9eb;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .block-news .block-news__thumb {
    width: 100px;
    margin-bottom: 10px; }
    .block-news .block-news__thumb img {
      display: block; }
  .block-news .block-news__content h2 {
    font-weight: 700; }
  .block-news .block-news__meta {
    font-size: 13px;
    font-size: 1.3rem;
    color: #5e6a77;
    margin-bottom: 10px; }
