/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.table-personalloan td {
  text-align: center; }
.table-personalloan [data-column="0"] {
  width: 210px; }
.table-personalloan [data-column="1"] {
  width: 150px; }
.table-personalloan [data-column="2"] {
  width: 110px; }
.table-personalloan [data-column="3"], .table-personalloan [data-column="4"] {
  width: 100px; }

.btn-homeloan-calculate {
  position: relative;
  top: 3px; }

/* personal loan bank page */
/* set a min-width to match the sidebar's height*/
.pl-bankpage__products {
  min-height: 650px; }

.pl-bankpage__product {
  border-top: 1px solid #e5e9eb;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  box-shadow: inset 1px 0 0 transparent;
  position: relative; }
  .pl-bankpage__product:hover {
    box-shadow: inset 1px 0 0 #1d9fca, 0 1px 6px #cad3d7;
    z-index: 1; }
  .pl-bankpage__product:first-child {
    border-top: none; }

.pl-bankpage__product-table table {
  -webkit-box-shadow: 0 0 0 4px #f6f8f9;
  box-shadow: 0 0 0 4px #f6f8f9;
  border-color: #d9dfe2; }
  .pl-bankpage__product-table table td {
    border-color: #d9dfe2; }
  .pl-bankpage__product-table table tr:last-child td {
    border-bottom: none; }
  .pl-bankpage__product-table table .col-detail {
    width: 38%; }

/* lengthen the .slider width to match the sidebar's width*/
.slider {
  width: 290px; }

/* alert */
.pl-bankpage__product-alert {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9); }

.pl-bankpage__product-alert--message {
  width: 60%;
  padding: 20px;
  background-color: #fcf8e3;
  border: 3px solid #dbc59e;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }
