/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-width: initial;
  height: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  background-image: url(../img/cc-petrol-quiz/low-poly-20.png), -webkit-linear-gradient(#7AD3F0, #46A2C8 100%);
  background-image: url(../img/cc-petrol-quiz/low-poly-20.png), linear-gradient(#7AD3F0, #46A2C8 100%);
  background-size: cover;
  overflow-x: hidden;
}
body .header-logo {
  float: none;
  display: inline-block;
}
body .header {
  text-align: center;
  min-width: inherit;
  border-bottom: 8px solid #0767AA;
}

.black-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  bottom: 0;
  z-index: 50;
}

.wrapper {
  width: 715px;
  margin: 0 auto;
}

.quiz-hero {
  padding: 20px 0 30px;
  text-align: center;
  position: relative;
}
.quiz-hero .nozzle {
  width: 98px;
  height: 88px;
  margin: 0 auto;
  background: url(../img/cc-petrol-quiz/nozzle.png);
  background-size: 98px 88px;
}
.quiz-hero h1 {
  color: #fff;
  font-weight: 600;
  font-size: 33px;
  font-size: 3.3rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
}
.quiz-hero h4 {
  color: #07456B;
  font-weight: 300;
  width: 80%;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 auto;
}
.quiz-hero .wrapper {
  position: relative;
  z-index: 2;
}

#page {
  width: 700px;
  border: 2px solid #4291B4;
  border-radius: 5px;
  background: #F0F4F5;
}
#page .road {
  width: 730px;
  background: #484848 url(../img/cc-petrol-quiz/road-line.png) center 50% repeat-x;
  background-size: 586px 2px;
  margin: 0 auto;
  height: 17px;
  position: absolute;
  left: -15px;
  top: 57px;
  z-index: 10;
}
#page .road:before {
  left: 0;
  top: -15px;
  position: absolute;
  content: "";
  border-width: 15px 15px 0 0;
  border-color: transparent #5A7881 transparent transparent;
  border-style: solid;
}
#page .road:after {
  right: 0;
  top: -15px;
  position: absolute;
  content: "";
  border-width: 0 15px 15px 0;
  border-color: transparent transparent #5A7881 transparent;
  border-style: solid;
}
#page .cone {
  background: url(../img/cc-petrol-quiz/cone.png) no-repeat;
  width: 20px;
  height: 25px;
  background-size: 20px 25px;
  display: inline-block;
  position: absolute;
  top: 40px;
  z-index: 12;
}
#page .cone.cone-first {
  left: 16.66666667%;
}
#page .cone.cone-second {
  left: 33.33333%;
}
#page .cone.cone-third {
  left: 50.0%;
}
#page .cone.cone-fourth {
  left: 66.66667%;
}
#page .cone.cone-fifth {
  left: 83.33333%;
}
#page .status-progress {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px black;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #F46A6A;
  z-index: 15;
  color: #111;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#page .status-progress.green-progress {
  background: #49C854 url(../img/cc-petrol-quiz/tick-icon.png) 50% 50% no-repeat;
  box-shadow: 0 0 0 2px #02B65D;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
  display: inline-block;
}
#page .status-progress.green-progress .progress-num-wrapper {
  display: none;
}
#page .status-progress .progress-num-wrapper {
  position: absolute;
  font-size: 14px;
  font-size: 1.4rem;
  top: 50%;
  margin-left: -12px;
  margin-top: -15px;
  left: 50%;
}
#page .status-progress .progress-num {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
}
#page .car-progressbar {
  width: 65px;
  height: 37px;
  background: url(../img/cc-petrol-quiz/car.png) no-repeat;
  background-size: 65px 37px;
  position: absolute;
  top: 28px;
  left: 10px;
  z-index: 11;
  -webkit-transition: 1s ease-out all;
  -moz-transition: 1s ease-out all;
  transition: 1s ease-out all;
}
#page .slide {
  padding-top: 100px;
  box-shadow: none;
  position: relative;
}
#page .slide .question {
  padding: 5px 30px 5px 60px;
}
#page .slide-questions {
  margin-bottom: 0;
}
#page .slide-progressbar {
  position: absolute;
  top: 0;
  width: 0;
  height: 5px;
  background-color: #71e5e9;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  transition: width 1s ease-out;
}
#page .slide-arrowback {
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  background: url(../img/cc-petrol-quiz/arrow-back.png) 20px center no-repeat;
  -webkit-background-size: 14px 26px;
  background-size: 14px 26px;
  bottom: 0;
  left: 0;
}
.lt-ie9 #page .slide-arrowback {
  background-image: url(../img/cc-petrol-quiz/arrow-back-1x.png);
}

.checkbox-items {
  position: relative;
  margin-bottom: 10px;
  padding-left: 0;
}
.checkbox-items:after {
  content: "";
  clear: both;
  display: block;
}
.checkbox-items input {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  z-index: 100;
  opacity: 0.001;
}
.checkbox-items input:hover + .label-quiz {
  background-image: -webkit-linear-gradient(#ffffff, #e8f1f4 100%);
  background-image: linear-gradient(#ffffff, #e8f1f4 100%);
  /*@include transition(.5s ease background);*/
  border-color: #c1c1c1;
  cursor: pointer;
}
.checkbox-items input:checked + .label-quiz {
  background: #63B2DE;
  -webkit-transition: 0.3s ease background;
  -moz-transition: 0.3s ease background;
  transition: 0.3s ease background;
  border-color: #4E8EB1;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.checkbox-items input:checked + .label-quiz:before {
  background: url(../img/cc-petrol-quiz/radio_selected.png);
  background-size: 22px;
}
.checkbox-items .label-quiz {
  background-image: -webkit-linear-gradient(#ffffff, #DFE7EA 100%);
  background-image: linear-gradient(#ffffff, #DFE7EA 100%);
  padding: 8px 10px 8px 50px;
  border: 1px solid #CCD4D7;
  font-size: 16px;
  font-size: 1.6rem;
  color: #3D3D3D;
  position: relative;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  /*@include transition(.5s ease background);*/
  line-height: 20px;
}
.checkbox-items .label-quiz:before {
  content: "";
  width: 22px;
  height: 22px;
  background: url(../img/cc-petrol-quiz/radio_unselected.png);
  background-size: 22px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 10px;
}

.question-content {
  margin: 20px 120px 20px 70px;
}
.question-content .form-group {
  margin-bottom: 8px;
}

.question-title {
  margin: 0px 120px 0 70px;
  border-bottom: 1px dashed #d1d1d1;
  padding-bottom: 5px;
  color: #3D3D3D;
  font-weight: 700;
  position: relative;
}
.question-title .font-sm {
  font-weight: 300;
}
.question-title span {
  position: absolute;
  left: -45px;
}

[data-question="6"] .question-title {
  color: #006498;
}

#btn-last {
  padding: 2px 25px;
}

.btn-ccfilter {
  background-color: #25BCAA;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #1EA090;
  font-weight: 400;
}
.btn-ccfilter:hover {
  background-color: #21a797;
}
.btn-ccfilter.waiting {
  position: relative;
  z-index: 60;
}

.form-horizontal .control-label {
  text-align: left;
}

.copyright {
  color: #07456B;
  font-weight: 500;
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -56px;
}

[data-question="1"], [data-question="2"], [data-question="3"], [data-question="4"], [data-question="5"] {
  position: relative;
  overflow: hidden;
}
[data-question="1"]:after, [data-question="2"]:after, [data-question="3"]:after, [data-question="4"]:after, [data-question="5"]:after {
  background: url(../img/cc-petrol-quiz/tyre.png) 0 0 no-repeat;
  width: 115px;
  height: 101px;
  content: "";
  background-size: 115px 101px;
  position: absolute;
  right: -20px;
  bottom: 0;
  opacity: 0.2;
  z-index: 1;
}

[data-question="2"]:after {
  background-image: url(../img/cc-petrol-quiz/service_icon.png);
  width: 129px;
  hight: 110px;
  background-size: 129px 110px;
}

[data-question="3"]:after {
  background-image: url(../img/cc-petrol-quiz/aircond.png);
  width: 111px;
  height: 126px;
  right: -10px;
  background-size: 111px 126px;
}

[data-question="4"]:after {
  background-image: url(../img/cc-petrol-quiz/boot-items.png);
  width: 198px;
  height: 109px;
  right: -80px;
  background-size: 198px 109px;
}

[data-question="5"]:after {
  background-image: url(../img/cc-petrol-quiz/window-open.png);
  width: 93px;
  height: 74px;
  right: 20px;
  background-size: 93px 74px;
}

#page .slide .question {
  padding: 0 20px;
}

.petrol-thank-you#page {
  width: 600px;
}
.petrol-thank-you#page .road {
  width: 630px;
}
.petrol-thank-you .question-title {
  margin: 0 10px;
  text-align: center;
  font-weight: 400;
  border-bottom: 0;
}
.petrol-thank-you .question-title .petrol-highlight {
  display: block;
  position: relative;
  left: auto;
  color: #3E95C0;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 600;
}
.petrol-thank-you .question-content {
  text-align: center;
  margin: 20px 50px 50px;
  position: relative;
}
.petrol-thank-you .question-content .card-bg {
  background: url(../img/cc-petrol-quiz/gradient-card.png) 0 0 no-repeat;
  position: absolute;
  content: "";
  width: 239px;
  height: 94px;
  left: 50%;
  margin-left: -120px;
}
.petrol-thank-you .question-content img {
  position: relative;
  margin-bottom: 10px;
}
.petrol-thank-you [data-question] {
  overflow: visible;
}
.petrol-thank-you [data-question]:after {
  display: none;
}
.petrol-thank-you .btn-ccfilter {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 24px;
  font-size: 23px;
  font-size: 2.3rem;
  padding-top: 6px;
  padding-bottom: 8px;
  font-weight: 500;
}
.petrol-thank-you .tooltip-card {
  position: absolute;
  background: #EEE2C8;
  padding: 14px 16px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 260px;
  top: 0;
  left: -170px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: pointing 1s ease-out infinite;
  -moz-animation: pointing 1s ease-out infinite;
  animation: pointing 1s ease-out infinite;
}
.petrol-thank-you .tooltip-card:after {
  content: "";
  display: inline-block;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #EEE2C8;
  right: -30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

@-webkit-keyframes pointing {
  0% {
    -webkit-transform: translateX(-10px);
  }
  30% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
  }
}
@-moz-keyframes pointing {
  0% {
    -moz-transform: translateX(-10px);
  }
  30% {
    -moz-transform: translateX(10px);
  }
  100% {
    -moz-transform: translateX(-10px);
  }
}
@keyframes pointing {
  0% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  30% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media (max-width: 800px) {
  .petrol-thank-you .tooltip-card {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    -webkit-animation: 0;
    -moz-animation: 0;
    animation: 0;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.13);
  }
  .petrol-thank-you .tooltip-card:after {
    display: none;
  }
}
@media (max-width: 720px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }

  #page, #page.petrol-thank-you {
    width: 90%;
    position: relative;
  }
  #page .road, #page.petrol-thank-you .road {
    width: 104.8888888%;
  }

  .question-title, .question-content {
    margin-left: 5%;
    margin-right: 5%;
    z-index: 2;
  }

  [data-question]:after {
    display: none;
  }
}
@media (min-width: 601px) {
  #page.petrol-thank-you .status-progress {
    display: none;
  }
}
@media (max-width: 600px) {
  .quiz-hero .nozzle {
    display: none;
  }
  .quiz-hero h1 {
    margin-top: 15px;
  }

  #page {
    margin-top: 30px;
    margin-bottom: 80px;
  }
  #page .cone, #page .road, #page .car-progressbar {
    display: none;
  }
  #page .status-progress {
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -44px;
    top: -40px;
  }
  #page .status-progress .progress-num-wrapper {
    font-size: 32px;
    font-size: 3.2rem;
    margin-top: -27px;
    margin-left: -30px;
  }
  #page .status-progress .progress-num {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: normal;
  }
  #page .slide {
    padding-top: 60px;
  }
  #page .slide .question {
    padding-left: 25px;
  }

  .question-title span {
    left: -27px;
  }
}
@media (max-width: 500px) {
  .question-content, .question-title {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .question-title {
    padding-left: 23px;
  }
  .petrol-thank-you .question-title {
    padding-left: 0;
  }
  .question-title span {
    left: 0;
  }

  .form-group .control-label {
    display: block;
    float: none;
    top: -3px;
  }
  .form-group .control-label + div {
    width: 100%;
  }

  [data-question="6"] .form-group {
    margin-bottom: 13px;
  }
  [data-question="6"] .form-group input[type="text"], [data-question="6"] .form-group input[type="email"], [data-question="6"] .form-group input[type="tel"] {
    height: 40px;
  }
  [data-question="6"] .question-title {
    padding-left: 0;
  }

  .tooltip-card {
    display: none;
  }

  .extra-card:after {
    content: "with this card";
    display: inline-block;
  }
}
