/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/******************
	GENERAL
*******************/
body {
  background: url(../img/popup/bg-triangle-blue.jpg) #1d9fca;
  line-height: 1.4;
  min-width: 0; }

.popup__wrapper {
  width: 800px; }

/******************
	POPUP HEADER
*******************/
.popup__header {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: url(../img/popup/bank-notes.png) center bottom no-repeat;
  padding: 20px 0 50px; }
  .popup__header h1, .popup__header h2 {
    color: #fff; }
  .popup__header h1 {
    font-size: 54px;
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 1.1; }
  .popup__header h2 {
    font-size: 21px;
    font-size: 2.1rem;
    position: relative;
    top: -5px; }
    .popup__header h2 span {
      color: #fd0;
      text-transform: uppercase; }

/******************
	POPUP CONTENT
*******************/
.popup__content {
  background: #fff;
  padding: 50px 20px 20px;
  text-align: center; }

.arrow {
  position: relative;
  display: inline-block; }
  .arrow:before {
    background: url(../img/popup/arrow.png) no-repeat;
    position: absolute;
    display: block;
    content: '';
    width: 38px;
    height: 58px;
    left: -50px;
    top: -36px;
    -webkit-animation: slidein 2s;
    animation: slidein 2s; }

@-webkit-keyframes slidein {
  0% {
    top: -106px;
    opacity: 0; }

  50% {
    top: -106px;
    opacity: 0; }

  100% {
    top: -36px;
    opacity: 1; } }
@keyframes slidein {
  0% {
    top: -106px;
    opacity: 0; }

  50% {
    top: -106px;
    opacity: 0; }

  100% {
    top: -36px;
    opacity: 1; } }
/******************
	POPUP FOOTER
*******************/
.popup__footer {
  text-align: left;
  overflow: hidden;
  padding-top: 20px;
  margin-top: 70px;
  border-top: 1px solid #eee;
  position: relative; }

.footer__logo {
  position: absolute;
  right: 0;
  bottom: 0; }

.footer__privacy {
  background: url(../img/popup/icon-lock.png) no-repeat left;
  padding-left: 14px;
  color: #5e6a77; }
  .footer__privacy a {
    text-decoration: underline; }
