/* base font color */
/* lighter font color */
.ebook-signup {
  zoom: 1; }
  .ebook-signup:before, .ebook-signup:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .ebook-signup:after {
    clear: both; }

.hidetext, h1, h2 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/******************
	GENERAL
*******************/
body {
  background: #1d9fca;
  color: #fff;
  line-height: 1.4; }

.wrapper {
  width: 780px; }

/******************
	HEADLINE
*******************/
h1 {
  width: 632px;
  height: 42px;
  margin: 10px auto;
  background: url(../img/campaign/ebook/popup-ebook-headline.png) no-repeat;
  text-transform: uppercase; }
  .ebook-bm h1 {
    background-image: url(../img/campaign/ebook/popup-ebook-headline-bm.png);
    width: 651px;
    height: 37px; }

h2 {
  width: 650px;
  height: 59px;
  margin: 0 auto 10px;
  background: url(../img/campaign/ebook/popup-ebook-secondary-headline.png) no-repeat; }
  .ebook-bm h2 {
    background-image: url(../img/campaign/ebook/popup-ebook-secondary-headline-bm.png); }

/******************
	EBOOK SIGNUP
*******************/
.ebook-signup {
  background: #fff;
  color: #434c55;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0 15px; }
  .ebook-signup .ebook, .ebook-signup .ebook-signup-form {
    width: 50%;
    float: left; }
  .ebook-signup .ebook {
    background: #06456b;
    border-radius: 3px 0 0 3px; }
  .ebook-signup .ebook-cover {
    width: 358px;
    height: 256px;
    background: url(../img/campaign/ebook/popup-ebook-cover.png) no-repeat;
    margin: -10px auto 10px; }
  .ebook-signup .ebook-signup-form-inner {
    padding: 15px 20px;
    position: relative; }
    .ebook-signup .ebook-signup-form-inner:after {
      width: 45px;
      height: 82px;
      display: block;
      position: absolute;
      content: '';
      background: url(../img/campaign/ebook/popup-arrow.png) no-repeat;
      right: 8%;
      top: 28%; }
      .ebook-thankyou .ebook-signup .ebook-signup-form-inner:after {
        display: none; }
    .ebook-signup .ebook-signup-form-inner h4 {
      font-weight: normal; }
  .ebook-signup .darkblue {
    color: #06456b; }
  .ebook-signup .lightblue {
    color: #1d9fca; }

.btn-ebook-submit {
  background: url(../img/campaign/ebook/popup-btn-skin.png) left no-repeat;
  width: 183px;
  height: 49px;
  float: left;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
  .btn-ebook-submit:hover {
    background-position: right; }
  .ebook-bm .btn-ebook-submit {
    font-size: 16px;
    line-height: 40px;
    background-image: url(../img/campaign/ebook/popup-btn-skin-long.png);
    width: 220px; }

.privacy {
  float: left;
  margin: 10px 0 0 10px;
  line-height: 1.2;
  color: #5e6a77; }
  .privacy a {
    text-decoration: underline; }

.ebook-mediamention {
  width: 629px;
  height: 32px;
  background: url(../img/campaign/ebook/popup-ebook-mediamention.png) no-repeat;
  margin: 0 auto; }
  .ebook-bm .ebook-mediamention {
    background-image: url(../img/campaign/ebook/popup-ebook-mediamention-bm.png); }

/******************
	IMONEY RHB KAKAO CONTEST
*******************/
.imoney-rhb-kakao-contest {
  width: 790px;
  height: 470px;
  background: url(../img/campaign/imoney-rhb-kakao-contest.jpg) no-repeat; }
