.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
/* ==========================================================================
   PRIVATE SCHOOL EDUCATION COMPARISON
   ========================================================================== */
#private-edu-comparison #calculator {
  padding-bottom: 20px; }
#private-edu-comparison .calculator-items {
  padding: 0;
  margin: 0; }
  #private-edu-comparison .calculator-items > li {
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    padding-right: 20px;
    padding-left: 0;
    background-image: none; }
    #private-edu-comparison .calculator-items > li:first-child {
      width: 15%; }
    #private-edu-comparison .calculator-items > li:nth-child(2) {
      width: 25%; }
  #private-edu-comparison .calculator-items .tooltip {
    display: block;
    position: absolute;
    font: 400 12px/12px Arial;
    border-radius: 2px;
    background: #5e6a77;
    top: 35px;
    color: #fff;
    padding: 5px;
    left: 50%;
    margin-left: -35px;
    text-align: center;
    width: 72px; }
    #private-edu-comparison .calculator-items .tooltip:after {
      border-width: 0 5px 6px 5px;
      content: "";
      position: absolute;
      display: block;
      top: -6px;
      left: 50%;
      margin-left: -6px;
      border-style: solid;
      border-color: transparent transparent #5e6a77 transparent; }
  #private-edu-comparison .calculator-items .tooltip strong {
    display: block;
    padding: 2px; }
  #private-edu-comparison .calculator-items .noUi-background {
    background: #849AA7; }
  #private-edu-comparison .calculator-items .noUi-target {
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25); }
  #private-edu-comparison .calculator-items .noUi-horizontal {
    height: 10px;
    position: relative;
    top: 10px; }
    #private-edu-comparison .calculator-items .noUi-horizontal .noUi-origin {
      border-radius: 5px; }
    #private-edu-comparison .calculator-items .noUi-horizontal .noUi-connect {
      background: #F5A623; }
    #private-edu-comparison .calculator-items .noUi-horizontal .noUi-background {
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25); }
    #private-edu-comparison .calculator-items .noUi-horizontal .noUi-handle {
      height: 26px;
      width: 26px;
      top: -7px;
      border-radius: 50%;
      border: 1px solid #777;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
      #private-edu-comparison .calculator-items .noUi-horizontal .noUi-handle.noUi-handle-upper {
        left: -20px; }
      #private-edu-comparison .calculator-items .noUi-horizontal .noUi-handle:before {
        width: 7px;
        height: 2px;
        background: transparent;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        left: 50%;
        margin-left: -3px;
        top: 8px; }
      #private-edu-comparison .calculator-items .noUi-horizontal .noUi-handle:after {
        width: 7px;
        height: 1px;
        background: #aaa;
        left: 50%;
        margin-left: -3px;
        top: 14px; }
      #private-edu-comparison .calculator-items .noUi-horizontal .noUi-handle.noUi-handle-lower {
        left: -5px; }

.sticky-head {
  position: fixed;
  top: 0;
  background: #fff;
  height: 50px;
  width: 1000px;
  margin: 0 auto;
  z-index: 20;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .no-csstransforms .sticky-head {
    top: -100%;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease; }
  .sticky-head.roll-in {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
    .no-csstransforms .sticky-head.roll-in {
      top: 0; }
  .sticky-head__wrap {
    padding: 6px 10px; }
  .sticky-head #sticky-school-logo {
    text-align: center; }
    .sticky-head #sticky-school-logo img {
      max-height: 30px;
      width: auto;
      max-width: 60px;
      padding-top: 6px; }
  .sticky-head #sticky-school-name {
    padding-left: 10px; }
    .sticky-head #sticky-school-name h1 {
      font-size: 22px;
      font-size: 2.2rem;
      line-height: 25px;
      margin-bottom: 3px;
      padding-top: 5px; }
  .sticky-head #sticky-school-apply .btn {
    margin-bottom: 0; }

#comparison-table h1, #comparison-table h2, #comparison-table h3, #comparison-table h4, #comparison-table h5, #comparison-table h6, #comparison-table strong {
  color: #06456b; }
#comparison-table .comparison-head-wrap:after {
  display: block;
  clear: both;
  content: ""; }
#comparison-table .filtering {
  float: right; }
  #comparison-table .filtering > li {
    display: inline-block;
    float: left;
    background-image: none; }
    #comparison-table .filtering > li.sort-button {
      position: relative;
      top: -5px; }

.comparison-table-list {
  border: none;
  border-collapse: collapse; }
  .comparison-table-list > tbody:after {
    display: block;
    content: "";
    height: 23px; }
  .comparison-table-list tbody:hover tr > td {
    background: #fff; }
    .comparison-table-list tbody:hover tr > td.school-apply-col {
      background: #edf1f3; }
  .comparison-table-list td {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #d1d1d1; }
  .comparison-table-list .school-logo, .comparison-table-list .school-fee, .comparison-table-list .school-apply-col {
    vertical-align: top; }
  .comparison-table-list .school-logo {
    width: 65px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 15px; }
    .comparison-table-list .school-logo img {
      max-width: 50px; }
  .comparison-table-list .school-name h4 {
    font-weight: 500;
    color: #1d9fca;
    margin-bottom: 2px;
    font-size: 18px;
    font-size: 1.8rem; }
  .comparison-table-list .school-name .school-location {
    padding-left: 17px;
    background: url(../img/private-school-education/location-icon.png) 0 1px no-repeat;
    background-size: 11px 15px; }
  .comparison-table-list .curriculum-education-level h5 {
    color: #06456B;
    margin-bottom: 0; }
  .comparison-table-list .curriculum-education-level p {
    margin-bottom: 3px; }
  .comparison-table-list .school-fee {
    width: 180px; }
    .comparison-table-list .school-fee h1 {
      font-weight: 300;
      margin-bottom: 1px; }
      .comparison-table-list .school-fee h1 .per-year {
        font-size: 14px;
        font-size: 1.4rem;
        margin-left: 5px; }
  .comparison-table-list .school-apply-col {
    width: 100px;
    background: #f6f8f9; }
    .comparison-table-list .school-apply-col .btn {
      margin-bottom: 4px; }
  .comparison-table-list .expand {
    display: none; }
    .comparison-table-list .expand .desc {
      font-size: 12px;
      font-size: 1.2rem;
      color: #777777; }
    .comparison-table-list .expand .year-fee-amount {
      font-size: 16px;
      font-size: 1.6rem;
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300; }
    .comparison-table-list .expand .tooltip-btn {
      text-align: center;
      line-height: 14px; }
    .comparison-table-list .expand .tooltip .tooltip-content {
      left: 50%;
      margin-left: -90px;
      bottom: 25px;
      width: 180px;
      top: auto;
      font-size: 11px;
      font-size: 1.1rem; }
    .comparison-table-list .expand .tooltip .tooltip-content:after {
      top: 100%;
      left: 50%;
      margin-left: -18px;
      border-color: #5e6a77 transparent transparent transparent; }
    .comparison-table-list .expand > td > table td {
      background-color: #F0F5F8; }
    .comparison-table-list .expand > td {
      padding: 0;
      border-bottom: 0;
      border-top: 2px solid #1d9fca; }
      .comparison-table-list .expand > td > table {
        border: 0; }
      .comparison-table-list .expand > td td {
        border: 0;
        border-bottom: 1px solid #d1d1d1;
        padding-top: 7px;
        padding-bottom: 7px; }
    .comparison-table-list .expand .fee-breakdown h6 {
      margin-bottom: 3px;
      font-size: 12px;
      font-size: 1.2rem; }
    .comparison-table-list .expand .fee-breakdown > td {
      border-left: 1px solid #d1d1d1; }
    .comparison-table-list .expand .fee-breakdown > td:first-child {
      border-left: 0; }

.font-12 {
  font-size: 12px;
  font-size: 1.2rem; }

.school-page h3 {
  font-size: 20px;
  font-size: 2rem; }
.school-page .curriculum-details__first {
  padding-left: 40px;
  background: url(../img/private-school-education/book-icon.png) 0 5px no-repeat;
  background-size: 25px 35px; }
.school-page .curriculum-details__second {
  padding-left: 50px;
  background: url(../img/private-school-education/school-icon.png) 0 4px no-repeat;
  background-size: 38px 35px; }

#school-details-fee table td, #school-details-fee table th {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  padding: 8px 12px; }
#school-details-fee table th.th-left {
  background-image: -webkit-linear-gradient(#F6F8F9, #DCE1E4 100%);
  background-image: linear-gradient(#F6F8F9, #DCE1E4 100%);
  border-right: 3px solid #1d9fca; }
#school-details-fee .no-bullet li {
  margin-bottom: 3px; }
  #school-details-fee .no-bullet li span {
    font-weight: 500; }

.school-contacts .contact-header {
  margin-bottom: 8px; }
.school-contacts .contact-logo {
  width: 60px;
  padding-top: 50px; }
.school-contacts p {
  margin-bottom: 5px; }

.ds-table {
  display: table; }

.ds-tablecell {
  display: table-cell;
  vertical-align: top; }

.bt-skyblue-3 {
  border-top: 3px solid #c5eef9; }

.bl-skyblue-1 {
  border-left: 1px solid #BADBE5; }

.br-skyblue-1 {
  border-right: 1px solid #BADBE5; }

.bb-skyblue-1 {
  border-bottom: 1px solid #BADBE5; }

.bg-skyblue {
  background: #EAF9FD; }
