/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* PRS color */
/* shariah color */
/* conventional color */
/* Conservative Color 0eba7b */
/* Moderate Color ff8800  */
/* Growth color da4f49 */
/* Non Core color 8976B9 */
/* shariah td bg color */
/*  conventional td bg color */
/* conventional border */
/* shariah border */
.color-prs {
  color: #bd8123; }

.pagetab-prs ul {
  border-bottom-color: #bd8123; }
  .pagetab-prs ul li > a {
    background: #e7ebed;
    color: #5e6a77; }
    .pagetab-prs ul li > a:hover {
      background-color: #dee4e6; }
  .pagetab-prs ul li.active > a {
    background: #bd8123;
    color: #fff; }

.prs-date {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 13px;
  font-size: 1.3rem;
  color: #5e6a77; }
  .prs-date .prs-provided {
    float: right;
    vertical-align: top;
    padding-top: 2px; }
  .prs-date img {
    height: 20px; }

.chosen-choices > li, .chosen-results > li {
  background: none; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  width: auto !important; }

.prs-section {
  margin-top: 15px; }

.prs-heading {
  background: #ffffff;
  border-bottom: 4px solid transparent;
  position: relative; }
  .prs-heading:before {
    position: absolute;
    right: -8px;
    content: "";
    display: block;
    width: 8px;
    height: 4px;
    background: transparent;
    bottom: -4px; }
    #conservative .prs-heading:before {
      background: #47c496; }
    #moderate .prs-heading:before {
      background: #ff9f54; }
    #growth .prs-heading:before {
      background: #dd6a65; }
    #equity .prs-heading:before {
      background: #a390d1; }
  .prs-heading:after {
    position: absolute;
    right: -8px;
    content: "";
    display: block;
    bottom: -12px;
    border: 4px solid transparent; }
    #conservative .prs-heading:after {
      border-top-color: #2e906c;
      border-left-color: #2e906c; }
    #moderate .prs-heading:after {
      border-top-color: #ff7407;
      border-left-color: #ff7407; }
    #growth .prs-heading:after {
      border-top-color: #c9332c;
      border-left-color: #c9332c; }
    #equity .prs-heading:after {
      border-top-color: #765abb;
      border-left-color: #765abb; }
  #conservative .prs-heading {
    border-bottom-color: #47c496; }
  #moderate .prs-heading {
    border-bottom-color: #ff9f54; }
  #growth .prs-heading {
    border-bottom-color: #dd6a65; }
  #equity .prs-heading {
    border-bottom-color: #a390d1; }

.fund-block {
  display: inline-block;
  padding: 6px 12px 6px 12px;
  position: relative;
  width: 235px;
  left: -10px;
  margin-top: 5px;
  color: #ffffff;
  font-weight: bold;
  top: 4px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-size: 1.5rem; }
  .fund-block:after {
    border: 15px solid transparent;
    content: "";
    display: block;
    position: absolute;
    right: -30px;
    top: 0; }
    #conservative .fund-block:after {
      border-bottom-color: #47c496;
      border-left-color: #47c496; }
    #moderate .fund-block:after {
      border-bottom-color: #ff9f54;
      border-left-color: #ff9f54; }
    #growth .fund-block:after {
      border-bottom-color: #dd6a65;
      border-left-color: #dd6a65; }
    #equity .fund-block:after {
      border-bottom-color: #a390d1;
      border-left-color: #a390d1; }
  .fund-block:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    border: 5px solid transparent; }
    #conservative .fund-block:before {
      border-right-color: #2e906c;
      border-top-color: #2e906c; }
    #moderate .fund-block:before {
      border-right-color: #ff7407;
      border-top-color: #ff7407; }
    #growth .fund-block:before {
      border-right-color: #c9332c;
      border-top-color: #c9332c; }
    #equity .fund-block:before {
      border-right-color: #765abb;
      border-top-color: #765abb; }
  #conservative .fund-block {
    background-color: #47c496; }
  #moderate .fund-block {
    background-color: #ff9f54; }
  #growth .fund-block {
    background-color: #dd6a65; }
  #equity .fund-block {
    background-color: #a390d1; }

.table-prs {
  border: 0;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
  .table-prs tr:hover .conventional-cell {
    background-color: #d8efff; }
  .table-prs tr:hover .shariah-cell {
    background-color: #f3ffd9; }
  .table-prs th {
    border-bottom: 2px solid #929da9;
    height: 40px;
    text-transform: uppercase;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: bold; }
  .table-prs td {
    height: 40px; }
  .table-prs [class*="-row"] > td {
    height: 20px; }
  .table-prs .conventional-row > td, .table-prs .shariah-row > td {
    font-weight: bold; }
  .table-prs .conventional-row > td, .table-prs .conventional-row:hover > td {
    background-color: #e7f5ff;
    color: #1a80c4;
    border-bottom-color: #bdddf1; }
  .table-prs .shariah-row > td, .table-prs .shariah-row:hover > td {
    background-color: #f8ffe8;
    color: #1cb666;
    border-bottom-color: #b8e9d0;
    border-top: 1px solid #b8e9d0; }
  .table-prs #equity .shariah-row > td {
    border-top: 0; }
  .table-prs .conventional-cell {
    background-color: #f1f9ff;
    border-right: 1px solid #bdddf1;
    border-left: 1px solid #bdddf1;
    border-bottom: 1px solid #bdddf1; }
    .table-prs .conventional-cell:last-child {
      border-bottom: 0; }
  .table-prs .shariah-cell {
    background-color: #faffee;
    border-right: 1px solid #b8e9d0;
    border-left: 1px solid #b8e9d0;
    border-bottom: 1px solid #b8e9d0; }
    .table-prs .shariah-cell:last-child {
      border-bottom: 0; }
  .table-prs .rolling-col {
    width: 180px; }
  .table-prs .apply-col {
    width: 120px; }

.rank {
  background: #ffffff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: inline-block;
  padding: 3px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold; }
  #conservative .rank {
    border-color: #66cea8; }
  #moderate .rank {
    border-color: #ffb67d; }
  #growth .rank {
    border-color: #e48a86; }
  #equity .rank {
    border-color: #bbaddd; }

.custom-tooltip {
  position: relative;
  background: #ddd;
  width: 100%;
  height: 40px; }

.prs-comparison--headline {
  background-image: -webkit-linear-gradient(bottom, #b6d3db 0%, #fefefe 100%);
  background-image: linear-gradient(to bottom, #b6d3db 0%, #fefefe 100%); }

.rolling-performance {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1d9fca), color-stop(1, #06456b));
  background-image: -webkit-linear-gradient(top, #1d9fca 0%, #06456b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.prs-footer {
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  padding: 20px 30px; }
