/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* PRS color */
/* shariah color */
/* conventional color */
/* Conservative Color 0eba7b */
/* Moderate Color ff8800  */
/* Growth color da4f49 */
/* Non Core color 8976B9 */
/* shariah td bg color */
/*  conventional td bg color */
/* conventional border */
/* shariah border */
.color-prs {
  color: #bd8123; }

.pagetab-prs ul {
  border-bottom-color: #bd8123; }
  .pagetab-prs ul li > a {
    background: #e7ebed;
    color: #5e6a77; }
    .pagetab-prs ul li > a:hover {
      background-color: #dee4e6; }
  .pagetab-prs ul li.active > a {
    background: #bd8123;
    color: #fff; }

.chosen-choices > li, .chosen-results > li {
  background: none; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  width: auto !important; }

.table-prs {
  border: 0; }
  .table-prs tr:hover .conventional-cell {
    background-color: #d8efff; }
  .table-prs tr:hover .shariah-cell {
    background-color: #f3ffd9; }
  .table-prs th {
    border-bottom: 2px solid #929da9;
    height: 40px;
    text-transform: uppercase;
    font-size: 13px;
    font-size: 1.3rem; }
    .table-prs th[data-column="6"] {
      width: 18%; }
  .table-prs td {
    height: 40px; }
  .table-prs td:nth-child(3) {
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left; }
  .table-prs .label {
    font-size: 11px;
    font-size: 1.1rem;
    border-radius: 12px;
    padding: 4px;
    color: #fff; }
    .table-prs .label.label-islamic {
      color: #1cb666; }
    .table-prs .label.label-conventional {
      color: #1a80c4; }
    .table-prs .label.label-conservative {
      background-color: #47c496; }
    .table-prs .label.label-moderate {
      background-color: #ff9f54; }
    .table-prs .label.label-growth {
      background-color: #dd6a65; }
    .table-prs .label.label-noncore {
      background-color: #a390d1; }
    .table-prs .label.label-cat {
      background: none;
      font-weight: bold;
      font-size: 13px;
      font-size: 1.3rem; }
    .table-prs .label.label-core {
      width: 75px; }
  .table-prs [class*="-row"] > td {
    height: 20px; }
  .table-prs .conventional-row > td, .table-prs .shariah-row > td {
    font-weight: bold; }
  .table-prs .conventional-row > td, .table-prs .conventional-row:hover > td {
    background-color: #e7f5ff;
    color: #1a80c4;
    border-bottom-color: #bdddf1; }
  .table-prs .shariah-row > td, .table-prs .shariah-row:hover > td {
    background-color: #f8ffe8;
    color: #1cb666;
    border-bottom-color: #b8e9d0;
    border-top: 1px solid #b8e9d0; }
  .table-prs #conservative:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .table-prs #conservative:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .table-prs #conservative tr > td:nth-child(1) {
    border-left: 4px solid #47c496; }
  .table-prs #conservative tr > td:last-child {
    border-right: 4px solid #47c496; }
  .table-prs #conservative tr:last-child > td {
    border-bottom: 4px solid #47c496; }
  .table-prs #conservative .conservative-row > td {
    background-color: #47c496;
    color: #ffffff;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
  .table-prs #conservative .conservative-row:hover > td {
    background-color: #47c496; }
  .table-prs #moderate tr > td:nth-child(1) {
    border-left: 4px solid #ff9f54; }
  .table-prs #moderate tr > td:last-child {
    border-right: 4px solid #ff9f54; }
  .table-prs #moderate tr:last-child > td {
    border-bottom: 4px solid #ff9f54; }
  .table-prs #moderate .moderate-row > td {
    background-color: #ff9f54;
    color: #ffffff;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
  .table-prs #moderate .moderate-row:hover > td {
    background-color: #ff9f54; }
  .table-prs #growth tr > td:nth-child(1) {
    border-left: 4px solid #dd6a65; }
  .table-prs #growth tr > td:last-child {
    border-right: 4px solid #dd6a65; }
  .table-prs #growth tr:last-child > td {
    border-bottom: 4px solid #dd6a65; }
  .table-prs #growth .growth-row > td {
    background-color: #dd6a65;
    color: #ffffff;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
  .table-prs #growth .growth-row:hover > td {
    background-color: #dd6a65; }
  .table-prs #equity tr > td:nth-child(1) {
    border-left: 4px solid #a390d1; }
  .table-prs #equity tr > td:last-child {
    border-right: 4px solid #a390d1; }
  .table-prs #equity tr:last-child > td {
    border-bottom: 4px solid #a390d1; }
  .table-prs #equity .equity-row > td {
    background-color: #a390d1;
    color: #ffffff;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
  .table-prs #equity .equity-row:hover > td {
    background-color: #a390d1; }
  .table-prs .conventional-cell {
    background-color: #f1f9ff;
    border-right: 1px solid #bdddf1;
    border-left: 1px solid #bdddf1;
    border-bottom: 1px solid #bdddf1; }
    .table-prs .conventional-cell:last-child {
      border-bottom: 0; }
  .table-prs .shariah-cell {
    background-color: #faffee;
    border-right: 1px solid #b8e9d0;
    border-left: 1px solid #b8e9d0;
    border-bottom: 1px solid #b8e9d0; }
    .table-prs .shariah-cell:last-child {
      border-bottom: 0; }

.rank {
  background: #ffffff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: inline-block;
  padding: 3px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold; }
  #conservative .rank {
    border-color: #66cea8; }
  #moderate .rank {
    border-color: #ffb67d; }
  #growth .rank {
    border-color: #e48a86; }
  #equity .rank {
    border-color: #bbaddd; }

.custom-tooltip {
  position: relative;
  background: #ddd;
  width: 100%;
  height: 40px; }

.prs-comparison--headline {
  background-image: -webkit-linear-gradient(bottom, #b6d3db 0%, #fefefe 100%);
  background-image: linear-gradient(to bottom, #b6d3db 0%, #fefefe 100%); }

.rolling-performance {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1d9fca), color-stop(1, #06456b));
  background-image: -webkit-linear-gradient(top, #1d9fca 0%, #06456b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
