/* base font color */
/* lighter font color */
.rhb__content {
  zoom: 1; }
  .rhb__content:before, .rhb__content:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .rhb__content:after {
    clear: both; }

.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.rhb__main {
  width: 620px;
  background: #1468b2;
  float: left;
  color: #fff; }

.rhb__side {
  width: 320px;
  background: #fff;
  float: right;
  padding: 30px; }

/****************************
	MAIN (content)
*****************************/
#page {
  margin-bottom: 60px; }

/*----- header -------*/
.rhb__header {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 30px 0;
  margin-bottom: -20px;
  background: url(../img/campaign/rhb-travelmoney/globe.png) -100px -100px no-repeat;
  background: url(../img/campaign/rhb-travelmoney/globe.png) -100px -100px no-repeat, url(../img/campaign/rhb-travelmoney/mountain.png) bottom no-repeat;
  background-size: 270px 270px, 620px auto;
  position: relative; }
  .rhb__header h1, .rhb__header h2 {
    color: #fff; }
  .rhb__header h1 {
    font-size: 36px;
    font-size: 3.6rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
    display: inline-block; }
    .rhb__header h1:after {
      position: absolute;
      content: '';
      display: block;
      background: url(../img/campaign/rhb-travelmoney/h1-icons.png) no-repeat;
      background-size: 105px 27px;
      width: 105px;
      height: 27px;
      right: -115px;
      top: 10px; }
  .rhb__header h2 {
    font-size: 21px;
    font-size: 2.1rem; }
    .rhb__header h2 span {
      font-weight: 700; }
  .rhb__header .rhb__logo {
    position: absolute;
    right: -3px;
    top: 30px; }

.rhb__logo {
  background: url(../img/campaign/rhb-travelmoney/logo.png) no-repeat;
  width: 103px;
  height: 48px;
  background-size: 103px auto; }

.rhb__cards {
  margin-top: 30px;
  position: relative;
  z-index: 2; }

.card {
  height: 102px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 5px;
  width: 162px; }
  .card--visa {
    background: url(../img/campaign/rhb-travelmoney/card-visa.jpg) no-repeat; }
  .card--mastercard {
    background: url(../img/campaign/rhb-travelmoney/card-mastercard.jpg) no-repeat; }

.form-pointer {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: url(../img/campaign/rhb-travelmoney/arrow.png) center no-repeat #e52c36;
  background-size: 16px 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  right: 20px;
  bottom: -5px;
  z-index: 2;
  opacity: 0;
  -moz-animation: pointer  1s 1s 1 forwards;
  -webkit-animation: pointer 1s 1s 1 forwards;
  -o-animation: pointer 1s 1s 1 forwards;
  animation: pointer 1s 1s 1 forwards; }

@-moz-keyframes pointer {
  0% {
    -webkit-transform: translate(-400px, 0);
    -ms-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes pointer {
  0% {
    -webkit-transform: translate(-400px, 0);
    -ms-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
@-o-keyframes pointer {
  0% {
    -webkit-transform: translate(-400px, 0);
    -ms-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes pointer {
  0% {
    -webkit-transform: translate(-400px, 0);
    -ms-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
/*----- content -------*/
.rhb__content {
  background-color: #2f363e;
  padding: 30px 30px 20px;
  position: relative;
  font-size: 13px;
  font-size: 1.3rem;
  color: #ddd; }
  .rhb__content--intro {
    width: 30%;
    padding-right: 5%;
    float: left; }
  .rhb__content--features {
    float: right;
    width: 60%;
    padding-left: 5%;
    position: relative; }
    .rhb__content--features:before, .rhb__content--features:after {
      position: absolute;
      display: block;
      content: ''; }
    .rhb__content--features:before {
      width: 1px;
      border-left: 2px dotted #1983e0;
      left: 0;
      top: -15px;
      bottom: -150px;
      z-index: 3; }
    .rhb__content--features:after {
      background-color: #bddcf4;
      z-index: 4;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      left: -3px;
      top: -20px; }

.label-promo {
  position: relative;
  top: -2px;
  background-color: #1468b2;
  margin-left: 10px; }

.features__list > li {
  margin-bottom: 30px; }
  .features__list > li:last-child {
    margin-bottom: 0; }
.features__list .font-xlg {
  color: #fff;
  font-weight: bold; }

h4.features__header {
  font-size: 18px;
  font-size: 1.8rem; }

.features__header {
  color: #ffd54c;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 0; }
  .features__header:before {
    position: absolute;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-color: #e52c36;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    left: -35px;
    z-index: 5; }

/*----- side -------*/
#rhb-form {
  border: 2px solid #d0d5da;
  padding: 0 20px 20px;
  position: absolute;
  bottom: 40px;
  top: 35px;
  right: 30px;
  width: 276px; }
  #rhb-form fieldset {
    margin: 0; }
    #rhb-form fieldset legend {
      border-bottom: none;
      color: #1468b2;
      position: relative;
      top: -13px;
      left: -5px; }
      #rhb-form fieldset legend span {
        background: #fff;
        padding: 0 5px; }
      #rhb-form fieldset legend + * {
        margin-top: -13px; }
  #rhb-form input[type="text"], #rhb-form input[type="email"] {
    border-radius: 0;
    background: #edf1f3;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #d3d7d8; }
    #rhb-form input[type="text"]:focus, #rhb-form input[type="text"]:active, #rhb-form input[type="email"]:focus, #rhb-form input[type="email"]:active {
      border-bottom-color: #1468b2; }
    #rhb-form input[type="text"].error, #rhb-form input[type="email"].error {
      border-bottom-color: #e52c36; }
    #rhb-form input[type="text"].valid, #rhb-form input[type="email"].valid {
      border-bottom-color: #59b259; }
  #rhb-form label.error {
    font-size: 11px;
    font-size: 1.1rem;
    color: #e52c36; }
  #rhb-form ::-webkit-input-placeholder {
    color: #98a3ad; }
  #rhb-form :-moz-placeholder {
    /* Firefox 18- */
    color: #98a3ad; }
  #rhb-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #98a3ad; }
  #rhb-form :-ms-input-placeholder {
    color: #98a3ad; }
  #rhb-form .btn-success {
    width: 100%; }

.form__bottom-text {
  position: absolute;
  bottom: 2px;
  width: 320px; }

/*----- footer -------*/
.rhb__footer {
  padding: 20px 30px 10px;
  background: url(../img/campaign/rhb-travelmoney/bottom-landmarks.png) center no-repeat;
  color: #bddcf4; }
  .rhb__footer--content {
    padding-left: 40%; }

/*----- utils -------*/
.color-yellow {
  color: #ffd54c; }

.color-lightblue {
  color: #bddcf4; }

/****************************
	SIDE (CTA)
*****************************/
