.table-sharetrading-local [data-column="0"], .table-sharetrading-local .apply-col {
  width: 15%; }
.table-sharetrading-local [data-column="3"], .table-sharetrading-local [data-column="4"] {
  width: 8%; }

.table-sharetrading-global [data-column="0"], .table-sharetrading-global .apply-col {
  width: 15%; }
.table-sharetrading-global td {
  vertical-align: top; }
  .table-sharetrading-global td:first-child, .table-sharetrading-global td.apply-col {
    text-align: center;
    vertical-align: middle; }
.table-sharetrading-global [data-column="2"] {
  width: 22%; }
