/* base font color */
/* lighter font color */
[class*="promo-sp"] td {
  padding-top: 35px;
  padding-bottom: 25px; }
  [class*="promo-sp"] td:first-child {
    vertical-align: top; }

.sp-label-container {
  position: relative; }
  .sp-label-container .sp-label {
    position: absolute;
    left: -12px;
    top: -35px;
    font-size: 11px;
    font-size: 1.1rem;
    color: #fff;
    background: #df931a;
    padding: 5px 12px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }
    .promo-sp--premium .sp-label-container .sp-label {
      background-color: #cb2372; }
    .sp-label-container .sp-label:before, .sp-label-container .sp-label:after {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      content: '';
      display: block; }
    .sp-label-container .sp-label:before {
      border-width: 3px;
      bottom: -6px;
      left: 0;
      border-color: #b17515 #b17515 transparent transparent; }
      .promo-sp--premium .sp-label-container .sp-label:before {
        border-color: #9f1c5a #9f1c5a transparent transparent; }
    .sp-label-container .sp-label:after {
      border-width: 24px 12px 0 0;
      right: -12px;
      top: 0;
      border-color: #df931a transparent transparent #df931a; }
      .promo-sp--premium .sp-label-container .sp-label:after {
        border-color: #cb2372 transparent transparent #cb2372; }
    .table-creditcard .sp-label-container .sp-label {
      left: -15px;
      padding-left: 8px;
      padding-right: 8px; }
