@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900,700italic,900italic,400italic);
html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem; }

.pad30px {
  padding: 30px; }

/* Fixed with column */
.span-1 {
  width: 60px; }

.span-2 {
  width: 140px; }

.span-3 {
  width: 220px; }

.span-4 {
  width: 300px; }

.span-5 {
  width: 380px; }

.span-6 {
  width: 460px; }

.span-7 {
  width: 540px; }

.span-8 {
  width: 620px; }

.span-9 {
  width: 700px; }

.span-10 {
  width: 780px; }

.span-11 {
  width: 860px; }

.span-12 {
  width: 940px; }

/* Percentage column */
.fl-1 {
  width: 8.33333%; }

.fl-2 {
  width: 16.66667%; }

.fl-3 {
  width: 25%; }

.fl-4 {
  width: 33.33333%; }

.fl-5 {
  width: 41.66667%; }

.fl-6 {
  width: 50%; }

.fl-7 {
  width: 58.33333%; }

.fl-8 {
  width: 66.66667%; }

.fl-9 {
  width: 75%; }

.fl-10 {
  width: 83.33333%; }

.fl-11 {
  width: 91.66667%; }

.fl-12 {
  width: 100%; }

[class*="fl"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
