/* Rating Widget */

.imoney-rating, .imoney-rating-widget {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 15px;
}


.imoney-rating {
	background-color: #fffae7;
}
	.imoney-rating p {
		margin: 5px 0 0;
	}



.imoney-rating-widget {
	background: url(../img/testimonials/rating-widget-star.png) 103% -2px no-repeat #f6f8f9;
	text-align: center;
}
	.imoney-rating-widget h4 {
		font-size: 24px;
		text-shadow: 0 1px 0 #fff;
	}

	.light-blue {
		color: #1d9fca;
	}

.imoney-rating-widget-inner {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	padding: 10px 15px;
}

	.imoney-rating-widget-inner .form-horizontal {
		text-align: left;
		margin: 10px 0;
	}



/* STEP 1 */

.or {
	border-top: 1px solid #eee;
	margin-top: 10px;
}
	.or p {
		margin: 0;
		position: relative;
		top: -10px;
		display: inline-block;
		background: #fff;
		padding: 0px 10px;
	}

.connect-fb {
	text-align: left;
	margin: 10px 0 10px 80px;
}

.imoney-rating-widget input[type="text"], input[type="email"] {
	width: auto;
}

#rating-step2 {
	text-align: left;
	display: none;
}
	#rating-step2 p {
		margin: 0;
		margin-bottom: 5px;
	}
	#rating-step2 .control-group {
		margin-bottom: 20px;
	}
	#rating-step2 textarea {
		width: 90%;
		width: -webkit-calc(100% - 15px);
		width: calc(100% - 15px);
		margin-bottom: 5px;
	}
	.rating-welcome-message {
		border-bottom: 1px solid #eee;
		font-size: 11px;
	}

	.grey {
		color: #999;
	}

	#rating-feedback {
		text-align: center;
		padding: 20px 15px;
	}

	#rating-success h3, #rating-failed h3 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	#rating-success h3 {
		color: #59b259;
	}
	#rating-failed h3 {
		color: #da4f49;
	}

/* Testimonial page */

.stars-given {
	position: relative;
	left: 5px;
	top: 1px;
}

.testimonial blockquote {
	margin-bottom: 30px;
}

.imoney-rating-sidebar-widget input {
	width: auto
}