/* base font color */
/* lighter font color */
.application-step {
  zoom: 1; }
  .application-step:before, .application-step:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .application-step:after {
    clear: both; }

.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* main content */
.application-step {
  font-size: 11px;
  font-size: 1.1rem;
  color: #7d8a96; }
  .application-step li {
    padding: 0 0 10px;
    background: transparent;
    float: left;
    margin-right: 30px; }
    .application-step li.application-step-current {
      color: #434c55;
      position: relative; }
      .application-step li.application-step-current:after {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent transparent #1d9fca;
        border-width: 5px;
        border-style: solid;
        display: block;
        content: '';
        bottom: 0;
        left: 50%;
        margin-left: -2px; }

.budget-calculator {
  position: relative; }

.budget-step {
  position: absolute;
  top: -49px; }

.budget-form .input-append, .budget-form .input-prepend {
  margin-bottom: 0; }
.budget-form legend {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #06456b;
  color: #fff;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1.8rem;
  border-bottom: none; }
.budget-form .control-label {
  text-align: left;
  font-weight: normal; }
.budget-form .form-group {
  padding-left: 10px; }
