.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.block-testimonial {
  margin-bottom: 20px;
  overflow: hidden;
  border-left: 4px solid #e5e9eb;
  background: #f6f8f9;
  padding: 20px; }

.testimonial__content {
  margin-bottom: 20px; }
  .testimonial__content > *:last-child {
    margin-bottom: 0; }

.testimonial-user__thumb {
  float: left;
  margin-right: 10px; }

.testimonial-user__name {
  display: block; }

.testimonial-user__position {
  font-size: 13px;
  font-size: 1.3rem;
  color: #5e6a77; }
