@import "mixin";
@import "var";

.header-404 {
  background: url(../img/404_header.jpg) #f9f7f8 bottom no-repeat;
  min-height: 100px;
  padding-top: 50px;
}

.sb-quicklinks-list {
  text-align: center;

  li {
    // float: left;
    display: inline-block;
    vertical-align: top;
    width: 20%; //33.33%
    background: none;
    padding-left: 0;

    // &:last-child {
    //   width: 100%;
    // }
  }
  a {
    text-align: center;
    // border: 2px solid darken($lightgrey,30);
    background: none;
    @include font-size(1.0);
    font-weight: 500;
    text-transform: uppercase;
    @include transition(0.1s all linear);
    color: $brandcolor2;

    &:hover {
      text-decoration: none;
    }

    // &:active {
    //   background: $brandcolor2;
    //   border-color: $brandcolor2;
    //   color: #fff;
    //   text-decoration: none;
    //   text-shadow: 0 1px 0 rgba($brandcolor2,.5);
    // }

    &:active {
      i {
        background-color: darken($lightgrey,30);
      }
    }
  }
}

.mb-icon__home {
  // background: url(../img/icon-home-pages.svg) no-repeat;
  // width: 32px;
  // height: 32px;
  // margin: 0 auto 5px;
  // display: block;
  // position: relative;

  background: url(../img/icon-home-pages-60.svg) no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  box-sizing: content-box;
  border: 1px solid darken($lightgrey,30);

  .no-svg & {
    background-image: url(../img/icon-home-pages-60.png);
  }

  &.mb-icon__home--homeloan {
    background-position: -120px 0;
  }

  &.mb-icon__home--personalloan {
    background-position: -60px 0;
  }

  &.mb-icon__home--carinsurance {
    background-position: -180px 0;
  }

  &.mb-icon__home--learningcentre {
    background-position: -240px 0;
  }

  a:hover & {
    border-color: $brandcolor2;
  }
}
