@import "mixin";
@import "var";

.header-affiliate {
  background: url(../img/header-affiliate.jpg) center no-repeat;
  height: 240px;
  padding: 30px;

  h1 {
    font-weight: 700;
    color: $lightgrey;
    margin-top: 15px;
    line-height: 1.6;
  }

  h2 {
    color: #cbae85;
    font-family: $helvetica;
    @include font-size(1.8);
  }
}

.affiliate-main {
  margin-top: -120px;
}