@import "var";
@import "mixin";

/*****************************
	APPLICATION FORM
******************************/

$applicationwidth: 680px;
$headerheight: 50px;

.application-wrapper {
	width: $applicationwidth;
	margin: 0 auto;
}

.application-header {
	background: #fff;
	height: $headerheight;
	line-height: $headerheight;
	color: $lightercolor;
	margin-bottom: 30px;

	.application-wrapper, .ct-wrapper {
		background: url(../img/icon-securitylock.png) no-repeat right center;
		@extend %clearfix;
	}

	h2 {
		line-height: $headerheight;
		margin: 0 0 0 10px;
		float: left;
		color: $lightercolor;
	}
}


/* main content */
.application-step {

	@include font-size(1.1);
	color: #7d8a96;
	margin-top: 30px;
	@extend %clearfix;

	li {
		padding: 0 0 10px;
		background: transparent;
		float: left;
		margin-right: 30px;

		&.application-step-current {
			color: $color;
			position: relative;

			&:after {
				position: absolute;
				width: 0;
				height: 0;
				border-color: transparent transparent $brandcolor1;
				border-width: 5px;
				border-style: solid;
				display: block;
				content: '';
				bottom: 0;
				left: 50%;
				margin-left: -2px;

			}
		}
	}
}

[role="main"] {
	background: #fff;
	@include box-shadow;
}

.application-title {
	color: #fff;
	background: url(../img/application-title-bg.png) top right no-repeat $brandcolor1;

	h1:first-child {
		color: #fff;
		margin: 0;
	}
}

.application-detail {
	table, td {
		border: none;
		vertical-align: middle;
	}

	table {
		margin-bottom: 0;
	}

	td {
		min-width: 60px;
		padding: 0 20px 0 0;
	}
}

// form {
// 	select.form-control {
// 		width: 406px;
// 	}
// }


/* footer  */
[role="contentinfo"] {
	@include font-size(1.2);
	color: $lightercolor;
	margin-top: 30px;
	margin-bottom: 30px;
}


.form-horizontal {
	.control-label {
		font-weight: 500;
		text-align: left;
	}
}

.form-footer {
	> * {
		overflow: visible;
	}
	input[type="checkbox"] {
		float: left;
	}
	.option {
		@include font-size(1.1);
		color: $lightercolor;
		padding-left: 20px;
		display: block;
		position: relative;
		top: -2px;
		margin-bottom: 5px;
	}

}

#edit-submitted-house-purchase-price {
	width: 98%;

	.hl-application & {
		width: 85%;
	}
}

/*****************************
	APPLICATION FORM - HOME LOAN
******************************/

.hl-application {
	background: #f4f3ef url(../img/application/application-hl-bg-couple.jpg) right top no-repeat;
	margin-top: 20px;

	[type="submit"] {
		padding: 12px 60px;
		height: auto !important;
		@include font-size(1.8);
		font-weight: bold;
	}
}

.footer-media--hlapply {
	background-color: darken(#f4f3ef,2);
}


.hl-application__header {
	padding: 0 100px 10px 0;
}

.hl-application__form {
	border: 4px solid $brandcolor2;
	background: #fff;
}

.hl-application__sidebar {
	margin-top: 240px;
	color: $lightercolor;
}

.sidebar__block {
	@include border-bottom;
	margin-bottom: 10px;
}

.sidebar__block--first {
	background: url(../img/application/application-sidebar-lightbulb.jpg) left top no-repeat;
	padding-top: 40px;
}

.sidebar__heading {
	color: inherit;
	@include font-size(1.8);
}

#step-two {
	display: none;
}

.hl-choosebanks {
	.checkbox {
		padding-left: 0;
		float: left;
		width: 50%;
		margin-bottom: 4px;

		label {
			line-height: 20px;
			cursor: pointer;

			&.hover {
				color: $color;
			}
		}

		.checked + {
			color: $brandcolor2;
		}
	}

	label {

	}
}

.infopanel {
	padding: 10px;
	margin-bottom: 10px;
	background-color: $lightgrey;
	@include border-left(3px, solid, #d3d7d8);

	> *:last-child {
		margin-bottom: 0;
	}

	.form-control-static & {
		margin-top: -7px;
		padding-top: 7px;
	}
}

#submitted-message {
	opacity: 0;
}