@import "var";
@import "mixin";

/*****************************
	APPLICATION FORM
******************************/

$applicationwidth: 1000px;
$headerheight: 50px;

.application-wrapper {
	width: $applicationwidth;
	margin: 0 auto;
}

.application-header {
	background: #fff;
	height: $headerheight;
	line-height: $headerheight;
	color: $lightercolor;

	.application-wrapper {
		background: url(../img/icon-securitylock.png) no-repeat right center;
		@extend %clearfix;
	}

	h2 {
		line-height: $headerheight;
		margin: 0 0 0 10px;
		float: left;
		color: $lightercolor;
	}
}


/* main content */
.application-step {

	@include font-size(1.1);
	color: #7d8a96;
	margin-top: 30px;
	@extend %clearfix;

	li {
		padding: 0 0 10px;
		background: transparent;
		float: left;
		margin-right: 30px;

		&.application-step-current {
			color: $color;
			position: relative;

			&:after {
				position: absolute;
				width: 0;
				height: 0;
				border-color: transparent transparent $brandcolor1;
				border-width: 5px;
				border-style: solid;
				display: block;
				content: '';
				bottom: 0;
				left: 50%;
				margin-left: -2px;

			}
		}
	}
}

[role="main"] {
	background: #fff;
	@include box-shadow;
}

.application-title {
	color: #fff;
	background: url(../img/application-title-bg.png) top right no-repeat $brandcolor1;

	h1:first-child {
		color: #fff;
		margin: 0;
	}
}

form {
	select.form-control {
		width: 286px;
	}
}

.application-detail {
	table, td {
		border: none;
		vertical-align: top;
	}

	table {
		margin-bottom: 0;
	}

	td {
		padding: 0 0 0 10px;
		background-color: transparent;

		&:first-child {
			padding-left: 0;
			width: 80px;
		}

		&:last-child {
			width: 90px;
		}
	}
}

.application-sidebar {
	@include font-size(1.3);
}

.application-imoney-usp {
	h3 {
		margin-bottom: 5px;
		color: $brandcolor1;
		font-weight: 400;
		font-family: $helvetica;
	}

	p + h4 {
		margin-top: 20px;
	}

}


/* footer  */
[role="contentinfo"] {
	@include font-size(1.2);
	color: $lightercolor;
	margin-top: 30px;
	margin-bottom: 30px;
}

.lt-ie9 .application-detail td {
	width: 90px;
}