.table-asbloan {

	[data-column="0"], .apply-col {
		width: 10%;
	}

	[data-column="3"] {
		width: 12%;
	}

	[data-column="4"], [data-column="5"] {
		width: 14%;
	}

	td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
		text-align: left;
	}

	td {
		font-size: 13px;
		font-size: 1.3rem;
	}
}



