// defining different types of block here

.block-grey {
	background: url(../img/gradientbg-grey.png) bottom repeat-x $lightgrey;

	.bt, .br, .bb, .bl, &.bt, &.br, &.bb, &.bl {
		border-color: #d3d7d8;
	}
}

	.block-grey-title {
		color: $lightercolor;

		a {
			color: inherit;
		}
	}

.block-cal {
	@extend %clearfix;
}

.block-silver {
	background: url(../img/gradientbg-silver.png) bottom repeat-x #fff;

	.bt, .br, .bb, .bl, &.bt, &.br, &.bb, &.bl {
		border-color: #d3d7d8;
	}
}

.block-white {
	background-color: #fff;
}

.block-wrapper {
	background-color: $lightgrey;
	@include border;
	margin-bottom: 10px;

	&.block-wrapper-white {
		background-color: #fff;
	}

	&.block-wrapper-grey {
		border-width: 3px;
		border-color: $lightercolor;

		.block-header {
			background-color: $lightercolor;
			color: #fff;
			padding: 5px 10px 8px;
			text-shadow: 0 1px 0 rgba(0,0,0,.2);
		}
	}

	.block-header {
		background-color: $brandcolor1;
		color: $lightgrey;

		> * {
			color: white;
		}
	}
	.block-title {
		margin: 0;
	}
}

.block-green {
	background: url(../img/gradientbg-green.png) bottom repeat-x $successcolor;
	color: #fff;
}

.block-darkblue {
	background: url(../img/gradientbg-darkblue.png) bottom repeat-x $brandcolor1;
	color: #fff;
}

.block-lightblue {
	background-color: $brandcolor2;
	color: #fff;

	a {
		color: #fff;
		text-decoration: underline;
	}
}

.block-groovepaper {
	background: url(../img/bg-groovepaper.png) #fff;
}

.block-groovepaper-grey {
	background: url(../img/bg-groovepaper-grey.png) $lightgrey;

	.bt, .br, .bb, .bl, &.bt, &.br, &.bb, &.bl {
		border-color: #d3d7d8;
	}
}

/* sidebar */

.block-sidebar {
	margin-bottom: 30px;
}