@import 'mixin';
@import 'var';
@import 'bourbon';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);

$imgurl : "../img/campaign/bmw-test-drive";

$bmwblue : #3595c6;
$bmwdarkblue : #006395;
$raleway: "Raleway","Helvetica Neue", Arial, sans-serif;

.disp-t {
	display: table;
	width: 100%;
}

.disp-tc {
	display: table-cell;
}

/* ==========================================================================
   MOBILE CONTROL
   ========================================================================== */
.mb-bmw-test-drive {

	.bmw-hero-header {
		
		img {
			display: block;
		} 
	}

	.hero-content {
		background: #333;
		padding:15px 20px;

		h3 {
			@include font-size(2.2);
			font-family: $raleway;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
		}
	}

	&.bmw-test-drive {

		.testdrive-form-row {
			display: block;
			width: 100%;

			.btn-test-drive {
				@include font-size(1.8);
				width: 85%;
			}
		}

		.desc-row {
			font-weight: normal;
		}

		.success-wrap {
			left:auto;
			right:auto;
		}
	}

	.success-wrap.animated{
		position: relative;
	}
}

/* media queries */

@media (max-width: 480px) {
	.mb-bmw-test-drive {

		.content-top {
			padding-left: 15px !important;

			ul {

				li {
					padding-left:0;
					padding-top:80px;
					padding-bottom: 30px;

					&.balloon-payment, &.trade-in {
						background-position: top center;
					}

					&.trade-in {
						padding-top: 60px;
					}
				}
			}
		}

		.content-btm {
			padding:7px !important;
		}

		.bmw-feature-table thead td:first-child {
			@include font-size(1.7);
		}
		.bmw-feature-table thead td {
			@include font-size(1.3);
		}


	}
}


/* ==========================================================================
   END MOBILE
   ========================================================================== */




.bmw-test-drive {
	color:#fff;
	@include font-size(1.3);
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;

	h1,h2,h3,h4,h5,h6 {
		color:#fff;
		margin-bottom: 2px;
	}

	p {
		margin-bottom: 3px;
	}

	.bmw-hero {
		height: 360px;
		position: relative;

		.daftar {
			position: absolute;
			display: inline-block;
			bottom:36px;
			width: 157px;
			left: 33px;
			border:1px solid #fff;
		}
	}

	.second-row {
		display: table;

		.bmw-headline {
			background: $bmwdarkblue;
			padding: 9px 20px;
			

			h3 {
				font-weight: 600;		
				font-family: $raleway;	
				@include font-size(2.2);	
			}

			p {
				margin-bottom: 0;
				font-family: $raleway;
				font-weight: 400;
			}
		}

		.bmw-content {
			padding:15px;
			color:#dadada;

			&.content-top {
				padding-left: 30px;
				padding-bottom: 5px;
			}
		}
	}           

	.content-top {

		h4 {
			color:#ffa94e;
		}

		li {
			padding-left: 130px;
			padding-bottom: 20px;

			&.balloon-payment {
				background:url(#{$imgurl}/balloon-icon.png) 20px 50% no-repeat;
				background-size: 55px 66px;
			}

			&.trade-in {
				background: url(#{$imgurl}/trade-car.png) 0 50% no-repeat;
				background-size: 100px 48px
			}
		}
	}

	.content-btm {

		h4 {
			font-weight: 500;
		}
	}

	.desc-row {
		display: table-cell;
		vertical-align: top;
		background:#121212;
		font-weight: 200;
	}

	.testdrive-form-row {
		display: table-cell;
		@include box-sizing(border-box);
		background: $bmwblue;
		vertical-align: top;
		font-family: "Raleway", 'Helvetica Neue', Arial, sans-serif;
		width: 370px;
		position: relative;
		padding:15px 20px 60px;



		.form-header-wrap {
			margin-bottom: 18px;

			h3 {
				font-weight: 600;
				font-family: $raleway;
			}

			p {
				@include font-size(1.50);
				font-family: $raleway;

			}
		}
		h3 {
			line-height: 18px;
		}

		.form-group {
			margin-bottom: 13px;
			position: relative;

			input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
				padding: 8px 10px 8px 60px;
				line-height: initial;
				@include font-size(1.7);
				border:0;
				background-color:#fff;
				position: relative;
				left:0;
				font-family: $raleway;
				@include transition(.2s ease all);

				&.error {
					background-color:#FFBFB7;
					color:#333;	

					&:focus {
						color:#313131;
					}
				}

				&:focus {					
					box-shadow:0 2px 5px rgba(0,0,0,0.2);
					background-color:#ffe8b8;
					@include transform(translateX(3px));
					@include transition(.2s ease all);

					.no-transforms & {
						left:3px;
					}
				}
			}

			.error {
				color:#FFE6C1;


			}

			.select-field {
				background-color: #fff;
				border: 0;
				height: 45px;
				width: 100%;
				display: block;
				text-indent: 52px;
				font-size: 17px;
				color: #aaa;
				margin-bottom: 0;
				font-family: $raleway;
				font-weight: 400;

				&.field-salary {
					background: #fff url(#{$imgurl}/icon-salary@2x.png) 10px 8px no-repeat;
					background-size:40px 27px;
				}

				&:focus {
					box-shadow:0 0 0 2px #f49631;
					background-color:#fce5cc !important;
				}

				&.error {
					background-color:#FFBFB7;
				}
			}

			.form-control {
				@include box-sizing(border-box);
				width: 100%;
				height:45px;
			}
		}

		.field-name {
			background: #fff url(#{$imgurl}/icon-name@2x.png) 10px 8px no-repeat;
			background-size:40px 27px;
		}

		.field-email {
			@extend .field-name;
			background-image: url(#{$imgurl}/icon-email@2x.png);
		}

		.field-mobile {
			@extend .field-name;
			background-image: url(#{$imgurl}/icon-mobile@2x.png);
		}

		.field-age {
			@extend .field-name;
			background-image: url(#{$imgurl}/icon-age@2x.png);
		}
		.checkbox-field {
			padding-bottom: 10px;
			color:#004467;
			font-weight: 600;

			.error {
				@include font-size(1.3);
				font-weight: 400;
			}

			.form-group {
				margin-bottom: 2px;
			}

			label {
				@include font-size(1.7);
			}

			input[type="radio"],{
				display: none;
				cursor:pointer;

				&:checked + label:before {
					background:url(#{$imgurl}/check-icon-ticked.png) 0 0 no-repeat;
					content:"";
					width:20px;
					height:20px;
					background-size:20px;
					position: absolute;
					left:0;
					top:3px;
					@include transition(.2s ease background);
				}

				&:hover {
					cursor:pointer;
				}
			}

			.radio-label {
				padding-left:30px;

				&:before {
					content:"";
					width:20px;
					height:20px;
					background:url(#{$imgurl}/check-icon.png) 0 0 no-repeat;
					background-size:20px;
					position: absolute;
					left:0;
					top:3px;
					@include transition(.2s ease background);
				}

				&:hover {
					cursor:pointer;
				}
			}
		}

		.agreement-wrap {
			position: relative;
			color:#012d44;
			font-family: $raleway;
			border-top:2px solid #00547e;
			padding-top:15px;
			padding-bottom: 20px;

			.error {
				padding-left: 30px;
			}

			input[type="checkbox"]{
				display: none;

				&:checked + label:before {
					background:url(#{$imgurl}/check-icon-ticked.png) 0 0 no-repeat;
					content:"";
					width:20px;
					height:20px;
					background-size:20px;
					position: absolute;
					left:0;
					top:3px;
				}
			}

			.checkbox-label {
				padding-left:30px;
				display: block;
				position: relative;
					
				&:before {
					content:"";
					width:20px;
					height:20px;
					background:url(#{$imgurl}/check-icon.png) 0 0 no-repeat;
					background-size:20px;
					position: absolute;
					left:0;
					top:3px;
				}

				&:hover {
					cursor:pointer;
				}
				
			}			
		}

		.btn-test-drive {
			background: #f59f43;
			width: 79%;
			margin:0 auto;
			display: block;
			position: relative;
			padding:9px 20px;
			text-transform: uppercase;
			font-weight: 600;
			@include font-size(2.2);
			border:1px solid darken(#f59f43, 14);
			box-shadow: 0 3px 0 darken(#f59f43, 30);
			overflow: hidden;
			@include transition(.2s ease all);
			outline: none;
			z-index: 1;

			&:after {
				content:"";
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 0;
				top: 50%;
				left: 50%;
				background: rgba(248,232,209,0.2);
				opacity: 0;
				@include transform(translate3d(-50%,-50%,0) rotate(45deg));
				@include transition(.2s ease all);
			}

			&:hover:after {
				height: 380%;
				opacity: 1;
				z-index: 1;
			}

			&:active:after {
				height: 500%;
				opacity: 1;
				z-index: 1;
			}

			.no-csstransforms &:after {
				display: none;
			}

			.no-csstransforms &:hover {
				background: darken(#f59f43, 7);
			}
		}
	}  

	.bmw-feature-table {
		background:transparent;
		border:0;

		thead {
			color:#fff;
			@include font-size(1.6);

			font-weight: 500;

			td:first-child {
				@include font-size(2);
				font-family: "Raleway", 'Helvetica Neue', Arial, sans-serif;
			}
		}

		td {
			background: transparent;
			border-bottom: 1px solid #395851;

			&:first-child {
				border-right: 3px solid #3f9985;
			}
		}

		tbody {

			h4 {
				color:#67ffdd;
				@include font-size
			}
			p {
				@include font-size(1.2);
			}

			td:first-child {
				border-right:3px solid #3f9985;
			}

			tr:last-child {

				td {
					border-bottom: 0;
				}
			}
		}

		.bmw-checked {
			width: 23px;
			height:23px;
			background: url(#{$imgurl}/bmw-tick.png) 0 0 no-repeat;
			background-size:23px 23px;
			display: block;
			margin:0 auto;
		}
	}

	.bmw-contacts {
		position: absolute;
		bottom: 0;
		left:0;
		right:0;
		padding:20px 15px;
		color:#e1e1e1;
		background: $bmwdarkblue;
	}


	.tick-icon {
		width: 60px;
		height:60px;
		background:#84f081 url(#{$imgurl}/tick-icon.png) 50% 50% no-repeat;
		border-radius: 50%;
		display: inline-block;
		box-shadow:0 0 5px rgba(0,0,0,0.3);
		left:50%;
		margin-left:-30px;
		position: absolute;
		top:0;
		
	}

	.success-wrap{
		position: absolute;
		padding-top:90px;
		text-align: center;
		margin-top: 50px;
		opacity: 0;
		left:15px;
		right:15px;

		&:before {
			content: "";
			position: absolute;
			height:1px;
			display: block;
			background: #66E266;
			left: 50%;
			top: 30px;
			width: 0;
			@include transition(.2s ease all);
		}

		h2 {
			padding-bottom: 10px;
		}

		h4 {
			color:#fafafa;
			font-weight: 400;
		}

		&.animated {
			@include animation(slideIn 1s ease);
			opacity: 1;

			&:before {
				left:0;
				right:0;
				width: 100%;
				@include transition(.2s ease all);
			}
		}
	}
}

@include keyframes(slideIn) {

	0% { @include transform(translateY(70px)); opacity: 0; }
	100% { @include transform(translateY(0px)); opacity: 1;}
}







