@import "var";
@import "mixin";
@import "bourbon";

$bpi-darkred : #770004;
$bpi-green: #59b545;
$imgurl : "/sites/www.imoney.ph/themes/imoney_ph/img/campaign/bpi";
$bpi-medium-red : #80070b;
$bpi-red : #b01116;
$bpi-gold : #bd931a;
$bpi-lightgold: #d8af38;
$bpi-darkgold: #9c7608;
$submitbtn : #3AAF77;

.bpi-c {
	@include background-image(linear-gradient($bpi-red, $bpi-medium-red 100%));
	padding:15px 0 0;
	font-family: $roboto;
	overflow: hidden;
	min-height: 890px;
	@include box-sizing(border-box);
	padding-bottom: 300px;
}

.glow {
	position: absolute;
	background-image: url(#{$imgurl}/glow.png);
	background-repeat: no-repeat;
	width: 100%;
	height:413px;
	top:0;
	left:0;
}



.bpi-logo {
	width: 80px;
	height: 38px;
	background-image: url(#{$imgurl}/bpi-bank-logo.png);
	background-size: 80px 36px;
	position: absolute;
	right:20px;
	top:12px;
}

.bpi-headline-first {
	padding:20px 40px;
	background-color: $bpi-darkred;
	background-repeat: no-repeat;
	width: 650px;
	height: 77px;
	position: relative;
	margin-top:10px;
	@include box-sizing(border-box);

	&:before {
		display: block;
		content:"";
		position: absolute;
		right:-40px;
		top:0;
		border-width:38px 20px 39px;
		border-style:solid;
		border-color:transparent transparent $bpi-darkred $bpi-darkred;
	}
}

.bpi-headline-second {
	padding:10px 20px;
	@include linear-gradient(to right, $bpi-lightgold, $bpi-gold);
	border-bottom: 4px solid $bpi-darkgold;
	position: relative;
	text-align: right;
	text-shadow: 0 2px 1px rgba(0,0,0,0.2);

	h4 {
		color: #fff;
		margin:0;
		@include font-size(1.9);
		font-weight: 400;
	}
}

.bpi-anim {
	padding:30px 0;
	position: relative;

	.cloud1, .cloud2, .cloud3 {
		background-image:url(#{$imgurl}/sky.png);
		background-repeat: no-repeat;
		background-size: 198px 50px;;
	}

	.plane-promo {
		background-image:url(#{$imgurl}/plane-promo.png);
		background-repeat: no-repeat;
		background-size: 699px 109px;
	}
	.plane-success {
		background-image:url(#{$imgurl}/plane-thankyou.png);
		background-repeat: no-repeat;
		background-size: 620px 109px;
	}
}

.cloud1{
	position: absolute;
	left: 1%;
	top: 38px;
	background-position: -101px 0;
	width:96px;
	height:38px;
	opacity: 0;
	@include transition(.7s ease-out all);

	&.moving {
		left:3%;
		opacity: 1;
	}
}

.cloud2 {
	position: absolute;
	top:20px;
	right:32%;
	background-position: -101px 0;
	width: 96px;
	height:38px;
	opacity: 0;
	@include transition(.7s ease-out all .3s);
	
	&.moving {
		right:30%;
		opacity: 1;
	}
}

.cloud3 {
	position: absolute;
	top:90px;
	right:7%;
	background-position: 0 0;
	width: 100px;
	height:50px;
	opacity: 0;
	@include transition(.7s ease-out all);

	&.moving {
		right:10%;
		opacity: 1;
	}
}

.plane-promo{
	position: relative;
	width: 699px;
	height: 110px;
	display: inline-block;
	top: 40px;
	@include transform(translateX(150%));
	@include transition(3s ease-out all);
	transition-delay: .5s;

	.bpi-success & {
		left:-100% !important;
	}

	&.moving {
		@include transform(translateX(0));
		left:60px;
	}

	&.floating {
		@include animation(floating 4s ease-in-out infinite);
	}
}
.plane-success {
	position: absolute;
	width: 620px;
	height:109px;
	left: 100%;
	@include transform(translateX(150%));
	@include transition(3s ease-out all);
	transition-delay: 2s;
	color:#fff;
	top:50px;

	.bpi-success & {
		left:100px;
		@include transform(translateX(0));
		@include animation(floating 4s ease-in-out infinite 2s);
	}
}

.bpi-application-wrap {
	padding:30px 13% ;
	position: relative;
	z-index: 2;

	.bpi-content {
		margin-bottom: 30px;
		
	}

	.bpi-content__header {
		@include linear-gradient(to right, $bpi-lightgold, $bpi-gold);
		padding:14px 15px;
		@include font-size(1.7); 
		color:#fff;
		text-align: center;
		border-radius: 4px 4px 0 0;
		text-shadow: 0 2px 1px rgba(0,0,0,0.2);
	}

	.bpi-content__body {
		background:#fff;		
	}
}

.bpi-card {
	margin:0;

	> li {
		padding: 20px 150px 20px 190px;
		background:none;
		border-bottom: 1px solid #e5e9eb;
		position: relative;
		cursor: pointer;
		box-shadow: inset -130px 0 0 lighten($bpi-gold, 53);

		ul {
			margin-bottom: 0;
		}

		&:hover {

			.bpi-card__select {
				border-color: darken(#C49495, 15);
			}

			.bpi-card__select-tip {
				@include animation(bounce .9s ease-in infinite);
			}
		}
	}

	h5 {
		color: $bpi-red;
		@include font-size(1.8);
		margin-bottom: 0;
		line-height: 1.3;
	}

	h6 {
		color: $bpi-gold;
		@include font-size(1.5);
		line-height: 1;
		font-weight: 400;
	}

	.bpi-cards__img {
		position: absolute;
		left:20px;
		top:24px;
	}
	
	&__select {
		position: absolute;
		width: 50px;
		height: 50px;
		border: 3px solid #C49495;
		background: transparent;
		border-radius: 50%;
		right: 40px;
		top: 50%;
		margin-top: -25px;

		&:before {
			position: absolute;
			content: '';
			width: 56px;
			height: 56px;
			background: $bpi-green url(#{$imgurl}/bpi-card-select.png) center no-repeat;
			display: block;
			background-size: 17px, 18px;
			left: -3px;
			top: -3px;
			border-radius: 50%;
			@include transform(scale(0));
			@include transition(transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear);
		}

		.bpi-card--selected & {

			&:before {
				@include transform(scale(1));
			}
		}
		.bpi-card__select-tip {
			font-size: 11px;
			position: absolute;
			text-align: center;
			width: 100%;
			top: -28px;
			left: -6px;
			background: #C543A6;
			padding: 2px 5px;
			// box-shadow: 0 1px 0 rgba(0,0,0,.2);
			border-radius: 2px;
			color: #fff;

			&:after {
				position: absolute;
				width: 0;
				height: 0;
				border: 3px solid;
				border-color: #C543A6 transparent transparent;
				top: 100%;
				content: '';
				left: 50%;
				margin-left: -3px;
			}
		}
	}
}

@include keyframes(bounce) {
	0% {
		@include transform(translateY(0));

	}

	20% {
		@include transform(translateY(-25px));
		
	}
	30% {
		@include transform(translateY(-25px));

	}

	40% {
		@include transform(translateY(0));
		padding-top:0;
	}

	50% {
		@include transform(translateY(-15px));
	}
	60% {
		@include transform(translateY(0));
		padding-top:0;
	}
	70% {
		@include transform(translateY(-8px));
	}
	80% {
		@include transform(translateY(0));
		padding-top:0;
	}
}

@include keyframes(floating) {
	0% {
		@include transform(translateY(0));
	}
	50% {
		@include transform(translateY(-15px));
	}
	100% {
		@include transform(translateY(0));
	}
}

#bpi-app-form {
	padding:20px;


	.form-control {
		border:0;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid lighten($bpi-gold, 25);
		position: relative;
		background:#F5F3ED;
		padding:5px 10px;
		
		&:focus {
			background:lighten($bpi-gold, 50);
			border-bottom: 1px solid $bpi-gold;
		}
		&.error {
			background: #F7DEDE;
		}
	}

	.picked {
		padding:10px;
		border: 3px solid lighten($submitbtn, 40);
		background:lighten($submitbtn, 49);
	}

	.control-label {
		display: block;
	}

}

.bpi-submitted {
	text-align: center;
	position: relative;
	display: none;

	&__content {
		padding: 30px;
		@include background-image(linear-gradient(#59b545, #16a220 100%));
		margin:60px 0;

		h2 {
			color: #fff;
			text-shadow: 0 2px 1px rgba(0,0,0,0.2);
			font-weight: bold;
			text-transform: uppercase;
		}

		h4 {
			color:#0A5E03;
		}
	}
}

.btn-bpi-submit {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	background: $submitbtn;
	border:1px solid darken($submitbtn, 10);
	@include transition();

	&:hover {
		background: saturate($submitbtn, 13);
	}
}
.required {
	color: red;
}

.bpi-footer {
	background: url(#{$imgurl}/building-ph.svg) bottom center no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height:300px;

	.no-svg & {
		background: url(#{$imgurl}/building-ph.svg) bottom center no-repeat;
	}
}

label.error {
	@include font-size(1.2);
	color: $failcolor;
	display: block;
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 1020px) {
	body {
		min-width: 0;
		padding: 0 10px;
	}
	#page, .ct-wrapper {
		width: auto;
	}
}

@media (max-width: 825px) {
	.bpi-application-wrap {
		width:auto;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 810px) {
	.bpi-logo {
		position: relative;
		margin:0 auto 30px;
		right:auto;
	}

	.plane-promo, .plane-success {
		width: 97%;
		box-sizing:border-box;
		margin-left:10px;

		&.moving{
			left:10px;
		}
		
	}
	.bpi-success .plane-success {
		left:2px;
		background-size:contain;
	}
	.bpi-headline-first {
		width: 100%;
		height:auto;

		&:before {
			display: none;
		}
	}

	.bpi-headline-second {
		text-align: center;

		h4 {
			@include font-size(1.7);
		}
	}
}

@media (max-width: 767px) {
	.bpi-card .bpi-cards__img {
		width: 100px;
	}
	.bpi-c {
		padding-bottom: 200px;
	}
	.bpi-card > li {
		padding-left: 135px;
	}
	.bpi-anim .plane-promo {
		background-size:contain;
		height:100px;		
		margin-left:0;
	}
	.bpi-footer{
		height:200px;
	}
}

@media (max-width: 550px) {
	#bpi-app-form {
		padding: 10px;
	}

	.bpi-headline-first {
		padding-top: 15px ;
		padding-bottom: 10px;
	}
	.bpi-headline-second {

		h4{
			@include font-size(1.4);
		}
		
	}
	.bpi-c {
		padding-bottom: 130px;
		min-height: 600px;
	}
	.bpi-footer{
		height:130px;
	}
	.bpi-card .bpi-cards__img {
		left:auto;
		top:15px;
	}
	.plane-promo {
		display: none;
	}
	.bpi-card > li {
		box-shadow: inset -80px 0 0 lighten($bpi-gold, 53);
	}
	.bpi-card > li {
		padding-left:15px;
		padding-top: 90px;
		padding-right: 90px;
	}

	.bpi-card__select {
		right:14px;
	}
	.bpi-submitted__content {
		padding:15px;
	}
}
