.breadcrumb {
  @include font-size(1.1);
  color: $lightercolor;
  padding: 5px 15px 0 0;
  margin: 0 0 -5px;
  list-style: none;
  a {
    color: lighten($lightercolor,10);
    text-decoration: underline;
  }
  > li {
    display: inline-block;
    + li:before {
      content: "\203A"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
    }
  }
  > .active {
  }
}