/* -----------------
	BUTTON
-------------------- */

button {
	border: none;
}

.btn {
	@include box-sizing;
	@include box-shadow(inset 0 -2px 0 rgba(0,0,0,.15));
	background: $lightercolor;
	display: inline-block;
	padding: 0 18px 2px;
	line-height: 30px;
	color: #fff;
	border-radius: $radius;
	border: 1px solid darken($lightercolor, 4);
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	vertical-align: middle;
	text-align: center;

	&:hover {
		text-decoration: none;
		background: lighten($lightercolor, 4);
	}

	&:active {
		@include box-shadow(inset 0 2px 2px rgba(0,0,0,.2));
	}

	&:visited {
		color: #fff;
	}

	.block-grey & {
		text-shadow: none;
	}

}

.btn-primary {
	background: $brandcolor1;
	border-color: darken($brandcolor1, 4);

	&:hover {
		background: darken($brandcolor1, 4);
	}
}

.btn-success {
	background: $successcolor;
	border-color: darken($successcolor, 6);

	&:hover {
		background: darken($successcolor, 6);
	}
}

.btn-info {
	background: $brandcolor2;
	border-color: darken($brandcolor2, 4);

	&:hover {
		background: darken($brandcolor2, 4);
	}
}

.btn-danger {
	background: $failcolor;
	border-color: darken($failcolor, 4);

	&:hover {
		background: darken($failcolor, 4);
	}
}

.btn-lg {
	padding: 0 24px 3px;
	line-height: 37px;
	@include font-size(1.6);
}

.btn-strong {
	border: 2px solid darken($successcolor,15);
	box-shadow: inset 0 2px 0 rgba(255,255,255,.2);
	padding-top: 2px;
	padding-bottom: 1px;
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent;
	background-color: transparent;
}

.btn-link {
	color: $brandcolor2;
	padding-left: 0;
	padding-right: 0;

	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: $brandcolor2;
	}
}

input {

	&.btn {
		line-height: 1.2;
		height: 34px;
	}
	&.btn-lg {
		line-height: 1.2;
		height: 42px;
	}
}

// Button Group

.btn-group {
	@extend %clearfix;

	.btn {
		border-radius: 0;
		@include font-size(1.3);
		padding: 1px 10px;
		float: left;
		background: #fafbfc;
		border: 1px solid lighten($blkgreycolor,15);
		border-right-width: 0;
		color: $color;
		@include box-shadow(inset 0 -2px 0 rgba(0,0,0,.08));
		text-shadow: none;

		&:hover {
			background: darken(#fafbfc, 4);
		}

	}

	.btn:first-child {
		border-radius: $radius 0 0 $radius;
		// border-right: 0;
	}

	.btn-group-last {
		border-radius: 0 $radius $radius 0;
		border-right-width: 1px;
	}

	.btn-group-pressed {
		@include box-shadow((inset 0 2px 2px rgba(0,0,0,.15), inset -1px 0 1px rgba(0,0,0,.2)));
		background: $lightercolor;
		color: #fff;
		border-color: darken($lightercolor,5);
		text-shadow: 0 1px 0 rgba(0,0,0,.15);

		&:hover {
			background: $lightercolor;
		}

		+ .btn {
			border-left-color: darken($lightercolor,5);
		}

		&.btn-group-pressed-yes {
			background: darken($successcolor,10);
			border-color: darken($successcolor,15);
		}

		&.btn-group-pressed-no {
			background: darken($failcolor,10);
			border-color: darken($failcolor,15);
		}
	}

}


// disabled button
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	//pointer-events: none;
	cursor: default;
	background: lighten($lightercolor, 40);
	color: lighten($lightercolor,55);
	box-shadow: none;
	text-shadow: none;
	border-color: lighten($lightercolor,40);

	&:hover, &:active {
		background: lighten($lightercolor, 40);
	}
		
}
