@import "var";
@import "mixin";
@import "bourbon";

$imgurl : "../img/call-me-back/";
html, body {
	height:100%;
	background-color:#EAEFF1;

}

body {
	font-family: $roboto;
	font-weight: 300;
	min-width: 800px;
	@include font-size(1.4);

	.header-logo{
		float:none;
		display: inline-block;
	}

	.header {
		text-align: center;
		min-width: 800px;
	}
}

::-webkit-input-placeholder {
   color: lighten(#5C7B94, 14);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten(#5C7B94, 14);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten(#5C7B94, 14);
}

:-ms-input-placeholder {  
   color: lighten(#5C7B94, 14);
}

.wrapper {
	width: 800px;
	margin:0 auto;
}

.call-me-hero {
	padding:80px 0 30px;
	@include background-image(url(#{$imgurl}/low-poly-20.png), linear-gradient(#7AD3F0, #46A2C8 100%));
	background-size: cover;
	text-align: center;
	overflow: hidden;
	position: relative;

	.wrapper {
		position: relative;
		z-index: 2;
	}

	h1 {
		color:#fff;
		@include font-size(4.0);
		text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
		font-weight: 700;
		font-family: "Lato", sans-serif;
	}

	h4 {
		@include font-size(2.7);
		color:#07456B;
		margin-bottom:0;
	}

	h5 {
		@include font-size(2.2);
		font-weight: 300;
		color: #07456B;
	}

	.card-showcase {
		background:url(#{$imgurl}/card-showcase.png) 0 0 no-repeat;
		position: absolute;
		width: 465px;
		height:634px;
		right:-150px;
		top:-125px;
		z-index:0;
	}

	.call-me-form {
		padding: 20px;
		background-color: rgba(7,69,107,0.3);
		@include box-sizing(border-box);
		border-radius: 5px;
		width:460px;
		margin:100px auto 50px;
		position: relative;
		@include transition(.3s ease all);
		box-shadow: 0 0 15px rgba(0,0,0,0.15);

		&.shake {
			@include animation(shake 1s both);
		}
		&.success {
			background-color: rgba(255,255,255,0.7);
			padding:56px 20px;
			overflow:visible;

			.thankyou-wrapper{
				opacity: 1;
			}

			.circle-success{
				top:-38px;
				@include transition(.7s ease all);
			}
		}

		.indicator-text {
			position: absolute;
			top:-50px;
			left:-80px;
			color:#EEFBFF;
			@include font-size(1.3);
			text-align: left;
			@include transform(rotate(-4deg));
			text-shadow:0 1px 0 rgba(0,0,0,0.2);

			&:after {
				content: "";
				display: inline-block;
				background-size: 49px 52px;
				background-image:url(#{$imgurl}/arrow-dashed.png);
				width:49px;
				height: 52px;
				position: absolute;
				left:10px;
				bottom:-60px;
			}


		}

		.thankyou-wrapper {
			opacity:0;

			.circle-success {
				width: 60px;
				height:60px;
				position: absolute;
				background-image:url(#{$imgurl}/circle-success.png);
				bottom:0;
				background-size:60px;
				left:50%;
				margin-left:-30px;
				@include transition(.7s ease all);
			}

			h4 {
				@include font-size(2.2);
				color:#3AA83A;
				margin-bottom:20px;
			}

			p{
				width:80%;
				margin:0 auto;
				@include font-size(1.6);
				color:#4A4A4A;
				font-weight: 400;
			}

			a{
				color:#19A4D7;
			}
		}

		.form-wrapper {
			position: relative;
		}

		.input-wrapper{
			margin-bottom: 13px;
			text-align: left;

			label.error {
				color:#FFD4D4;
			}

			.txtbox.error {
				background:#FAE4E3;
				border:1px solid #EC0606;
			}
		}
		input[type="text"], input[type="number"]{
			color:#fff;
			border:0;
			display: block;
			@include box-sizing(border-box);
			width: 100%;
			height:40px;
			margin-bottom:4px;
			margin-top:5px;
			@include font-size(1.6);
			color:#5C7B94;
			box-shadow: none;

		}

		.txtbox:focus {
				box-shadow: 0 2px 2px #145a85;
			}

		.btn-call {
			background-color:#EFA223;
			width: 100%;
			border:0;
			@include font-size(1.8);
			padding:5px 8px;
			box-shadow: 0 3px 0 darken(#EFA223, 15);
			margin-bottom: 15px;

			&:hover {
				background-color: lighten(#EFA223, 3);
			}
		}

		p {
			@include font-size(1.1);
			color:#fff;

			a {
				color:#31D6FF;
			}
		}


	}
}

.call-me-testi {

	padding:50px 0;
	text-align: center;

	.testi-text {
		font-family: 'Merriweather', serif;
		font-style: italic;
		@include font-size(1.8);
		color:#8C9EA5;
		width: 80%;
		margin:0 auto 40px;
		text-align: left;
		position: relative;

		&:before {
			background-image: url(#{$imgurl}/quote-icon.png);
			position: absolute;
			content:"";
			display: block;
			width:120px;
			height:90px;
			left:-90px;
			opacity: 0.1;
		}
	}

	.testi-ppl {

		img{
			border-radius: 50%;	
		}

		h4 {
			color: #07456B;
			margin-bottom: 0;
			margin-top: 15px;
		}
	}
}

@include keyframes(shake) {

	0%, 100% { @include transform(translate3d(0,0,0)) }

  10%, 30%, 50%, 70%, 90% { @include transform(translate3d(-10px,0,0)) }

  20%, 40%, 60%, 80% { @include transform(translate3d(10px,0,0)) }
    	
}

@media (max-width: 960px) {
	.wrapper, body .header, body {
		min-width: 100%;
		width:100%;
	}

	.call-me-hero {

		.card-showcase {
			background: url(#{$imgurl}/card-showcase-horiz.png) 50% 0 no-repeat;
			background-size: contain;
			width:100%;
			height:244px;
			position: absolute;
			bottom:-100px;
			top:auto;
			right:0;
			left:0;
		}

		.call-me-form {
			margin-bottom: 170px;
		}
	}
}  


@media (max-width: 630px) {

	.call-me-hero {
		padding-left:10px;
		padding-right: 10px;

		.call-me-form {
			margin-bottom: 100px;

			.indicator-text {
				top:-70px;
				left:0;
				right:0;
				text-align: center;
				@include transform(rotate(0));
				@include font-size(1.7);

				&:after {
					display: none;
				}
			}
		}

		.card-showcase{
			bottom:-150px;
		}
	}
}

@media (max-width: 480px) {

	.call-me-hero {
		padding-top:50px;
		

		h1 {
			@include font-size(3);
		}

		h4 {
			@include font-size(2);
		}

		h5{
			@include font-size(1.8);
		}

		.call-me-form {
			width: 100%;
			padding-left:10px;
			padding-right: 10px;

			&.success {
				margin-top:70px;
				padding:40px 20px 30px;
			}
		}

		.card-showcase{
			bottom:-160px;
			background-size: 422px 122px;
		}
	}

	.call-me-testi .testi-text {
		@include font-size(1.6);

	}
}



