@import "var";
@import "mixin";

/*****************************
	REFINANCING CAMPAIGN
******************************/

.refinancing-hero {
	position: relative;
	float: right;
	top: -7px;
	padding-right: 30px;
}

.refinancing-chart {
	position: relative;
	width: 438px;
	margin: 0 auto;

	.refinancing-chart-low {
		position: absolute;
		z-index: 2;
		right: 102px;
		top: 70px;
		-webkit-animation: pop 0.8s 3 2s;
		-moz-animation: pop 0.8s 3 2s;
		animation: pop 0.8s 3 2s;
	}
}

.refinancing-why {
	h3 {
		margin-bottom: 5px;
	}
	p + h3 {
		margin-top: 20px;
	}
}

@-webkit-keyframes pop {
	0% {
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		        transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(5px);
		   -moz-transform: translateY(5px);
		        transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		        transform: translateY(0px);
	}
}

@-moz-keyframes pop {
	0% {
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		        transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(5px);
		   -moz-transform: translateY(5px);
		        transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		        transform: translateY(0px);
	}
}

@keyframes pop {
	0% {
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		        transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(5px);
		   -moz-transform: translateY(5px);
		        transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		        transform: translateY(0px);
	}
}

$whyicon: "why", "idea", "want";

@each $icon in $whyicon {
	.icon-#{$icon}{
		background: url(../img/campaign/refinancing/icon-#{$icon}.png) no-repeat left;
		padding-left: 22px;
	}
}

.application-title {
	color: #fff;
	background: url(../img/application-title-bg.png) top right no-repeat $brandcolor1;

	h1:first-child {
		color: #fff;
		margin: 0;
	}
}

.refinancing-signup-header {
	padding: 0 20px;
	height: 64px;
	line-height: 64px;
	margin: -13px 0 0;
}

// why use imoney

@for $i from 1 through 4 {
	.refinancing-whyimoney-#{$i}{
		background: url(../img/campaign/refinancing/icon-why-#{$i}.png) no-repeat left 3px;
		padding-left: 45px;
	}
}

// bank logos

.bank-logos {
	background: url(../img/campaign/refinancing/bank-logos.png) center no-repeat;
	height: 54px;
}

// signup form
.form-select {
	width: 100%;
}


/* footer  */
[role="contentinfo"] {
	@include font-size(1.2);
	color: $lightercolor;
	margin-top: 30px;
	margin-bottom: 30px;
}

.lt-ie9 .application-detail td {
	width: 90px;
}

//variations

.refinancing-header-v2 {
	background: url(../img/campaign/refinancing/refinancing-hero.png) no-repeat -65px center;
	padding-left: 190px;
}

.refinancing-signup-v2 {
	border: 4px solid $brandcolor1;
}

.block-lightblue {
	text-shadow: 0 1px 1px rgba(0,0,0,.1);

	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]  {
		border-color: #fff;
		-webkit-box-shadow: none;
		box-shadow: none;

		&:focus, &:active {
			border-color: $brandcolor1;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	.extra-info {
		color: #fff;
		margin-top: 10px;
	}

	.btn {
		border-color: darken($brandcolor2,10);
		-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15), inset 0 1px rgba(255,255,255,.2);
		box-shadow: inset 0 -2px 0 rgba(0,0,0,.15), inset 0 1px rgba(255,255,255,.2);
		display: block;
		width: 100%;
	}

	.bt {
		border-color: darken($brandcolor2, 10);
	}
}

@media screen and (max-width: 1000px) {
	.ct-wrapper, #page {
		width: 750px;
	}

	h1 {
		@include font-size(2.6);
	}
}