@import "var";
@import "mixin";
@import "bourbon";

$img: "../img/campaign/scb";
$scb-green: #59b545;
$scb-green-dark: #16a220;
$scb-blue: #00599e;
$scb-blue-dark: #004475;
$scb-blue-light: #0083d6;

@mixin background-size($width, $height) {
	-webkit-background-size: $width $height;
	background-size: $width $height;
}

/****************************
	MAIN (content)
*****************************/

.scb-cb {
	background: #00182a url(#{$img}/bg.jpg) top no-repeat;
	color: #fff;
	font-family: $roboto;
}


// Bar
.scb-bar {
	overflow: hidden;

	[class*="bar"] {
		float: left;
		height: 10px;
	}
}
.bar-1 { background-color: $scb-green; width: 35% }
.bar-2 { background-color: $scb-green-dark; width: 15% }
.bar-3 { background-color: $scb-blue-dark; width: 25% }
.bar-4 { background-color: $scb-blue-light; width: 15% }
.bar-5 { background-color: $scb-blue; width: 10% }


// header
.scb-header {
	padding: 30px;
	text-align: center;
	position: relative;

	&__logo {
		background: url(#{$img}/logo-scb.png) no-repeat;
		float: right;
		width: 94px;
		height: 36px;
		@include background-size(94px, 36px);
		position: relative;
		top: -15px;
		right: -15px;
	}

	&__headline {
		clear: right;
		background: url(../img/campaign/scb/headline.png) no-repeat center;
		max-width: 745px;
		height: 71px;
		margin: 20px auto 0;
		background-size: cover;
	}

	&__subheadline {
		margin-bottom: 30px;
		color: #fff;
		display: inline-block;
		padding: 2px 10px;
		background: $scb-blue-dark;
		position: relative;

		&:before, &:after {
			position: absolute;
			width: 0;
			height: 0;
			border-width: 17px 6px;
			border-style: solid;
			content: '';
			display: block;
			top: 0;
		}

		&:after {
			left: 100%;
			border-color: transparent transparent transparent $scb-blue-dark;
		}

		&:before {
			right: 100%;
			border-color: transparent $scb-blue-dark transparent transparent;
		}
	}

	&__mechanism {
		padding: 0 11.5%;

		li {
			text-align: left;
			float: left;
			width: 50%;
			background: none;
			padding: 0 30px;
			@include box-sizing(border-box);
			@include font-size(1.6);
			position: relative;

			&:last-child {
				padding-right: 0;
			}

			&:first-child {

				&:before {
					background-position: 0 0;
				}
			}

			&:before {
				position: absolute;
				content: '';
				width: 32px;
				height: 33px;
				background: url(#{$img}/mechanism.png) no-repeat right;
				display: block;
				@include background-size(64px, 33px);
				left: -10px;
				top: 2px;
			}

			span {
				color: $brandcolor2;
				font-weight: 700;
				@include font-size(2.4);
				display: block;
			}
		}
	}


}

// steps
.scb-steps {
	position: relative;
	padding: 30px 13%;
	background: rgba(#002946, .7) url(#{$img}/arrow-down-green.png) no-repeat center 90%;
	@include background-size(21px, 11px);
	color: $brandcolor2;

	.how {
		position: absolute;
		left: 50%;
		top: -12px;
		width: 100px;
		margin-left: -50px;
		text-align: center;
		background: $scb-blue;
		color: #fff;
		height: 24px;
		line-height: 24px;

		&:before, &:after {
			position: absolute;
			width: 0;
			height: 0;
			border-width: 12px 6px;
			border-style: solid;
			content: '';
			display: block;
			top: 0;
		}

		&:after {
			left: 100%;
			border-color: transparent transparent transparent $scb-blue;
		}

		&:before {
			right: 100%;
			border-color: transparent $scb-blue transparent transparent;
		}
	}

	strong {
		color: $scb-green;
	}

	ul {
		overflow: hidden;
		margin-bottom: 0;
		margin-left: -14px;
	}

	li {
		background: none;
		@include box-sizing(border-box);
		float: left;
		width: 33.33%;

		strong {
			display: block;
		}
	}
}


.scb-content {
	padding: 30px 13%;
}




/****************************
	FORM
*****************************/

.scb-application {
	background: #fff;
	margin-bottom: 20px;

	&__header {
		@include background-image(linear-gradient($scb-green 0, $scb-green-dark 100%));
		padding: 15px 20px;
		text-align: center;

		h4 {
			margin-bottom: 0;
			text-shadow: 0 1px 1px rgba(0,0,0,.2);
		}
	}

	&__body {
		color: $color;
	}
}

.scb-card {
	margin-bottom: 0;

	> li {
		background: none;
		padding: 20px 150px 20px 190px;
		overflow: hidden;
		position: relative;
		@include border-bottom;
		@include transition(opacity 0.1s linear);
		box-shadow: inset -130px 0 0 #f6f7f8;
		cursor: pointer;

		&:hover {

			.scb-card__select {
				border-color: lighten($lightercolor,15);
			}
		}

		&.scb-card--selected {
			&:hover {
				.scb-card__select {
					border-color: $scb-green;
				}
			}
		}

		ul {
			margin-bottom: 0;
		}
	}

	h5 {
		@include font-size(1.8);
		color: $scb-blue;
		margin-bottom: 0;
	}

	&__image {
		position: absolute;
		left: 20px;
	}

	&__select {
		position: absolute;
		width: 44px;
		height: 44px;
		border: 3px solid lighten($lightercolor,30);
		background: transparent;
		border-radius: 50%;
		right: 40px;
		top: 50%;
		margin-top: -25px;

		&:before {
			position: absolute;
			content: '';
			width: 50px;
			height: 50px;
			background: $scb-green url(#{$img}/scb-card-select.png) center no-repeat;
			display: block;
			@include background-size(17px, 18px);
			left: -3px;
			top: -3px;
			border-radius: 50%;
			@include transform(scale(0));
			@include transition(transform 0.1s linear, -webkit-transform 0.1s linear, -ms-transform 0.1s linear);
		}

		.scb-card__select-tip {
			font-size: 11px;
			position: absolute;
			text-align: center;
			width: 100%;
			top: -28px;
			left: -6px;
			background: #fa0;
			padding: 2px 5px;
			// box-shadow: 0 1px 0 rgba(0,0,0,.2);
			border-radius: 2px;
			color: #fff;

			&:after {
				position: absolute;
				width: 0;
				height: 0;
				border: 3px solid;
				border-color: #fa0 transparent transparent;
				top: 100%;
				content: '';
				left: 50%;
				margin-left: -3px;
			}
		}

		.scb-card--selected & {

			&:before {
				@include transform(scale(1));
			}
		}
	}
}


#scb-form {
	padding: 20px;

	input[type="text"], input[type="email"], .form-control {
		line-height: 1.5;
		border: none;
		box-shadow: none;
		padding: 5px 10px;
		border-radius: 0;
		background: darken($lightgrey,3);
		border-bottom: 1px solid $darkerbordercolor;

		&:focus, &:active {
			border-bottom-color: $brandcolor2;
		}

		&.error {
			border-bottom-color: $failcolor;
		}

		&.valid {
			border-bottom-color: $successcolor;
		}
	}
}

label.error {
	@include font-size(1.1);
	color: $failcolor;
}

.btn-scb-submit {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 2px 0 rgba(0,0,0,.2);
	font-weight: 700;
	border: none;
	@include background-image(linear-gradient($scb-blue-light 0, $scb-blue 100%));

	&:hover {
		background-color: $scb-blue-light;
	}
}






/****************************
	SUBMITTED & SHARE
*****************************/

.scb-content--submitted {
	text-align: center;
	padding-top: 0;
}

.scb-submitted {

	&__header {
		@include background-image(linear-gradient($scb-green 0, $scb-green-dark 100%));
		padding: 30px;
		margin: 0 -18% 30px;
		text-shadow: 0 1px 1px rgba(0,0,0,.2);
		border-radius: 3px;

		> h2 {
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
		}

		p {
			display: inline-block;
			max-width: 740px;
			background: #107818;
			padding: 10px;
			margin-bottom: 0;
		}
	}

	&__share {
		padding-top: 30px;
		background: url(#{$img}/arrow-down-green.png) no-repeat center top;
		@include background-size(21px, 11px);
	}
}

.headline-share {
	max-width: 328px;
	margin-bottom: 10px;
}

.referral-link {
	color: $brandcolor2;
	border-radius: 6px;
	border: 3px solid $brandcolor2;
	padding: 10px;
	font-weight: bold;
	margin: 40px 0;
	word-wrap: break-word;
}

[class*="scb-share-"] {
	display: inline-block;
	width: 160px;
	height: 60px;
	background: url(#{$img}/scb-share-btns.png) no-repeat;
	@include background-size(320px, 60px);
	margin: 0 10px;
}
.scb-share-fb {background-position: left}
.scb-share-tw {background-position: right}

.box {
	display: none;
}


// footer
.scb-footer {
	padding: 30px 13%;
	color: lighten($lightercolor,10);
	@include font-size(1.1);
	background: rgba(#000,.25);
}


// responsive code

@media (max-width: 1020px) {
	body {
		min-width: 0;
		padding: 0 10px;
	}
	#page, .ct-wrapper {
		width: auto;
	}
}

@media (max-width: 820px) {
	.scb-header__headline {
		max-width: none;
		background-size: 100% auto;
	}
}

@media (max-width: 767px) {
	.scb-header__logo {
		float: none;
		margin: 0 auto -15px;
		right: 0;
	}
	.scb-header__mechanism {
		padding: 0;

		li {
			span {
				@include font-size(2.1);
			}
		}
	}
	.scb-steps, .scb-content, .scb-footer {
		padding-left: 30px;
		padding-right: 30px;
	}

	.scb-submitted__header {
		margin-left: -35px;
		margin-right: -35px;
	}

	.scb-card {
		&__image {
			width: 100px;
		}
		> li {
			padding-left: 140px;
			padding-right: 120px;
			box-shadow: inset -100px 0 0 #f6f7f8;
		}

		&__select {
			right: 25px;
		}
	}
}

@media (max-width: 479px) {
	.scb-header, .scb-steps, .scb-footer {
		padding-left: 10px;
		padding-right: 10px;
	}
	.scb-content {
		padding: 10px;
	}
	.scb-header__headline {
		background-image: url(#{$img}/headline-small.png);
		height: 120px;
	}
	.scb-header__subheadline {
		@include font-size(1.8);

		&:before, &:after {
			border-width: 13px 6px;
		}

	}
	.scb-header__mechanism li {
		float: none;
		width: auto;
		text-align: center;
		padding: 0;

		span {
				@include font-size(1.8);
			}

		&:before {
			display: none;
		}
		&:first-child {
			margin-bottom: 20px;
		}
	}

	.scb-steps {
		li {
			float: none;
			width: auto;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.scb-card {
		&__image {
			position: static;
		}
		> li {
			padding-left: 15px;
			padding-right: 100px;
			box-shadow: inset -80px 0 0 #f6f7f8;
		}

		&__select {
			right: 15px;
		}
	}

	#scb-form {
		padding: 15px;
	}
	.scb-application {
		margin-bottom: 10px;
	}
	.scb-submitted__header {
		margin-left: -15px;
		margin-right: -15px;
	}

	.headline-share {
		max-width: 100%;
	}

	.btn-lg {
		@include font-size(1.4);
	}
}

