@import "var";
@import "mixin";
@import "bourbon";

$img: "../img/cc-smartfilter/";

@mixin background-size($width, $height) {
	-webkit-background-size: $width $height;
	background-size: $width $height;
}

html {
	overflow-x: hidden;
}


body {
	background: $brandcolor2 url(#{$img}bg.jpg) top center repeat-x;
	overflow-x: hidden;
}

.ct-wrapper {
	position: relative;
}

/****************************
	HEADER
*****************************/

.top {
	padding: 20px 0;
	background: #fff;
	position: relative;
	z-index: 1;

	&-logo {
		@include size(150px 27px);
		background: url(../img/imoney-malaysia-logo.svg) no-repeat;
		@include background-size(150px, 27px);
		display: block;

		.no-svg & {
			background-image: url(../img/imoney-malaysia-logo.png);
		}
	}

	&-skiplink {
		position: absolute;
		right: 0;
		@include font-size(1.1);
		top: 50%;
		@include transform(translateY(-50%));
	}
}

.header {

	&-filter {
		padding: 40px 0 30px;
		color: #fff;
		position: relative;

		&:before {
			position: absolute;
			@include size(500px 500px);
			border: 45px solid #db2870;
			//@include animation(rotate 60s linear forwards infinite);
			@include transform(rotate(45deg));
			content: '';
			top: -320px;
			left: -5%;
		}

		h1, h2 {
			color: #fff;
		}

		h1 {
			font-weight: 700;
			@include font-size(3.6);
			margin-bottom: 5px;
			text-shadow: 0 1px 1px rgba(0,0,0,.2);
		}

		h2 {
			@include font-size(1.6);
			text-shadow: 0 1px 1px rgba(0,0,0,.2);
			margin-bottom: 0;
		}
	}

	&-callme {
		position: absolute;
		right: 0;
		top: 60%;
		@include transform(translateY(-50%));
		text-align: right;

		a {
			color: #fff;
		}

		h4 {
			font-weight: 400;
			@include font-size(1.8);

			span {
				display: inline-block;
				color: $brandcolor2;
				padding: 2px 10px;
				background-color: #fff;
				border-radius: 20px;
				box-shadow: 0 1px 2px rgba(0,0,0,.2);
			}
		}

		.extra-info {
			color: lighten($brandcolor2,40);
		}
	}
}

@include keyframes(rotate) {
  0% {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}


/****************************
	SLIDES
*****************************/

.slide {
	box-shadow: inset 60px 0 0 #f1f8fa;
	//min-height: 300px;
	position: relative;
	overflow: hidden;

	&-progressbar {
		position: absolute;
		top: 0;
		width: 0;
		height: 5px;
		background-color: #71e5e9;
		@include transition(width 1s ease-out);
	}

	&-arrowback {
		display: block;
		position: absolute;
		@include size(60px 60px);
		background: url(#{$img}arrow-back.png) 20px center no-repeat;
		@include background-size(14px, 26px);
		bottom: 0;
		left: 0;

		.lt-ie9 & {
			background-image: url(#{$img}arrow-back-1x.png)
		}
	}

	&-active {
		box-shadow: inset 60px 0 0 $brandcolor1;
		opacity: 1 !important;

		.question-title span {
			color: #fff;
		}
	}
}

.question {
	padding: 30px 30px 30px 60px;
	@include border-bottom;
	@include transition(box-shadow 0.5s ease-out, opacity 0.3s linear);
	opacity: 0.5;

	.no-js &, &:hover, &.slide-submit {
		opacity: 1;
	}

	&-title {
		font-weight: 700;
		position: relative;
		margin-left: 20px;
		color: $brandcolor1;
		font-family: $roboto;
		@include border-bottom;
		padding-bottom: 10px;

		span {
			position: absolute;
			left: -55px;
		}
	}

	&-content {
		margin: 20px;
	}
}

.btn-ccfilter {
	background-color: #2dbcc1;
	font-weight: 700;
	border: none;
	border-radius: 5px;

	&:hover, &:active {
		background-color: darken(#2dbcc1,5);
	}
}

.form-figure {
	position: relative;
	margin-bottom: 30px;

	.figure-output {
		position: absolute;
		left: 100%;
		margin-left: 20px;
		top: -6px;
		width: 100%;
		@include font-size(1.8);
	}
}

.control-label {
	@include font-size(1.5);

	.form-horizontal & {
		text-align: left;
	}

	[data-question="3"] & {
		margin-top: -5px;
	}
}


.radio {
	margin-bottom: 10px;

	label {
		@include font-size(1.5);

		input {
			margin-top: 4px;
		}
	}
}

.form-control.valid {
	border-color: $successcolor;
}
.form-control.error {
	border-color: $failcolor;
}

label.error {
	color: $failcolor;
}

#btn-form {
	outline: none;
}

.question-quantity {
	position: absolute;
	left: 16px;
	bottom: 40px;
	width: 27px;

	span {
		@include size(5px 5px);
		background-color: lighten($lightercolor,30);
		display: block;
		float: left;
		margin: 2px;
		border-radius: 50%;
	}

	.currentSlide {
		background-color: #2dbcc1;
	}
}

[data-question="5"]:before, .slide-questions-2 [data-question="4"]:before {
	content: '';
	position: absolute;
	width: 214px;
	height: 304px;
	right: 10px;
	bottom: -30px;
	background: url(../img/cc-smartfilter/human.jpg) no-repeat bottom right;
	@include background-size(214px, 304px);

	.lt-ie9 & {
		background-image: url(../img/cc-smartfilter/human-1x.jpg)
	}
}

@media (max-width: 479px) {
	.slide {
		box-shadow: inset 5px 0 0 #f1f8fa;

		&-active {
			box-shadow: inset 5px 0 0 $brandcolor1;
		}
	}

	.question {
		padding: 20px 10px;

		&-title {
			margin-right: 20px;
			span {
				position: static;

				.slide-active & {
					color: $brandcolor1;
				}
			}
		}
	}

	.question-quantity {
		left: auto;
		right: 16px;
	}
}

// slick

.slick {
	&-slider {
		margin-bottom: 0;

		.question {
			border-bottom: none;
		}
	}
}

#btn-last {
	line-height: 1.5;
	padding: 8px 24px 12px;
}




.footnote {
	color: #f1f8fa
}

.parsley-error.form-control {
	border-color: $failcolor;
}

.parsley-success.form-control {
	border-color: $successcolor;
}



/****************************
	CC Spending
*****************************/

#spending-checkbox {
	position: relative;
	top: 20px;
}

.cc-spending {
	width: 108px;
	height: 120px;
	padding-left: 0;
	text-align: center;

	input {
		left: 0;
		margin: 0 auto;
	}

	label {

		i {
			height: 19px;
			padding: 2px 7px 0 21px;
			/* width: 100%; */
			display: inline-block;
			margin: 0 5px;
			line-height: 19px;
			font-size: 12px;
		}
	}
}

.btns-marital li {
  width: 32%;
  height: 100px;
  float: left;
  margin-right: 2%;
  padding: 0;
  position: relative;

  &:last-child {
		margin-right: 0;
  	}
  }
  .btns-marital label, .btns-marital input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0; }
  .btns-marital input[type="radio"],
  .btns-insuree input[type="radio"],
  .btns-concern input[type="radio"],
  .btns-radio input[type="radio"] {
    opacity:0.011;
    z-index:100; }
  .btns-marital input[type="radio"]:checked + label,
  .btns-insuree input[type="radio"]:checked + label,
  .btns-concern input[type="radio"]:checked + label,
  .btns-radio input[type="radio"]:checked + label {
    background-color: #2DBCC1; color: #fff }
  .btns-marital label {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.2);
    box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.2);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    text-align: center;
    cursor:pointer;
    z-index:90;
    padding: 35px 10px;
    background-color: #D8D8D8;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;}
    .btns-marital label:hover {
      background-color: #ccc; }

.recommended-card {
	padding: 0 10px 20px;
	@include border-right;
	position: relative;

	&:last-child {
		border-right: none;
	}

}

.card-name {
	min-height: 45px;
	margin-top: 5px;
}

.card-image {
	height: 90px;
	max-height: 90px;
	width: auto;
}

.card-apply {
	margin-top: 10px;
}

.card-wrapper {
	max-height: 90px;
	position: relative;
	display: inline-block;
}

.card-rank {
	position: absolute;
	box-shadow: 0 0 0 2px #fff;
	top: -12px;
	left: -15px;
	width: 24px;
	height: 24px;
	background: $successcolor;
	color: #fff;
	text-align: center;
	display: block;
	border-radius: 50%;
	line-height: 24px;
	@include font-size(1.5);
	font-weight: bold;
	font-family: $roboto;
	//@include transform(rotate(-15deg));
	z-index: 1;
}

.loading {
	//font-weight: bold;
	color: $lightercolor;
	position: absolute;
	font-style: italic;
	margin-top: 20px;
	top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


/****************************
	THANK YOU
*****************************/

.slide-thankyou {
	box-shadow: none;
	.question {
		padding: 30px;
	}
}


/****************************
	RWD
*****************************/
@media (max-width: 1000px) {
	body {
		min-width: 0;
	}
	.ct-wrapper, #page {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
	}

	.question {
		opacity: 1;
	}

	.cc-spending {
		width: 25%;
	}
}

@media (max-width: 767px) {
	.header-callme {
		display: none;
	}

	.header-filter {
		padding: 20px 0 10px;

		h1 {
			@include font-size(3);
		}
	}

	[data-question="5"]:before, .slide-questions-2 [data-question="4"]:before {
		display: none;
	}

	.btns-marital li {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
		height: 80px;

	}

	.btns-marital label {
		padding: 25px 10px;
	}

	.card-name {
		min-height: 0;
	}

	.card-image {
		height: auto;
	}

	.recommended-card.fl-4 {
		float: none;
		width: auto;
		border-right: none;
		@include border-bottom;
		padding: 20px 0 30px;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.card-wrapper {
		float: left;
		padding-right: 5%;
		width: 35%;
	}

	.card-name, .card-apply {
		text-align: left;
		padding-left: 40%;
	}

	.card-apply .btn-lg {
		@include font-size(1.3);
		line-height: 1.5;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 479px) {
	.top {
		&-skiplink {
			span {
				display: none;
			}
		}
	}

	.question-content {
		[class*="fl-"], [class*="w-"] {
			width: auto;
			float: none;
		}
		[class*="fl-"].control-label {
			margin-bottom: 10px;
			display: block;
		}
	}

	[class*="fl-offset"] {
		margin-left: 0;
	}

	.form-figure .figure-output {
		position: static;
		margin-top: 20px;
		margin-left: 0;

		.question-content-3 & {
			position: absolute;
			left: auto;
			right: 0;
			top: -55px;
			width: auto;
		}
	}

	.cc-spending {
		width: 50%;
	}
}
