@import "var";
@import "mixin";
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:700");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");

$lightfeminine: #f6e2d8;
$pink: #c8588f;
$purple: #631c3f;
$yellow: #ffd54c;
$img: "../img/campaign/uob";


/****************************
	MAIN (content)
*****************************/

.uobladys {
	background: $lightfeminine url(#{$img}/uobladys-bg.jpg) top no-repeat;
	font-family: 'Raleway', sans-serif;
	position: relative;

	&:before {
		top: 10px; right: 10px; left: 10px; bottom: 10px;
		content: '';
		position: absolute;
		display: block;
		border: 5px solid darken($lightfeminine,3);
	}

	h1 {
		font-family: 'Playfair Display', serif;
		color: $pink;
		text-shadow: 0 2px 0 rgba(255,255,255,.8);
		@include font-size(5.4);
	}

	h2 {
		color: #ad5532;
		@include font-size(1.8);
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		margin-bottom: 30px;

		&:before, &:after {
			content: '—————————';
			font-weight: normal;
			opacity: 0.25;
			position: relative;
			top: -1px;
			letter-spacing: -2px;
		}

		&:before {
			margin-right: 10px;
		}
		&:after {
			margin-left: 10px;
		}
	}
}

.uob__top {
	text-align: center;
	padding: 30px;
	position: relative;

	&:before, &:after {
		position: absolute;
		content: '';
		display: block;
		width: 160px;
		top: 0;
		bottom: 0;
	}

	&:before {
		left: 0;
		background: url(#{$img}/uobladys-lady-left.png) right 100px no-repeat;
	}

	&:after {
		right: 0;
		background: url(#{$img}/uobladys-lady-right.png) left 100px no-repeat;
	}
}

.uob__footer {
	padding: 40px 30px;
	background-color: $purple;
	color: $lightfeminine;
	background: url(#{$img}/uobladys-purple-rose-left.png) no-repeat left bottom, url(#{$img}/uobladys-purple-rose-right.png) no-repeat right bottom $purple;
	position: relative;

	&:before {
		position: absolute;
		width: 0;
		height: 0;
		border: 20px solid;
		border-color: transparent transparent $purple;
		top: -40px;
		left: 50%;
		display: block;
		content: '';
		margin-left: -20px;
	} 
}

.uob__features {
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
	font-weight: bold;
	@include font-size(1.5);
	text-align: center;

	li {
		padding: 0 1% 30px;
		width: 31%;
		height: 110px;
		vertical-align: top;
		display: inline-block;
		background: url(#{$img}/uobladys-purple-list.png) center bottom no-repeat;
	}
}


/****************************
	CARD & CTA
*****************************/

.card {
	background: url(#{$img}/uobladys-cards.png) no-repeat;
	width: 210px;
	height: 133px;
	display: inline-block;
	margin: 0 5px 30px;
	border-radius: 8px;
	box-shadow: 0 2px 3px rgba(#8e725f,.35);

	&--solitaire {
		background-position: top;
	}

	&--platinum {
		background-position: bottom;
	}
}

.uob__click {
	margin-bottom: 20px;
}

.uob__btn {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	@include font-size(2.1);
	background: $pink;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
	padding: 10px 60px;
	border: darken($lightfeminine,3) 5px solid;
	text-shadow: 0 2px 0 rgba(0,0,0,.1);

	&:hover {
		text-decoration: none;
		background-color: lighten($pink,3);
	}

	&:active {
		position: relative;
		top: 1px;
	}
}
