@import "var";
@import "mixin";


.checkbox-applybar {
	display: none;
	position: fixed;
	bottom: 0;
	width: $layoutwidth;
	padding: 5px 30px;
	@include box-sizing;
	background: $brandcolor2;
	color: #fff;
	line-height: 34px;

	a {
		color: #fff;
	}

	.checkbox-applybar-status {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		width: 80%;
		text-overflow: ellipsis;
	}

	.btn-success {
		border-color: #177c9d;
		-webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), inset 0 1px rgba(255, 255, 255, 0.2);
		box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), inset 0 1px rgba(255, 255, 255, 0.2);
		position: relative;
		left: 9px;
	}
}

.check-apply {
	background: $successcolor;
	color: #fff;
	padding: 3px;
	border-radius: 2px;
	position: relative;

	.tooltip {
		margin-left: 3px;

		.tooltip-btn {
			background-color: darken($successcolor,15);

			&:hover {
				background-color: darken($successcolor,20);
			}
		}
	}

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border: 6px;
		border-color: $successcolor transparent transparent;
		position: absolute;
		bottom: -12px;
		border-style: solid;
		left: 50%;
		margin-left: -6px;
	}
}

.checkbox-sidebar-applybox {
	display: none;
}