@import "var";
@import "mixin";

.cc-tablecol1 {
	padding-left: 94px;

	h5 {
		margin-bottom: 5px;
	}
	p {
		@include font-size(1.2);
		margin-bottom: 0
	}
}

.table-creditcard {
	td {
		text-align: center;
		padding-left: 8px;
		padding-right: 8px;
	}
	td:first-child {
		text-align: left;
	}

	[data-column="0"] {
		width: 250px;
	}
	[data-column="2"], [data-column="3"], [data-column="4"] {
		width: 45px;
	}
	[data-column="5"] {
		width: 90px;
	}

	.apply-col {
		a {
			padding-left: 6px;
			padding-right: 6px;
		}
	}
}

.cc-image {
	max-width: 84px;
	height: auto;
}


/*********************************
	SCORECARD
**********************************/

.scorecard {
	border-radius: 3px;
	width: 54px;
	margin: 0 auto;
	margin-bottom: 5px !important;
	text-align: center;
	background-color: $brandcolor2;
	cursor: pointer;


	h3, .scorecard-rating {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,.2);
	}

	h3 {
		margin: 0;
		font-weight: 700;
		position: relative;
		top: 3px;
		@include font-size(2.4);
	}

	.scorecard-rating {
		@include font-size(1.0);
		padding: 2px 0;
		border-bottom: 1px solid rgba(0,0,0,.2);
	}

	.scorecard-expand {
		width: 12px;
		height: 12px;
		margin: -5px auto 0;
		position: relative;
		top: 6px;
		border: 3px solid $brandcolor2;
		border-radius: 50%;
		background: url(../img/cc-scorecard-plus.png) 0 0 no-repeat #fff;
	}

	&:hover {
		.scorecard-content {
			opacity: 1;
			visibility: visible;
		}
	}

	.scorecard-content {
		background-color: rgba(0,0,0,.6);
		border-radius: 5px;
		padding: 4px;
		width: 380px;
		left: 50%;
		margin-left: -194px;
		position: absolute;
		top: 16px;
		opacity: 0;
		visibility: hidden;
		@include transition;
		z-index: 1;
		box-shadow: 0 1px 8px rgba(0,0,0,.3);
	}

	.scorecard-content-inner {
		border-radius: 3px;
		background-color: #fff;

		&:after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent #fff;
			display: block;
			top: -20px;
			left: 50%;
			margin-left: -10px;
		}

		&:before {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-width: 12px;
			border-style: solid;
			border-color: transparent transparent rgba(0,0,0,.5);
			display: block;
			top: -28px;
			left: 50%;
			margin-left: -12px;
		}

		.scorecard-comment {
			padding: 8px 0;
			@include border-top;

			> *:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	//color variables
	&.scorecard-promo {
		background-color: $scorecardpromocolor;

		.scorecard-comment-feature {
			background-color: $scorecardpromocolor;
		}

		.scorecard-expand {
			background-position: -12px 0;
			border-color: $scorecardpromocolor;
		}
	}

	//color variables
	&.scorecard-bestcard {
		background-color: $scorecardbestcardcolor;

		.scorecard-comment-feature {
			background-color: $scorecardbestcardcolor;
		}

		.scorecard-expand {
			background-position: -24px 0;
			border-color: $scorecardbestcardcolor;
		}
	}

	.scorecard-list {
		padding: 8px 12px;
	}

	.scorecard-comment {
		margin: 0 12px;
	}

	.scorecard-comment-feature {
		padding: 8px 12px;
	}
}

.scorecard-content {
	line-height: 1.25;
	cursor: auto;
}

.scorecard-content-inner {
	text-align: left;
	color: $lightercolor;
	@include font-size(1.2);
	position: relative;

	table {
		margin: 0;
		padding-top: 5px;
		border: none;

		tr:hover td, td {
			background-color: transparent;
		}

		td {
			border-bottom: none;
			padding: 2px 12px;
			text-align: left;

			&:first-child {
				width: 50px;
			}

			&.scorecard-table-scorebar {
				width: 100px;
			}

			&.scorecard-table-content {
				padding-left: 0;
			}
		}
	}

	.scorecard-comment {
		padding: 0 10px 10px;
	}
	.scorecard-comment-feature {
		color: #fff;
		background-color: $brandcolor2;
		border-radius: 0 0 3px 3px;

		> *:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.scorecard-list {
	margin-bottom: 0;
	padding: 10px;

	li {
		padding-left: 0;
		background: none;
		padding: 2px 0;

		> * {
			float: left;
		}
	}

	.scorebar {
		margin: 4px 10px 0 0;
	}

	.scorecard-list-criteria {
		width: 100px;
		padding-right: 10px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.scorecard-list-content {
		width: 135px;
	}
}

.scorebar {
	width: 100px;
	background: $bodybgcolor;
	height: 6px;
	position: relative;

	&.scorebar-lg {
		width: 200px;
		display: inline-block;

		&:after {
			background: url(../img/cc-score-indicator2x.png);
		}
	}

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		background: url(../img/cc-score-indicator.png);
		z-index: 2;
	}

	.scorebar-score {
		height: inherit;
		background-color: $brandcolor2;
	}
}

/*********************************
	CC Product Page
**********************************/

.table-cc-productpage {
	tr > td {
		text-align: center;
	}
}

.cc-signup-header {
	padding: 0 20px;
	height: 64px;
	line-height: 64px;
	margin: -13px -1px 0 0;

	h4 {
		text-shadow: 0 1px 2px rgba(0,0,0,.5);
		margin-bottom: 0;
		@include font-size(1.8);
		background: url(../img/cc-apply-card.png) no-repeat right;
	}
}

.block-cc {
	width: 50%;
	float: left;
	padding: 0 10px 0 0;
	margin-bottom: 20px;
	@include box-sizing;
	@include font-size(1.3);
	height: 170px;

	&.block-cc-featured {
		width: 100%;
		padding: 10px 20px;
		height: auto;
		margin-bottom: 20px;
		background-color: lighten($brandcolor2,50);
		border: 1px solid lighten($brandcolor2,40);
	}

	h4 {
		color: $brandcolor1;
		margin-bottom: 0;
	}

	.scorebar {
		margin: 10px 0;
	}
}

.scorebar-scorenumber {
	display: inline-block;
	vertical-align: top;
	margin: 4px 0 0 4px;
	color: $brandcolor2;
	font-weight: bold;
}

/*********************************
	CC Icon Sprite
**********************************/

$iconsize : 16px;

[class*="cc-icon-"] {
	background: url(../img/sprite-cc.png) no-repeat;
	display: inline-block;
	width: $iconsize ;
	height: $iconsize ;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.cc-icon-petrol { background-position: 0 0}
.cc-icon-groceries, .cc-icon-barang-runcit {background-position: -#{$iconsize} 0;}
.cc-icon-utilities, .cc-icon-utiliti {background-position: -#{$iconsize*2} 0;}
.cc-icon-travel, .cc-icon-perjalanan {background-position: -#{$iconsize*3} 0;}
.cc-icon-shopping, .cc-icon-beli-belah {background-position: -#{$iconsize*4} 0;}
.cc-icon-dining, .cc-icon-restoran {background-position: -#{$iconsize*5} 0;}
.cc-icon-entertainment, .cc-icon-hiburan {background-position: -#{$iconsize*6} 0;}
.cc-icon-insurance, .cc-icon-insuran {background-position: -#{$iconsize*7} 0;}

/*********************************
	MISC
**********************************/

.color-promoted {
	color: $scorecardpromocolor;
}

.color-best {
	color: $scorecardbestcardcolor;
}

/*********************************
  Angular JS
**********************************/
.ng-cloak {
  opacity: 0;
}


/*********************************
  CC Bank Page
**********************************/
.cc-bankpage-card-image {
	height: 90px;

	img {
		height: 80px;
	}
}

.cc-bankpage-card-scorecard {
	background-color: #fff;
	@include border-top;
	@include border-bottom;
	height: 185px;
}

.scorecard-comment-best {
	color: $scorecardbestcardcolor;
	font-weight: bold;
}

.scorecard-comment-promo {
	color: $scorecardpromocolor;
	font-weight: bold;
}

.cc-bankpage-card {
	padding: 0 10px;
	margin-bottom: 20px;

	.block-content {
		height: 110px;
	}

	.block-wrapper {
		margin-bottom: 0;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;

		&:hover {
			box-shadow: 0 0 10px rgba($lightercolor,.5);
			border-color: lighten($lightercolor,30);
		}
	}

	.scorecard-list {

		.scorebar {
			width: 75px;

			&:after {
				background-image: url(../img/cc-score-indicator-75px.png);
			}
		}

		.scorecard-list-criteria {
			width: 85px;
		}

		.scorecard-list-content {
			width: 90px;
		}
	}

	.scorecard-comment {
		> * {
			margin-bottom: 0;
		}
	}
}

.cc-bankpage-card-detail {
	min-height: 57px;
}

.cc-bankpage-card-cta {
	padding-bottom: 10px;
}

.cycle-slideshow {
	position: relative;
}

.cc-cycle-pager {
	text-align: center;

	a {
		display: inline-block;
		margin: 0 3px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: lighten($lightercolor,10);
		overflow: hidden;

		&.cycle-pager-active {
			background-color: $brandcolor2;
		}
	}
}

.cc-bankpage-banners {
	position: relative;

	&:hover {
		.cycle-prev, .cycle-next {
			opacity: 0.8;
		}
	}
}

a.cycle-prev, a.cycle-next {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: $color;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	text-align: center;
	line-height: 50px;
	z-index: 150;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;

	&:hover {
		background-color: $brandcolor2;
		text-decoration: none;
	}
}

.cycle-prev {
	left: 0;
}

.cycle-next {
	right: 0;
}



