.table-savingsaccount {

	td:first-child, .apply-col {
		text-align: center;
		width: 15%;
	}
	[data-column="3"]{
		width: 20%;
	}
	td:nth-child(4){
		text-align: center;
	}

	.tr-expand {
		td {
			text-align: left;
		}
	}
}



