@import "var";
@import "mixin";

.row.demo, .row-fl.demo {
	> * {
		background-color: $lightgrey;
		text-align: center;
		padding: 10px 0;
		@include border;
	}
}

.row.demo > * {
	border: none;
}

.table-homeloan {
	td {
		text-align: center;

		&:first-child, &:nth-child(6) {
			width: 80px;
		}
	}
}