// Modernizr

.no-boxshadow .handle {
	border: 1px solid #d3d7d8;
}


// ie conditional

.lt-ie9 {
	.featured td {
		border-top: none;

		&:first-child {
			border-left: none;
		}
	}

	fieldset {
		legend {
			margin-bottom: 15px;
		}
	}
	.scorecard-content {
		background-color: $brandcolor1;
	}
	.scorecard-content-inner:before {
		border-color: transparent transparent $brandcolor1;
	}

	.header-slide-pager li a {
		background-color: $brandcolor1;
	}
}

.lt-ie8 {

	.featured-wrapper .featured-bar {
		bottom: -43px;
	}

	.language-switcher-locale-url {
		width: 148px;

		li {
			display: inline;
		}
	}
	.scorecard-content {
		z-index: 5;
	}
}

// no-js

.no-js .nav-main:hover {
	#menu-dropdown {
		display: block;
	}
}

/** Added to hide links to translated page in basic pages **/
ul.links.inline {
  display: none;
}
