@import "var";
@import "mixin";

.table-fixeddeposit {
	text-align: center;

	[data-column="0"], [data-column="4"] {
		width: 20%;
	}
	[data-column="1"] {
		width: 28%;
	}
	[data-column="2"], [data-column="3"] {
		width: 16%;
	}
}

.fd-moreinfo-table {
	td, th {
		width: 10%;
		padding-left: 6px;
		padding-right: 6px;

		&:first-child {
			width: 20%;
			padding-left: 10px;
		}
	}
	.fd-moreinfo-table-placement, .fd-moreinfo-table-deposit {
		width: 15%;
	}
}

#fd-return {
	display: none;
}

.fd-banklogo-margin {
	margin-bottom: -5px;
}

th.fd-selected-tenure {
	border-bottom-color: $brandcolor2;
	color: $brandcolor1;
}