/* -----------------
	FOOTER
-------------------- */

.footer {
	background: $lightgrey;
	font-weight: 300;
	clear: both;

	a {
		color: $lightercolor;
	}
}

.footer-media {
	@extend .footer;
}

.footer-social {
	margin-bottom: 0;

	li {
		background: url(../img/footer-social-icons.png) no-repeat;
		padding: 5px 0 5px 28px;
		display: inline;
		margin-left: 20px;
		line-height: 22px;

		&.footer-social-fb {
			background-position: 0 3px;
		}
		&.footer-social-tw {
			background-position: 0 -26px;
		}
		&.footer-social-gp {
			background-position: 0 -57px;
		}
	}
}

.footer-second {
	@include font-size(1.2);
	@extend %clearfix;
	padding: 15px 30px;
}

.copyright {
	margin-bottom: 0;
}

.footer-nav {
	text-align: right;

	ul {
		margin-bottom: 0;
		li {
			display: inline;
			background: none;
			padding-left: 0;
			margin-left: 10px;
		}
	}
}

.footer-new {
	width: $layoutwidth;
	margin: 0 auto 50px;
	@include font-size(1.1);

	a {
		color: lighten($lightercolor,3);
	}
}

.footer-title {
	@include font-size(1.4);
	font-weight: normal;
	color: $brandcolor1;
}

.footer-copyright {
	overflow: hidden;
	margin: 20px 0;
	border-top: 1px solid darken($bodybgcolor,10);
	border-bottom: 1px solid darken($bodybgcolor,10);
	padding: 15px 0;
}

.copyright-link {
	float: right;
	margin-bottom: 0;

	li {
		float: left;
		margin-left: 20px;

		a {
			display: block;
		}
	}
}

[class*="ft-"] {
	float: left;
	width: 50%;
	@include font-size(1.3);
	background-image: url(../img/footer-social-icons-new.png) !important;
	background-position: 0 0;
	margin: 0 0 5px;
	line-height: 23px;

	a {
		padding-left: 28px;
	}
}

.ft-twitter {background-position: 0 -30px;}
.ft-youtube {background-position: 0 -57px;}
.ft-google {background-position: 0 -90px;}
.ft-instagram {background-position: 0 -120px;}
.ft-pinterest {background-position: 0 -150px;}


/* -----------------
	MEDIA LOGO
-------------------- */

.media {
	width: $contentwidth;
	margin: 20px auto;
}

.media-logos {
	text-align: center;

	> a {
		display: block;
		height: 88px;
		background: url(../img/footer-medialogos.png) no-repeat;
		@extend .hidetext;
	}
}

.media-logos-new {
	> a {
		height: 36px;
		background: url(../img/footer-medialogos-new.png) no-repeat;
		@extend .hidetext;
	}
}

