@import "var";
@import "mixin";

.table-forex {
	border: none;

	[data-column="0"] {
		width: 10%;
	}

	td, th {
		padding-left: 6px;
		padding-right: 6px;
		position: relative;
	}

	td {
		text-align: center;
		width: 6%;
		background: transparent;
	}

	th {
		@include font-size(1.1);
		vertical-align: bottom;
	}
}

.tr-hover {
	background-color: $lightgrey;
}

.forex-cal-curr-from {
	position: relative;

	&:after {
		content: '\2192';
		position: absolute;
		right: -9px;
		top: -1px;
		@include font-size(1.8);
	}
}

.forex-td-flag {
	width: 16px;
	display: block;
	margin: 2px auto 0;
}