// text input form style

$btnheight: 30px;

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-family: $helvetica;
	color: $color;
	border: 1px solid lighten($blkgreycolor,15);
	display: inline-block;
	height: $btnheight;
	padding: 0 8px 2px;
	@include font-size(1.4);
	line-height: $btnheight;
	vertical-align: middle;
	border-radius: $radius;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);

	 &:active, &:focus {
	 	outline: 0;
	 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba($brandcolor2,0.5);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba($brandcolor2,0.5);
		border-color: $brandcolor2;
	 }

	 &.error {
			border-color: $failcolor;
	 }

	&.input-lg {
		@include font-size(1.6);
		padding: 6px 10px;
	}
}

textarea {
	height: auto;
}

select {
	margin-bottom: 10px;
	color: $color;
}

.form-group {
	@extend %clearfix;
	float: none;
	margin-bottom: 15px;
}

.form-control {
	display: block;
	width: 90%;
	width: -webkit-calc(100% - 18px);
	width: calc(100% - 18px);
}
	.form-control-static {
		padding-top: 7px;
	}

select {
	&.form-control {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid lighten($blkgreycolor,15);
		border-radius: $radius;

		&:active, &:focus {
		 	outline: 0;
		 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba($brandcolor2,0.5);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba($brandcolor2,0.5);
			border-color: $brandcolor2;
		}
	}
}

select[multiple] {
	height: auto;
}

label, .form-control, .form-control-static {
	@include font-size(1.3);

}

.input-xshort {
	width: 20px;
}

.input-short {
	width: 70px;
}

.input-medium {
	width: 120px;
}

.prefix {
	margin-right: 3px;
}

.suffix {
	margin-left: 3px;
}


/* input prepend / append */

.input-append, .input-prepend {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0;
	white-space: nowrap;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	border-radius: $radius 0 0 $radius;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
	border-radius: 0 $radius $radius 0;
}

.input-append input, .input-append select, .input-append .uneditable-input {
	border-radius: $radius 0 0 $radius;
}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
	border-radius: 0 $radius $radius 0;
}

.input-append .add-on, .input-append .btn, .input-append .btn-group {
	margin-left: -1px;
}

.input-append .add-on, .input-prepend .add-on {
	display: inline-block;
	width: auto;
	height: $btnheight;
	min-width: 16px;
	padding: 0px 8px 2px;
	font-size: 14px;
	font-weight: normal;
	line-height: $btnheight;
	text-align: center;
	background-color: #f0f3f4;
	border: 1px solid lighten($blkgreycolor,15);
}

.input-prepend .add-on, .input-prepend .btn {
	margin-right: -1px;
}

.input-group-lg {

	.add-on, input {
		height: 38px;
		line-height: 38px;
		padding-left: 12px;
		padding-right: 12px;
	}

}

/* Fieldset and Legend */

fieldset {
	border: none;
	padding: 0 0 30px;
	-webkit-margin-top-collapse: separate;

	legend {
		font-weight: bold;
		color: $brandcolor1;
		@include border-bottom;
		width: 100%;
	}
}

legend + * {
	-webkit-margin-top-collapse: separate;
	margin-top: 15px;
}

.form-required {
	color: #c00;
}


/* Label */
.control-label {
	font-weight: bold;
}

/* horizontal form */
.form-horizontal {
	.control-label {
		position: relative;
		top: 7px;
		padding-right: 15px;
		text-align: right;
	}

	select {
		margin-bottom: 0;
	}

	.form-radios, .form-checkboxes {
		position: relative;
		top: 7px;

		input[type="radio"], input[type="checkbox"] {
			top: -1px;
			position: relative;
		}
	}

	.form-radios {
		@extend %clearfix;
	}

	.form-type-radio {
		margin-right: 20px;
	}
}

/* Form Actions */
.form-actions {
	background: $lightgrey;
	position: relative;

	.btn {
		padding-left: 60px;
		padding-right: 60px;
	}
}

.form-actions-arrow {
	&:before {
		position: absolute;
		width: 0;
		height: 0;
		border-width: 10px;
		border-style: solid;
		border-color: white transparent transparent;
		top: 0;
		left: 50%;
		margin-left: -10px;
		display: block;
		content: '';
	}
}

/* alerts */
.alert {
	padding: 10px;
	margin-bottom: 10px;
	background-color: $lightgrey;
	@include border(1px, solid, #d3d7d8);
	border-radius: 3px;

	&.alert-success {
		color: $successcolor;
		background-color: lighten($successcolor,40);
		border-color: lighten($successcolor,30)
	}

	&.alert-info {
		color: $brandcolor2;
		background-color: lighten($brandcolor2,50);
		border-color: lighten($brandcolor2,40)
	}

	&.alert-warning {
		color: $warningcolor;
		background-color: #fcf8e3;
		border-color: darken(#fbeed5,8);
	}

	&.alert-danger {
		color: $failcolor;
		background-color: lighten($failcolor,35);
		border-color: lighten($failcolor,30)
	}
}

/* checkbox */
.radio, .checkbox {
	display: block;
	min-height: 20px;
	padding-left: 20px;
	vertical-align: middle;
}

input[type="radio"], input[type="checkbox"] {
	margin-top: 1px \9;
	line-height: normal;

	label & {
		margin: 3px 0 0;
	}
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}

.checkbox label {
	float: left;
}

// .option {
// 	@include font-size(1.1);
//  	line-height: 1.25;
//  	display: inline;
//  	margin-bottom: 10px;
// }