/*****************************
	Base
******************************/

html {
	font-size: 62.5%; //to match rem with px
}

body {
	@include font-size;
	font-family: $helvetica;
	line-height: 1.5;
	background: $bodybgcolor;
	color: $color;
	text-rendering: optimizeLegibility;
	min-width: $layoutwidth;

	&.i18n-zh-hant, &.i18n-zh-hans {
		font-family: "Helvetica Neue", "Helvetica", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, sans-serif;
	}
}

#page {
	@include box-shadow;
	background-color: #fff;
	margin: 15px auto 30px;
	width: $layoutwidth;
	position: relative;
}


/*****************************
	Typography
******************************/

h1, h2, h3 {
	font-family: $roboto;
	font-weight: 300;
}

h1, h2, h3 {
	color: $brandcolor1;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, table {
	margin: 0 0 12px;
}

h1 {
	@include font-size(3);
	line-height: 1.2;
}

h2 {
	@include font-size(2.4);
	line-height: 1.25;
}

h3 {
	@include font-size(2.1);
	line-height: 1.3;
}

h4 {
	@include font-size(1.6);
}

h5 {
	@include font-size(1.4);
}

h6 {
	@include font-size(1.3);
}

.lead {
	font-weight: 300;
	color: $lightercolor;
	@include font-size(1.8);
}

.underline {
	@include border-bottom;
}

.font-xxxlg {
	@include font-size(3.6);
	line-height: 1.1;

	sup {
		top: -7px;
	}
}

.font-xxlg {
	@include font-size(3);
	line-height: 1.2;
}

.font-xlg {
	@include font-size(2.1);
	line-height: 1.3;
}

.font-lg {
	@include font-size(1.6);
}

.font-sm {
	@include font-size(1.3);
}

.font-xsm {
	@include font-size(1.1);
}

.lh-130 {
	line-height: 1.3;
}

.lh-125 {
	line-height: 1.25;
}

.lh-120 {
	line-height: 1.2;
}

.headline-underline {
	position: relative;
	padding-bottom: 10px;
	font-weight: 700;
	color: $brandcolor1;

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		content: '';
		width: 40px;
		height: 3px;
		background: $brandcolor1;
		-webkit-box-shadow: 40px 0 0 $brandcolor2;
		box-shadow: 40px 0 0 $brandcolor2;
	}
}

/*****************************
	Hyperlink
******************************/

a {
	text-decoration: none;
	color: $brandcolor2;

	&:hover {
		text-decoration: underline;
	}

	// &:visited {
	// 	color: darken($brandcolor2, 8);
	// }
}

/*****************************
	OL/UL/DL
******************************/

ol, ul {
	padding-left: 20px;
}

ul {
	> li {
		background: url(../img/list-bullet.png) 1px 7px no-repeat;
		padding-left: 14px;

		> ul > li {
			background-image: url(../img/list-bullet-lightgrey.png);
		}
	}

	li {
		&.li-tick {
			background-image: url(../img/list-tick.png);
			background-position: 0 5px;
		}

		&.li-cross {
			background-image: url(../img/list-cross.png);
			background-position: 0 5px;
		}
	}

	&.no-bullet {
		> li {
			background-image: none;
			padding-left: 0;
		}
	}

	&.bullet-blue > li {
		background-image: url(../img/list-bullet-lightblue.png);
	}

	.font-sm & > li {
		background-position: 1px 5px;
	}
}

.li-dash {

	li {
		background-image: none;

		&:before {
			content: '-';
			width: 14px;
			margin-left: -14px;
			display: inline-block;
			color: lighten($lightercolor,10);
		}
	}
}


.no-bullet, ul {
	list-style: none;
	padding-left: 0;
}

// Definition List
dt {
	font-weight: bold;
	.dd-bold & {
		font-weight: normal;
	}
}

dd {
	margin: 0 0 12px;

	.dd-mb0 & {
		margin-bottom: 0;
	}

	.dd-bold & {
		font-weight: bold;
	}
}

.dl-horizontal dd {
	margin-left: 180px;
}

.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
}

hr {
	background: $bodybgcolor;
	border: 0;
	height: 1px;
	margin: 10px 0;
}

/*****************************
	IMAGE
******************************/

img {
	max-width: 100%;
	height: auto;
}