.table-goldinvestment {

	[data-column="0"], .apply-col {
		width: 15%;
	}
	[data-column="1"], [data-column="3"] {
		width: 8%;
	}
	[data-column="2"] {
		width: 25%;
	}

	td:nth-child(3), td:nth-child(5){
		text-align: left;
	}
}



