/*****************************
	GRID
******************************/

$gridcolumn: 12;
$gridwidth: 60px;
$gutter: 20px;

.wrapper {
	width: $contentwidth;
}

[class*="span-"] {
	float: left;
	margin-left: 20px;
	@include box-sizing;
}

[class*="fl-"] {
	float: left;
	@include box-sizing;
}

.row {
	@extend %clearfix;
	margin-left: -20px;
	position: relative;
}

.row-fl {
	@extend %clearfix;
	float: none;
	position: relative;
}

/* Fixed with column */

@for $i from 1 through $gridcolumn {
	.span-#{$i} {
		width: $gridwidth*$i + $gutter*($i - 1);
	}
}

/* Percentage column */

@for $i from 1 through $gridcolumn {
	.fl-#{$i} {
		width: percentage($i/$gridcolumn);
	}
}

/* fixed width offset */

@for $i from 1 through 11 {
	.span-offset-#{$i} {
		margin-left: $gridwidth*$i + $gutter*($i + 1);
	}
}

/* fluid width offset */
@for $i from 1 through 11 {
	.fl-offset-#{$i} {
		margin-left: percentage($i/$gridcolumn);
	}
}
