.table-homeloan-refinance-cash {
	td {
		text-align: center;
	}

	[data-column="0"], [data-column="2"]{
		width: 200px;
	}
	[data-column="1"],[data-column="3"],.apply-col{
		width: 150px;
	}
}

.block-homeloan-info {
	box-shadow: 0 0 5px rgba(94, 106, 119, 0.5);
}
