@import "var";
@import "mixin";

/*****************************
	HEADER
******************************/

.home-header {
	position: relative;
	width: 100%;
	height: 316px;
	overflow: visible;
}

.header-slide {
	width: 1000px - 60px;
	padding: 30px;
	height: 316px - 60px;
	background-repeat: no-repeat;

	&.slide-imoney {
		background-repeat: repeat;
	}
}
	.slide-homeloan {
		background-image: url(../img/home-headerslide-homeloan.jpg);
	}
	.slide-creditcard {
		background-image: url(../img/home-headerslide-creditcard.jpg);
	}
	.slide-personalloan {
		background-image: url(../img/home-headerslide-personalloan.jpg);
	}

.slide-calculator {
	margin-top: 10px;
	display: inline-block;
}

.block-slide-submit {
	padding-top: 26px;
}

.slide-title {
	position: relative;
	margin-top: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 15px;
	display: inline-block;

	.slide-imoney & {
		border-bottom: none;
		padding-bottom: 0;
	}

	&:before {
		position: absolute;
		content: '';
		width: 3px;
		background-color: $brandcolor2;
		display: block;
		height: 36px;
		left: -30px;
	}

	.slide-creditcard & {
		text-shadow: 0 1px 0 #fff;
	}
}

.header-slide-pager {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 101;
	margin: 0;
	@include font-size(1.3);

	li {
		display: inline-block;
		padding: 0;
		background-image: none;

		a {
			display: block;
			background: rgba($brandcolor1,.9);
			color: rgba(255,255,255,.8);
			padding: 12px 30px;
			position: relative;

			&:hover {
				background: $brandcolor1;
				text-decoration: none;
				color: #fff;
			}
		}

		&.cycle-pager-active {
			a {
				background-color: $brandcolor2;
			 	color: #fff;

			 	&:before {
			 		position: absolute;
			 		width:0;
			 		height: 0;
			 		border-width: 10px;
			 		border-style: solid;
			 		border-color: transparent transparent $brandcolor2;
			 		content: '';
			 		display: block;
			 		top: -20px;
			 		left: 50%;
			 		margin-left: -10px;
			 	}
			}
		}
	}
}


/* chosen overwrite */
.chosen-container-single {
	z-index: 102;

	.chosen-default {
		color: $lightercolor;
		font-weight: bold;
	}
	.chosen-single {
		height: 40px;
		line-height: 40px;
		padding-left: 12px;
		background-image: -moz-linear-gradient(bottom, #e7ebed 0%, #fff 100%);
		background-image: -o-linear-gradient(bottom, #e7ebed 0%, #fff 100%);
		background-image: -webkit-linear-gradient(bottom, #e7ebed 0%, #fff 100%);
		background-image: linear-gradient(bottom, #e7ebed 0%, #fff 100%);
		border-radius: 3px;

		div {
			right: 5px;
			b {
				width: 90%;
				background-position: 0 10px;
			}
		}
	}
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 10px;
}

.chosen-container {
	.chosen-results {
		li {
			padding-left: 8px;
			padding-right: 8px;

			&.highlighted {
				background: $brandcolor2;
			}
		}
	}
}

ul.chosen-results {
	li {
		background: none;
	}
}


/*****************************
	NEWS
******************************/

.article-feature {
	@include border-bottom;
	margin-bottom: 10px;
	@include font-size(1.3);
}

.article-category {
	@include font-size(1.1);
	margin: 5px 0;
	text-transform: uppercase;
	font-weight: normal;

	a {
		color: lighten($lightercolor,10);
	}
}

.article-feature-title {
	margin-bottom: 3px;
	font-weight: normal;
	line-height: 1.2;
}

.article-supplement {
	@include font-size(1.3);
}

/*****************************
	SIDEBAR
******************************/

.sb-quicklinks-list {
	a {
		display: block;
		padding: 4px 0;
		color: $lightercolor;
		background: url(../img/home-quicklinks-arrowright.png) right no-repeat;
	}
}

.sb-newsletter-title {
	line-height: 30px;
	height: 32px;
	background: url(../img/home-newsletter-title.png) left no-repeat;
	padding-left: 23px;
	margin: 10px 0 5px -3px;
	color: #fff;
	font-weight: bold;
}

.sb-hlrate-table {
	@include font-size(1.3);

	&, td {
		background: transparent;
		border: none;
	}

	td {
		padding: 0;
	}
}

.big-number {
	font-family: $roboto;
	font-weight: 300;
	color: $brandcolor1;
	@include font-size(3.2);
}


/*****************************
	3 Panels
******************************/

.home-section-title {
	font-weight: 700;
	@include font-size(3);
	margin-bottom: 0;

	.home-testimonial & {
		color: #fff;
		@include font-size(2.1);
		margin-bottom: 20px;
	}
}

/* HOW IT WORKS */

.home-how {
	background: url(../img/home-section-separator.png) top no-repeat;
	padding-top: 50px;
	text-align: center;
}

.how-steps {
	margin-top: 20px;

	p, h5 {
		text-align: left;

		.slide-imoney & {
			text-align: center;
		}
	}

	h5 {
		margin-bottom: 0;
		color: $brandcolor1;
	}
}

.how-step-1 { padding-right: 20px;}
.how-step-2 { padding-right: 10px;}
.how-step-3 { padding-left: 10px;}
.how-step-4 { padding-left: 20px;}

/* TESTIMONIAL */

.home-testimonial {
	background: url(../img/home-testimonial-bg.jpg) top no-repeat;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	position: relative;
	min-height: 200px;

	a {
		color: #fff
	}
}

.testimonial-link {
	position: absolute;
	right: 30px;
	top: 30px;
	@include font-size(1.1);
}

.testimonials {
	position: relative;
	width: 50%;
	margin: 0 auto;
	text-align: center;

	&:before, &:after {
		position: absolute;
		width: 26px;
		height: 24px;
		display: block;
		content: '';
		background: url(../img/home-testimonial-quote.png) no-repeat;
		top: 3px;
	}

	&:before {
		left: -34px;
	}

	&:after {
		right: -34px;
		background-position: -26px 0;
	}
}

.testimonial {
	footer {
		position: relative;
		padding-top: 10px;
		margin-top: 10px;

		// &:before {
		// 	position: absolute;
		// 	width: 20px;
		// 	height: 2px;
		// 	background-color: $brandcolor2;
		// 	content: '';
		// 	display: block;
		// 	top: 0;
		// 	left: 50%;
		// 	margin-left: -10px;
		// }
	}
	cite {
		@include font-size(1.3);
		font-style: normal;

		i {
			display: block;
		}

		img {
			border-radius: 3px;
		}
	}
}



/* WHY */

.why-list {
	li {
		margin: 3px 0;
	}
}
