@import "var";
@import "mixin";

/* HOME LOAN */

.table-homeloan-v2 {
	td {
		text-align: center;
	}

	[data-column="0"] {
		width: 100px;
	}
	[data-column="1"] {
		width: 140px;
	}
	[data-column="3"]  {
		width: 80px;
	}
	[data-column="4"], [data-column="5"] {
		width: 90px;
	}
	[data-column="6"] {
		width: 100px;
	}
}

.table-homeloan-v2 {
	.featured-wrapper {
		.featured-content, .featured-bar {
			width: 683px;
		}
	}
}

.btn-homeloan-calculate {
	position: relative;
	top: 3px;
}

.pagetab {
	ul {
		li {
			a {
				color: $lightercolor;
				background: $bodybgcolor;
				&:hover {
					text-decoration: none;
					background: darken($bodybgcolor, 3);
				}
			}
			&.active {
				a {
					color: #fff;
					background: $brandcolor2;
				}
			}
		}
	}
}

#tab-homeloan {
	padding-bottom: 44px;
}

/* icon sprites for more info block at sidebar */

.block-homeloan-info {
	box-shadow: 0 0 10px rgba($lightercolor,.5);

	[class*='icon-'] {
		background: url(http://www.imoney.my/static/home-loan/img/hl-info-icons.png) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}

	.icon-house { background-position: -16px 0}
	.icon-badge { background-position: -32px 0}

	a {
		display: block;
		padding: 8px 10px;
		border-top: 1px solid rgba($lightercolor,.2);

		&:hover {
			text-decoration: none;
			background-color: $bodybgcolor;
		}
	}
}

/* HOME LOAN REFINANCE */

//2col

.table-homeloan-refinance-v2 {
	[data-column="0"] {
		width: 25%;
	}
	[data-column="1"], [data-column="2"] {
		width: 19%;
	}
	[data-column="3"] {
		width: 16%;
	}

	.apply-col {
		width: 21%;
	}
	td:first-child {
		img {
			height: 40px;
		}
	}

	.extra-info {
		display: block
	}
}