.table-homeloan {
	td {
		text-align: center;
	}

	[data-column="0"] {
		width: 130px;
	}
	[data-column="3"]  {
		width: 120px;
	}
	[data-column="4"], [data-column="5"] {
		width: 110px;
	}
	[data-column="6"] {
		width: 100px;
	}
}

.btn-homeloan-calculate {
	position: relative;
	top: 3px;
}