@import "var";
@import "mixin";

/*****************************
	INFO
******************************/

.nav {
	text-align: center;

	a {
		display: inline-block;
		padding: 0 30px;
		color: #fff;
		border-width: 0 1px;
		border-style: solid;
		border-color: darken($brandcolor1,5);

		&:first-child {
			border-right: none;
		}

		&:hover, &.active {
			background: #0d597e;
		}
	}
}

.info-header {
	margin: 30px 0;
	text-align: center;
}

.info-wrapper {
	width: 80%;
	min-width: 600px;
	max-width: 1000px;
	margin: 0 auto;
}

[role="main"] {
	background: #fff;
	padding: 20px;
	margin-top: 20px;
}

.map {
	padding: 10px 20px;
	background: #d8eaf1;
}

/* footer  */
[role="contentinfo"] {
	@include font-size(1.2);
	color: $lightercolor;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*****************************
	FREE SERVICES
******************************/

.free-services-list {
	overflow: hidden;

	li {
		width: 44%;
		padding: 0 3% 1% !important;
		float: left;
		position: relative;
	}

	p {
		padding-left: 40px;
	}
}

[class*="icon-"] {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/hl-freeservice-icon.png) 0 0 no-repeat;
	display: block;
	left: 4%;
	top: 3px;
}

.icon-assessment { background-position: -32px 0;}
.icon-multiple { background-position: -64px 0; width: 37px}
.icon-consultation { background-position: -101px 0;}
.icon-value { background-position: -133px 0;}
.icon-updates { background-position: -165px 0;}
.icon-lawyers { background-position: -197px 0;}
.icon-insurance { background-position: -229px 0;}



