@import "var";
@import "mixin";
@import "bourbon";

$hsbc-black : #000000;
$hsbc-red : #eb342d;
$hsbc-softred : #ffb1ab;
$bpi-darkred : #770004;
$bpi-green: #59b545;
$imgurl : "../img/campaign/hsbc-red-gold";
$submitbtn : #3AAF77;
$bpi-gold : #bd931a;

.campaign-cc-body {
	background:#fff;
	position: relative;

	&.hsbc-red {
		background:#fff url(#{$imgurl}/shopping-red-card2.jpg) 0 125px no-repeat; 
	}

	

	&:before {
		content: "";
		right:25px;
		top:0;
		width:20px;
		display: block;
		position: absolute;
		background-color:#FF0000;
		bottom:0;
		z-index:2;
	}
	&:after {
		border-width: 20px;
		border-color: transparent #fff transparent transparent;
		border-style:solid;
		content:"";
		position: absolute;
		right:25px;
		top:37px;
		z-index: 3;
	}
}

.hsbc-hero {
	padding: 20px 20px 0;
	position: relative;

	.hsbc-card-showcase {

		ul {
			padding:0;
			margin-bottom:7px;

			li {
				display: inline-block;
				float:left;
				padding-left:0;
				margin-left:10px;
				background-position: 0 0;
				width:100px;
				height:63px;
				background-size: 100px 63px;

				&:first-child {
					margin-left:0;
				}

				&.hsbc-card-black{
					background-image: url(#{$imgurl}/hsbc-platinum.png);					
				}

				&.hsbc-card-gold {
					background-image: url(#{$imgurl}/hsbc-gold-card.png);
				}

				&.hsbc-card-red {
					background-image: url(#{$imgurl}/hsbc-red-card.png);
				}
			}
			&:after {
				content:"";
				display: table;
				clear:both;
			}
		}

		h4 {
			@include font-size(1.8);
		}
	}

	.campaign-logo {
		position: absolute;
		right:80px;
		top:30px;
		width:250px;
		height:53px;
		background-image:url(#{$imgurl}/hsbc-logo@2x.png);
		background-repeat: no-repeat;
		background-size: 250px 53px;
	}

	.red-text-area {
		padding: 20px 70px 20px 40px;
		position: absolute;
		left: 0;
		bottom: -360px;
		font-weight: 600;
		letter-spacing: 1px;
		color: #fff;
		font-size: 30px;
		font-size: 3.5rem;
		line-height: 37px;
		z-index: 10;
		background-color: rgba(235,52,45,0.88);

		.hsbc-gold & {
			@include font-size(2.8);
			line-height: 30px;	
			bottom: -370px;
			padding-left:20px;
			padding-right: 29px;
		}
	}
}

#parallax {
	position: absolute;
	overflow:hidden;
	width:1000px;
	height:516px;

	.parallax-layer {
		position: absolute;

	}
	.grocer-bg {
		background: url(#{$imgurl}/grocer-bg.jpg) -30px -30px no-repeat;
		width:1000px;
		height:516px;
		position: absolute;
	}

	.woman-grocerer {
		background: url(#{$imgurl}/woman-grocerer.png) 0px -26px no-repeat;
		position: absolute;
		width:1000px;
		height:516px;
	}
}
.application-wrap {
	padding:30px 13% ;
	position: relative;
	z-index: 2;

	.hsbc-red & {
		margin-top:440px;
	}

	.hsbc-gold & {
		margin-top:445px;
	}

	.application-content {
		margin-bottom: 30px;
		box-shadow: 0 0 10px rgba(0,0,0,0.18);

		sup {
			padding-left:2px;
		}
	}

	.content__header {
		background: $hsbc-red;
		padding:14px 15px;
		@include font-size(1.7); 
		color:#fff;
		text-align: center;
		border-radius: 4px 4px 0 0;
		text-shadow: 0 2px 1px rgba(0,0,0,0.2);
	}

	.content__body {
		background:#fff;		
	}
}

.application-card {
	margin:0;

	> li {
		padding: 20px 135px 20px 185px;
		background:none;
		border-bottom: 1px solid #e5e9eb;
		position: relative;
		cursor: pointer;
		box-shadow: inset -125px 0 0 lighten($bpi-gold, 53);

		ul {
			margin-bottom: 0;
		}

		&:hover {

			.application-card__select {
				border-color: darken(#C49495, 15);
			}

			.application-card__select-tip {
				@include animation(bounce .9s ease-in infinite);
			}
		}
	}

	h5 {
		color: #000;
		@include font-size(1.8);
		margin-bottom: 0;
		line-height: 1.3;
	}

	h6 {
		color: $hsbc-red;
		@include font-size(1.7);
		line-height: 1;
		font-weight: 400;
	}

	&__img {
		position: absolute;
		left:20px;
		top:24px;
	}
	
	&__select {
		position: absolute;
		width: 50px;
		height: 50px;
		border: 3px solid #C49495;
		background: transparent;
		border-radius: 50%;
		right: 35px;
		top: 50%;
		margin-top: -25px;

		&:before {
			position: absolute;
			content: '';
			width: 56px;
			height: 56px;
			background: $bpi-green url(#{$imgurl}/bpi-card-select.png) center no-repeat;
			display: block;
			background-size: 17px, 18px;
			left: -3px;
			top: -3px;
			border-radius: 50%;
			@include transform(scale(0));
			@include transition(transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear);
		}

		.card--selected & {

			&:before {
				@include transform(scale(1));
			}
		}
		.application-card__select-tip {
			font-size: 11px;
			position: absolute;
			text-align: center;
			width: 100%;
			top: -28px;
			left: -6px;
			background: lighten($hsbc-black,30);
			padding: 2px 5px;
			// box-shadow: 0 1px 0 rgba(0,0,0,.2);
			border-radius: 2px;
			color: #fff;

			&:after {
				position: absolute;
				width: 0;
				height: 0;
				border: 3px solid;
				border-color: lighten($hsbc-black,30) transparent transparent;
				top: 100%;
				content: '';
				left: 50%;
				margin-left: -3px;
			}
		}
	}
}

@include keyframes(bounce) {
	0% {
		@include transform(translateY(0));

	}

	20% {
		@include transform(translateY(-25px));
		
	}
	30% {
		@include transform(translateY(-25px));

	}

	40% {
		@include transform(translateY(0));
		padding-top:0;
	}

	50% {
		@include transform(translateY(-15px));
	}
	60% {
		@include transform(translateY(0));
		padding-top:0;
	}
	70% {
		@include transform(translateY(-8px));
	}
	80% {
		@include transform(translateY(0));
		padding-top:0;
	}
}

@include keyframes(floating) {
	0% {
		@include transform(translateY(0));
	}
	50% {
		@include transform(translateY(-15px));
	}
	100% {
		@include transform(translateY(0));
	}
}

#cc-app-form {
	padding:20px;


	.form-control {
		border:0;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid lighten($bpi-gold, 25);
		position: relative;
		background:#F5F3ED;
		padding:5px 10px;
		
		&:focus {
			background:lighten($bpi-gold, 50);
			border-bottom: 1px solid $bpi-gold;
		}
		&.error {
			background: #F7DEDE;
			border-bottom: 1px solid $hsbc-red;
		}
	}

	.picked {
		padding:10px;
		border: 3px solid lighten($submitbtn, 40);
		background:lighten($submitbtn, 49);
	}

	.control-label {
		display: block;
	}

}


.footer-content {
	background:lighten($hsbc-black, 20);
	padding: 30px 13% 40px;
	color:#d1d1d1;

	ul {

		li {

			list-style: none;
			background:none;
			padding-left:0;
			@include font-size(1.2);
			margin-bottom: 3px;

			sup {
				color:#fff;
				@include font-size(1.1);
				padding-right:3px;
			}

			a {
				color:#64CDEC;
			}
		}
	}
}
.btn-cc-submit {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	background: $submitbtn;
	border:1px solid darken($submitbtn, 10);
	@include transition();

	&:hover {
		background: saturate($submitbtn, 13);
	}
}

.required {
	color: red;
}

label.error {
	@include font-size(1.2);
	color: $failcolor;
	display: block;
}

.application-submitted {
	text-align: center;
	margin-top:90px;
	position: relative;
	padding-bottom:85px;

	&:before {
		background: $bpi-green url(#{$imgurl}/bpi-card-select.png) 50% 50% no-repeat;
		width:70px;
		height:70px;
		border-radius:50%;
		content:"";
		position: absolute;
		top:-75px;
		border:6px solid #fff;
		left:50%;
		margin-left:-35px;
	}

	&__content {
		padding: 20px;
		/*@include background-image(linear-gradient(#59b545, #16a220 100%));*/

		h2 {
			color: #59b545;			
			font-weight: bold;
			@include font-size(3);
			text-transform: uppercase;
		}

		h4 {
			color:#0A5E03;
			@include font-size(2);
			margin-bottom: 0;
		}
	}
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 999px) {
	body {
		min-width: 0;
		padding: 0 10px;
	}
	#page, .ct-wrapper {
		width: auto;
	}


	#parallax {
		display: none;
	}

	.campaign-cc-body {

		&.hsbc-gold {
			background:#fff url(#{$imgurl}/shopping-gold-card.jpg) 0 125px no-repeat; 
		}

		&.hsbc-red {
			background-position: 50% 125px;
		}
	}
	
}

@media (max-width: 767px) {

	.application-submitted {
		margin-top:0;
	}

	.campaign-cc-body {

		&.hsbc-gold, &.hsbc-red {
			background-size: 800px;
			background-position: 50% 125px;
		}

		&:before, &:after {
			display: none;
		}

		&:before {
			display:block;
			width:100%;
			height:4px;
			top:0;
			left:0;
			right:0;
		}
	}

	.application-wrap {
		width:auto;
		padding-left: 10px;
		padding-right: 10px;
	}

	.application-card .application-card__img {
		width: 100px;
	}

	.hsbc-hero {

		.campaign-logo {
			background-size: 170px;
			width:170px;
			height:40px;
			right:10px;
		}

		.hsbc-card-showcase ul li {
			background-size:80px;
			width:80px;
			height:50px;
		}

		.red-text-area {
			bottom:-300px;
			background-color: rgba(235, 52, 45, 0.75);
		}

		.hsbc-card-showcase h4 {
			@include font-size(1.6);
		}
	}

	.application-card > li {
		padding-left: 135px;
	}
}

@media (max-width: 550px) {

	body {
		padding:0 !important;
	}

	.application-submitted {
		margin-top:35px;
	}

	.footer-content {
		padding: 30px 20px 40px;
	}
	.campaign-cc-body {

		&.hsbc-gold {
			background-position: 60% 190px;
		}

		&.hsbc-red {
			background-position: 60% 190px;
		}

		.application-wrap {
			margin-top:400px;
		}
	}

	.hsbc-card-showcase {
		padding-top:65px;
		text-align: center;

		ul {
			width:230px;
			margin:0 auto;
		}
	}

	.hsbc-hero {
		padding: 10px 10px 0;

		.campaign-logo {
			margin:0 auto;
			float:none;
			position: absolute;
			left:50%;
			right:auto;
			margin-left:-70px;
			background-size:150px;
			top:20px;
			width:150px;
		}

		.hsbc-card-showcase {

			ul li {
				background-size:70px;
				width:70px;
				height:45px;
			}

			h4 {
				line-height: 21px;

				&:after {
					content:"Scroll Down for more";
					display:block;
					width:80%;
					margin:5px auto 0;
					padding:4px 15px;
					background: darken($hsbc-red, 10);
					border-radius:18px;
					@include font-size(1.4);
					color:#fff;
					position: relative;
				}
			}
		}

		.red-text-area {

			.hsbc-gold &, .hsbc-red & {
				@include font-size(2.2);
				line-height: 24px;
				background-color: rgba(235, 52, 45, 0.78);
			}
		}
	}
	.application-card > li {
		box-shadow: inset -80px 0 0 lighten($bpi-gold, 53);
	}
	.application-card > li {
		padding-left:15px;
		padding-top: 90px;
		padding-right: 90px;
	}

	.application-card__select {
		right:14px;
	}
}




