@import "var";
@import "mixin";
@import "bourbon";

$hsbc-black : #000000;
$hsbc-red : #eb342d;
$hsbc-softred : #ffb1ab;
$bpi-darkred : #770004;
$bpi-green: #59b545;
$imgurl : "../img/campaign/hsbc-ph";
$bpi-medium-red : #80070b;
$bpi-red : #b01116;
$bpi-gold : #bd931a;
$bpi-lightgold: #d8af38;
$bpi-darkgold: #9c7608;
$submitbtn : #3AAF77;

.campaign-cc-body {
	background: $hsbc-black;
	padding:15px 0 0;
	font-family: $roboto;
	@include box-sizing(border-box);
}

.campaign-logo {
	background: url(#{$imgurl}/hsbc-logo.png) no-repeat;
	width: 120px;
	height: 22px;
	background-size: 120px 22px;
	right:20px;
	top:20px;
	position: absolute;
}

.campaign-headline-first {
	padding:5px 0 0;
	position: relative;
	margin-top:10px;
	text-align: center;

	h1 {
		color:$hsbc-red;
		font-weight: 500;
		@include font-size(3.9);

		.white {
			color:#fff;
			display: block;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

}

.campaign-headline-second {
	position: relative;
	padding-bottom: 40px;
	padding-top:30px;
	text-align: center;

	h1 {
		color: #fff;
		margin:0;
		position: relative;
		@include font-size(3.4);
		font-weight: 500;
		border-bottom:10px solid #FFA44B;
		display: inline-block;
		width: 300px;
		line-height: 40px;	
		z-index: 2;	
		
		& > span {
			position: relative;
			z-index: 2;
			background:#fff;
			display: inline-block;
			padding:0 10px;
			color:#111;
			top:-8px;

			&:before {
				content: "";
				display: block;
				position: absolute;
				left:-40px;
				top:0;
				border-width: 20px;
				border-style: solid;
				border-color: transparent #fff transparent transparent;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				top:0;
				right:-40px;
				border-width: 20px;
				border-style: solid;
				border-color: transparent transparent transparent #fff;
			}
		}

		&:before {
			content: "";
			display: block;
			border-width:8px;
			border-style: solid;
			border-color: transparent #DB7B1C #DB7B1C transparent;
			position: absolute;
			left:0;
			bottom:0px;
		}
		&:after {
			content: "";
			display: block;
			border-width:8px;
			border-style: solid;
			border-color: transparent transparent #DB7B1C #DB7B1C;
			position: absolute;
			right:0;
			bottom:0px;
		}

		.wood-top {
			position: absolute;
			bottom:0;
			left:16px;
			right:16px;
			height:16px;
			background-color: #DB7B1C;
			z-index: 1;
		}
	}

	h2 {
		color:#fff;
		font-weight: 500;
		@include font-size(3.3);
		padding-top:180px;
	}

	.deals-wrap {
		position: absolute;
		@include font-size(4.2);
		color:#fff;
		left:50%;
		margin-left:-135px;
		font-weight: 600;

		span {
			display: inline-block;
			float:left;
			margin:0;
			top:60px;
			position: relative;
			@include border-bottom-radius(5px);
			@include transform-origin(27px -150px);
			box-shadow: inset 0 3px 0 $hsbc-red, 
									inset 0 -3px 0 $hsbc-red,
									inset -3px 0 0 $hsbc-red,
									inset 3px 0 0 $hsbc-red,
									inset 0 5px 0 $hsbc-softred, 
									inset 0 -5px 0 $hsbc-softred,
									inset -5px 0 0 $hsbc-softred,
									inset 5px 0 0 $hsbc-softred,
									-12px 2px 8px rgba(0,0,0,0.3);

			&:before {
				content:"";
				position: absolute;
				top:-60px;
				left:0;
				border-width: 30px 27px 30px;
				border-color: transparent transparent $hsbc-red transparent;
				border-style: solid;	
				@include backface-visibility(visible);			
			}

			&:after {
				border-radius: 50%;
				width:10px;
				height:10px;
				background: #000;
				content: "";
				position: absolute;
				top:-20px;
				left:50%;
				margin-left:-5px;
				z-index:1;
			}
			
			&.d-letter {				
				@include animation(swinging 8s infinite ease-in-out .1s);			
			}		
			&.e-letter {
				@include animation(swinging 8s infinite ease-in-out .25s);	
			}
			&.a-letter {
				@include animation(swinging 8s infinite ease-in-out .15s);	
			}
			&.l-letter {
				@include animation(swinging 8s infinite ease-in-out .27s);	
			}
			&.s-letter {
				@include animation(swinging 8s infinite ease-in-out .34s);	
			}
		}
	}

	[class*="-letter"]{
		padding:5px 0 5px;
		width: 54px;
		@include box-sizing(border-box);
		background: $hsbc-red;
	}
	.letter-rope{
		position: absolute;
		width:2px;
		height:48px;
		background:#fefefe;
		top:-63px;
		left:50%;
		margin-left:-1px;
		z-index:2;
	}
}

@include keyframes(swinging) {
	0% { @include transform(rotate(0)); }
 5% { @include transform(rotate(10deg) translateX(13px)); }
 10% { @include transform(rotate(-9deg) translateX(-13px)); }
 15% { @include transform(rotate(8deg) translateX(10px)); }
 20% { @include transform(rotate(-7deg) translateX(-10px)); }
 25% { @include transform(rotate(6deg) translateX(7px)); }
 30% { @include transform(rotate(-5deg) translateX(-7px)); }
 35% { @include transform(rotate(4deg) translateX(7px)); }
 40% { @include transform(rotate(-3deg) translateX(-3px)); }
 45% { @include transform(rotate(2deg) translateX(3px)); }
 50% { @include transform(rotate(0)); } /* Come to rest at 50%. The rest is just stillness */
 100% { @include transform(rotate(0)); }
}

.application-wrap {
	padding:30px 13% ;
	position: relative;
	z-index: 2;

	.application-content {
		margin-bottom: 30px;
		
	}

	.content__header {
		background: $hsbc-red;
		padding:14px 15px;
		@include font-size(1.7); 
		color:#fff;
		text-align: center;
		border-radius: 4px 4px 0 0;
		text-shadow: 0 2px 1px rgba(0,0,0,0.2);
	}

	.content__body {
		background:#fff;		
	}
}

.application-card {
	margin:0;

	> li {
		padding: 20px 150px 20px 190px;
		background:none;
		border-bottom: 1px solid #e5e9eb;
		position: relative;
		cursor: pointer;
		box-shadow: inset -130px 0 0 lighten($bpi-gold, 53);

		ul {
			margin-bottom: 0;
		}

		&:hover {

			.application-card__select {
				border-color: darken(#C49495, 15);
			}

			.application-card__select-tip {
				@include animation(bounce .9s ease-in infinite);
			}
		}
	}

	h5 {
		color: #000;
		@include font-size(1.8);
		margin-bottom: 0;
		line-height: 1.3;
	}

	h6 {
		color: $hsbc-red;
		@include font-size(1.5);
		line-height: 1;
		font-weight: 400;
	}

	&__img {
		position: absolute;
		left:20px;
		top:24px;
	}
	
	&__select {
		position: absolute;
		width: 50px;
		height: 50px;
		border: 3px solid #C49495;
		background: transparent;
		border-radius: 50%;
		right: 40px;
		top: 50%;
		margin-top: -25px;

		&:before {
			position: absolute;
			content: '';
			width: 56px;
			height: 56px;
			background: $bpi-green url(#{$imgurl}/bpi-card-select.png) center no-repeat;
			display: block;
			background-size: 17px, 18px;
			left: -3px;
			top: -3px;
			border-radius: 50%;
			@include transform(scale(0));
			@include transition(transform 0.3s linear, -webkit-transform 0.3s linear, -ms-transform 0.3s linear);
		}

		.card--selected & {

			&:before {
				@include transform(scale(1));
			}
		}
		.application-card__select-tip {
			font-size: 11px;
			position: absolute;
			text-align: center;
			width: 100%;
			top: -28px;
			left: -6px;
			background: #C543A6;
			padding: 2px 5px;
			// box-shadow: 0 1px 0 rgba(0,0,0,.2);
			border-radius: 2px;
			color: #fff;

			&:after {
				position: absolute;
				width: 0;
				height: 0;
				border: 3px solid;
				border-color: #C543A6 transparent transparent;
				top: 100%;
				content: '';
				left: 50%;
				margin-left: -3px;
			}
		}
	}
}

@include keyframes(bounce) {
	0% {
		@include transform(translateY(0));

	}

	20% {
		@include transform(translateY(-25px));
		
	}
	30% {
		@include transform(translateY(-25px));

	}

	40% {
		@include transform(translateY(0));
		padding-top:0;
	}

	50% {
		@include transform(translateY(-15px));
	}
	60% {
		@include transform(translateY(0));
		padding-top:0;
	}
	70% {
		@include transform(translateY(-8px));
	}
	80% {
		@include transform(translateY(0));
		padding-top:0;
	}
}

@include keyframes(floating) {
	0% {
		@include transform(translateY(0));
	}
	50% {
		@include transform(translateY(-15px));
	}
	100% {
		@include transform(translateY(0));
	}
}

#cc-app-form {
	padding:20px;


	.form-control {
		border:0;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid lighten($bpi-gold, 25);
		position: relative;
		background:#F5F3ED;
		padding:5px 10px;
		
		&:focus {
			background:lighten($bpi-gold, 50);
			border-bottom: 1px solid $bpi-gold;
		}
		&.error {
			background: #F7DEDE;
		}
	}

	.picked {
		padding:10px;
		border: 3px solid lighten($submitbtn, 40);
		background:lighten($submitbtn, 49);
	}

	.control-label {
		display: block;
	}

}

.application-submitted {
	text-align: center;
	position: relative;
	display: none;
	padding-bottom:85px;

	&__content {
		padding: 20px;
		@include background-image(linear-gradient(#59b545, #16a220 100%));

		h2 {
			color: #fff;
			text-shadow: 0 2px 1px rgba(0,0,0,0.2);
			font-weight: bold;
			text-transform: uppercase;
		}

		h4 {
			color:#0A5E03;
			margin-bottom: 0;
		}
	}
}

.btn-cc-submit {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	background: $submitbtn;
	border:1px solid darken($submitbtn, 10);
	@include transition();

	&:hover {
		background: saturate($submitbtn, 13);
	}
}
.required {
	color: red;
}

.bpi-footer {
	background: url(#{$imgurl}/building-ph.svg) bottom center no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height:300px;

	.no-svg & {
		background: url(#{$imgurl}/building-ph.svg) bottom center no-repeat;
	}
}

label.error {
	@include font-size(1.2);
	color: $failcolor;
	display: block;
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 1020px) {
	body {
		min-width: 0;
		padding: 0 10px;
	}
	#page, .ct-wrapper {
		width: auto;
	}
}



@media (max-width: 767px) {
	.application-wrap {
		width:auto;
		padding-left: 10px;
		padding-right: 10px;
	}

	.application-card .application-card__img {
		width: 100px;
	}
	.campaign-logo {
		position: relative;
		left:auto;
		right:auto;
		margin:0 auto;
		top:auto;
		padding-bottom: 20px;
	}
	.application-card > li {
		padding-left: 135px;
	}
}

@media (max-width: 550px) {
	.campaign-logo{
		background-size: 100px 19px;
		width:100px;
		height:19px;
	}
	body.page-campaign-hsbc-cards{
    padding:0;
    
    }
 	.page-campaign-hsbc-cards #page {
    padding-left:10px;
    padding-right:10px;
    margin:0 auto;
  }
	.campaign-headline-first h1{
		@include font-size(2.9);
	}
	.campaign-headline-second h1{
		width: 280px;
	}
	.campaign-headline-second h2{
		@include font-size(2.6);
	}
	#bpi-app-form {
		padding: 10px;
	}

	.campaign-cc-body {
		padding-bottom: 20px;
		min-height: 600px;
	}
	.application-card .application-card__img {
		left:auto;
		top:15px;
	}
	.campaign-headline-second {
		padding-bottom: 10px;
	}
	.application-card > li {
		box-shadow: inset -80px 0 0 lighten($bpi-gold, 53);
	}
	.application-card > li {
		padding-left:15px;
		padding-top: 90px;
		padding-right: 90px;
	}

	.application-card__select {
		right:14px;
	}
	.application-submitted__content {
		padding:15px;
	}
}
