@import "var";
@import "mixin";

.table-homeloan-v2 {

	[data-column="0"] {
		width: 18%;
	}

	[data-column="1"] {
		width: 13.5%;
	}
	[data-column="2"] {
		width: 19%;
	}
	[data-column="5"]{
		width: 12%;
	}
}

del {
	&, &.extra-info {
		color: $failcolor;
	}
}
