/******************
	INLINE POPUP
*******************/

.inline-popup {
	//background-color: $brandcolor1;
	text-align: center;
	//padding: 30px;
	display: none;

	h2 {
		//color: #fff;
		//text-shadow: 0 1px 3px rgba(0,0,0,.5);
		@include font-size(2.8);
		padding: 20px 0;
		font-weight: 700;
		@include border-bottom;
		margin-bottom: 20px;
		background: $lightgrey;
		border-radius: 3px 3px 0 0;
		box-shadow: 0 1px 5px rgba(0,0,0,.05);
	}

	&-header {
		background: $brandcolor2;
		color: #fff;
		padding: 20px 0;
		margin-bottom: 20px;
		border-radius: 3px 3px 0 0;
		box-shadow: 0 1px 5px rgba(0,0,0,.05);

		h2 {
			border-bottom: none;
			background: none;
			box-shadow: none;
			padding: 0;
			margin-bottom: 10px;
			color: #fff;
			text-shadow: 0 1px 1px rgba(0,0,0,.2);
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.inline-popup-content {
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(0,0,0,.2);
		border-radius: 3px;
		width: 750px;
	}

	.inline-popup-footer {
		@include border-top;
		margin-top: 30px;
		padding: 10px 20px 0;
		background: $lightgrey;
		border-radius: 0 0 3px 3px;
	}
}
