@import "var";

.table-travelinsurance-takaful, .table-travelinsurance-conventional {

	td {
		width: 10%;
	}
	[data-column="0"],.apply-col{
		width: 15%;
	}
	 
}

.table-pai-takaful, .table-pai-conventional {
	[data-column="0"]{
		width: 18%;
	}
	.apply-col {
		width: 15%;
	}
}

.table-carinsurance {
	td:first-child {
		width: 12%;
	}

	.apply-col {
		width: 15%;
	}

	[data-column="1"] {
		width: 18%;
	}
	[data-column="2"] {
		width: 32%;
	}
	[data-column="2-1"] {
		width: 16%;
	}

	[data-column="4"],[data-column="5"] {
		width: 11.5%;
	}
}

.page-carinsurance__carimage {
	border: 5px solid darken($lightgrey,8);
	box-shadow: 0 1px 0 darken($lightgrey,16);
}

#enquire-form {
	display: none;
}

// 
.no-js {
	#btn-advance-filter {
		display: none;
	}
}



