@import "mixin";
@import "var";

h2 {
  @include font-size(2.6);
}

.color-red {
  color: #c00;
}

.etiqa__top {
  background: url(../img/etiqa/etiqa-yellow-bg.png) #fa0;
  position: relative;
}

.etiqa__header {
  padding: 30px 380px 40px 30px;
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 140px;
    height: 67px;
    background: url(../img/etiqa/etiqa-car.png) no-repeat bottom left;
    bottom: -25px;
    left: -20px;
  }

  h1 {
    color: #fff;
    @include font-size(3.6);
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
  }
}

.etiqa__did-you-know {
  background: #292929;
  color: #ddd;
  padding-right: 380px;

  h2 {
    color: #fa0;
    font-weight: 700;
  }

  .did-you-know__list {
    @include font-size(1.6);

    li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 46px;
      min-height: 34px;
    }
    i {
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}

.etiqa__bottom {
  h2 {
    color: #292929;

    span {
      font-weight: 700;
      color: #fa0;
    }
  }

  .etiqa__benefits {
    overflow: hidden;
    margin: 30px -10px;

    li {
      @include box-sizing;
      width: 33.33%;
      padding: 0 10px;
      float: left;
      text-align: center;

      i {
        display: block;
      }
    }
  }
}

/* ===================
  Etiqa Form
====================== */

.etiqa__form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 350px;
  background: #fff;
  box-shadow: 2px 2px 0 rgba(0,0,0,.15);

  .form__head {
    text-align: center;
    padding: 30px 20px 20px;

    h4 {
      font-weight: 400;
      position: relative;

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 57px;
        height: 34px;
        background: url(../img/etiqa/etiqa-sprites.png) 0 -179px no-repeat;
        left: -35px;
        top: -40px;
      }
    }
  }

  .form__body {
    background-color: #f9f9f7;
    padding: 20px;
  }

  .form__cta {
    text-align: center;
    margin-bottom: 20px;

    .cta__main {
      margin-bottom: 10px;
    }

    .cta__alt {
      display: block;
    }
  }
}

/* ===================
  Sprites
====================== */

.icon {
  background: url(../img/etiqa/etiqa-sprites.png) no-repeat;
  display: inline-block;
}

/* bank */
[class*="payment-"] {
  width: 55px;
  height: 34px;
}
.payment-mastercard { background-position: 0 0 }
.payment-visa       { background-position: -57px 0}
.payment-meps       { background-position: -114px 0}
.payment-mb2u       { background-position: -171px 0}

/* Did you know? */
[class*="know-"] {
  width: 36px;
  height: 28px;
}
.know-fine { background-position: 0 -44px }
.know-calendar { background-position: -38px -41px; height: 31px }
.know-clock { background-position: -76px -38px; height: 34px }
.know-ecover { background-position: -114px -44px }

/* Benefits */
[class*="benefits-"] {
  height: 91px;
  margin: 0 auto 20px;
}
.benefits-24hr { background-position: 0 -74px; width: 166px}
.benefits-medical { background-position: -301px -74px; width: 139px}
.benefits-repatriation { background-position: -442px -74px; width: 140px}


/* ===================
  Media Queries
====================== */

@media screen and (max-width: 1008px) {
  .ct-wrapper, #page, .footer-new, #menu-dropdown > ul {
    width: 748px;
  }

  .nav, .header, body {
    min-width: initial;
  }

  .nav-popular {
    display: none;
  }

  .etiqa__form {
    width: 300px;
  }

  .etiqa__header, .etiqa__did-you-know {
    padding-right: 320px;
  }

  .etiqa__did-you-know {
    .did-you-know__list {
      @include font-size(1.4);
    }
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .ct-wrapper, #page, .footer-new {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-media {
    display: none;
  }

  .footer-new {
    > .row-fl {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .header-logo {
    float: none;
    margin: 0 auto;
    display: block;
  }
  .etiqa__header, .etiqa__did-you-know, .etiqa__bottom {
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      @include font-size(2.8);
    }
  }
  .etiqa__form {
    position: static;
    width: auto;
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
  }
  .header-language, .breadcrumb {
    display: none;
  }
  .etiqa__header {
    text-align: center;

    &:before {
      left: 50%;
      margin-left: -70px;
    }
  }
  .etiqa__did-you-know h2 {
    text-align: center;
  }
  .etiqa__form {
    .form__head {
      h4 {
        &:before {
          display: none;
        }
      }
    }
  }

  .etiqa__bottom {
    text-align: center;

    .etiqa__benefits {
      li {
        width: auto;
        float: none;
        margin: 0 0 30px;
      }
    }
  }
}