//aligning stuff
.a-left {
  text-align: left;
}

.a-center {
  text-align: center;
}

.a-right {
  text-align: right;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

// float stuff

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

// font

.bold {
  font-weight: bold;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}


// color stuff

.color-darkblue {
  color: $brandcolor1;
}

.color-seablue, .color-lightblue {
  color: $brandcolor2;
}

.color-light {
  color: $lightercolor;
}

.color-xlight {
  color: $blkgreycolor;
}

.color-body {
  color: $color;
}

.color-red {
  color: $failcolor;
}

.color-green {
  color: $successcolor;
}

.color-complement {
  color: #f70;
}

.color-white {
  color: #fff;
}

.bg-darkblue {
  background-color: $brandcolor1;
  color: $lightgrey;
}

.bg-seablue {
  background-color: $brandcolor2;
  color: $lightgrey;
}

.bg-plain {
  background-color:#fff;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* color */
.ok {
  color: $successcolor;
}

.not-ok {
  color: $failcolor;
}

// block or inline
.db {
  display: block;
}

.dn {
  display: none;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

/*****************************
  reusable
******************************/
/* width control */

.w80 {
  width: 80
}
/* box models */

.p30 {
  @include padding;
}

.p20 {
  padding: 20px;
}

.p10 {
  padding: 10px;
}

.p5 {
  padding: 5px;
}

.p0 {
  padding: 0px;
}

.pt30 {
  @include padding-top;
}

.pr30 {
  @include padding-right;
}

.pb30 {
  @include padding-bottom;
}

.pl30 {
  @include padding-left;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.pt5 {
  padding-top: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

.m30 {
  @include margin;
}

.mt30 {
  @include margin-top;
}

.mr30 {
  @include margin-right;
}

.mb30 {
  @include margin-bottom;
}

.ml30 {
  @include margin-left;
}

.mt20 {
  @include margin-top(20px);
}

.mr20 {
  @include margin-right(20px);
}

.mb20 {
  @include margin-bottom(20px);
}

.ml20 {
  @include margin-left(20px);
}

.mt10 {
  @include margin-top(10px);
}

.mt-10 {
  @include margin-top(-10px);
}

.mr10 {
  @include margin-right(10px);
}

.mb10 {
  @include margin-bottom(10px);
}

.ml10 {
  @include margin-left(10px);
}

.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.mauto {
  margin: 0 auto;
}

.mr-1{
  margin-right: -1px;
}

.bt {
  @include border-top;
}

.br {
  @include border-right;
}

.bb {
  @include border-bottom;
}

.bl {
  @include border-left;
}

.grey-border {
  border: 4px solid $bordercolor;
}

.grey-border-small {
  @extend .grey-border;
  border-width: 2px;
}

.bt-lightbluebar {
  border-top: 3px $brandcolor2 solid !important;
}

.bb-lightbluebar {
  border-bottom: 3px $brandcolor2 solid;
}

.lightorange-bg {
  background-color: $lightorange;
}

table tr:hover td.lightorange-bg {
  background-color: $lightorange;
}

$tablecol: 12;

@for $i from 1 through $tablecol {
  .w-#{$i} {
    width: percentage($i/$tablecol);
  }
}

.cf {
  @extend %clearfix;
}

/* Tooltip */
.tooltip {
  position: relative;
  cursor: pointer;
  top: -1px;

  .tooltip-btn {
    color: #fff;
    display: inline-block;
    background: lighten($lightercolor,20);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-weight: normal;
    @include font-size(1.0);
  }

  &:hover {
    .tooltip-content {
      display: block;
    }

    .tooltip-btn {
      background: lighten($lightercolor,10);
      text-decoration: none;
    }
  }

  .tooltip-content {
    cursor: auto;
    display: none;
    position: absolute;
    z-index: 1;
    text-shadow: none;
    font-weight: normal;
    text-align: left;
    width: 200px;
    left: 22px;
    top: -10px;
    background: $lightercolor;
    color: #fff;
    padding: 10px;
    border-radius: $radius;

    &:after {
      width: 0;
      height: 0;
      content: '';
      display: block;
      border-width: 8px;
      border-color: transparent $lightercolor transparent transparent;
      border-style: solid;
      position: absolute;
      left: -14px;
      top: 10px;
    }
  }
}