@mixin box-sizing($bs: border-box) {
	-webkit-box-sizing: $bs;
	-moz-box-sizing: $bs;
	box-sizing: $bs;
}

@mixin font-size($sizeValue: 1.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//padding

$value: 30px;

@mixin padding($padvalue: $value){
	padding: $padvalue;
}

@mixin padding-top($padvalue: $value){
	padding-top: $padvalue;
}

@mixin padding-right($padvalue: $value){
	padding-right: $padvalue;
}

@mixin padding-bottom($padvalue: $value){
	padding-bottom: $padvalue;
}

@mixin padding-left($padvalue: $value){
	padding-left: $padvalue;
}

//margin

@mixin margin($marvalue: $value){
	margin: $marvalue;
}

@mixin margin-top($marvalue: $value){
	margin-top: $marvalue;
}

@mixin margin-right($marvalue: $value){
	margin-right: $marvalue;
}

@mixin margin-bottom($marvalue: $value){
	margin-bottom: $marvalue;
}

@mixin margin-left($marvalue: $value){
	margin-left: $marvalue;
}

//border

$bordercolor: #e5e9eb;
$darkerbordercolor: #d3d7d8;

@mixin border($bw: 1px, $bs: solid, $bc: $bordercolor){
	border: $bw $bs $bc;
}

@mixin border-top($bw: 1px, $bs: solid, $bc: $bordercolor){
	border-top: $bw $bs $bc;
}

@mixin border-right($bw: 1px, $bs: solid, $bc: $bordercolor){
	border-right: $bw $bs $bc;
}

@mixin border-bottom($bw: 1px, $bs: solid, $bc: $bordercolor){
	border-bottom: $bw $bs $bc;
}

@mixin border-left($bw: 1px, $bs: solid, $bc: $bordercolor){
	border-left: $bw $bs $bc;
}

//transition

@mixin transition($transition: 0.1s all linear) {
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
	transition: 				$transition;
}


// box shadow

@mixin box-shadow($boxshadow: 0 1px 3px rgba(0,0,0,.1)){
	-webkit-box-shadow: $boxshadow;
	box-shadow: $boxshadow;
}

// placeholder 

@mixin placeholder {
	&::-webkit-input-placeholder 	{@content}
  &:-moz-placeholder          {@content}
  &::-moz-placeholder         {@content}
  &:-ms-input-placeholder     {@content}  
}

//clearfix

%clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.hidetext {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-shadow: none;
}
