table.table-mobilephone {
  text-align: center;
  tr {
    td:first-child {
      width: 10%;


      img {
        max-width: 60px;
      }
    }
    td:nth-child(2) {
      padding-left: 0 ;
      text-align: left;
    }

    td:last-child, th:last-child {
      text-align: center;
    }
  }

  .btn-success {
    padding-left: 10px;
    padding-right: 10px;
  }
  [data-column="2"] {
    width: 15%;
  }
  [data-column="1"],[data-column="3"] {
    width: 12%;
  }
  [data-column="5"], [data-column="4"] {
    width: 13%;
  }
  [data-column="6"] {
    width: 16%;
  }
}



