@import "mixin";
@import "var";

.block-news {
  @include border-bottom;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .block-news__thumb {
    width: 100px;
    margin-bottom: 10px;

    img {
      display: block;
    }
  }

  .block-news__content {
    h2 {
      font-weight: 700;
    }
  }

  .block-news__meta {
    @include font-size(1.3);
    color: $lightercolor;
    margin-bottom: 10px;
  }
}