/* -----------------
	PAGE TAB
-------------------- */

.pagetab {
	@include font-size(1.3);

	ul {
		@extend %clearfix;
		border-bottom: 3px $brandcolor2 solid;
		margin-bottom: 0;
		margin-top: -34px;

		li {
			background: none;
			float: left;
			padding: 0;
			line-height: 34px;

			a {
				display: block;
				padding: 0 15px;
				margin-right: 5px;
				color: #fff;
				background: $brandcolor1;
				border-radius: $radius $radius 0 0;

				&:hover {
					text-decoration: none;
					background: darken($brandcolor1, 3);
				}
			}

			&.active {

				a {
					background: $brandcolor2;
				}
			}
		}

		&.greytab {
			li {
				a {
					color: $lightercolor;
					background: $bodybgcolor;

					&:hover {
						text-decoration: none;
						background: darken($bodybgcolor, 3);
					}
				}
				&.active a {
					color: #fff;
					background: $brandcolor2;
				}
			}
		}
	}
}

$tabheight: 50px;

.pagetab-big {
	@extend .block-grey;
	height: $tabheight;
	line-height: $tabheight;
	font-weight: bold;
	@include border-bottom(1px, solid, $darkerbordercolor);

	ul {
		@extend %clearfix;
		margin: 0;

		li {
			float: left;
			background-image: none;
			padding: 0;
			@include border-right(1px, solid, $darkerbordercolor);

			&.active {
				a {
					background-color: #fff;
					border-bottom: 1px solid white;
					color: $color;

					&:hover {
						background: #fff;
					}
				}
			}

			a {
				color: lighten($lightercolor,5);
				display: block;
				padding: 0 30px;
				@include border-bottom(1px, solid, $darkerbordercolor);

				&:hover {
					text-decoration: none;
					color: $lightercolor;
					@extend .block-silver;
				}
			}
		}
	}

	&.pagetab-big-secondary {
		line-height: 40px;
		height: 40px;

		ul {

			li {
				border-right: none;

				a {
					border: 1px solid transparent;
					border-bottom: 0;
					padding: 0 15px;
					border-radius: 3px 3px 0 0;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}

				&.active {
					a {
						@include border-left(1px, solid, $darkerbordercolor);
						@include border-top(1px, solid, $darkerbordercolor);
						@include border-right(1px, solid, $darkerbordercolor);

						&:hover {
							background: #fff;
							text-decoration: none;
							color: inherit;
						}
					}
				}


			}
		}
	}
}