.page-header {
	padding-bottom: 50px;
}

.page-header-social {
	margin-right: 10px;
}

.page-header-rating {
	@include font-size(1.3);
}

/* Home Loan */

.page-header-homeloan {
	background: url(../img/header-homeloan.jpg) right top no-repeat;
}

/* Personal Loan */

.page-header-personalloan {
	background: url(../img/header-personalloan.jpg) 750px 0 no-repeat;

  .imoney-sg & {
    background: url(../img/header-personalloan-sg.jpg) right no-repeat;
  }
  .imoney-id & {
    background: url(../img/header-personalloan-id.jpg) right no-repeat;
  }
  .imoney-ph & {
    background: url(../img/header-personalloan-ph.jpg) right top no-repeat;
  }
}