.faq-title {
	position: relative;
	color: $brandcolor1;

	&:before {
		content: attr(data-question);
		position: absolute;
		color: lighten($lightercolor,45);
		@include font-size(4);
		left: -36px;
		top: -13px;
	}
}

h4.faq-title:before {
	top: -18px;
}

.call-us {
	position: relative;
	top: 5px;
}

/* home loan bank page */
.hlbp-logo img {
	max-width: 145px;
}

#tabs {
	position: relative;
}

/* Rating (Car Insurance) */

.fivestar-imoney {

	div.fivestar-widget-static {

		.star {
			float: left;
			width: 16px;
			height: 16px;
			overflow: hidden;
			text-indent: -999em;

			span {
				display: block;
				width: 100%;
				height: 100%;
			}

			span.on {
				background: url(../img/star.png) no-repeat 0 -32px;
			}

			span.off {
				background: url(../img/star.png) no-repeat 0 0;
			}
		}
	}
}

/* sidebar */
.header-elevate {
	margin-top: -13px;
}

.sb-nav {
	a {
		display: block;
		padding: 10px 0;
		@include border-bottom;
	}

	li.active {
		a {
			color: $brandcolor1;
		}
	}
}

.section-title {
	position: relative;

	&:before {
		position: absolute;
		content: '';
		width: 2px;
		background-color: $brandcolor2;
		display: block;
		height: 100%;
		left: -30px;
	}
}

/* pagination */

ul.pager {
	text-align: center;
	padding-top: 20px;

	li {
		display: inline-block;
		padding: 0;
		background: none;

		&.pager-current, a {
			padding: 8px 15px;
			border-radius: 3px;
		}
		a {
			display: block;
			border: 1px solid $darkerbordercolor;

			&:hover {
				background: $brandcolor2;
				border-color: $brandcolor2;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.pagination {
	margin: 20px 0;
	@include border-top($bw: 3px);
	@include font-size(1.3);
	padding-top: 10px;

	ul.pager {
		padding-top: 0;
		margin-bottom: 0;

		li {

			&.pager-current, a {
				padding: 0;
				border-radius: 0;
				margin: 0 10px;
				border: none;
			}

			&.pager-current {
				font-weight: bold
			}

			&.first {
				a {
					margin-left: 0;
				}
			}

			&.last {
				a {
					margin-right: 0;
				}
			}

			a:hover {
				background-color: transparent;
				color: $brandcolor2;
				text-decoration: underline
			}

		}
	}
}