@import "var";
@import "mixin";

.table-personalloan {
	td {
		text-align: center;
	}

	[data-column="0"] {
		width: 210px;
	}
	[data-column="1"] {
		width: 150px;
	}
	[data-column="2"]  {
		width: 110px;
	}
	[data-column="3"], [data-column="4"] {
		width: 100px;
	}
}

.btn-homeloan-calculate {
	position: relative;
	top: 3px;
}

/* personal loan bank page */


/* set a min-width to match the sidebar's height*/
.pl-bankpage__products {
	min-height: 650px;
}

.pl-bankpage__product {
	@include border-top;
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
	box-shadow: inset 1px 0 0 transparent;
	position: relative;

	&:hover {
		box-shadow: inset 1px 0 0 $brandcolor2, 0 1px 6px darken($bodybgcolor,10);
		
		z-index: 1;
	}

	&:first-child {
		border-top: none;
	}
}

.pl-bankpage__product-table {
	table {
		-webkit-box-shadow: 0 0 0 4px $lightgrey;
		box-shadow: 0 0 0 4px $lightgrey;
		border-color: darken($bordercolor,4);

		td {
			border-color: darken($bordercolor,4);
		}

		tr:last-child {
			td {
				border-bottom: none;
			}
		}

		.col-detail {
			width: 38%;
		}
	}
}

/* lengthen the .slider width to match the sidebar's width*/
.slider {
	width: 290px;
}

/* alert */
.pl-bankpage__product-alert {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px;
	background: rgba(255,255,255,.9);
}

.pl-bankpage__product-alert--message {
	width: 60%;
	padding: 20px;
	background-color: #fcf8e3;
	border: 3px solid lighten($warningcolor,20);
	position: absolute;
	left: 20%;
	right: 20%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	@include box-sizing;
	text-align: center;
}


