@import "var";
@import "mixin";
@import "bourbon";

$imgurl : "../img/cc-petrol-quiz";

@mixin background-size($width, $height) {
	-webkit-background-size: $width $height;
	background-size: $width $height;
}

html {
	height:100%;
}

body {
	font-family: $roboto;
	font-weight: 300;
	min-width: initial;
	height:100%;
	@include font-size(1.4);
	@include background-image(url(#{$imgurl}/low-poly-20.png), linear-gradient(#7AD3F0, #46A2C8 100%));
	background-size: cover;
	overflow-x: hidden;

	.header-logo{
		float:none;
		display: inline-block;
	}

	.header {
		text-align: center;
		min-width: inherit;
		border-bottom: 8px solid #0767AA;
	}
}

.black-overlay {
	position: fixed;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.25);
	top: 0;
	bottom: 0;
	z-index: 50;
}

.wrapper {
	width: 715px;
	margin:0 auto;
}

.quiz-hero {
	padding:20px 0 30px;
	text-align: center;
	position: relative;

	.nozzle {
		width: 98px;
		height: 88px;
		margin:0 auto;
		background: url(#{$imgurl}/nozzle.png);
		background-size: 98px 88px;
	}
	h1 {
		color:#fff;
		font-weight: 600;
		@include font-size(3.3);
		text-shadow: 0 2px 2px rgba(0,0,0,0.24);
	}

	h4 {
		color: #07456B;
		font-weight: 300;
		width:80%;
		@include font-size(1.8);
		margin:0 auto;
	}

	.wrapper {
		position: relative;
		z-index: 2;
	}
}

#page {
	width:700px;
	border:2px solid #4291B4;
	border-radius:5px;
	background: #F0F4F5;

	.road {
		width:730px;
		background:#484848 url(#{$imgurl}/road-line.png) center 50% repeat-x;
		background-size: 586px 2px;
		margin:0 auto;
		height: 17px;
		position: absolute;
		left: -15px;
		top:57px;
		z-index:10;

		&:before {
			left:0;
			top:-15px;
			position: absolute;
			content: "";
			border-width: 15px 15px 0 0;
			border-color: transparent #5A7881 transparent transparent;
			border-style: solid;
		}

		&:after {
			right:0;
			top:-15px;
			position: absolute;
			content: "";
			border-width: 0 15px 15px 0;
			border-color: transparent transparent #5A7881 transparent;
			border-style: solid;
		}
	}

	.cone {
		background:url(#{$imgurl}/cone.png) no-repeat;
		width: 20px;
		height:25px;
		background-size: 20px 25px;
		display: inline-block;
		position: absolute;
		top: 40px;
		z-index:12;

		&.cone-first {
			left: 16.66666667%;
		}

		&.cone-second {
			left: 16.66666667% * 2;
		}

		&.cone-third {
			left: 16.66666667% * 3;
		}

		&.cone-fourth {
			left: 16.66666667% * 4;
		}

		&.cone-fifth {
			left: 16.66666667% * 5;
		}
	}
	.status-progress {
		width: 45px;
		height:45px;
		border-radius: 50%;
		border: 4px solid #fff;
		box-shadow: 0 0 0 2px rgba(0,0,0,1);
		position: absolute;
		top:10px;
		right:10px;
		background: #F46A6A;
		z-index: 15;
		color:#111;
		@include transition(.2s ease all);


		&.green-progress {
			background:#49C854 url(#{$imgurl}/tick-icon.png) 50% 50% no-repeat;
			box-shadow: 0 0 0 2px #02B65D;
			@include transition(.2s ease all);
			display: inline-block;

			.progress-num-wrapper {
				display: none;
			}
		}

		.progress-num-wrapper {
			position: absolute;
			@include font-size(1.4);
			top:50%;
			margin-left:-12px;
			margin-top:-15px;
			left:50%;
		}

		.progress-num {
			@include font-size(2);
			font-weight: 500;
		}
	}
	.car-progressbar {
		width: 65px;
		height: 37px;
		background:url(#{$imgurl}/car.png) no-repeat;
		background-size: 65px 37px;
		position: absolute;
		top: 28px;
		left:10px;
		z-index: 11;
		@include transition(1s ease-out all);
	}

	.slide {
		padding-top: 100px;
		box-shadow: none;
		position: relative;

		.question {
			padding: 5px 30px 5px 60px;
		}

		&-questions {
			margin-bottom: 0;
		}
		&-progressbar {
			position: absolute;
			top: 0;
			width: 0;
			height: 5px;
			background-color: #71e5e9;
			@include transition(width 1s ease-out);
		}
		&-arrowback {
			display: block;
			position: absolute;
			@include size(60px 60px);
			background: url(#{$imgurl}/arrow-back.png) 20px center no-repeat;
			@include background-size(14px, 26px);
			bottom: 0;
			left: 0;

			.lt-ie9 & {
				background-image: url(#{$imgurl}/arrow-back-1x.png)
			}
		}
	}
}

.checkbox-items {
	position: relative;
	margin-bottom: 10px;
	padding-left:0;

	&:after {
		content: "";
		clear:both;
		display: block;
	}

	input {
		left:0;
		position: absolute;
		right:0;
		top:0;
		bottom:0;
		cursor: pointer;
		width:100%;
		z-index: 100;
		opacity: 0.001;

		&:hover + .label-quiz {
			@include background-image(linear-gradient(#ffffff, #e8f1f4 100%));
			/*@include transition(.5s ease background);*/
			border-color: #c1c1c1;
			cursor:pointer;
		}

		&:checked + .label-quiz {
			background: #63B2DE;
			@include transition(.3s ease background);
			border-color: #4E8EB1;
			box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
			color:#fff;

			&:before {
				background: url(#{$imgurl}/radio_selected.png);
				background-size: 22px;
			}
		}
	}

	.label-quiz {
		@include background-image(linear-gradient(#ffffff, #DFE7EA 100%));
		padding: 8px 10px 8px 50px;
		border:1px solid #CCD4D7;
		@include font-size(1.6);
		color:#3D3D3D;
		position: relative;
		left:0;
		width: 100%;
		@include box-sizing(border-box);
		border-radius: 4px;
		font-weight: 400;
		/*@include transition(.5s ease background);*/
		line-height: 20px;

		&:before {
			content: "";
			width: 22px;
			height:22px;
			background:url(#{$imgurl}/radio_unselected.png);
			background-size: 22px;
			position: absolute;
			top: 50%;
			margin-top:-11px;
			left:10px;
		}
	}
}

.question-content {
	margin: 20px 120px 20px 70px;

	.form-group {
		margin-bottom: 8px;
	}
}

.question-title {
	margin: 0px 120px 0 70px;
	border-bottom: 1px dashed #d1d1d1;
	padding-bottom: 5px;
	color:#3D3D3D;
	font-weight: 700;
	position: relative;

	.font-sm {
		font-weight: 300;
	}
	span {
		position: absolute;
		left:-45px;
	}
}

[data-question="6"] {

	.question-title {
		color:#006498;
	}
}

#btn-last {
	padding:2px 25px;
}
.btn-ccfilter {
	background-color: #25BCAA;
	font-weight: 700;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 0 2px #1EA090;
	font-weight: 400;

	&:hover {
		background-color: darken(#25BCAA, 5);
	}

	&.waiting {
		position: relative;
		z-index:60;
	}
}
.form-horizontal .control-label {
	text-align: left;
}

.copyright {
	color:#07456B;
	font-weight: 500;
	position: absolute;
	bottom:-50px;
	left:50%;
	margin-left:-56px;
}

[data-question="1"] {
	position: relative;
	overflow:hidden;

	&:after {
		background: url(#{$imgurl}/tyre.png) 0 0 no-repeat;
		width: 115px;
		height:101px;
		content:"";
		background-size:115px 101px;
		position: absolute;
		right:-20px;
		bottom:0;
		opacity: 0.2;
		z-index: 1;
	}
	
}

[data-question="2"]{
	@extend [data-question="1"];

	&:after {
		@extend [data-question="1"]:after;
		background-image: url(#{$imgurl}/service_icon.png);
		width:129px;
		hight:110px;
		background-size:129px 110px;
	}
}

[data-question="3"]{
	@extend [data-question="1"];

	&:after {
		@extend [data-question="1"]:after;
		background-image: url(#{$imgurl}/aircond.png);
		width:111px;
		height:126px;
		right:-10px;
		background-size:111px 126px;
	}
}

[data-question="4"]{
	@extend [data-question="1"];

	&:after {
		@extend [data-question="1"]:after;
		background-image: url(#{$imgurl}/boot-items.png);
		width:198px;
		height:109px;
		right:-80px;
		background-size:198px 109px;
	}
}

[data-question="5"]{
	@extend [data-question="1"];

	&:after {
		@extend [data-question="1"]:after;
		background-image: url(#{$imgurl}/window-open.png);
		width:93px;
		height:74px;
		right:20px;
		background-size:93px 74px;
	}
}

#page {

	.slide {

		.question {
			padding:0 20px;
		}
	}
}

.petrol-thank-you {

	&#page {
		width: 600px;

		.road {
			width: 630px;
		}
	}

	

	.question-title {
		margin: 0 10px;
		text-align: center;
		font-weight: 400;
		border-bottom: 0;

		.petrol-highlight {
			display: block;
			position: relative;
			left:auto;
			color: #3E95C0;
			@include font-size(3);
			font-weight: 600;
		}
	}

	.question-content {
		text-align: center;
		margin:20px 50px 50px;
		position: relative;

		.card-bg{
			background:url(#{$imgurl}/gradient-card.png) 0 0 no-repeat;
			position: absolute;
			content:"";
			width:239px;
			height:94px;
			left:50%;
			margin-left: -120px;
		}
		img {
			position: relative;		
			margin-bottom: 10px;	
		}

	}

	[data-question]{
		overflow: visible;
		&:after {
			display: none;
		}
	}

	.btn-ccfilter {
		padding-left:50px;
		padding-right: 50px;
		margin-top: 24px;
		@include font-size(2.3);
		padding-top:6px;
		padding-bottom: 8px;
		font-weight: 500;
	}

	.tooltip-card {
		position: absolute;
		background: #EEE2C8;
		padding: 14px 16px;
		box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
		width: 260px;
		top:0;
		left:-170px;
		border-radius: 5px;
		@include box-sizing(border-box);
		@include animation(pointing 1s ease-out infinite);

		&:after {
			content: "";
			display: inline-block;
			border-width: 15px;
			border-style: solid;
			border-color: transparent transparent transparent #EEE2C8;
			right:-30px;
			position: absolute;
			top:50%;
			margin-top:-15px;
		}
	}
}

@include keyframes(pointing) {

	0% { @include transform(translateX(-10px))}
	30% { @include transform(translateX(10px))}
	100% { @include transform(translateX(-10px))}
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 800px) {
	.petrol-thank-you {

		.tooltip-card {
			position: relative;
			width: auto;
			top:auto;
			left:auto;
			@include animation(0);
			box-shadow: -2px 2px 2px rgba(0,0,0,0.13);

			&:after {
				display: none;

			}
		}
	}
}
@media (max-width: 720px){

	.wrapper {
		padding-left:20px;
		padding-right: 20px;
		width: auto;
	}

	#page, #page.petrol-thank-you {
		width:90%;
		position: relative;

		&:after {

		}

		.road {
			width:104.8888888%;
		}
	}

	.question-title, .question-content {
		margin-left:5%;
		margin-right:5%;
		z-index:2;
	}

	[data-question]:after {
		display: none;
	}
}

@media (min-width: 601px) {
	#page.petrol-thank-you {

		.status-progress{
			display: none;
		}

	}
}

@media (max-width: 600px) {

	.quiz-hero {

		.nozzle {
			display: none;
		}

		h1 {
			margin-top: 15px;
		}
	}

	#page {

		margin-top:30px;
		margin-bottom: 80px;

		.cone, .road, .car-progressbar {
			display: none;
		}

		.status-progress {
			width: 80px;
			height:80px;
			left:50%;
			margin-left: -44px;
			top:-40px;

			.progress-num-wrapper {
				@include font-size(3.2);
				margin-top: -27px;
				margin-left: -30px;
			}

			.progress-num {
				@include font-size(4.2);

				line-height: normal
			}
		}

		.slide {
			padding-top:60px;

			.question {
				padding-left:25px;
			}
		}
	}

	.question-title {

		span {
			left:-27px;
		}
	}
}

@media (max-width: 500px) {

	.question-content, .question-title {
		margin-left:0 !important;
		margin-right: 0 !important;
	}

	.question-title {
		padding-left:23px; 

		.petrol-thank-you &{
			padding-left: 0;
		}

		span {
			left:0;
		}
	}

	.form-group {

		.control-label {
			display: block;
			float:none;
			top:-3px;

			& + div {
				width:100%;
			}
		}
	}

	[data-question="6"] {

		.form-group {
			margin-bottom: 13px;

			input[type="text"], input[type="email"], input[type="tel"] {
				height:40px;
			}
		}

		.question-title {
			padding-left:0;
		}
	}

	.tooltip-card {
		display: none;
	}

	.extra-card:after {
		content:"with this card";
		display: inline-block;

	}
}


