@import "var";
@import "mixin";

/******************
	GENERAL
*******************/

body {
	background: $brandcolor2;
	//padding: 10px 20px;
	color: #fff;
	line-height: 1.4;
}

.wrapper {
	width: 780px;
}

/******************
	HEADLINE
*******************/

h1 {
	width: 632px;
	height: 42px;
	margin: 10px auto;
	background: url(../img/campaign/ebook/popup-ebook-headline.png) no-repeat;
	@extend .hidetext;
	text-transform: uppercase;

	.ebook-bm & {
		background-image: url(../img/campaign/ebook/popup-ebook-headline-bm.png);
		width: 651px;
		height: 37px;
	}
}

h2 {
	width: 650px;
	height: 59px;
	margin: 0 auto 10px;
	background: url(../img/campaign/ebook/popup-ebook-secondary-headline.png) no-repeat;
	@extend .hidetext;

	.ebook-bm & {
		background-image: url(../img/campaign/ebook/popup-ebook-secondary-headline-bm.png);
	}
}


/******************
	EBOOK SIGNUP
*******************/
.ebook-signup {
	background: #fff;
	color: $color;
	@extend %clearfix;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	margin: 20px 0 15px;

	.ebook, .ebook-signup-form {
		width: 50%;
		float: left;
	}

	// left
	.ebook {
		background: $brandcolor1;
		border-radius: 3px 0 0 3px;
	}

	.ebook-cover {
		width: 358px;
		height: 256px;
		background: url(../img/campaign/ebook/popup-ebook-cover.png) no-repeat;
		margin: -10px auto 10px;
	}

	// right
	.ebook-signup-form-inner {
		padding: 15px 20px;
		position: relative;

		&:after {
			width: 45px;
			height: 82px;
			display: block;
			position: absolute;
			content: '';
			background: url(../img/campaign/ebook/popup-arrow.png) no-repeat;
			right: 8%;
			top: 28%;

			.ebook-thankyou & {
				display: none;
			}
		}

		h4 {
			font-weight: normal;
		}
	}

	.darkblue {
		color: $brandcolor1;
	}
	.lightblue {
		color: $brandcolor2;
	}

}

.btn-ebook-submit {
	background: url(../img/campaign/ebook/popup-btn-skin.png) left no-repeat;
	width: 183px;
	height: 49px;
	float: left;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);

	&:hover {
		background-position: right;
	}

	.ebook-bm & {
		font-size: 16px;
		line-height: 40px;
		background-image: url(../img/campaign/ebook/popup-btn-skin-long.png);
		width: 220px;
	}
}

.privacy {
	float: left;
	margin: 10px 0 0 10px;
	line-height: 1.2;
	color: $lightercolor;

	a {
		text-decoration: underline;
	}
}

.ebook-mediamention {
	width: 629px;
	height: 32px;
	background: url(../img/campaign/ebook/popup-ebook-mediamention.png) no-repeat;
	margin: 0 auto;

	.ebook-bm & {
		background-image: url(../img/campaign/ebook/popup-ebook-mediamention-bm.png);
	}
}

/******************
	IMONEY RHB KAKAO CONTEST
*******************/

.imoney-rhb-kakao-contest {
	width: 790px;
	height: 470px;
	background: url(../img/campaign/imoney-rhb-kakao-contest.jpg) no-repeat;
}