@import "var";
@import "mixin";

/******************
	GENERAL
*******************/

body {
	background: url(../img/popup/bg-triangle-blue.jpg) $brandcolor2;
	line-height: 1.4;
	min-width: 0;
}

.popup__wrapper {
	width: 800px;
}

/******************
	POPUP HEADER
*******************/

.popup__header {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-align: center;
	background: url(../img/popup/bank-notes.png) center bottom no-repeat;
	padding: 20px 0 50px;

	h1, h2 {
		color: #fff;
	}

	h1 {
		@include font-size(5.4);
		font-weight: 700;
		line-height: 1.1;
	}

	h2 {
		@include font-size(2.1);
		position: relative;
		top: -5px;

		span {
			color: #fd0;
			text-transform: uppercase;
		}
	}
}


/******************
	POPUP CONTENT
*******************/

.popup__content {
	background: #fff;
	padding: 50px 20px 20px;
	text-align: center;
}

.arrow {
	position: relative;
	display: inline-block;

	&:before {
		background: url(../img/popup/arrow.png) no-repeat;
		position: absolute;
		display: block;
		content: '';
		width: 38px;
		height: 58px;
		left: -50px;
		top: -36px;
		-webkit-animation: slidein 2s;
		animation: slidein 2s;
	}
}

@-webkit-keyframes slidein {
  0% {
    top: -106px;
    opacity: 0;
  }

  50% {
		top: -106px;
    opacity: 0;
  }

  100% {
    top: -36px;
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    top: -106px;
    opacity: 0;
  }

  50% {
		top: -106px;
    opacity: 0;
  }

  100% {
    top: -36px;
    opacity: 1;
  }
}

/******************
	POPUP FOOTER
*******************/

.popup__footer {
	text-align: left;
	overflow: hidden;
	padding-top: 20px;
	margin-top: 70px;
	border-top: 1px solid #eee;
	position: relative;
}

.footer__logo {
	position: absolute;
	right: 0;
	bottom: 0;
}

.footer__privacy {
	background: url(../img/popup/icon-lock.png) no-repeat left;
	padding-left: 14px;
	color: $lightercolor;

	a {
		text-decoration: underline;
	}
}
