@import "mixin";
@import "var";
@import "bourbon";

/* ==========================================================================
   PRIVATE SCHOOL EDUCATION COMPARISON
   ========================================================================== */

$darkborder : #d1d1d1;
$lightborder : #e1e1e1;
$lightbluecol : #F0F5F8;
$darkblue : #06456B;
$skyblue : #EAF9FD;

$imgurl : '../img/private-school-education';

#private-edu-comparison {

	#calculator {
		padding-bottom: 20px;
	}

	.calculator-items {
		padding:0;
		margin:0;

		> li {
			display: inline-block;
			float:left;
			@include box-sizing(border-box);
			width: 20%;
			padding-right: 20px;
			padding-left:0;
			background-image:none;

			&:first-child {
				width:15%;
			}

			&:nth-child(2) {
				width:25%;
			}

		}

		.tooltip {
			display: block;
			position: absolute;
			font: 400 12px/12px Arial;
			border-radius: 2px;
			background: #5e6a77;
			top: 35px;
			color:#fff;
			padding: 5px;
			left: 50%;
			margin-left:-35px;
			text-align: center;
			width: 72px;

			&:after {
				border-width:0 5px 6px 5px;
				content: "";
				position: absolute;
				display: block;
				top:-6px;
				left:50%;
				margin-left:-6px;
				border-style:solid;
				border-color: transparent transparent #5e6a77 transparent;
			}
		}
		.tooltip strong {
			display: block;
			padding: 2px;
		}

		//custom noUI slider
		.noUi-background {
			background: #849AA7;
		}

		.noUi-target{
			border:0;
			border-radius: 5px;
			box-shadow: inset 0 2px 2px rgba(0,0,0,0.25);
		}

		.noUi-horizontal {
			height:10px;
			position: relative;
			top:10px;

			.noUi-origin {
				border-radius: 5px;
			}
			.noUi-connect {
				background: #F5A623;
			}
			.noUi-background {
				box-shadow: inset 0 2px 2px rgba(0,0,0,0.25);
			}

			.noUi-handle {
				height: 26px;
				width:26px;
				top:-7px;
				border-radius: 50%;
				border:1px solid #777;
				box-shadow: 0 1px 5px rgba(0,0,0,0.4);

				&.noUi-handle-upper {
					left:-20px;
				}	

				&:before {
					width:7px;
					height:2px;
					background:transparent;
					border-top:1px solid #aaa;
					border-bottom:1px solid #aaa;
					left:50%;
					margin-left:-3px;
					top:8px;
				}

				&:after {
					width:7px;
					height:1px;
					background:#aaa;
					left:50%;
					margin-left:-3px;
					top: 14px;
				}

				&.noUi-handle-lower {
					left:-5px;
				}
			}
		}


	}
}

.sticky-head {
	position: fixed;
	top:0;
	background:#fff;
	height:50px;
	width: 1000px;
	margin:0 auto;
	z-index:20;
	@include box-sizing(border-box);
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
	overflow:hidden;
	@include transform(translateY(-100%));
	@include transition(all .2s ease);

	.no-csstransforms & {
		top:-100%;
		@include transition(all .8s ease);
	}

	&.roll-in {
		
		@include transform(translateY(0));

		.no-csstransforms & {
			top:0;
		}
	}

	&__wrap {
		padding:6px 10px;
	}

	#sticky-school-logo {

		text-align: center;

		img {
			max-height: 30px;
			width:auto;
			max-width:60px;
			padding-top:6px;
		}
	}

	#sticky-school-name {
		padding-left:10px;

		h1 {
			@include font-size(2.2);
			line-height: 25px;
			margin-bottom: 3px;
			padding-top:5px;	
		}
	}

	#sticky-school-apply {

		.btn {
			margin-bottom: 0;
		}
	}
}

#comparison-table {

	h1,h2,h3,h4,h5,h6, strong {
		color: $brandcolor1;
	}

	.comparison-head-wrap{

		&:after {
			display: block;
			clear:both;
			content:"";
		}
	}

	.filtering {
		float:right;

		> li {	
			display:inline-block;
			float:left;
			background-image: none;

			&.sort-button {
				position: relative;
				top:-5px;
			}
		}
	}
}

.comparison-table-list {
	border:none;
	border-collapse: collapse;
	
	& > tbody {

		&:after {
			display: block;
			content: "";
			height:23px;
		}
	}

	tr:first-child > td:first-child {
		
	}

	tbody:hover tr > td {
		background: #fff;;

		&.school-apply-col {
			background: darken($lightgrey, 3);
		}
	}

	td {
		padding-top:10px;
		padding-bottom: 10px;
		border:1px solid $darkborder;


	}

	.school-logo, .school-fee, .school-apply-col {
		vertical-align: top;
	}

	.school-logo {
		width: 65px;
		text-align: center;
		padding-left:3px;
		padding-right:3px;
		padding-top:15px;

		img {
			max-width: 50px;
		}
	}

	.school-name {

		h4{
			font-weight: 500;	
			color: $brandcolor2;
			margin-bottom: 2px;
			@include font-size(1.8);
		}

		.school-location {
			padding-left:17px;
			background:url(#{$imgurl}/location-icon.png) 0 1px no-repeat;
			background-size: 11px 15px;;
		}
		
	}

	.curriculum-education-level {

		h5{
			color: $darkblue;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 3px;
		}
	}

	.school-fee {
		width: 180px;

		h1 {
			font-weight: 300;
			margin-bottom: 1px;

			.per-year {
				@include font-size(1.4);
				margin-left:5px;
			}
		}
	}
	.school-apply-col {
		width: 100px;
		background: $lightgrey;

		.btn {
			margin-bottom: 4px;
		}
	}

	.expand {
		display: none;

		.desc{
			@include font-size(1.2);
			color: #777777;
		}
		.year-fee-amount {
			@include font-size(1.6);
			font-family: $roboto;
			font-weight: 300;

		}

		.tooltip-btn{
			text-align: center;
			line-height: 14px;
		}

		.tooltip .tooltip-content {
			left: 50%;
	    margin-left:-90px;
	    bottom: 25px;
	    width: 180px;
	    top:auto;
	    @include font-size(1.1);
		}

		.tooltip .tooltip-content:after{
			top:100%;
			left:50%;
			margin-left:-18px;
			border-color: #5e6a77 transparent transparent transparent;
		}

		> td > table td {
			background-color: $lightbluecol;
		}




		> td {
			padding:0;
			border-bottom: 0;
			border-top: 2px solid $brandcolor2;

			& > table {
				border:0;
			}

			& td {
				border:0;
				border-bottom: 1px solid $darkborder;
				padding-top:7px;
				padding-bottom: 7px;
			}
		}

		.fee-breakdown {

			h6 {
				margin-bottom: 3px;
				@include font-size(1.2);
			}

			> td {
				border-left: 1px solid $darkborder;
			}

			> td:first-child {
				border-left: 0;
			}
		}
	}
}

.font-12 {
	@include font-size(1.2);
}

.school-page {

	h3 {
		@include font-size(2.0);
	}

	.curriculum-details {

		&__first {
			padding-left: 40px;
			background:url(#{$imgurl}/book-icon.png) 0 5px no-repeat;
			background-size: 25px 35px;
		}

		&__second {
			padding-left: 50px;
			background:url(#{$imgurl}/school-icon.png) 0 4px no-repeat;
			background-size: 38px 35px;
		}
	}
}

#school-details-fee{

	table {

		td,th {
			@include font-size(1.5);
			text-align: center;
			padding:8px 12px;
		}

		th{

			&.th-left {
				@include background-image(linear-gradient(#F6F8F9,#DCE1E4 100%));
				border-right: 3px solid $brandcolor2;
			}
		}
	}

	.no-bullet {

		li {
			margin-bottom: 3px;

			span {
				font-weight: 500;
			}
		}
	}
}

.school-contacts {

	.contact-header {
		margin-bottom: 8px;

	}

	.contact-logo {
		width:60px;
		padding-top:50px;
	}

	p{
		margin-bottom: 5px;
	}
}
.ds-table{
	display: table;
}
.ds-tablecell {
	display: table-cell;
	vertical-align: top;
}
.bt-skyblue-3 {
	border-top:3px solid darken($skyblue, 8);
}
.bl-skyblue-1 {
	border-left:1px solid #BADBE5;
}
.br-skyblue-1{
	border-right:1px solid #BADBE5;
}
.bb-skyblue-1{
	border-bottom:1px solid #BADBE5;
}
.bg-skyblue {
	background: $skyblue;
}