@import "var";
@import "mixin";

$color-prs : #BD8123;							/* PRS color */
$color-islamic : #1CB666;					/* shariah color */
$color-conventional : #1A80C4;		/* conventional color */
$color-conservative : #47C496;		/* Conservative Color 0eba7b */
$color-moderate: #FF9F54;					/* Moderate Color ff8800  */
$color-growth : #DD6A65;					/* Growth color da4f49 */
$color-noncore : #A390D1;					/* Non Core color 8976B9 */

$color-bg-shariah : darken(#FBFFF2,2);			/* shariah td bg color */
$color-bg-conventional : #E7F5FF;	/*  conventional td bg color */

$color-bb-conventional : #BDDDF1; /* conventional border */
$color-bb-shariah : #B8E9D0; 			/* shariah border */

$color-grey-border : #e1e1e1;

$color-gradient1 : #B6D3DB;
$color-gradient2 : #fefefe; 

$color-rank-bg : #eeeeee;

.color-prs {
	color: $color-prs;
}

.pagetab-prs {
	ul {
		border-bottom-color: $color-prs;
		li {

			> a {
				background: $bodybgcolor;
				color: $lightercolor;

				&:hover {
					background-color: darken($bodybgcolor, 3);
				}
			}

			&.active > a{
				background: $color-prs;
				color:#fff;
			}

		}
	}
}

.chosen-choices > li, .chosen-results > li {
	background: none;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	width: auto !important;
}

.table-prs {
	border: 0;

	tr:hover .conventional-cell {
		background-color: darken($color-bg-conventional, 3%); 
	}

	tr:hover .shariah-cell {
		background-color: darken($color-bg-shariah, 3%); 
	}

	th {
		border-bottom: 2px solid lighten($lightercolor, 20);
		height:40px;
		text-transform:uppercase;
		@include font-size(1.3);
		font-weight: bold;

	}

	td {
		height: 40px;
	}


	.label {
		@include font-size(1.1);
		border-radius: 12px;
		padding:4px;
		color:#fff;

		&.label-islamic {	
			color: $color-islamic;			
		}
		&.label-conventional {
			color: $color-conventional;
		}

		&.label-conservative {
			background-color: $color-conservative;
		}

		&.label-moderate {
			background-color: $color-moderate;
		}

		&.label-growth {
			background-color: $color-growth;
		}

		&.label-noncore {
			background-color: $color-noncore;
		}

		&.label-cat {			
			background:none;
			font-weight: bold;
			@include font-size(1.3);
		}

		&.label-core {
			width: 75px;
		}

	}

	[class*="-row"] > td {
		height:20px;

	}
	.conventional-row > td, .shariah-row > td {
		font-weight: bold;
	}
	.conventional-row > td, .conventional-row:hover > td {
		background-color: $color-bg-conventional;
		color: $color-conventional;
		border-bottom-color: $color-bb-conventional;
	}

	.shariah-row > td, .shariah-row:hover > td {
		background-color: $color-bg-shariah;
		color: $color-islamic;
		border-bottom-color: $color-bb-shariah;
		border-top:1px solid $color-bb-shariah;
	}

	#equity .shariah-row > td {
		border-top:0;
	}

	#conservative:hover {
		@include box-shadow;
	}

	.fund-block {
		display: inline-block;
		padding:6px 12px 6px 12px;
		position: relative;
		width: 235px;
		left:-10px;
		margin-top:15px;

		&:after {
			border: 17px solid transparent;
			content: "";
			display: block;
			position: absolute;
			right: -34px;
			top:0;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			left:0;
			bottom:-10px;
			border: 5px solid transparent;			

			
		}
	}

	#conservative {

		tr > td:nth-child(1) {
			border-left: 1px solid $color-grey-border;
		}

		tr > td:last-child {
			border-right: 1px solid $color-grey-border;
		}

		tr:last-child > td{
			border-bottom: 1px solid $color-grey-border;
		}

		.conservative-row > td {
			background-color: #fff;
			color:#ffffff;
			@include font-size(1.5);
			font-weight: bold;
			padding:0;
			text-shadow: 0 1px 4px rgba(0,0,0,0.4);
			border-bottom:3px solid $color-conservative !important;

			&:first-child {
				border-left:0;
			}

			&:last-child {
				border-right:0;

			}

			.fund-block {
				background-color: $color-conservative;
				
				&:after {					
					border-bottom-color: $color-conservative;
					border-left-color: $color-conservative;				
				}

				&:before {
					border-right-color: darken($color-conservative, 12%) ;
	        border-top-color: darken($color-conservative, 12%) ;
				}
			}
		}

	}

	#moderate {

		tr > td:nth-child(1) {
			border-left: 1px solid $color-grey-border;
		}

		tr > td:last-child {
			border-right: 1px solid $color-grey-border;
		}

		tr:last-child > td{
			border-bottom: 1px solid $color-grey-border;
		}

		.moderate-row > td {
			background-color: #fff;
			color:#ffffff;
			@include font-size(1.5);
			font-weight: bold;
			border-bottom:3px solid $color-moderate !important;
			text-shadow: 0 1px 4px rgba(0,0,0,0.4);
			padding:0;

			&:first-child {
				border-left:0;
			}

			&:last-child {
				border-right:0;

			}

			.fund-block {
				background-color: $color-moderate;
				
				&:after {					
					border-bottom-color: $color-moderate;
					border-left-color: $color-moderate;				
				}

				&:before {
					border-right-color: darken($color-moderate, 12%) ;
	        border-top-color: darken($color-moderate, 12%) ;
				}
			}
		}

	}

	#growth {

		tr > td:nth-child(1) {
			border-left: 1px solid $color-grey-border;
		}

		tr > td:last-child {
			border-right: 1px solid $color-grey-border;
		}

		tr:last-child > td{
			border-bottom: 1px solid $color-grey-border;
		}

		.growth-row > td{
			background-color: #fff;
			color:#ffffff;
			@include font-size(1.5);
			font-weight: bold;
			border-bottom:3px solid $color-growth !important;
			text-shadow: 0 1px 4px rgba(0,0,0,0.4);
			padding:0;

			&:first-child {
				border-left:0;
			}

			&:last-child {
				border-right:0;

			}

			.fund-block {
				background-color: $color-growth;
				
				&:after {					
					border-bottom-color: $color-growth;
					border-left-color: $color-growth;				
				}
				
				&:before {
					border-right-color: darken($color-growth, 12%) ;
	        border-top-color: darken($color-growth, 12%) ;
				}
			}
		}

	}
	
	#equity {

		tr > td:nth-child(1) {
			border-left: 1px solid $color-grey-border;
		}

		tr > td:last-child {
			border-right: 1px solid $color-grey-border;
		}

		tr:last-child > td{
			border-bottom: 1px solid $color-grey-border;
		}

		.equity-row > td{
			background-color: #fff;
			color:#ffffff;
			@include font-size(1.5);
			font-weight: bold;
			border-bottom:3px solid $color-noncore !important;
			text-shadow: 0 1px 4px rgba(0,0,0,0.4);
			padding:0;

			&:first-child {
				border-left:0;
			}

			&:last-child {
				border-right:0;

			}

			.fund-block {
				background-color: $color-noncore;
				
				&:after {					
					border-bottom-color: $color-noncore;
					border-left-color: $color-noncore;				
				}

				&:before {
					border-right-color: darken($color-noncore, 12%) ;
	        border-top-color: darken($color-noncore, 12%) ;
				}
			}
		}

	}		

	.conventional-cell {
		background-color: lighten($color-bg-conventional, 2%);
		border-right:1px solid $color-bb-conventional;
		border-left: 1px solid $color-bb-conventional;
		border-bottom: 1px solid $color-bb-conventional;

		&:last-child {
			border-bottom: 0;
		}
		
	}

	.shariah-cell {
		background-color: lighten($color-bg-shariah, 1.3%);
		border-right:1px solid $color-bb-shariah;
		border-left: 1px solid $color-bb-shariah;
		border-bottom: 1px solid $color-bb-shariah;

		&:last-child {
			border-bottom: 0;
		}
	}

}

.rank {
	background: #ffffff;
	border-top:1px solid transparent;
	border-bottom: 1px solid transparent;
	display: inline-block;
	padding:3px;
	width:18px;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;

	#conservative & {
		border-color : lighten($color-conservative, 8%);
	}

	#moderate & {
		border-color : lighten($color-moderate, 8%);
	}

	#growth & {
		border-color : lighten($color-growth, 8%);
	}

	#equity & {
		border-color : lighten($color-noncore, 8%);
	}

}

.custom-tooltip {
	position: relative;
	background:#ddd;
	width:100%;
	height:40px;
}
.input-append{

}
.prs-comparison--headline {
	background-image: -webkit-linear-gradient(bottom, $color-gradient1 0%, $color-gradient2 100%);
	background-image: linear-gradient(to bottom, $color-gradient1 0%, $color-gradient2 100%);
}

.rolling-performance {
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $brandcolor2),color-stop(1, $brandcolor1));
	background-image: -webkit-linear-gradient(top, $brandcolor2 0%, $brandcolor1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}