@import "var";
@import "mixin";

$rhbblue: #1468b2;
$rhbred: #e52c36;
$lightblue: #bddcf4;
$yellow: #ffd54c;
$img: "../img/campaign/rhb-travelmoney";

.rhb__main {
	width: 620px;
	background: $rhbblue;
	float: left;
	color: #fff;
}

.rhb__side {
	width: 380px - 60px;
	background: #fff;
	float: right;
	padding: 30px;
}

/****************************
	MAIN (content)
*****************************/

#page {
	margin-bottom: 60px;
}

/*----- header -------*/

.rhb__header {
	text-shadow: 2px 2px 0 rgba(0,0,0,.2);
	padding: 30px 30px 0;
	margin-bottom: -20px;
	background: url(#{$img}/globe.png) -100px -100px no-repeat; //fallback
	background: url(#{$img}/globe.png) -100px -100px no-repeat, url(#{$img}/mountain.png) bottom no-repeat;
	background-size: 270px 270px, 620px auto;
	position: relative;

	h1, h2 {
		color: #fff;
	}

	h1 {
		@include font-size(3.6);
		letter-spacing: -1px;
		font-weight: 700;
		margin-bottom: 0;
		position: relative;
		display: inline-block;

		&:after {
			position: absolute;
			content: '';
			display: block;
			background: url(#{$img}/h1-icons.png) no-repeat;
			background-size: 105px 27px;
			width: 105px;
			height: 27px;
			right: -115px;
			top: 10px;
		}
	}

	h2 {
		@include font-size(2.1);

		span {
			font-weight: 700;
		}
	}

	.rhb__logo {
		position: absolute;
		right: -3px;
		top: 30px;
	}
}

.rhb__logo {
	background: url(#{$img}/logo.png) no-repeat;
	width: 103px;
	height: 48px;
	background-size: 103px auto;
}

.rhb__cards {
	margin-top: 30px;
	position: relative;
	z-index: 2;
}
.card {
	height: 102px;
	border-radius: 5px;
	box-shadow: 2px 2px 0 rgba(0,0,0,.2);
	display: inline-block;
	margin-right: 5px;
	width: 162px;

	&--visa {
		background: url(../img/campaign/rhb-travelmoney/card-visa.jpg) no-repeat;
	}

	&--mastercard {
		background: url(../img/campaign/rhb-travelmoney/card-mastercard.jpg) no-repeat;
	}
}

.form-pointer {
	position: absolute;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: url(#{$img}/arrow.png) center no-repeat $rhbred;
	background-size: 16px 30px;
	box-shadow: 0 1px 5px rgba(#000, .2);
	right: 20px;
	bottom: -5px;
	z-index: 2;
	opacity: 0;
	-moz-animation: pointer  1s 1s 1 forwards;
	-webkit-animation: pointer 1s 1s 1 forwards;
	-o-animation: pointer 1s 1s 1 forwards;
	animation: pointer 1s 1s 1 forwards;
}

@-moz-keyframes pointer {
	0% {
		-webkit-transform: translate(-400px, 0);
		-ms-transform: translate(-400px, 0);
		transform: translate(-400px, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes pointer {
	0% {
		-webkit-transform: translate(-400px, 0);
		-ms-transform: translate(-400px, 0);
		transform: translate(-400px, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 1;
	}
}

@-o-keyframes pointer {
	0% {
		-webkit-transform: translate(-400px, 0);
		-ms-transform: translate(-400px, 0);
		transform: translate(-400px, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes pointer {
	0% {
		-webkit-transform: translate(-400px, 0);
		-ms-transform: translate(-400px, 0);
		transform: translate(-400px, 0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 1;
	}
}

/*----- content -------*/

.rhb__content {
	background-color: #2f363e;
	padding: 30px 30px 20px;
	@extend %clearfix;
	position: relative;
	@include font-size(1.3);
	color: #ddd;

	&--intro {
		width: 30%;
		padding-right: 5%;
		float: left;
	}

	&--features {
		float: right;
		width: 60%;
		padding-left: 5%;
		position: relative;

		&:before, &:after {
			position: absolute;
			display: block;
			content: '';
		}

		&:before {
			width: 1px;
			border-left: 2px dotted lighten($rhbblue,10);
			left: 0;
			top: -15px;
			bottom: -150px;
			z-index: 3;
		}

		&:after {
			background-color: $lightblue;
			z-index: 4;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			left: -3px;
			top: -20px;
		}
	}
}

.label-promo {
	position: relative;
	top: -2px;
	background-color: $rhbblue;
	margin-left: 10px
}
.features__list {

	> li {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.font-xlg {
		color: #fff;
		font-weight: bold;
	}
}

h4.features__header {
	@include font-size(1.8);
}
.features__header {
	color: $yellow;
	font-family: $roboto;
	display: inline-block;
	text-shadow: 2px 2px 0 rgba(0,0,0,.2);
	position: relative;
	margin-bottom: 0;

	&:before {
		position: absolute;
		display: block;
		content: '';
		width: 16px;
		height: 16px;
		background-color: $rhbred;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 3px;
		left: -35px;
		z-index: 5;
	}
}

/*----- side -------*/

#rhb-form {
	border: 2px solid #d0d5da;
	padding: 0 20px 20px;
	position: absolute;
	bottom: 40px;
	top: 35px;
	right: 30px;
	width: 276px;

	fieldset {
		margin: 0;

		legend {
			border-bottom: none;
			color: $rhbblue;
			position: relative;
			top: -13px;
			left: -5px;

			span {
				background: #fff;
				padding: 0 5px;
			}

			+ * {
				margin-top: -13px;
			}
		}
	}

	input[type="text"], input[type="email"] {
		border-radius: 0;
		background: darken($lightgrey,3);
		box-shadow: none;
		border: none;
		border-bottom: 1px solid $darkerbordercolor;

		&:focus, &:active {
			border-bottom-color: $rhbblue;
		}

		&.error {
			border-bottom-color: $rhbred;
		}

		&.valid {
			border-bottom-color: $successcolor;
		}
	}

	label.error {
		@include font-size(1.1);
		color: $rhbred;
	}

	::-webkit-input-placeholder {
   	color: lighten(#7c8996,10);
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: lighten(#7c8996,10);  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: lighten(#7c8996,10);  
	}

	:-ms-input-placeholder {  
	   color: lighten(#7c8996,10);  
	}
	.btn-success {
		width: 100%;
	}
}

.form__bottom-text {
	position: absolute;
	bottom: 2px;
	width: 320px;
}


/*----- footer -------*/
.rhb__footer {
	padding: 20px 30px 10px;
	background: url(#{$img}/bottom-landmarks.png) center no-repeat;
	color: $lightblue;
	

	&--content {
		padding-left: 40%;
	}
}



/*----- utils -------*/

.color-yellow {
	color: $yellow;
}

.color-lightblue {
	color: $lightblue;
}



/****************************
	SIDE (CTA)
*****************************/