.table-sharetrading-local {

	[data-column="0"], .apply-col {
		width: 15%;
	}
	[data-column="3"],[data-column="4"] {
	 	width: 8%;
	 }
}

.table-sharetrading-global {
	[data-column="0"], .apply-col {
		width: 15%;
	}
	td {
		vertical-align: top;

		&:first-child, &.apply-col {
			text-align: center;
			vertical-align: middle;
		}
		
	}
	[data-column="2"] {
		width: 22%;
	}
}



