/* -----------------
	SLIDER
-------------------- */

// base slider style
.slider {
	width: 200px;
	background: #849aa7;
	height: 8px;
	position: relative;
	cursor: pointer;
	float: left;
	clear: right;
	margin: 10px 15px 10px 0;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(255,255,255,.75), inset 0 2px 1px rgba(0,0,0,.25);;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), inset 0 2px 1px rgba(0,0,0,.25);;
}

// base handle style
.handle {
	background: #fff url(../img/handle-bg.png) no-repeat 50% 50%;
	height: 26px;
	width: 26px;
	top: -10px;
	position: absolute;
	display: block;
	cursor: move;
	border-radius: 13px;
	box-shadow: 0 1px 5px rgba(0,0,0,.8), 0 0 3px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.8), 0 0 3px rgba(0,0,0,.8);
}

//below slider
.below-slider {
	margin-top: 10px;
}

//beside slider
.beside-slider {
	position: relative;
	top: -2px;

	input {
		margin-bottom: 0;
	}
}
