// variables
@import "var";

// $sp-potw: #1aab8b;
// $sp-featured: #8241b0;
// $sp-sponsored: #df931a;
// $sp-new: #ff8800;

[class*="promo-sp"] {
  td {
    padding-top: 35px;
    padding-bottom: 25px;

    &:first-child {
      vertical-align: top;
    }
  }
}

.sp-label-container {
  position: relative;

  .sp-label {
    position: absolute;
    left: -12px;
    top: -35px;
    font-size: 11px;
    font-size: 1.1rem;
    color: #fff;
    background: $scorecardpromocolor;
    padding: 5px 12px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(#000, .1);

    .promo-sp--premium & {
      background-color: $scorecardbestcardcolor;
    }

    &:before, &:after {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      content: '';
      display: block
    }

    &:before {
      border-width: 3px;
      bottom: -6px;
      left: 0;
      border-color: darken($scorecardpromocolor,10) darken($scorecardpromocolor,10) transparent transparent;
      // border-top-color: inherit;
      // border-right-color: inherit;
      .promo-sp--premium & {
        border-color: darken($scorecardbestcardcolor,10) darken($scorecardbestcardcolor,10) transparent transparent;
      }
    }

    &:after {
      border-width: 24px 12px 0 0;
      right: -12px;
      top: 0;
      border-color: $scorecardpromocolor transparent transparent $scorecardpromocolor;
      // border-top-color: inherit;
      // border-left-color: inherit;
      .promo-sp--premium & {
        border-color: $scorecardbestcardcolor transparent transparent $scorecardbestcardcolor;
      }
    }

    .table-creditcard & {
      left: -15px;
      padding-left: 8px;
      padding-right: 8px;
    }

    // &.sp-label--potw {
    //   background-color: $sp-potw;

    //   &:before, &:after {
    //     border-color: $sp-potw transparent transparent $sp-potw;
    //   }
    // }
    // &.sp-label--featured {
    //   background-color: $sp-featured;

    //   &:before, &:after {
    //     border-color: $sp-featured transparent transparent $sp-featured;
    //   }
    // }
    // &.sp-label--new {
    //   background-color: $sp-new;

    //   &:before, &:after {
    //     border-color: $sp-new transparent transparent $sp-new;
    //   }
    // }
    // &.sp-label--sponsored {
    //   background-color: $sp-sponsored;

    //   &:after {
    //     border-color: $sp-sponsored transparent transparent $sp-sponsored;
    //   }

    //   &:before {
    //     border-color: darken($sp-sponsored,10) darken($sp-sponsored,10) transparent transparent;
    //   }
    // }
  }
}
