/* -----------------
	SPRITE
-------------------- */

[class*="sprite-"] {
	background: url(../img/sprite-icon.png);
	margin-right: 8px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.sprite-faq {
	width: 14px;
	height: 21px;
	background-position: 0 0;
	top: -1px;
}

.sprite-external {
	width: 20px;
	height: 17px;
	background-position: -18px 0;
	top: -2px;
}