/*****************************
	TABLE
******************************/

table {
	@include border;
	line-height: 1.3;
	width: 100%;
	background: #fff;

	td {
		padding: 6px 12px;
		@include border-bottom;
		background-color: #fff;

		> *:last-child {
			margin-bottom: 0;
		}
	}

	tr:hover {
		> td {
			background-color: $lightgrey;

			&.apply-col {
				background-color: darken($lightgrey,5);
			}
		}
	}

	&.bordered {
		border-right: none;
		th,td {
			@include border-right;
		}
	}

	&.th-thick {

		th {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	th {
		@include border-bottom(3px, solid, darken($brandcolor2, 10));
		padding: 6px 12px;
		@include font-size(1.3);
		line-height: 1.5;

		&.th-left {
			@include border-right(3px, solid, darken($brandcolor2, 10));
			@include border-bottom;
			text-align: left;
			@extend .block-grey;
		}
	}

	h1, h2, h3 {
		font-weight: 700;
	}
}

.extra-info {
	display: inline-block;
	font-weight: 400;
	@extend .font-xsm;
	color: $lightercolor;
}

.extra-info-light {
	color: lighten($lightercolor,10);
}

.apply-col {
	background-color: $lightgrey;
}

.column-thick {
	td, th {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.column-separate {
	td, th {
		@include border-left;

		&:first-child {
			border-left: none;
		}
	}
}

/* Table with styling similar to block-wrapper */
.table-grey {
	@include border(1px, solid, $darkerbordercolor);
	background-color: $lightgrey;
	line-height: 1.25;

	th {
		@include border-bottom(1px, solid, $darkerbordercolor);
		color: $lightercolor;
	}

	td, th {
		background-color: inherit;
		width: 25%;
	}
}



/* Table with darkblue TH */
.table-darkblue-th {
	tr:hover th {
		background-color: $brandcolor1;
	}
	th {
		background-color: $brandcolor1;
		border-bottom: none;
		color: $lightgrey;
		font-weight: 400;
	}

	&.tablesorter {
		.tablesorter-headerAsc, .tablesorter-headerDesc {
			background-color: darken($brandcolor1,3);
		}
		.tablesorter-header {
		background-image: url(../img/tablesorter-th-asc.png);

			&:hover {
				background-color: darken($brandcolor1,3);
			}
		}
		.tablesorter-headerDesc {
			background-image: url(../img/tablesorter-th-normal-desc.png);
		}
		.tablesorter-headerAsc {
			background-image: url(../img/tablesorter-th-normal.png);
		}
	}

	&.bordered {
		th {
			border-right: 1px solid darken($brandcolor1,5);
			border-bottom: 1px solid darken($brandcolor1,5);
		}
	}
}


/* Table with plain design */

.table-plain {
	tr:hover th, th {
		background: #fff;
	}

	th {
		color: $lightercolor;
		font-weight: bold;
		border-bottom: 2px solid $bordercolor;
	}
}

.tablesorter tr:hover .table-plain th {
	background: #fff;
}




/* Tablesorter */

.tablesorter {
	th {
		padding-bottom: 12px;
		padding-top: 12px;
	}
	.tablesorter-header {
		background-image: url(../img/tablesorter-th-normal.png);
		background-position: center 90%;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.tablesorter-headerAsc, .tablesorter-headerDesc {
		background-color: #f0f3f4;
		background-position: center 90%;
		background-repeat: no-repeat;
	}
	.tablesorter-headerDesc {
		background-image: url(../img/tablesorter-th-desc.png);
	}
	.tablesorter-headerAsc {
		background-image: url(../img/tablesorter-th-asc.png);
	}
	tr:hover {
		> td {
			background-color: $lightgrey;

			&.apply-col {
				background-color: darken($lightgrey,5);
			}
		}
	}

}

.tablesorter-header-inner {
	position: relative;
}

/* non sortable table overwrite */
.table-nonsortable {
	th {
		padding-bottom: 6px;
	}
}

/* table td padding customize */
.table-td-p0 {
	td {
		padding:0px
	}
}

.table-td-p5 {
	td {
		padding:5px
	}
}

.table-td-p8 {
	td {
		padding:8px
	}
}
/*****************************
	PROMO
******************************/

tr.promo {
	td {
		background-color: $promocolor;

		&.apply-col {
			background-color: darken($promocolor, 5);
		}
	}

	&:hover {
		td {
			background-color: darken($promocolor, 5);

			&.apply-col {
				background-color: darken($promocolor, 10);
			}
		}
	}
}

.label {
	background-color: $brandcolor2;
	border-radius: 2px;
	color: #fff;
	text-transform: capitalize;
	display: inline-block;
	padding: 0 4px;
	margin-right: 3px;
	font-weight: normal;

	&.label-ad {
		background-color: $scorecardpromocolor;
	}

	&.label-best {
		background-color: $scorecardbestcardcolor;
	}

	&.label-gov {
		background-color: #1d62ca;
	}

	&.label-islamic {
		background-color: #7e489c;
	}

	&.label-info {
		background-color: $brandcolor2;
	}
}

/*****************************
	FEATURED PRODUCT
******************************/

.featured {
	td {
		height: 40px;
		min-height: 40px;
		border-top: 4px solid $brandcolor2;
		border-bottom: 30px solid $brandcolor2;

		&:first-child {
			border-left: 4px solid $brandcolor2;
		}

		&:last-child {
			border-right: 4px solid $brandcolor2;
		}
	}

	.apply-col {
		a {
			position: relative;
			left: 2px;
		}
	}
}

.featured-wrapper {
  position: relative;

  // &:before {
  // 	@include box-sizing;
  //  	border: 4px solid $brandcolor2;
  //   position: absolute;
  //   content: '';
  //   display: block;
  //   width: 940px;
  //   top: -12px;
  //   bottom: -36px;
  //   left: -13px;

  // }

  .featured-bar {
  	@include box-sizing;
  	@include font-size(1.3);
    position: absolute;
    bottom: 0;
    color: #fff;
    height: 26px;
    line-height: 26px;
    width: 940px;
    left: -13px;
    padding: 0 20px 0 30px;
    bottom: -33px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

    &:before {
    	position: absolute;
			width: 40px;
			height: 42px;
			background: url(../img/icon-thumbup.png) no-repeat;
			content: '';
			display: block;
			left: -17px;
			top: -6px;
			z-index: 3;
		}
  }

  .featured-title {
  	font-weight: 700;
  	cursor: pointer;
  }

  .featured-content {
  	@include box-sizing;
  	line-height: 1.5;
	  position: absolute;
    width: 938px;
    padding: 10px 32px 2px;
    left: -3px;
    top: 26px;
    background: saturate(darken($brandcolor2, 7),7);
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		display: none;
		z-index: 1;
  }
}

.featured-expand-btn {
	background-color: #07456b;
	padding: 1px 6px;
	margin-left: 2px;
	color: #cbd2d6;
	-webkit-border-radius: 2px;
	border-radius: 3px;
	color: #fff;

	&:hover {
		text-decoration: none;
	}

	&:visited {
		color: #ddd;
	}
}

.featured-bank-logo {
	display: table;
	width: 100%;
	height: 100%;

	> * {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

/* sticky trhead */
.sticky-trhead {
	position: fixed;
	z-index: 10;
	width: 100%;

	table {
		width: 940px;
		margin: 0 auto;
		background: #fff;
	}
}

/*****************************
	TR EXPAND
******************************/

.tr-expand {
	display: none;
	@include font-size(1.2);

	th, h5 {
		@include font-size(1.2);
	}

	> td {
		background: url(../img/bg-groovepaper.png);
		color: $lightercolor;
		padding: 12px;
		border-top: 2px solid $brandcolor2;
	}
}

.table-moreinfo {
	@include border(1px, solid, #d3d7d8);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);

	table {
		margin-bottom: 0;
		border: none;
	}
}

// .tr-expand-content {
// 	position: relative;

// 	&:before {
// 		width: 0;
// 		height: 0;
// 		display: block;
// 		content: '';
// 		border-width: 8px;
// 		position: absolute;
// 		border-color: transparent transparent $brandcolor2;
// 		border-style: solid;
// 		left: 50px;
// 		top: -28px;
// 	}
// }

.table-moreinfo-tab {
	@extend .block-grey;
	margin: 0;
	box-shadow: inset 0 -1px 0 $darkerbordercolor;

	li {
		background: none;
		display: inline-block;
		padding: 0;
		float: left;

		&.active {
			a {
				background-color: #fff;

				&:hover {
					text-decoration: none;
				}
			}
		}

		a {
			color: $lightercolor;
			padding: 0 20px;
			display: block;
			line-height: 30px;
			border-right: 1px solid $darkerbordercolor;

		}
	}
}

/* adjusting the width and height of the bank logos in comparison table */

.compare-table-banklogo {
	max-width: 100px;
	max-height: 40px;
	width: auto;
	height: auto;
}

/* checkbox selected */
.tr-checkbox-selected, tr.tr-checkbox-selected:hover {
	td {
		background-color: lighten($brandcolor2, 45);
		&.apply-col {
			background-color: lighten($brandcolor2, 35);
		}
	}
}

/* Tick */
.yes-icon {
	width: 24px;
	height: 24px;
	background: url(../img/table-tick.png) no-repeat;
	@extend .hidetext;
	display: inline-block;
}
