@import "var";
@import "mixin";

/* main content */
.application-step {

	@include font-size(1.1);
	color: #7d8a96;
	@extend %clearfix;

	li {
		padding: 0 0 10px;
		background: transparent;
		float: left;
		margin-right: 30px;

		&.application-step-current {
			color: $color;
			position: relative;

			&:after {
				position: absolute;
				width: 0;
				height: 0;
				border-color: transparent transparent $brandcolor2;
				border-width: 5px;
				border-style: solid;
				display: block;
				content: '';
				bottom: 0;
				left: 50%;
				margin-left: -2px;

			}
		}
	}
}

.budget-calculator {
	position: relative;
}

.budget-step {
	position: absolute;
	top: -49px;
}

.budget-form {

	.input-append, .input-prepend {
		margin-bottom: 0;
	}

	legend {
		font-family: $roboto;
		font-weight: 300;
		background: $brandcolor1;
		color: #fff;
		padding: 5px 10px;
		@include box-sizing;
		@include font-size(1.8);
		border-bottom: none;
	}
	.control-label {
		text-align: left;
		font-weight: normal;
	}

	.form-group {
		padding-left: 10px;
	}
}