@import "mixin";
@import "var";

.block-testimonial {
  margin-bottom: 20px;
  overflow: hidden;
   border-left: 4px solid $bordercolor;
  background: $lightgrey;
  padding: 20px;
}

.testimonial__content {
  margin-bottom: 20px;

  > *:last-child {
    margin-bottom: 0;
  }

  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   border-color: $bordercolor transparent transparent $bordercolor;
  //   border-width: 10px;
  //   border-style: solid;
  //   display: block;
  //   bottom: -20px;
  //   left: 40px;
  // }
}

.testimonial-user__thumb {
  float: left;
  margin-right: 10px;
}

.testimonial-user__name {
  display: block;
}

.testimonial-user__position {
  @include font-size(1.3);
  color: $lightercolor;
}