// Global variable

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color: #434c55; /* base font color */
$lightercolor: #5e6a77; /* lighter font color */

$bodybgcolor: #e7ebed;

$brandcolor1: #06456b; // #004668; /* dark blue */
$brandcolor2: #1d9fca; //#1ca0cb; //#00a1c7; /* sea blue */

$lightgrey: #f6f8f9;

$blkgreycolor: #7f8a95;

$successcolor: #59b259; //green
$failcolor: #da4f49; //red
$warningcolor: #c09853; //yellow

$promocolor: #fff6dc;

$radius: 3px; //set the overall border radius value

$scorecardpromocolor: #df931a;
$scorecardbestcardcolor: #cb2372;

$layoutwidth: 1000px;
$contentwidth: 940px;

$lightorange : #FFF9E8; //lightorange bgcolor

