.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.pl-bankpage__product {
  border-top: 1px solid #e5e9eb;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  box-shadow: inset 1px 0 0 transparent;
  position: relative;
  padding: 30px 0; }
  .pl-bankpage__product:hover {
    box-shadow: none;
    z-index: auto; }
  .pl-bankpage__product:first-child {
    border-top: none;
    padding-top: 0; }

.pl-bankpage__products {
  min-height: 0; }
