.table-healthinsurance [data-column="0"] {
  width: 18%; }
.table-healthinsurance [data-column="1"] {
  width: 12%; }
.table-healthinsurance [data-column="2"], .table-healthinsurance [data-column="4"], .table-healthinsurance [data-column="5"] {
  width: 10%; }
.table-healthinsurance [data-column="3"] {
  width: 12%; }
.table-healthinsurance [data-column="6"] {
  width: 12%; }
.table-healthinsurance .apply-col {
  width: 15%; }

.btn-homeloan-calculate {
  position: relative;
  top: 3px; }
