.table-timedeposit td {
  text-align: center; }
.table-timedeposit th {
  padding-top: 30px;
  padding-bottom: 30px; }
.table-timedeposit [data-column="0"] {
  width: 25%; }
.table-timedeposit [data-column="1"], .table-timedeposit [data-column="2"], .table-timedeposit [data-column="3"], .table-timedeposit [data-column="4"], .table-timedeposit [data-column="5"] {
  width: 12%; }
.table-timedeposit .apply-col {
  width: 15%; }

.btn-homeloan-calculate {
  position: relative;
  top: 3px; }
