.table-savingsaccount td:nth-child(5) {
  text-align: left; }
.table-savingsaccount [data-column="0"] {
  width: 18%; }
.table-savingsaccount [data-column="1"], .table-savingsaccount [data-column="2"], .table-savingsaccount [data-column="3"] {
  width: 12%; }
.table-savingsaccount .apply-col {
  width: 16%; }

.btn-homeloan-calculate {
  position: relative;
  top: 3px; }
