.table-travelinsurance [data-column="0"] {
  width: 18%; }
.table-travelinsurance [data-column="1"] {
  width: 10%; }
.table-travelinsurance [data-column="2"], .table-travelinsurance [data-column="3"], .table-travelinsurance [data-column="4"], .table-travelinsurance [data-column="5"] {
  width: 14%; }
.table-travelinsurance .apply-col {
  width: 16%; }

.btn-homeloan-calculate {
  position: relative;
  top: 3px; }
