/* base font color */
/* lighter font color */
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

.table-homeloan-v2 [data-column="0"] {
  width: 19%; }
.table-homeloan-v2 [data-column="1"] {
  width: 12%; }
.table-homeloan-v2 [data-column="2"], .table-homeloan-v2 [data-column="3"], .table-homeloan-v2 [data-column="4"], .table-homeloan-v2 .apply-col {
  width: 17.25%; }

del, del.extra-info {
  color: #da4f49; }
