<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">

  <title>Asuransi Mobil</title>
  <link rel="stylesheet" href="css/animate.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__id">AturDuit.com</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>

    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Asuransi Mobil</a></li>
              <li><a href="#">Deposito Berjangka</a></li>
              <li><a href="#">Pinjaman Rumah (KPR)</a></li>
              <li><a href="#">Pinjaman Pribadi (KDA)</a></li>
              <li><a href="id-kta.html">Pinjaman Pribadi (KTA)</a></li>
              <li><a href="#">Kartu Kredit</a></li>
              <li><a href="#">Kredit Mobil</a></li>
              <li><a href="#">Pusat Pengetahuan</a></li>
            </ul>

          </div>
        </nav>

    <div class="page-header">
      <h1 class="page-title">Asuransi Mobil Termurah</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">

        <!-- Calculator -->
        <section id="calculator" class="row-fl block-page pt10 mb20">
          <form action="">
            <!-- amount -->
            <div class="fl-12">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="amount">1. Jumlah Pertanggungan?</label>
                <div class="input-prepend">
                  <span class="prefix add-on">Rp</span>
                  <input type="text" name="amount" placeholder="8000" value="8000" id="amount" class="input-medium">
                </div>
              </div>
            </div>

            <div class="cal-secondary bt fl-12 block-groovepaper-grey">
              <a href="#" id="btn-filter-toggle" data-text="Less Filters" class="db pt10 pb10">More Filters</a>
              <div class="cal-secondary-content">
                <div class="block-cal form-horizontal row-fl pb10">

                  <div class="form-group">
                    <label for="age" class="control-label fl-4">2. Jenis Asuransi</label>
                    <div class="fl-8">
                      <div class="btn-group">
                        <button class="btn ng-pristine ng-valid btn-group-pressed" ng-class="{'btn-group-pressed': filterAll}" ng-model="filterAll" ng-click="FilterClicked('all')">Semua</button> <!-- pressed state .btn-group-pressed -->
                        <button class="btn ng-pristine ng-valid" ng-class="{'btn-group-pressed': filterTLO}" ng-model="filterTLO" ng-click="FilterClicked('TLO')"> TLO</button>
                        <button class="btn btn-group-last ng-pristine ng-valid" ng-class="{'btn-group-pressed': filterCompre}" ng-model="filterCompre" ng-click="FilterClicked('compre')">All Risk</button>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="monthly_income" class="control-label fl-4">3. Tahun Perakitan Mobil</label>
                    <div class="fl-8">
                      <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="car_model_year" ng-options="year as value for (year,value) in year_options()"  ng-change="updateChanges(); FilterClicked();"><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014" selected="selected">2014</option></select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="monthly_income" class="control-label fl-4">4. Nomor Kenderaan</label>
                    <div class="fl-8">
                      <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="plate_number" ng-options="code as name for (code, name) in area_options()"  ng-change="updateChanges(); FilterClicked();"><option value="A">A</option><option value="AA">AA</option><option value="AB">AB</option><option value="AD">AD</option><option value="AE">AE</option><option value="AG">AG</option><option value="B" selected="selected">B</option><option value="BA">BA</option><option value="BB">BB</option><option value="BD">BD</option><option value="BE">BE</option><option value="BG">BG</option><option value="BH">BH</option><option value="BK">BK</option><option value="BL">BL</option><option value="BM">BM</option><option value="BN">BN</option><option value="BP">BP</option><option value="D">D</option><option value="DA">DA</option><option value="DB">DB</option><option value="DC">DC</option><option value="DD">DD</option><option value="DE">DE</option><option value="DG">DG</option><option value="DH">DH</option><option value="DK">DK</option><option value="DL">DL</option><option value="DM">DM</option><option value="DN">DN</option><option value="DR">DR</option><option value="DT">DT</option><option value="E">E</option><option value="EA">EA</option><option value="EB">EB</option><option value="ED">ED</option><option value="F">F</option><option value="G">G</option><option value="H">H</option><option value="K">K</option><option value="KB">KB</option><option value="KH">KH</option><option value="KT">KT</option><option value="L">L</option><option value="M">M</option><option value="N">N</option><option value="P">P</option><option value="R">R</option><option value="S">S</option><option value="T">T</option><option value="W">W</option><option value="Z">Z</option></select>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group a-center">
                  <a href="" class="btn btn-info db" id="btn-done">Hitung</a>
                </div>
              </div>


            </div>

          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result"><strong>Paket dengan premi terendah dengan pertanggungan Rp 126.000.000</strong><br>
        <span class="font-xsm color-light">Premi terendah hingga tertinggi</span></p>

        <!-- Product List -->
        <section class="products products-kta row-fl mb20">

          <!-- Product #1 -->
          <div class="block-page block-product block-recommend">
            <div class="recommend">
              <div class="recommend__title"><strong>Rekomendasi Asuransi Mobil</strong></div>
            </div>
            
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/avrist_1.jpg" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><a href="#">Avrist Total Loss Only</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Premi</strong>
                    <h3 class="mb5 font-lg color-complement">0,44%</h3>
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 554.400</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <table class="table-transparent font-xsm">
                <tbody>
                  <tr>
                    <td class="w-7">Max Umur Kenderaan</td>
                    <td class="bold">10 tahun</td>
                  </tr>
                  <tr>
                    <td class="w-7">Fitur &amp; Perlindungan Tambahan</td>
                    <td class="bold">Tambahan Premi</td>
                  </tr>
                  <tr>
                    <td class="w-7">Jumlah Bengkel Rekanan</td>
                    <td class="bold">100</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product block-recommend">
            <div class="recommend">
              <div class="recommend__title"><strong>Rekomendasi Asuransi Mobil</strong></div>
            </div>
            
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/avrist_1.jpg" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><a href="#">Avrist Komprehensif</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Premi</strong>
                    <h3 class="mb5 font-lg color-complement">2,47%</h3>
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 3.112.200</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <table class="table-transparent font-xsm">
                <tbody>
                  <tr>
                    <td class="w-7">Max Umur Kenderaan</td>
                    <td class="bold">10 tahun</td>
                  </tr>
                  <tr>
                    <td class="w-7">Fitur &amp; Perlindungan Tambahan</td>
                    <td class="bold">Tambahan Premi</td>
                  </tr>
                  <tr>
                    <td class="w-7">Jumlah Bengkel Rekanan</td>
                    <td class="bold">100</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/central_sejahtera_insurance_0.jpg" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><a href="#">CSI BCA Total Loss Only</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Bunga</strong>
                    <h3 class="mb5 font-lg color-complement">0,44%</h3>
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 554.400</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <table class="table-transparent font-xsm">
                <tbody>
                  <tr>
                    <td class="w-7">Max Umur Kenderaan</td>
                    <td class="bold">8 tahun</td>
                  </tr>
                  <tr>
                    <td class="w-7">Fitur &amp; Perlindungan Tambahan</td>
                    <td class="bold">Tambahan Premi</td>
                  </tr>
                  <tr>
                    <td class="w-7">Jumlah Bengkel Rekanan</td>
                    <td class="bold">100</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          

        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">
              <h4 class="headline-underline">Apa itu Asuransi Mobil?</h4>
              <p>Asuransi mobil merupakan jenis asuransi khusus untuk mobil, dimana resiko yang kemungkinan terjadi pada kendaraan dialihkan kepada perusahaan asuransi. Sama halnya dengan produk asuransi lain, asuransi mobil memerlukan Anda untuk membayar sejumlah premi pada setiap periode waktu tertentu sebagai ganti polis yang menjamin perlindungan tersebut. Perusahaan asuransi mobil memberikan beragam produk asuransi dan berbagai macam jenis keuntungan, antara Anda mencari asuransi mobil dengan perlindungan yang luas hingga harga premi asuransi yang rendah ataupun asuransi mobil termurah dan terpercaya. Kami membantu Anda dengan menyediakan informasi ciri khas dari setiap asuransi mobil di Indonesia untuk kemudahan Anda, dengan simulasi premi asuransi dan kalkulator kami.</p>

              <h5 class="underline color-darkblue mt20">Fasilitas yang diberikan oleh Asuransi Mobil?</h5>

              <p>Asuransi mobil tersedia berbagai macam keuntungan, perlindungan, fitur maupun fasilitas yang diberikan oleh perusahaan asuransi yakni, layanan darurat, tanggung jawab hukum pada pihak ketiga, kecelakaan, pencurian, kebakaran, penggantian mobil, perlindungan huru-hara, mobil derek, biaya medis, ambulans, santunan kecelakaan diri, dan bencana alam.</p>

              <p>Setiap fitur ini, sebagian dapat ditambah jika Anda menambah nilai premi yang Anda bayar, akan tetapi akankah itu menjadi sesuatu Anda inginkan dalam unsur keuangan Anda maupun keuntungan serta kondisi lainnya. Untuk mencari tahu mengenai asuransi mobil termurah dan asuransi terpercaya lebih lanjut Anda dapat melihat perbandingan secara online lalu aplikasinya di iMoney indonesia dengan praktis dan Gratis!</p>

              <h5 class="underline color-darkblue mt20">Penjelasan Tentang Premi Asuransi Mobil</h5>

              <p>Untuk perhitungan premi asuransi mobil, tersedia beberapa faktor utama yang mempengaruhi jumlah premi dibayar pada setiap tahunnya, yakni: berbagai fitur perlindungan seperti tanggung jawab hukum pihak ketiga, kecelakaan diri, biaya perawatan dan perluasan perlindungan terhadap bencana alam, rusuh/huru-hara, sabotase, pencurian. Selain itu juga Cubic Centimetres (CC), tahun perakitan, aksesoris, jenis dan tipe mobil yang diasuransikan merupakan penentu dari jumlah nilai pertanggungan mobil Anda (harga pasaran mobil). Logikanya premi yang dibayarkan akan dikalkulasikan berdasarkan dari:</p>

              <ul><li>Untuk perlindungan dasar: <strong>"Nilai Pertanggungan x Suku Premi"</strong></li>
              <li>Untuk perlindungan tambahan terhadap bencana alam, rusuh/huru-hara, sabotase: <strong>"Nilai Pertanggungan x Suku Premi Perlindungan Tambahan"</strong></li>
              <li>Untuk perlindungan tanggung jawab hukum pihak ketiga: <strong>"Nilai Perlindungan x Suku Premi TJHPK"</strong></li>
              <li>Untuk perlindungan kecelakaan diri: <strong>"Nilai Perlindungan x Suku Premi Kecelakaan Diri"</strong></li></ul>

              <h5 class="underline color-darkblue mt20">Perbedaan Antara Perlindungan Komprehensif dan Total Loss Only</h5>

              <p>Polis Produk asuransi mobil terdiri dari 2 kondisi perlindungan atas kendaraan bermotor sesuai keinginan Anda:</p>

              <ul><li><strong>a) Comprehensive (komprehensif atau all risk):</strong> menjamin risiko terhadap kerugian/kerusakan sebagian (partial Loss) maupun keseluruhan (total loss), yang diakibatkan oleh semua risiko sepanjang tidak dikecualikan dalam polis.</li>
              <li><strong>b) Total Loss Only (TLO):</strong> menjamin risiko terhadap kerugian/kerusakan keseluruhan, hanya jika biaya perbaikannya diperkirakan sama dengan atau melebihi 75% dari harga kendaraan sesaat sebelum kerugian, serta menjamin kerugian apabila kendaraan hilang dicuri</li></ul>
            </div>
          </div>

        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__id header-logo--footer">iMoney.co.id</a>
              <p class="font-xsm color-light">Website Perbandingan Produk Finansial #1 di Indonesia</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/imoney.id" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/imoneyindonesia" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/103286007157252300886?prsrc=5" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privasi">Privacy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/hubungi-kami">Hubungi Kami</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.co.id</p>
            </div>
          </div>
        </footer>


      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>

    <script type="text/javascript">
      (function($){

        var calSecondaryContent = $('.cal-secondary-content');

        $('.recommend__title').on('click',function(){
          $(this).next().slideToggle();
        });

        $('#btn-filter-toggle').on('click',function(e){
          var dataText = $(this).data('text'),
              currText = $(this).text();
          calSecondaryContent.slideToggle();

          $(this).data('text',currText).text(dataText);
          e.preventDefault();
        });


        // enable visual feedback when changes on the calculator
        $('#calculator input, #calculator select').change(function(){
          
          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
            $('#search-result').addClass('animated flash');
          });
        });

        $('#btn-done').on('click',function(e){
          if(calSecondaryContent.is(':visible')){
            $('#btn-filter-toggle').click();
            e.preventDefault();

            //first remove classes
            $('#search-result').removeClass('animated flash'); 

            // next slide down the loader
            $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
              $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400, function(){
                $('#search-result').addClass('animated flash');
              });
            });
          }
        });
      }(jQuery));
    </script>

  </body>
</html>
