<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">

  <title>Deposito Berjangka</title>
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__id">AturDuit.com</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>

    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Asuransi Mobil</a></li>
              <li><a href="#">Deposito Berjangka</a></li>
              <li><a href="#">Pinjaman Rumah (KPR)</a></li>
              <li><a href="#">Pinjaman Pribadi (KDA)</a></li>
              <li><a href="id-kta.html">Pinjaman Pribadi (KTA)</a></li>
              <li><a href="#">Kartu Kredit</a></li>
              <li><a href="#">Kredit Mobil</a></li>
              <li><a href="#">Pusat Pengetahuan</a></li>
            </ul>

          </div>
        </nav>

    <div class="page-header">
      <h1 class="page-title">Deposito Berjangka</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">

        <!-- Calculator -->
        <section id="calculator" class="row-fl block-page pt10 mb20">
          <form id="form-calculator" action="">
            <!-- amount -->
            <div class="fl-7">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="amount">1. Jumlah Deposito</label>
                <div class="input-prepend">
                  <span class="prefix add-on">Rp</span>
                  <input type="text" name="amount" placeholder="8000" value="50.000.000" id="amount">
                </div>
              </div>
            </div>

            <!-- Jangka Waktu -->
            <div class="fl-5">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="amount">2. Jangka Waktu</label>
                <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="tenureFilter" ng-options="value.value as value.name for value in tenureOptions"><option value="0">- Silakan Pilih -</option><option value="1">1 bulan</option><option value="2">3 bulan</option><option value="3">6 bulan</option><option value="4" selected="selected">12 bulan</option><option value="5">24 bulan</option></select>
              </div>
            </div>

            <div class="cal-secondary bt fl-12 block-groovepaper-grey">
              <div class="form-group a-center pt10 mb10">
                <a href="" class="btn btn-info db" id="btn-done">Hitung</a>
              </div>
            </div>

          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result">Produk deposito berjangka dan promosi dari 11 bank berdasarkan simpanan sejumlah <strong>Rp. 50.000.000</strong></p>

        <!-- Product List -->
        <section class="products products-deposito row-fl">

          <!-- Product #1 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/styles/fixed_deposit_mobile_list/public/CIMBNIAGA.png?itok=FfVdFskA" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400">CIMB NIAGA Deposito X-tra</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-4">
                    <strong class="extra-info bold db">Bunga Deposito (12 bulan)</strong>
                    <h3 class="mb5 font-lg color-complement">7,25%</h3>

                  </td>
                  <td class="bl">
                    <strong class="extra-info bold db">Total Bunga Jatuh Tempo</strong>
                    <h3 class="mb5 font-lg">Rp 123.625.000</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/styles/fixed_deposit_mobile_list/public/danamon.jpg?itok=jfntfE25" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400">Danamon Deposito</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-4">
                    <strong class="extra-info bold db">Bunga Deposito (12 bulan)</strong>
                    <h3 class="mb5 font-lg color-complement">6,50%</h3>

                  </td>
                  <td class="bl">
                    <strong class="extra-info bold db">Total Bunga Jatuh Tempo</strong>
                    <h3 class="mb5 font-lg">Rp 3.250.000 </h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/styles/fixed_deposit_mobile_list/public/Bank%20BTN.png?itok=_leh6KLN" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400">BTN Deposito</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-4">
                    <strong class="extra-info bold db">Bunga Deposito (12 bulan)</strong>
                    <h3 class="mb5 font-lg color-complement">7,25%</h3>

                  </td>
                  <td class="bl">
                    <strong class="extra-info bold db">Total Bunga Jatuh  Tempo</strong>
                    <h3 class="mb5 font-lg">Rp 123.625.000</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <!-- inline popup -->
        <section class="row-fl mb20">

          <div id="apply-modal" class="inline-popup hidden">
            <div class="inline-popup-content">
              <h3 class="p10 font-lg inline-popup__header"><strong>Dapatkan Produk Keuangan Terbaik untuk Anda</strong></h3>

              <div class="p10 pt0">
                <p class="font-sm">
                  <strong>Ingin mengikuti perkembangan jasa dan produk keuangan terbaik?</strong> Daftarkan diri Anda pada update bulanan iMoney sekarang juga!
                </p>

                <form action="http://www.imoney.us5.list-manage1.com/subscribe/post?u=1db2c05f99f2ff02ccfb6ee11&amp;id=340374ccbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="a-left form-horizontal mt20 ng-pristine ng-valid" data-source="Fixed Deposit">
                  <div class="form-group">
                    <label for="inline-popup-email" class="fl-3 control-label">Email</label>
                    <div class="fl-9">
                      <input type="email" id="inline-popup-email" class="form-control" name="email" placeholder="emailanda@email.com" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fl-9 fl-offset-3">
                      <button type="submit" class="btn btn-success btn-strong">Kirim dan Lanjutkan</button>
                    </div>
                  </div>
                  
                  
                </form>
              </div>

            

            <div class="inline-popup-footer cf font-sm">
              <p class="pb10 mb0"><a href="http://www1.uob.com.my/personal/cards/credit/uob_cards_apply_one.html" id="inline-popup-provider-link">Tidak Terima Kasih. Lanjutkan saya ke website pihak penyedia.</a></p>
            </div>
            </div>

          </div>
        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">
              <h4 class="headline-underline">Pengertian Deposito?</h4>
              <p>Deposito atau yang sering juga disebut sebagai Deposito Berjangka, merupakan produk bank sejenis jasa tabungan yang biasa ditawarkan kepada masyarakat, dimana Anda dapat menyimpan uang untuk jangka waktu tertentu dengan penawaran bunga deposito yang lebih tinggi daripada bunga tabungan biasa.</p>

              <h5 class="underline color-darkblue mt20">Bagaimanakah Cara Deposito Bekerja?</h5>

              <p>Anda menabung sejumlah uang (tunai atau cek) ke bank dengan periode tertentu (biasanya 1, 3, 6, 12 atau 24 bulan), dan uang Anda tersebut tidak boleh dicairkan hingga masa jatuh tempo. Setelah itu, Anda akan menerima sertifikasi deposito yang mencantumkan jumlah, bunga dan tanggal jatuh tempo deposito. Pada saat tanggal jatuh tempo deposito, Anda dapat mencarikan deposito dengan bukti dari sertifikasi tersebut, dan Anda akan memperoleh pokok deposito plus dengan bunga yang ditetapkan.</p>

              <h5 class="underline color-darkblue mt20">Cara Mendapatkan Bunga Depsito Yang Tinggi?</h5>

              <p>Deposito pada umumnya menawarkan Bunga yang lebih besar dari pada tabungan biasa. Oleh karena itu, apabila Anda memiliki dana yang untuk sementara ini tidak digunakan, maka Anda berkesempatan menambah penghasilan Anda dengan berinvestasi di Deposito.</p>

              <ul>
                <li><strong>Ambillah Keuntungan Dari Masa Promosi Deposito:</strong> Bank pada umumnya memberikan beberapa promosi dalam setahun berkaitan dengan deposito, dengan tujuan untuk menarik nasabah deposito yang baru maupun lama. Bunga deposito pada saat promosi biasanya jauh lebih tinggi dari yang standar, maka pastikan Anda selalu mencek akan promosi deposito yang ditawarkan oleh melalui Kalkulator Online iMoney.</li>
                <li><strong>Bandingkan Bunga Deposito Yang Terbaik Bagi Anda:</strong> Setiap bank memiliki bunga deposito yang berbeda. Untuk mendapatkan pendapatan yang maksimal dari deposito Anda, maka lakukanlah perbandingan bunga deposito terlebih dahulu melalui iMoney™ online.</li>
                <li><strong>Perpanjang Jatuh Tempo Deposito Anda:</strong> Pada umumnya, semakin lama periode deposito Anda, maka semakin tinggi bunga depositonya. Akan tetapi, ingatlah akan resiko kehilangan semua atau sebagian bunga deposito Anda apabila melakukan pencairan awal atau sebelum jatuh tempo.</li>
              </ul>

              <h5 class="underline color-darkblue mt20">Apa Yang Terjadi Apabila Anda Melakukan Pencairan Deposito Sebelum Jatuh Tempo?</h5>

              <p>Berdasarkan regulasi beberapa bank terbesar di Indonesia, bahwa Anda akan kehilangan bunga depositonya apabila:</p>

              <ul>
                <li>melakukan pencairan sebelum jatuh tempo dari deposito yang berjangka hanya satu, dua atau tiga bulan</li>
                <li>melakukan pencairan dalam jangka waktu 3 bulan sebelum jatuh tempo dari deposito dengan jangka waktu tiga bulan keatas</li>
              </ul>
              
              <p>Akan tetapi, Apabila Anda melakukan pencairan Deposito setelah tiga bulan, maka Anda akan dikenakan penalti lainnya.</p>
            </div>
          </div>

        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__id header-logo--footer">iMoney.co.id</a>
              <p class="font-xsm color-light">Website Perbandingan Produk Finansial #1 di Indonesia</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/imoney.id" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/imoneyindonesia" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/103286007157252300886?prsrc=5" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privasi">Privacy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/hubungi-kami">Hubungi Kami</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.co.id</p>
            </div>
          </div>
        </footer>


      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>

    <script src="../js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
      (function($){
        // enable visual feedback when changes on the calculator
        $('#calculator input, #calculator select').change(function(){
          
          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
            $('#search-result').addClass('animated flash');
          });
        });

        $('#btn-done').on('click', function(e){
          e.preventDefault();
          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
            $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400, function(){
              $('#search-result').addClass('animated flash');
            });
          });
        })

        //Inline Popup
        $('.btn-popup').fancybox({
          maxWidth: 400,
          padding: 0
        });
      }(jQuery));
    </script>

  </body>
</html>
