<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">

  <title>Kartu Kredit Danamon</title>
  <link rel="stylesheet" href="../css/creditcard.css"> <!-- base theme cc css -->
  <link rel="stylesheet" href="css/mb-creditcard.css"> <!-- mobile theme cc css-->
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__id">AturDuit.com</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>

    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Asuransi Mobil</a></li>
              <li><a href="#">Deposito Berjangka</a></li>
              <li><a href="#">Pinjaman Rumah (KPR)</a></li>
              <li><a href="#">Pinjaman Pribadi (KDA)</a></li>
              <li><a href="id-kta.html">Pinjaman Pribadi (KTA)</a></li>
              <li><a href="#">Kartu Kredit</a></li>
              <li><a href="#">Kredit Mobil</a></li>
              <li><a href="#">Pusat Pengetahuan</a></li>
            </ul>

          </div>
        </nav>

    <div class="page-header">
      <h1 class="page-title">Kartu Kredit Danamon</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">

        <!-- cc bank page intro -->
        <section class="block-page p10 row-fl">
          <div class="cc-bankpage__banklogo a-center p10">
            <img src="http://www.imoney.co.id/sites/www.imoney.co.id/files/danamon.jpg" width="150" alt="">
          </div>
          <p>Bank Danamon menyediakan kartu kredit terbaik dan menarik untuk Anda. Salah satu kartu kreditnya adalah kartu kredit World dimana kartu ini memiliki paket cashback terbaik untuk penggunaan pada tagihan bulanan dan bahan bakar. Selain itu Danamon merupakan salah satu bank yang menawarkan kartu American Express.</p>
        </section>

        <!-- Search Result-->
        <a href="#" id="btn-filter-toggle" data-text="Close" class="pull-right bold font-sm" style='margin-right: -10px'>Refine Search</a>
        <p class="mb5 row-fl font-sm dib v-top w-8" id="search-result">
          <strong>Showing 15 Danamon cards</strong> <img src="img/loader-bar.gif" class="loader-bar hidden" id="loader-bar" >
        </p>

        <!-- Calculator -->
        <section id="calculator" class="row-fl mb10">
          <form action="">
            <div class="cal-secondary">
              <div class="cal-secondary-content pt10" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc">
                <div class="form-group checklist-2col">
                  <h5 class="mb5">1. Preferensi Penggunaan:</h5>
                  <!-- ngRepeat: filter in spendingOptions --><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Petrol"><input type="checkbox" value="Petrol" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Petrol</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Groceries"><input type="checkbox" value="Groceries" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Groceries</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Utilities"><input type="checkbox" value="Utilities" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Utilities</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Travel"><input type="checkbox" value="Travel" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Travel</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Shopping"><input type="checkbox" value="Shopping" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Shopping</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Dining"><input type="checkbox" value="Dining" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Dining</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Entertainment"><input type="checkbox" value="Entertainment" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Entertainment</label>
                  </div>
                </div>

                <div class="form-group">
                  <h5 class="mb5">2. Pendapatan Bulanan Anda</label>
                  <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="incomeFilter" ng-options="value.value as value.name for value in incomeOptions" ng-change="updateFilters('income')"><option value="0" selected="selected">- Harap Pilih -</option><option value="1">Rp.0 - Rp. 2 Juta</option><option value="2">Rp. 2 Juta - Rp. 5 Juta</option><option value="3">Rp. 5 Juta - Rp. 10 Juta</option><option value="4">Rp. 10 Juta - Rp. 20 Juta</option><option value="5">Rp. 20 Juta Keatas</option></select>
                </div>

                <div class="form-group">
                  <h5 class="mb5">3. Fitur Kartu Lainnya</h5>
                  <!-- ngRepeat: filter in showOptions --><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Kartu Terbaik"><input type="checkbox" value="Kartu Terbaik" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding font-xsm label label-best">Kartu Terbaik</span></label>
                  </div><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Kartu Promo"><input type="checkbox" value="Kartu Promo" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding font-xsm label label-ad">Kartu Promo</span></label>
                  </div><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Kartu Prestige / Premium"><input type="checkbox" value="Kartu Prestige / Premium" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding">Kartu Prestige / Premium</span></label>
                  </div><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Kartu Tanpa Iuran Tahunan"><input type="checkbox" value="Kartu Tanpa Iuran Tahunan" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding">Kartu Tanpa Iuran Tahunan</span></label>
                  </div>
                </div>

                <div class="form-group">
                  <h5 class="mb5">4. Pilih Bank</h5>
                  <select chosen="" multiple="" allow-single-deselect="true" data-placeholder="Pilih bank" no-results-text="'No bank with'" ng-model="bankFilter" ng-options="value.name as value.name for value in bankOptions" class="form-control ng-valid ng-dirty"><option value="0">BCA</option><option value="1">BII</option><option value="2">BTN</option><option value="3">CIMB NIAGA</option><option value="4">Citibank</option><option value="5">Danamon</option><option value="6">HSBC</option><option value="7">Mandiri</option><option value="8">Panin</option><option value="9">Standard Chartered</option></select>
                </div>
                <div class="form-group a-center">
                  <a href="" class="btn btn-info db" id="btn-done">Cari</a>
                </div>
              </div>



            </div>
          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Product List -->
        <section class="products products-creditcard row-fl mb20">

          <!-- CC #1 : Best -->
          <div class="block-page block-product block-recommend block-recommend--best">
            <div class="recommend">
              <div class="recommend__title">
                <strong>Point Reward Tertinggi</strong>
                <span class="pull-right font-xsm">
                  <i class="arrow recommend__arrow arrow--down"></i>
                  Rating: 8,5
                </span>
              </div>
              <div class="recommend__content">
                <div class="scorecard-content">
                  <ul class="scorecard-list">
                    <li class="cf">
                      <div class="scorecard-list-criteria">Entertainment</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback 3% cashback 3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Groceries</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Util./Mobile</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Travel</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Shopping</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                  </ul>
                  <div class="scorecard-comment">
                    <strong>Point Reward Tertinggi:</strong> Dapatkan 3.75x Point Reward dari Bank Danamon untuk semua transaksi sejumlah Rp 2.500,- yang dapat ditukarkan dengan berbagai macam keuntungan
                  </div>
                </div>
              </div>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="td-banklogo w-4">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/Danamon%20world%20Card_0.jpg?itok=o5ZXOpof" alt="">
                  </td>
                  <td class="td-details w-7 ">
                    <h5 class="mb0"><a href="#">Danamon Kartu Kredit World</a></h5>
                    <p class="font-sm">Nikmati cashback dan point reward yang tertinggi dari Danamon</p>
                  </td>
                  <td class="td-apply w-1">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Suku Bunga</span>
                  <strong>2,95%</strong>
                </li>
                <li>
                  <span class="extra-info db">Min Pendapatan</span>
                  <strong>Rp.10 Juta</strong>
                </li>
                <li>
                  <span class="extra-info db">Iuran Tahunan</span>
                  <strong>Rp.1.000.000*</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- CC #2 : Promo -->
          <div class="block-page block-product block-recommend block-recommend--promo">
            <div class="recommend">
              <div class="recommend__title">
                <strong>Free Cabin Luggage Bag</strong>
                <span class="pull-right font-xsm">
                  <i class="arrow recommend__arrow arrow--down"></i>
                  Rating: 8,1
                </span>
              </div>
              <div class="recommend__content">
                <div class="scorecard-content">
                  <ul class="scorecard-list">
                    <li class="cf">
                      <div class="scorecard-list-criteria">Petrol</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Groceries</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Util./Mobile</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Travel</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Shopping</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                  </ul>
                  <div class="scorecard-comment">
                    (optional) Extra information of the card, or verdict, sign up gift, recommended etc.
                  </div>
                </div>
              </div>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="td-banklogo w-4">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/HSBC%20VISA%20SIGNATURE_0.png?itok=pISslfwZ" alt="">
                  </td>
                  <td class="td-details w-7">
                    <h5 class="mb0"><a href="#">HSBC Signature Experience</a></h5>
                    <p class="font-sm">Hingga 10x point reward untuk penggunaan travel dan dining tertentu</p>
                  </td>
                  <td class="w-1">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Suku Bunga</span>
                  <strong>2,95 %</strong>
                </li>
                <li>
                  <span class="extra-info db">Min Pendapatan</span>
                  <strong>Rp.20 Juta</strong>
                </li>
                <li>
                  <span class="extra-info db">Annual Fee</span>
                  <strong>Rp.1.000.000</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- CC #3: Normal Card -->
          <div class="block-page block-product block-recommend block-recommend--normal">
            <div class="recommend">
              <div class="recommend__title">
                <span class="pull-right font-xsm">
                  <i class="arrow recommend__arrow arrow--down"></i>
                  Rating: 7,8
                </span>
              </div>
              <div class="recommend__content">
                <div class="scorecard-content">
                  <ul class="scorecard-list">
                    <li class="cf">
                      <div class="scorecard-list-criteria">Petrol</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Groceries</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Util./Mobile</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Travel</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Shopping</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                  </ul>
                  <div class="scorecard-comment">
                    (optional) Extra information of the card, or verdict, sign up gift, recommended etc.
                  </div>
                </div>
              </div>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="td-banklogo w-4">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/Danamon%20Credit%20Card%20Platinum.jpg?itok=0iqOrOAI" alt="">
                  </td>
                  <td class="td-details w-6">
                    <h5 class="mb0"><a href="#">Danamon Kartu Kredit Platinum</a></h5>
                    <p class="font-sm">Dapatkan cashback hingga 5% dan point Reward menarik setiap transaksi</p>
                  </td>
                  <td class="w-2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Suku Bunga</span>
                  <strong>2,95%</strong>
                </li>
                <li>
                  <span class="extra-info db">Min Pendapatan</span>
                  <strong>Rp.10 Juta</strong>
                </li>
                <li>
                  <span class="extra-info db">Iuran Tahunan</span>
                  <strong>Rp.500.000*</strong>
                </li>
              </ul>
            </div>
          </div>

          <p class="color-light font-xsm a-right products-footnote" >* = Gratis dengan kondisi</p>

        </section>

        <!-- inline popup -->
        <section class="row-fl mb20">

          <div id="apply-modal" class="inline-popup hidden">
            <div class="inline-popup-content">
              <h3 class="p10 font-lg inline-popup__header"><strong>Dapatkan Produk Keuangan Terbaik untuk Anda</strong></h3>

              <div class="p10 pt0">
                <p class="font-sm">
                  <strong>Ingin mengikuti perkembangan jasa dan produk keuangan terbaik?</strong> Daftarkan diri Anda pada update bulanan iMoney sekarang juga!
                </p>

                <form action="http://www.imoney.us5.list-manage1.com/subscribe/post?u=1db2c05f99f2ff02ccfb6ee11&amp;id=340374ccbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="a-left form-horizontal mt20 ng-pristine ng-valid" data-source="Fixed Deposit">
                  <div class="form-group">
                    <label for="inline-popup-email" class="fl-3 control-label">Email</label>
                    <div class="fl-9">
                      <input type="email" id="inline-popup-email" class="form-control" name="email" placeholder="emailanda@email.com" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fl-9 fl-offset-3">
                      <button type="submit" class="btn btn-success btn-strong">Kirim dan Lanjutkan</button>
                    </div>
                  </div>
                </form>
              </div>

            <div class="inline-popup-footer cf font-sm">
              <p class="pb10 mb0"><a href="http://www1.uob.com.my/personal/cards/credit/uob_cards_apply_one.html" id="inline-popup-provider-link">Tidak Terima Kasih. Lanjutkan saya ke website pihak penyedia.</a></p>
            </div>
            </div>

          </div>
        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo">

              <h4 class="headline-underline">Informasi Tentang Kartu Kredit Bank Danamon</h4> 

              <p>Kartu Kredit Bank Danamon disesuaikan dengan kebiasaan dan gaya hidup masing-masing nasabahnya, mulai dari charge card dengan pembayaran dalam dua mata uang, cicilan ringan, sampai dengan kartu kredit time sepak bola favorit Anda. Kartu Danamon juga menyediakan salah satu paket menarik seperti Fitur Travelink program yang akan membantu Anda untuk mengurus semua rancangan perjalanan Anda. Kartu kredit Danamon memiliki program reward menarik yang dilengkapi dengan berbagai macam penyedia dari MasterCard, Visa, juga American Express. Sebagai salah satu penyedia kartu American Express, kartu ini memiliki nilai lebih dalam hal penawaran istimewa untuk pengguna kartu AmEx.</p> 

              <h5 class="color-darkblue underline mt20">Kartu Kredit Terbaik Untuk Anda dari Bank Danamon</h5> 

              <p>Kartu kredit Danamon terbagi antara Classic, Gold, Platinum, Machester United Card yang merupakan kartu untuk para penggemar sepak bola, World card yang merupakan kartu dengan keistimewaan terbanyak. Kartu kredit Danamon Visa dan MasterCard tersedia khusus untuk kenyamanan Anda dalam melakukan transaksi dan menyesuaikan dengan gaya hidup modern Anda. Dengan Kartu Manchester United, Anda akan mendapatkan kartu kredit resmi klub sepak-bola ‘The Red Devils’ di Indonesia dengan berbagai diskon. Sedangkan kartu kredit World, merupakan salah satu produk premium dari MasterCard yang memiliki fitur-fitur untuk memuaskan selera tinggi Anda seperti berwisata. Kartu kredit American Express telah disediakan oleh Bank Danamon semenjak tahun 2006, dan sampai kini Danamon adalah penerbit tunggal kartu kredit American Express baik untuk nasabah individual dan korporasi.</p> 

              <h5 class="color-darkblue underline mt20">Alasan Mengapa Anda Memilih Kartu Kredit Bank Danamon</h5>

              <p>Selain dari berbagai tipe kartu yang telah dijelaskan diatas, kartu kredit Danamon juga memiliki paket Family Pack yang dimiliki pada hampir semua kartunya. Paket Family Pack merupakan paket yang dapat mengkontrol pengeluaran anggota keluarga Anda, jadi Anda nebas menentukan batas kredit untuk masing-masing anggota keluarga sesuai dengan kebutuhan. Juga, rincian transaksi pemakaian terpisah untuk masing-masing kartu, serta hanya satu biaya ringan bagi Anda dan maksimum 4 anggota keluarga. Selain memiliki asuransi kredit pada setiap kartunya, biaya tahunan kartu-kartu Danamon memiliki promosi gratis pada 1 tahun pertama untuk kartu baru yang Anda miliki.</p>
              
              <p><strong>Diatas tersedia daftar semua kartu kredit Danamon. Click pada kartu kredit pilihan Anda untuk mengetahui fitur dan keuntungan kartu tersebut, termasuk cashback, persyaratan, hadiah gratis and promosi (jika ada). Ketika Anda telah menentukan pilihan Anda, click pada tombol “Apply” untuk memulai proses aplikasi di website bank tujuan.</strong></p>
            </div>
          </div>
          <!-- Quick link to top of page -->
          <div class="a-center fl-12 block-groovepaper-grey p10">
            <a href="#">To top</a>
          </div>

        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__id header-logo--footer">iMoney.co.id</a>
              <p class="font-xsm color-light">Website Perbandingan Produk Finansial #1 di Indonesia</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/imoney.id" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/imoneyindonesia" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/103286007157252300886?prsrc=5" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privasi">Privacy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/hubungi-kami">Hubungi Kami</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.co.id</p>
            </div>
          </div>
        </footer>


      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>

    <script src="../js/fancybox/jquery.fancybox.pack.js"></script>

    <script type="text/javascript">
      (function($){

        var calSecondaryContent = $('.cal-secondary-content'),
            loaderBar = $('#loader-bar');

        $('.recommend__title').on('click',function(){
          $(this).next().slideToggle();
          $(this).find('.arrow').toggleClass('arrow--down arrow--up');
        });

        $('#btn-filter-toggle').on('click',function(e){
          var dataText = $(this).data('text'),
              currText = $(this).text();

          calSecondaryContent.slideToggle(function(){
            if (dataText === "Refine Search") {
              // next slide down the loader
              $('.loader').slideDown(400).delay(1000).slideUp(400);
              //$('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400);
              $('#search-result, .products').animate({opacity: 0.5}, 400, function(){
                $(this).delay(800).animate({opacity: 1}, 200);
              });
            };
          });

          $(this).data('text',currText).text(dataText);
          e.preventDefault();
        });

        $('#btn-done').on('click',function(e){
          $('#btn-filter-toggle').trigger('click');
          $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400);
          e.preventDefault();
        });

        // enable visual feedback when changes on the calculator
        $('#calculator input, #calculator select').change(function(){  
          loaderBar.fadeIn().delay(800).fadeOut();

          $('#search-result, .products').animate({opacity: 0.5}, 400, function(){
            $(this).delay(800).animate({opacity: 1}, 200);
          });


        });

        $('.btn-popup').fancybox({
          maxWidth: 400,
          padding: 0
        });
      }(jQuery));
    </script>

  </body>
</html>
