<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">

  <title>Kredit Mobil</title>
  <link rel="stylesheet" href="css/base-mobile-id.css">
  <link rel="stylesheet" href="css/animate.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__id">AturDuit.com</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>

    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Asuransi Mobil</a></li>
              <li><a href="#">Deposito Berjangka</a></li>
              <li><a href="#">Pinjaman Rumah (KPR)</a></li>
              <li><a href="#">Pinjaman Pribadi (KDA)</a></li>
              <li><a href="id-kta.html">Pinjaman Pribadi (KTA)</a></li>
              <li><a href="#">Kartu Kredit</a></li>
              <li><a href="#">Kredit Mobil</a></li>
              <li><a href="#">Pusat Pengetahuan</a></li>
            </ul>

          </div>
        </nav>

    <div class="page-header">
      <h1 class="page-title">Kredit Mobil</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">
        <!-- Calculator -->
        <section id="calculator" class="row-fl block-page pt10 mb20">
          <form action="">
            <!-- amount -->
            <div class="fl-7">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="amount">1. Berapa harga mobil Anda?</label>
                <div class="input-prepend">
                  <span class="prefix add-on">Rp</span>
                  <input type="text" name="amount" placeholder="250.000.000" value="250.000.000" id="amount" class="input-medium">
                </div>
              </div>
            </div>
            <!-- tenure-->
            <div class="fl-5">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="year">2. Lama pinjaman</label>
                <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="tenureFilter" ng-options="value.value as value.name for value in tenureOptions" ng-change="updateChanges()"><option value="0">- Harap Pilih -</option><option value="1">1 Tahun</option><option value="2">2 tahun</option><option value="3" selected="selected">3 tahun</option><option value="4">4 tahun</option><option value="5">5 tahun</option></select>
              </div>
            </div>

            <div class="cal-secondary bt fl-12 block-groovepaper-grey">
              <a href="#" id="btn-filter-toggle" data-text="Less Filters" class="db pt10 pb10">More Filters</a>
              <div class="cal-secondary-content">
                <div class="block-cal form-horizontal row-fl pb10">

                  <div class="form-group">
                    <label for="age" class="control-label fl-4">2. Jenis Asuransi</label>
                    <div class="fl-8">
                      <div class="btn-group">
                        <button class="btn ng-pristine ng-valid" ng-class="{'btn-group-pressed': filterAll}" ng-model="filterAll" ng-click="FilterClicked('all')">Semua</button> <!-- pressed state .btn-group-pressed -->
                        <button class="btn ng-pristine ng-valid btn-km-baru" ng-class="{'btn-group-pressed': filterNew}" ng-model="filterNew" ng-click="FilterClicked('new')"> Baru</button>
                        <button class="btn btn-group-last btn-group-pressed ng-pristine ng-valid btn-km-bekas" ng-class="{'btn-group-pressed': filterHand}" ng-model="filterHand" ng-click="FilterClicked('hand')">Bekas</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group a-center">
                  <a href="" class="btn btn-info db" id="btn-done">Hitung</a>
                </div>
              </div>
            </div>

          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result"><strong>Tersedia 26 hasil pencarian produk kredit mobil dari total 26 kredit mobil.</strong></p>

        <!-- Product List -->
        <section class="products products-kta row-fl mb20">

          <!-- Product #1 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/BCA.png?itok=AGAWovfE" alt="" class="table__bank-logo" >
                    <h5 class="mb0 fw400">BCA Finance <span class="label label-ad">Baru</span></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Bunga</strong>
                    <h3 class="mb0 font-lg color-complement">5.69%</h3> 
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 1.138.181</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <table class="table-transparent font-xsm">
                <tbody>
                  <tr>
                    <td class="w-6">Uang Muka</td>
                    <td class="bold">30% <span class="fw400">(Rp15.000.000)</span></td>
                  </tr>
                  <tr>
                    <td class="w-6">Total Jumlah Bunga Dibayarkan</td>
                    <td class="bold">Rp 5.974.500</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/BCA.png?itok=AGAWovfE" alt="" class="table__bank-logo" >
                    <h5 class="mb0 fw400">Mandiri Tunas Finance <span class="label label-ad">Baru</span></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Bunga</strong>
                    <h3 class="mb0 font-lg color-complement">5,65%</h3> 
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp1.137.014</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <table class="table-transparent font-xsm">
                <tbody>
                  <tr>
                    <td class="w-6">Uang Muka</td>
                    <td class="bold">30% <span class="fw400">(Rp15.000.000)</span></td>
                  </tr>
                  <tr>
                    <td class="w-6">Total Jumlah Bunga Dibayarkan</td>
                    <td class="bold">Rp 5.932.500</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/v2.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/BCA.png?itok=AGAWovfE" alt="" class="table__bank-logo" >
                    <h5 class="mb0 fw400">BCA Kredit Mobil Bekas <span class="label label-best">Bekas</span></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Bunga</strong>
                    <h3 class="mb0 font-lg color-complement">6,09%</h3> 
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 1.149.847</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <table class="table-transparent font-xsm">
                <tbody>
                  <tr>
                    <td class="w-6">Uang Muka</td>
                    <td class="bold">30% <span class="fw400">(Rp15.000.000)</span></td>
                  </tr>
                  <tr>
                    <td class="w-6">Total Jumlah Bunga Dibayarkan</td>
                    <td class="bold">Rp 6.394.500</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          

        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">

              <h4 class="headline-underline">Pengertian Kredit Mobil</h4> 

              <p>Kredit mobil merupakan salah satu fasilitas kredit yang diberikan bank/perusahaan kredit kepada pihak peminjam/nasabah untuk pembelian mobil. Jangka waktu kredit mobil pada umunya hampir sama dengan kredit tanpa agunan, yakni berkisar antara 1 hingga 5 tahun. Akan tetapi ada beberapa perusahaan yang dapat memberikan kredit hingga 7 tahun dengan paket atau persyaratan tertentu saja. Setiap kredit mobil dapat membiayai mobil idaman Anda hingga 70% atau 80% dari harga mobil tersebut, hal ini tergantung dari pihak penyedia pinjaman/bank dan ketentuan masing-masing.</p> 

              <h5 class="color-darkblue underline mt20">Bagaimana Sistem Kerja Kredit Mobil?</h5> 

              <p>Sama halnya dengan jenis pinjaman lain, kredit mobil mengharuskan Anda untuk melakukan angsuran tiap bulannya berdasarkan dari jumlah pinjaman yang diambil dan suku bunga yang dikenakan selama jangka waktu tertentu. Saat setelah Anda menandatangi kontrak perjanjian kredit mobil, Anda diharuskan membayar biaya awal yang terdiri dari jumlah uang muka mobil Anda dengan biaya administrasi, premi asuransi 1 tahun, dan juga cicilan untuk bulan pertama pada kredit mobil. Asuransi mobil yang diberikan dari pihak penyedia kredit akan bervariasi antara TLO, all risk/komprehensif atau gabungan TLO dan all risk.</p> 

              <h5 class="color-darkblue underline mt20">Uang Muka dan Asuransi Mobil</h5>

              <p>Uang muka atau down payment merupakan persentase dari harga mobil yang harus peminjam bayarkan kepada pihak penjual pada awal proses pembelian mobil. Persentase ini berkisar antara 20% hingga 30% dari harga mobil, sehingga jika Anda ingin mendapatkan mobil idaman Anda maka Anda harus setidaknya memiliki sejumlah uang sekitar 30% dari harga kendaraan tersebut.</p>

              <p>Asuransi mobil adalah salah satu persyaratan yang harus Anda ambil ketika melakukan pembelian mobil. Asuransi mobil yang harus Anda bayarkan adalah untuk polis selama satu tahun dan seperti yang dijelaskan diatas Anda dapat memilih asuransi dengan perlindungan TLO, all risk atau gabungan.</p>
                    
              <h5 class="color-darkblue underline mt20">Suku Bunga Kredit Mobil</h5>

              <p>Suku bunga kredit mobil akan dikenakan pada pihak peminjam sama dengan suku bunga kredit tanpa agunan yaitu suku bunga flat atau tetap. Yang berarti bunga pada cicilan setiap bulannya dikalkulasikan berdasar dari jumlah pokok pinjaman dikalikan dengan dengan suku bunga per tahun dan dibagi 12 bulan. Jumlah suku bunga ini akan bervariasi dari 5% hingga 14%. Sedangkan jumlah cicilan pokok hutang dihitung dari jumlah pokok pinjaman dibagi dengan durasi pinjaman dalam satuan bulan.</p>

              <h5 class="color-darkblue underline mt20">Pelunasan Awal</h5>

              <p>Melakukan pelunasan lebih awal dari jangka waktu yang disediakan akan menyebabkan penalti atau denda kepada pihak peminjam. Seandainya peminjam menyetujui perjanjian pinjaman dengan jangka waktu 5 tahun dan setelah 2 tahun sang peminjam melunasi sisa pokok pinjaman maka pada umumnya dia akan dikenakan denda sejumlah beberapa persen dari sisa hutang pinjaman tersebut. Dan jumlah persentase ini akan bervariasi untuk setiap bank, tergantung dengan regulasi masing-masing bank.</p>

              <h5 class="color-darkblue underline mt20">Keterlambatan Pembayaran</h5>

              <p>Denda keterlambatan pembayaran akan dibebankan kepada peminjam apabila sang peminjam membayar cicilan lewat dari tanggal jatuh tempo atau jumlah cicilan yang dibayarkan kurang dari jumlah angsuran yang seharusnya dibayarkan. Jika hal ini terjadi maka denda akan diberikan kepada pihak peminjam yang pada umumnya dikalkulasikan berdasarkan pada persentase denda dikalikan dengan jumlah angsuran dikalikan jumlah hari keterlambatan. Jika terjadi penunggakan pembayaran angsuran maka ketentuan yang berlaku akan tergantung dari pihak penyedia pinjaman itu sendiri.</p>

              <h5 class="color-darkblue underline mt20">Kredit Mobil Baru VS Mobil Bekas</h5>

              <p>Ada beberapa hal mendasar yang membedakan antara kredit mobil baru dan kredit mobil bekas diantaranya adalah:</p> 
              <ul><li>Harga mobil yang mobil baru dan mobil bekas akan berbeda dan tentunya harga mobil baru akan jauh lebih tinggi daripada mobil bekas. Hal ini menyebabkan sehingga jumlah uang muka yang harus Anda bayarkan pada awal pembayaran akan lebih tinggi untuk mobil baru, begitu juga hal ini akan meningkatkan jumlah angsuran tiap bulannya karena pokok pinjaman yang lebih besar.</li>
              <li>Sedangkan dalam hal suku bunga, untuk mobil baru suku bunganya akan lebih rendah dibandingkan mobil bekas pada umumnya.</li>
              <li>Dalam hal biaya perawatan, mobil baru hampir tidak ada sama sekali akan tetapi biaya perawatan untuk mobil bekas relatif ada.</li>
              <li>Sedangkan dalam perbandingan untuk nilai jual kembali, tentunya mobil baru akan berkurang relatif lebih banyak dari harga beli dibandingkan mobil bekas yang hanya akan mengalami penurunan sedikit. Akan tetapi perlu diingat mobil baru akan memiliki garansi jika mobil tersebut mengalami kecacatan.</li></ul>
            </div>
          </div>

        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__id header-logo--footer">iMoney.co.id</a>
              <p class="font-xsm color-light">Website Perbandingan Produk Finansial #1 di Indonesia</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/imoney.id" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/imoneyindonesia" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/103286007157252300886?prsrc=5" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privasi">Privacy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/hubungi-kami">Hubungi Kami</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.co.id</p>
            </div>
          </div>
        </footer>


      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>

    <script type="text/javascript">
      (function($){

        var calSecondaryContent = $('.cal-secondary-content');

        $('.recommend__title').on('click',function(){
          $(this).next().slideToggle();
        });

        $('#btn-filter-toggle').on('click',function(e){
          var dataText = $(this).data('text'),
              currText = $(this).text();
          calSecondaryContent.slideToggle();

          $(this).data('text',currText).text(dataText);
          e.preventDefault();
        });

        // enable visual feedback when changes on the calculator
        $('#calculator input, #calculator select').change(function(){
          
          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
            $('#search-result').addClass('animated flash');
          });
        });


        $('#btn-done').on('click',function(e){
          if(calSecondaryContent.is(':visible')){
            $('#btn-filter-toggle').click();
            e.preventDefault();

            //first remove classes
            $('#search-result').removeClass('animated flash'); 

            // next slide down the loader
            $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
                $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400, function(){
                $('#search-result').addClass('animated flash');
              });
            });
          }
        });
      }(jQuery));
    </script>

  </body>
</html>
