<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">

  <title>Kredit Pemilikan Rumah</title>
  <link rel="stylesheet" href="css/base-mobile-id.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__id">AturDuit.com</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>

    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Asuransi Mobil</a></li>
              <li><a href="#">Deposito Berjangka</a></li>
              <li><a href="#">Pinjaman Rumah (KPR)</a></li>
              <li><a href="#">Pinjaman Pribadi (KDA)</a></li>
              <li><a href="id-kta.html">Pinjaman Pribadi (KTA)</a></li>
              <li><a href="#">Kartu Kredit</a></li>
              <li><a href="#">Kredit Mobil</a></li>
              <li><a href="#">Pusat Pengetahuan</a></li>
            </ul>

          </div>
        </nav>

    <div class="page-header">
      <h1 class="page-title">Kredit Pemilikan Rumah</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">
        <!-- Calculator -->
        <section id="calculator" class="row-fl block-page pt10 mb20">
          <form action="">
            <!-- amount -->
            <div class="fl-7">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="amount">1. Jumlah Pinjaman</label>
                <div class="input-prepend">
                  <span class="prefix add-on">Rp</span>
                  <input type="text" name="amount" placeholder="250.000.000" value="250.000.000" id="amount" class="input-medium">
                </div>
              </div>
            </div>
            <!-- tenure-->
            <div class="fl-5">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="year">2. Jangka</label>
                <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="tenureFilter" ng-options="value.value as value.name for value in tenureOptions" ng-change="updateChanges()"><option value="0">- Harap Pilih -</option><option value="1">1 Tahun</option><option value="2">2 tahun</option><option value="3" selected="selected">3 tahun</option><option value="4">4 tahun</option><option value="5">5 tahun</option></select>
              </div>
            </div>

            <div class="cal-secondary bt fl-12 block-groovepaper-grey">
              <a href="#" id="btn-filter-toggle" data-text="Less Filters" class="db pt10 pb10">More Filters</a>
              <div class="cal-secondary-content">
                <div class="block-cal form-horizontal row-fl pb10">

                  <div class="form-group">
                    <label for="age" class="control-label fl-4">3. Periode Penalti Pelunasan</label>
                    <div class="fl-8">
                      <div class="btn-group">
                        <button class="btn ng-pristine ng-valid" ng-class="{'btn-group-pressed': filterAll}" ng-model="filterAll" ng-click="FilterClicked('all')">Semua</button> <!-- pressed state .btn-group-pressed -->
                        <button class="btn ng-pristine ng-valid" ng-class="{'btn-group-pressed': filterNew}" ng-model="filterNew" ng-click="FilterClicked('new')"> Iya</button>
                        <button class="btn btn-group-last btn-group-pressed ng-pristine ng-valid" ng-class="{'btn-group-pressed': filterHand}" ng-model="filterHand" ng-click="FilterClicked('hand')">Tidak</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group a-center">
                  <a href="" class="btn btn-info db" id="btn-done">Hitung</a>
                </div>
              </div>
            </div>

          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result">Tersedia 21 hasil pencarian untuk pinjaman sejumlah <strong>Rp 250.000.000</strong> dengan periode <strong>20 tahun</strong>, semua dengan periode penalti pelunasan awal.</p>

        <!-- Product List -->
        <section class="products products-kta row-fl mb20">

          <!-- Product #1 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/home_loan_comparison_page_logo/public/Bank%20BTN.png?itok=6K5Oi0BF" alt="" class="table__bank-logo" >
                    <h5 class="mb0 fw400"><a href="#">BTN KPR Sejahtera FLPP</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Bunga</strong>
                    <h3 class="mb0 font-lg color-complement">7,25%</h3> 
                    <span class="extra-info db">(per tahun)</span>
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 1.975.940</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--2">
                <li>
                  <span class="extra-info db">Plafon Pinjaman</span>
                  <strong>90%</strong>
                </li>
                <li>
                  <span class="extra-info db">Periode Penalti Pelunasan</span>
                  <strong>15 tahun</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/home_loan_comparison_page_logo/public/HSBC%20.png?itok=TcdazbhO" alt="" class="table__bank-logo" >
                    <h5 class="mb0 fw400"><a href="#">HSBC KPR</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Bunga</strong>
                    <h3 class="mb0 font-lg color-complement">8,50%</h3> 
                    <span class="extra-info db">(per tahun)</span>
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 2.169.558</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--2">
                <li>
                  <span class="extra-info db">Plafon Pinjaman</span>
                  <strong>70%</strong>
                </li>
                <li>
                  <span class="extra-info db">Periode Penalti Pelunasan</span>
                  <strong>1 tahun</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/home_loan_comparison_page_logo/public/danamon.jpg?itok=snJK7ym3" alt="" class="table__bank-logo" >
                    <h5 class="mb0 fw400"><a href="#">Danamon KPR Regular</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Suku Bunga</strong>
                    <h3 class="mb0 font-lg color-complement">9,25%</h3> 
                    <span class="extra-info db">(per tahun)</span>
                  </td>
                  <td class="w-6">
                    <strong class="extra-info bold db">Cicilan per bulan</strong>
                    <h3 class="mb5 font-lg">Rp 2.289.667</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--2">
                <li>
                  <span class="extra-info db">Plafon Pinjaman</span>
                  <strong>80%</strong>
                </li>
                <li>
                  <span class="extra-info db">Periode Penalti Pelunasan</span>
                  <strong>1 tahun</strong>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- inline popup -->
        <section class="row-fl mb20">

          <div id="apply-modal" class="inline-popup hidden">
            <div class="inline-popup-content">
              <h3 class="p10 font-lg inline-popup__header"><strong>Dapatkan Produk Keuangan Terbaik untuk Anda</strong></h3>

              <div class="p10 pt0">
                <p class="font-sm">
                  <strong>Ingin mengikuti perkembangan jasa dan produk keuangan terbaik?</strong> Daftarkan diri Anda pada update bulanan iMoney sekarang juga!
                </p>

                <form action="http://www.imoney.us5.list-manage1.com/subscribe/post?u=1db2c05f99f2ff02ccfb6ee11&amp;id=340374ccbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="a-left form-horizontal mt20 ng-pristine ng-valid" data-source="Fixed Deposit">
                  <div class="form-group">
                    <label for="inline-popup-email" class="fl-3 control-label">Email</label>
                    <div class="fl-9">
                      <input type="email" id="inline-popup-email" class="form-control" name="email" placeholder="emailanda@email.com" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fl-9 fl-offset-3">
                      <button type="submit" class="btn btn-success btn-strong">Kirim dan Lanjutkan</button>
                    </div>
                  </div>
                  
                  
                </form>
              </div>

            

            <div class="inline-popup-footer cf font-sm">
              <p class="pb10 mb0"><a href="http://www1.uob.com.my/personal/cards/credit/uob_cards_apply_one.html" id="inline-popup-provider-link">Tidak Terima Kasih. Lanjutkan saya ke website pihak penyedia.</a></p>
            </div>
            </div>

          </div>
        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">

              <h4 class="headline-underline">Apa itu Kredit Pemilikan Rumah (KPR)?</h4> 

              <p>Kredit Pemilikan Rumah (KPR) adalah pinjaman yang digunakan untuk membeli sebuah properti. Pinjaman rumah ini bisa digunakan untuk pembiayaan ruko, rukan, rusun, apartemen (KPA), maupun perumahan. KPR yang tersedia di Indonesia pada umumnya berasal dari pihak bank, developer dan spesialis penyedia pinjaman rumah.</p> 

              <p>Jika Anda telah memiliki pinjaman rumah/KPR dan ingin menggantikan pinjaman tersebut dengan produk lain atau penyedia kredit lain tanpa mengganti rumah yang Anda inginkan, Anda dapat mengambil sistem yang dikenal dengan pendanaan kembali atau “refinancing” (take over KPR).</p> 

              <h5 class="color-darkblue underline mt20">Bagaimana Sistem Kerja Pinjaman Rumah?</h5> 

              <p>Pada pelaksanaan perjanjian kredit rumah, Anda diharuskan untuk membuat angsuran pada setiap bulan untuk sepanjang jangka waktu pinjaman, sampai Anda menyelesaikan atau melunasi seluruh utang pinjaman pokok ditambah bunga. Pada awal masa pembayaran angsuran, sebagian besar porsi dari dana angsuran bulanan akan menutupi bunga dari pinjaman dan sedikit porsi cicilan untuk mengurangi jumlah pinjaman pokok. Akan tetapi setelah periode tertentu semakin besar porsi cicilan bulanan yang akan digunakan untuk melunasi pinjaman pokok.</p> 

              <p>Hal ini disebabkan karena suku bunga efektif/menurun yang dimiliki oleh KPR. Pada suku bunga menurun, bunga yang dikenakan berdasarkan pada sisa jumlah pinjaman pokok pada setiap bulannya, dan jumlah pinjaman pokok berkurang setiap angsuran bulanan yang dibayarkan.</p> 

              <h5 class="color-darkblue underline mt20">Suku Bunga &amp; Ketentuan Lainnya</h5>

              <dl>
              <dt>Suku Bunga Efektif/Menurun:</dt>
              <dd>Suku bunga efektif/menurun merupakan suku bunga yang perkaliannya berdasarkan pada sisa jumlah pinjaman pokok pada setiap bulan, dimana jumlah pinjaman pokok berkurang dari angsuran bulanan yang dibayarkan.Suku bunga untuk KPR dan KPA di Indonesia biasanya memiliki 2 jenis periode. Periode pertama adalah periode tetap (fix) dan periode suku bunga mengambang (floating). Suku bunga periode fix pada umumnya terdapat beragam pilihan dari 1 sampai 5 tahun dengan suku bunga yang berbeda. Setiap pilihan memiliki keuntungan dan ciri khas masing-masing dimana semakin lama durasi pinjaman fix, suku bunga akan semakin tinggi. Setelah suku bunga periode fix berlalu, sisa dari jangka waktu (periode seterusnya) suku bunga akan berubah-ubah atau difloatingkan sesuai dengan perturan dan regulasi dari bank atau penyedia kredit tersebut. Maka suku bunga floating, pada umumnya akan melebihi dari suku bunga fix.</dd>
                    
              <dt>Suku Bunga Dasar Kredit:</dt>
              <dd>Suku Bunga Dasar Kredit adalah adalah sebuah suku bunga yang digunakan bank sebagai referensi suku bunga floating (mengambang) di KPR. Kebijakan Suku Bunga Dasar Kredit dikeluarkan Bank Indonesia (BI) dengan tujuan untuk meningkatkan transparansi mengenai karakteristik produk perbankan termasuk manfaat, biaya dan resiko masing-masing produk. Selain itu, Suku Bunga Dasar Kredit membantu nasabah mengetahui produk bank, serta mendorong persaingan sehat dalam industri perbankan melalui terciptanya disiplin pasar yang lebih baik. Oleh karena itu, Bank harus mempubllikasikan suku bunga dasar kredit mereka di website mereka masing-masing atau di kantor cabang mereka.</dd>

              <dt>Uang Muka:</dt>
              <dd><p>Uang muka merupakan pembayaran di awal yang dilakukan pembeli rumah atau mobil. Uang muka biasanya berupa persentase dari total harga aset yang ingin dibeli. Contohnya, 20% uang muka untuk membeli rumah seharga Rp. 1.000.000.000 adalah Rp. 200.000.000</p></dd>

              <dt>Penyitaan:</dt>
              <dd><p>Sebuah penyitaan terjadi ketika bank mengambil alih properti Anda dan melaksanakan penjualan aset tersebut untuk melunasi sisa jumlah pinjaman yang tidak mampu Anda bayar. Ini sering terjadi ketika Anda tidak dapat membayar cicilan bulanan Anda dengan konsisten.</p></dd>

              <dt>Masa Pinjaman:</dt>
              <dd><p>Masa pinjaman atau lebih sering dikenal sebagai tenor pinjaman/jangka waktu, menunjukkan jumlah tahun yang telah dijanjikan untuk melunasi semua pinjamannya. Jika KPR mempunyai tenor 20 tahun, peminjam harus melunasi semua pinjamannya pada tahun ke 20. Jika peminjam melunasi semua pinjamannya bukan pada masa yang dijanjikan, makan peminjam akan terkena penalti.</p></dd>
              </dl>
            </div>
          </div>

        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__id header-logo--footer">iMoney.co.id</a>
              <p class="font-xsm color-light">Website Perbandingan Produk Finansial #1 di Indonesia</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/imoney.id" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/imoneyindonesia" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/103286007157252300886?prsrc=5" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privasi">Privacy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/hubungi-kami">Hubungi Kami</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.co.id</p>
            </div>
          </div>
        </footer>


      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>
    <script src="../js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
      (function($){

        var calSecondaryContent = $('.cal-secondary-content');

        $('.recommend__title').on('click',function(){
          $(this).next().slideToggle();
        });

        $('#btn-filter-toggle').on('click',function(e){
          var dataText = $(this).data('text'),
              currText = $(this).text();
          calSecondaryContent.slideToggle();

          $(this).data('text',currText).text(dataText);
          e.preventDefault();
        });

        $('#btn-done').on('click',function(e){
          if(calSecondaryContent.is(':visible')){
            $('#btn-filter-toggle').click();
            //first remove classes
            $('#search-result').removeClass('animated flash'); 

            // next slide down the loader
            $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
              $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400, function(){
                $('#search-result').addClass('animated flash');
              });
            });
            e.preventDefault();
          }
        });

        // enable visual feedback when changes on the calculator
        $('#calculator input, #calculator select').change(function(){
          
          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
            $('#search-result').addClass('animated flash');
          });
        });

        // Inline Popup
        $('.btn-popup').fancybox({
          maxWidth: 400,
          padding: 0
        });
      }(jQuery));
    </script>

  </body>
</html>
