<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">
  <title>Kartu Kredit</title>
  <link rel="stylesheet" href="../css/creditcard.css"> <!-- base theme cc css -->
  <link rel="stylesheet" href="css/mb-creditcard.css"> <!-- mobile theme cc css-->
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__ph">imoney.ph</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>
    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Credit Card</a></li>
              <li><a href="#">Health Insurance</a></li>
              <li><a href="#">Travel Insurance</a></li>
              <li><a href="#">Housing Loan</a></li>
              <li><a href="#">Personal Loan</a></li>
              <li><a href="#">Savings Account</a></li>
              <li><a href="#">Time Deposit</a></li>
              <li><a href="#">Car Loan</a></li>
              <li><a href="#">Learning Centre</a></li>
            </ul>

          </div>
        </nav>
    <div class="page-header">
      <h1 class="page-title">Credit Card</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">

        <!-- Search Result-->
        <a href="#" id="btn-filter-toggle" data-text="Close" class="pull-right bold font-sm" style='margin-right: -10px'>Refine Search</a>
        <p class="mb5 row-fl font-sm dib v-top" id="search-result">
          <strong>Showing 145 cards</strong> <img src="img/loader-bar.gif" class="loader-bar hidden" id="loader-bar" >
        </p>

        <!-- Calculator -->
        <section id="calculator" class="row-fl mb10">
          <form action="">
            <div class="cal-secondary">
              <div class="cal-secondary-content pt10" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc">
                <div class="form-group checklist-2col">
                  <h5 class="mb5">1. I spend most on:</h5>
                  <!-- ngRepeat: filter in spendingOptions --><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Gas"><input type="checkbox" value="Petrol" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Gas</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Groceries"><input type="checkbox" value="Groceries" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Groceries</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Utilities"><input type="checkbox" value="Utilities" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Utilities</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Travel"><input type="checkbox" value="Travel" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Travel</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Shopping"><input type="checkbox" value="Shopping" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Shopping</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Dining"><input type="checkbox" value="Dining" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Dining</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Entertainment"><input type="checkbox" value="Entertainment" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Entertainment</label>
                  </div><div ng-repeat="filter in spendingOptions" class="checkbox ng-scope">
                    <label class="label-Insurance"><input type="checkbox" value="Insurance" ng-model="filter.checked" ng-click="updateFilters('spending')" class="ng-pristine ng-valid">Insurance</label>
                  </div>
                </div>

                <div class="form-group">
                  <h5 class="mb5">2. Monthly Income</label>
                  <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="incomeFilter" ng-options="value.value as value.name for value in incomeOptions" ng-change="updateFilters('income')"><option value="0" selected="selected">- Please select -</option><option value="1">&#8369;0 - &#8369;15,000</option><option value="2">&#8369;15,001 - &#8369;20,000</option><option value="3">&#8369;20,001 - &#8369;30,000</option><option value="4">&#8369;30,001 - &#8369;80,000</option><option value="5">&#8369;80,001 Onwards</option></select>
                </div>

                <div class="form-group">
                  <h5 class="mb5">3. Other Card Features</h5>
                  <!-- ngRepeat: filter in showOptions --><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Best Cards"><input type="checkbox" value="Best Cards" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding font-xsm label label-best">Best Cards</span></label>
                  </div><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Promo Cards"><input type="checkbox" value="Promo Cards" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding font-xsm label label-ad">Promo Cards</span></label>
                  </div><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Prestige"><input type="checkbox" value="Prestige" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding">Prestige</span></label>
                  </div><div class="checkbox ng-scope" ng-repeat="filter in showOptions" ng-hide="isIslamicPage &amp;&amp; filter.name == 'Islamic card'">
                    <label class="label-Zero Annual Fee Cards"><input type="checkbox" value="Zero Annual Fee Cards" ng-model="filter.checked" ng-change="updateFilters('show')" class="ng-pristine ng-valid"><span ng-class="filter.class" class="ng-binding">Zero Annual Fee Cards</span></label>
                  </div>
                </div>

                <div class="form-group">
                  <h5 class="mb5">4. Select Banks</h5>
                  <select chosen="" multiple="" allow-single-deselect="true" data-placeholder="Pilih bank" no-results-text="'No bank with'" ng-model="bankFilter" ng-options="value.name as value.name for value in bankOptions" class="form-control ng-valid ng-dirty"><option value="0">Allied Bank</option><option value="1">BDO</option><option value="2">BPI</option><option value="3">Citibank</option><option value="4">Eastwest Bank</option><option value="5">HSBC</option><option value="6">Maybank</option><option value="7">Metrobank</option><option value="8">PNB</option><option value="9">RCBC</option><option value="10">Security Bank</option><option value="11">Standard Chartered</option><option value="12">UCPB</option><option value="13">Union Bank</option></select>
                </div>
                <div class="form-group a-center">
                  <a href="" class="btn btn-info db" id="btn-done">Search</a>
                </div>
              </div>



            </div>
          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Product List -->
        <section class="products products-creditcard row-fl mb20">

          <!-- CC #1 : Best -->
          <div class="block-page block-product block-recommend block-recommend--best">
            <div class="recommend">
              <div class="recommend__title">
                <strong>Best Reward Card</strong>
                <span class="pull-right font-xsm">
                  <i class="arrow recommend__arrow arrow--down"></i>
                  Rating: 8.1
                </span>
              </div>
              <div class="recommend__content">
                <div class="scorecard-content">
                  <ul class="scorecard-list">
                    <li class="cf">
                      <div class="scorecard-list-criteria">Entertainment</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Groceries</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Util./Mobile</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Travel</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Shopping</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                  </ul>
                  <div class="scorecard-comment">
                    Groceries can eat up a lot of your monthly budget.
                  </div>
                </div>
              </div>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="td-banklogo w-4">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/credit_card_thumbnail__85_x_4x_/public/Citibank_Cashback_credit_Card.png?itok=JSDzQyKN" alt="">
                  </td>
                  <td class="td-details w-6">
                    <h5 class="mb0"><a href="#">Citibank Cashback Card</a></h5>
                    <p class="font-sm"> Ultimate companion on Groceries.</p>
                  </td>
                  <td class="td-apply w-2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Interest Rate</span>
                  <strong class="font-lg">3.5%</strong>
                </li>
                <li>
                  <span class="extra-info db">Balance Transfer</span>
                  <strong class="font-lg">11.88%</strong>
                  <span class="extra-info db">12 months</span>
                </li>
                <li>
                  <span class="extra-info db">Annual Fee</span>
                  <strong class="font-lg">&#8369;2,800*</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- CC #2 : Promo -->
          <div class="block-page block-product block-recommend block-recommend--promo">
            <div class="recommend">
              <div class="recommend__title">
                <strong>Free Cabin Luggage Bag</strong>
                <span class="pull-right font-xsm">
                  <i class="arrow recommend__arrow arrow--down"></i>
                  Rating: 8.0
                </span>
              </div>
              <div class="recommend__content">
                <div class="scorecard-content">
                  <ul class="scorecard-list">
                    <li class="cf">
                      <div class="scorecard-list-criteria">Petrol</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Groceries</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Util./Mobile</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Travel</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Shopping</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                  </ul>
                  <div class="scorecard-comment">
                    <strong>Sign Up Promo:</strong> Up to &#8369;1,049* in cash back and rewards are up for grabs! Offer until 31st July 2014
                  </div>
                </div>
              </div>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="td-banklogo w-4">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/HSBC%20VISA%20SIGNATURE_0.png?itok=pISslfwZ" alt="">
                  </td>
                  <td class="td-details w-6">
                    <h5 class="mb0"><a href="#">HSBC Visa Signature Card</a></h5>
                    <p class="font-sm">Earn up to 10x Reward Points from retail spending</p>
                  </td>
                  <td class="w-2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Interest Rate</span>
                  <strong class="font-lg">2.75%</strong>
                </li>
                <li>
                  <span class="extra-info db">Balance Transfer</span>
                  <strong class="font-lg">10.56%</strong>
                  <span class="extra-info db">12 months</span>
                </li>
                <li>
                  <span class="extra-info db">Annual Fee</span>
                  <strong class="font-lg">&#8369;2,750</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- CC #3: Normal Card -->
          <div class="block-page block-product block-recommend block-recommend--normal">
            <div class="recommend">
              <div class="recommend__title">
                <span class="pull-right font-xsm">
                  <i class="arrow recommend__arrow arrow--down"></i>
                  Rating: 7.1
                </span>
              </div>
              <div class="recommend__content">
                <div class="scorecard-content">
                  <ul class="scorecard-list">
                    <li class="cf">
                      <div class="scorecard-list-criteria">Petrol</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Groceries</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Util./Mobile</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Travel</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                    <li class="cf">
                      <div class="scorecard-list-criteria">Shopping</div>
                      <div class="scorebar scorebar-sm">
                        <div class="scorebar-score" style="width:60%"></div>
                      </div>
                      <div class="scorecard-list-content">3% cashback</div>
                    </li>
                  </ul>
                  <div class="scorecard-comment">
                    (optional) Extra information of the card, or verdict, sign up gift, recommended etc.
                  </div>
                </div>
              </div>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="td-banklogo w-4">
                    <img typeof="foaf:Image" src="http://www.imoney.co.id/sites/www.imoney.co.id/files/styles/credit_card_thumbnail__85_x_4x_/public/Danamon%20Credit%20Card%20Platinum.jpg?itok=0iqOrOAI" alt="">
                  </td>
                  <td class="td-details w-6">
                    <h5 class="mb0"><a href="#">Citibank Platinum Card</a></h5>
                    <p class="font-sm">High credit limit for this card.</p>
                  </td>
                  <td class="w-2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Interest Rate</span>
                  <strong class="font-lg">2.5%</strong>
                </li>
                <li>
                  <span class="extra-info db">Balance Transfer</span>
                  <strong class="font-lg">8.16%</strong>
                  <span class="extra-info db">12 months</span>
                </li>
                <li>
                  <span class="extra-info db">Annual Fee</span>
                  <strong class="font-lg">&#8369;2,500</strong>
                </li>
              </ul>
            </div>
          </div>

          <p class="color-light font-xsm a-right products-footnote" >* = Waived with condition</p>
        </section>

        <!-- inline popup -->
        <section class="row-fl mb20">

          <div id="apply-modal" class="inline-popup hidden">
            <div class="inline-popup-content">
              <h3 class="p10 font-lg inline-popup__header"><strong>Get the best financial deals in the Philippines</strong></h3>

              <div class="p10 pt0">
                <p class="font-sm">
                  <strong>Want to keep up with the latest news on savings, loans and investments?</strong> Sign up for iMoney’s newsletter now!
                </p>

                <form action="http://www.imoney.us5.list-manage1.com/subscribe/post?u=1db2c05f99f2ff02ccfb6ee11&amp;id=340374ccbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="a-left form-horizontal mt20 ng-pristine ng-valid" data-source="Fixed Deposit">
                  <div class="form-group">
                    <label for="inline-popup-email" class="fl-3 control-label">Email</label>
                    <div class="fl-9">
                      <input type="email" id="inline-popup-email" class="form-control" name="email" placeholder="yourname@email.com" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fl-9 fl-offset-3">
                      <button type="submit" class="btn btn-success btn-strong">Submit and Continue</button>
                    </div>
                  </div>
                </form>
              </div>

            <div class="inline-popup-footer cf font-sm">
              <p class="pb10 mb0"><a href="http://www1.uob.com.my/personal/cards/credit/uob_cards_apply_one.html" id="inline-popup-provider-link">No thanks. Direct me to the providers website.</a></p>
            </div>
            </div>

          </div>
        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo">

              <h4 class="headline-underline">Best Credit Card in the Philippines</h4> 

              <p>What is the best credit card in the Philippines? Choosing the best credit card in the Philippines requires research. The consumer have to know the specific features one credit card holds, is it good to for dining since it gives endless discounts to restaurants? Or are the traveling perks in the credit card unmatched by other credit cards? Is the cashback feature big for groceries and gas? Depending on what type of consumer, the card that suits you best can give you better cash management and cash flow. Consumers can choose from the list of credit cards in the Philippines from the table above.</p> 

              <h4 class="headline-underline mt20">Credit Card Online Application</h4> 

              <p>Although it is still on the infancy stage, online credit card application is available through credit card company’s websites is on an uprise in the Philippines. The first stage of the application process requires you to fill out an application form and choose which credit card you like in the list provided by the credit card company. After 3-5 days, either via email or a phone call, you will be notified if your application has been approved or rejected after the assessment period. If approved, it takes roughly 5 more days for the credit card company to give you your card. If rejected, you have to try to apply to other banks, or wait six more months before you can apply again.</p> 

              <h4 class="headline-underline mt20">Credit Card Application Requirements</h4>

              <p>The basic requirements in a credit card application, online or not are payslips or latest Income Tax Return (ITR) and certificate of employment (if employed) or a proof of your existing business (if self-employed). All of these are necessary for credit assessment. Bear in mind that it in the Philippines, the money you make monthly or annually will be the sole deciding factor for eligibility.</p>
            </div>
          </div>
          <!-- Quick link to top of page -->
          <div class="a-center fl-12 block-groovepaper-grey p10">
            <a href="#">To top</a>
          </div>

        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__ph header-logo--footer">iMoney.ph</a>
              <p class="font-xsm color-light">Philippines no. 1 financial comparison website</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/iMoneyPH" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/iMoneyPH" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/+ImoneyPh" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/aboutus">About</a></li>
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.ph</p>
            </div>
          </div>
        </footer>
      </div>

    </div>

         <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>
     <script src="../js/fancybox/jquery.fancybox.pack.js"></script>

    <script type="text/javascript">
      (function($){

        var calSecondaryContent = $('.cal-secondary-content'),
            loaderBar = $('#loader-bar');

        $('.recommend__title').on('click',function(){
          $(this).next().slideToggle();
          $(this).find('.arrow').toggleClass('arrow--down arrow--up');
        });

        $('#btn-filter-toggle').on('click',function(e){
          var dataText = $(this).data('text'),
              currText = $(this).text();

          calSecondaryContent.slideToggle(function(){
            if (dataText === "Refine Search") {
              // next slide down the loader
              $('.loader').slideDown(400).delay(1000).slideUp(400);
              //$('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400);
              $('#search-result, .products').animate({opacity: 0.5}, 400, function(){
                $(this).delay(800).animate({opacity: 1}, 200);
              });
            };
          });

          $(this).data('text',currText).text(dataText);
          e.preventDefault();
        });

        $('#btn-done').on('click',function(e){
          $('#btn-filter-toggle').trigger('click');
          $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400);
          e.preventDefault();
        });

        // enable visual feedback when changes on the calculator
        $('#calculator input, #calculator select').change(function(){  
          loaderBar.fadeIn().delay(800).fadeOut();

          $('#search-result, .products').animate({opacity: 0.5}, 400, function(){
            $(this).delay(800).animate({opacity: 1}, 200);
          });


        });

        $('.btn-popup').fancybox({
          maxWidth: 400,
          padding: 0
        });
      }(jQuery));
    </script>

  </body>

</html>

