<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">
  <title>Car Loan</title>
  
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__ph">imoney.ph</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>
    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Credit Card</a></li>
              <li><a href="#">Health Insurance</a></li>
              <li><a href="#">Travel Insurance</a></li>
              <li><a href="#">Housing Loan</a></li>
              <li><a href="#">Personal Loan</a></li>
              <li><a href="#">Savings Account</a></li>
              <li><a href="#">Time Deposit</a></li>
              <li><a href="#">Car Loan</a></li>
              <li><a href="#">Learning Centre</a></li>
            </ul>

          </div>
        </nav>
    <div class="page-header">
      <h1 class="page-title">Car Loan</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">
        <!-- Calculator -->
        <section id="calculator" class="row-fl block-page pt10 mb20">
          <form action="">
            <!-- amount -->
            <div class="fl-6 fl-block">
              <div class="form-group mb10">
                <label class="control-label mb5 db" for="amount">1. My car is?</label>
                <div class="btn-group mb10">
                <!-- ngRepeat: carType in carTypes --><button class="btn ng-scope ng-binding btn-group-pressed" ng-class="{'btn-group-pressed' : filterCarType == carType.label, 'btn-group-last': $last}" ng-repeat="carType in carTypes" ng-click="setCarType(carType.label)">New car</button><button class="btn ng-scope ng-binding  btn-group-last" ng-class="{'btn-group-pressed' : filterCarType == carType.label, 'btn-group-last': $last}" ng-repeat="carType in carTypes" ng-click="setCarType(carType.label)">Second hand car</button>
              </div>
              </div>
            </div>
            <!-- tenure-->

            <div class="fl-6 fl-block">
              <div class="form-group mb10">
                <label class="control-label mb5 db" for="year">2. My car cost?</label>
                <div class="input-prepend">
                  <span class="prefix add-on ng-binding">₱</span>
                  <input type="text" name="amount" placeholder="700,.000" value="700,000" id="amount" class="input-medium">
                </div>
              </div>
            </div>
            
            <div class="fl-6 fl-block">
              <label class="control-label mb5 pt5 db" for="amount">3. I will pay a downpayment of</label>
              <div class="btn-group mb10">
                <button class="btn ng-scope ng-binding btn-group-pressed" ng-class="" ng-repeat="" ng-click="">20%</button><button class="btn ng-scope ng-binding " ng-class="" ng-repeat="" ng-click="">30%</button><button class="btn ng-scope ng-binding" ng-class="" ng-repeat="" ng-click="">40%</button><button class="btn ng-scope ng-binding  btn-group-last" ng-class="" ng-repeat="" ng-click="">50%</button>
              </div>
            </div>
            <div class="fl-6 fl-block">
              <div class="form-group mb10">
                <label for="age" class="control-label mb5 pt5 db">4. Loan Period (Months)</label>
                <div id="tenure-select">
                  <select name="tenure" id="tenure" ng-options="tenure as tenure for tenure in tenures" class="form-control ng-valid ng-dirty" ng-model="filterTenure"><option value="0">12</option><option value="1">18</option><option value="2">24</option><option value="3" selected="selected">36</option><option value="4">48</option><option value="5">60</option><option value="6">72</option></select>
                </div>
              </div>
            </div>                 

          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result">
          Showing 10 results for all <strong>Second hand</strong> car loans of <strong>&#8369;350,000</strong> loan for <strong>36</strong> months.</strong></p>

        <!-- Product List -->
        <section class="products products-kta row-fl mb20">

          <!-- Product #1 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/car_loan_compare_page_logo/public/security%20bank.jpg?itok=BOivt48Y" alt="" class="table__bank-logo" >                    
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Interest Rate</strong>
                    <h3 class="mb0 font-lg color-complement">4.79%</h3> 
                    <strong class="extra-info">Effective interest rate: 8.93%</strong>
                  </td>
                  <td class="w-6 bl">
                    <strong class="extra-info bold db">Monthly Repayment</strong>
                    <h3 class="mb5 font-lg">&#8369;17,791</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--2 pt5 pb5">
                <li>
                  <span class="extra-info db">Total Interest Over Loan Period</span>                  
                </li>
                <li>
                  <strong class="font-sm ">&#8369;70,413</strong>
                </li>
              </ul>            
            </div>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/car_loan_compare_page_logo/public/Bank%20of%20the%20Philippine%20Islands.png?itok=ltTsXM5A" alt="" class="table__bank-logo" >                    
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Interest Rate</strong>
                    <h3 class="mb0 font-lg color-complement">5.21%</h3> 
                    <strong class="extra-info">Effective interest rate: 9.68%</strong>
                  </td>
                  <td class="w-6 bl">
                    <strong class="extra-info bold db">Monthly Repayment</strong>
                    <h3 class="mb5 font-lg">&#8369;15,739</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--2 pt5 pb5">
                <li>
                  <span class="extra-info db">Total Interest Over Loan Period</span>                  
                </li>
                <li>
                  <strong class="font-sm ">&#8369;76,587</strong>
                </li>
              </ul>              
            </div>
          </div>

          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/car_loan_compare_page_logo/public/Union%20Bank%20of%20the%20Philippines.png?itok=bCP2DkqV" alt="" class="table__bank-logo" >                    
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong class="extra-info bold db">Interest Rate</strong>
                    <h3 class="mb0 font-lg color-complement">5.35%</h3> 
                    <strong class="extra-info">Effective interest rate: 9.93%</strong>
                  </td>
                  <td class="w-6 bl">
                    <strong class="extra-info bold db">Monthly Repayment</strong>
                    <h3 class="mb5 font-lg">&#8369;15,796</h3>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--2 pt5 pb5">
                <li>
                  <span class="extra-info db">Total Interest Over Loan Period</span>                  
                </li>
                <li>
                  <strong class="font-sm ">&#8369;78,645</strong>
                </li>
              </ul>                  
            </div>
          </div>
        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">

              <h4 class="headline-underline">How do I compute for my Amortization Schedule?</h4> 

              <p>There is no need for consumers to compute for your loan amortization schedule since iMoney has done the job for you, a built in car loan calculator is available for any consumer’s use and it is for free!</p> 

              <h5 class="color-darkblue underline mt20">How does a Car Loan Calculator Work?</h5> 

              <p>Input information essential to compute for your monthly amortization (monthly payments), simply key in, loan tenure, amount, down payment and if it is a brand new or second hand car. Click calculate and the comparison table would show applicable interest rates, monthly repayments and interest over time.</p> 

              <h5 class="color-darkblue underline mt20">Car Financing: Is it better to get a loan?</h5>

              <p>Paying in cash is simply risky for buying a car. It destroys your cash flow and even before a normal working Pinoy has that amount of cash, the value of the car has already diminished. Car financing through a loan is the best option for anyone who plans to enjoy the benefits of the car and to also make sure that someone’s cash flow is in top shape.</p>          
                    
              <h5 class="color-darkblue underline mt20">Are Used Cars for Sale eligible for a Car Loan?</h5>

              <p>Definitely, most banks provide a loan for used cars. Car financing in the Philippines for a used vehicle can also be financed in a traditional way (straight line) or pay the premiums 30 days in advance to gain a lower interest rate. Consumers have to remember though that interest rate for used cars is bigger than the new ones.</p>

              <h5 class="color-darkblue underline mt20">Why are interest rates for a used car bigger than brand new?</h5>

              <p>2nd Hand car loans are generally riskier investments because the possibilities of it breaking down or going for repairs are more frequent than a brand new car. Banks as a safety net for these investments in order for them not to suffer any loss in case repossession would happen.</p>              
            </div>
          </div>
          <!-- Quick link to top of page -->
          <div class="a-center fl-12 block-groovepaper-grey p10">
            <a href="#">To top</a>
          </div>
        </section>



        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__ph header-logo--footer">iMoney.ph</a>
              <p class="font-xsm color-light">Philippines no. 1 financial comparison website</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/iMoneyPH" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/iMoneyPH" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/+ImoneyPh" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/aboutus">About</a></li>
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.ph</p>
            </div>
          </div>
        </footer>

      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>
    <script type="text/javascript">
      (function($){

        var calSecondaryContent = $('.cal-secondary-content');

        $('.recommend__title').on('click',function(){
          $(this).next().slideToggle();
        });

        $('#btn-filter-toggle').on('click',function(e){
          var dataText = $(this).data('text'),
              currText = $(this).text();
          calSecondaryContent.slideToggle();

          $(this).data('text',currText).text(dataText);
          e.preventDefault();
        });        

        // BUTTON .BTN ON CLICK RESPOND
        // enable visual feedback when button selected on the calculator
        $('.btn-group .btn').on('click',function(e){

          e.preventDefault();

             //first remove classes
            $('#search-result').removeClass('animated flash'); 

            // next slide down the loader
            $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
                $('#search-result').addClass('animated flash');
              });
        });

        //INPUT CHANGE RESPOND
        // enable visual feedback when input change on the calculator
        $('#calculator input, #calculator select').change(function(){

          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
              $('#search-result').addClass('animated flash');
            });
        });


        /*$('#btn-done').on('click',function(e){
          if(calSecondaryContent.is(':visible')){
            $('#btn-filter-toggle').click();
            e.preventDefault();

            //first remove classes
            $('#search-result').removeClass('animated flash'); 

            // next slide down the loader
            $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
                $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400, function(){
                $('#search-result').addClass('animated flash');
              });
            });
          }
        });*/
      }(jQuery));
    </script>

  </body>
</html>