<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">
  <title>Fixed Deposit</title>
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__ph">imoney.ph</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>
    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Credit Card</a></li>
              <li><a href="#">Health Insurance</a></li>
              <li><a href="#">Travel Insurance</a></li>
              <li><a href="#">Housing Loan</a></li>
              <li><a href="#">Personal Loan</a></li>
              <li><a href="#">Savings Account</a></li>
              <li><a href="#">Time Deposit</a></li>
              <li><a href="#">Car Loan</a></li>
              <li><a href="#">Learning Centre</a></li>
            </ul>

          </div>
        </nav>
    <div class="page-header">
      <h1 class="page-title">Time Deposit</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">

        <!-- Calculator -->
        <section id="calculator" class="row-fl block-page pt10 mb20">
          <form id="form-calculator" action="">
            <!-- amount -->
            <div class="fl-7">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="amount">1. Investment</label>
                <div class="input-prepend">
                  <span class="prefix add-on">&#8369;</span>
                  <input type="text" name="amount" placeholder="8000" value="50,000" id="amount">
                </div>
              </div>
            </div>

            <!-- Period -->
            <div class="fl-5">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="period">2. Period</label>
                <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="tenureFilter" ng-options="value.value as value.name for value in tenureOptions"><option value="0">- Please Select -</option><option value="1">1 month</option><option value="2">3 month</option><option value="3">6 month</option><option value="4" selected="selected">12 month</option><option value="5">24 month</option></select>
              </div>
            </div>

            <div class="fl-12">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="bank">3. Select Banks</label>
                <select name="bank" class="form-control" multiple><option value="0">Allied Bank</option><option value="1">BDO</option><option value="2">BPI</option><option value="3">Citibank</option><option value="4">Eastwest Bank</option><option value="5">HSBC</option><option value="6">Maybank</option><option value="7">Metrobank</option><option value="8">PNB</option><option value="9">RCBC</option><option value="10">Security Bank</option><option value="11">Standard Chartered</option><option value="12">UCPB</option><option value="13">Union Bank</option></select>
              </div>
            </div>
            <div class="cal-secondary bt fl-12 block-groovepaper-grey">
              <div class="form-group a-center pt10 mb10">
                <a href="" class="btn btn-info db" id="btn-done">Calculate</a>
              </div>
            </div>

          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result">Showing fixed deposit and promotions from 11 banks based on  <strong>&#8369;50,000</strong> investment for <strong>12 months</strong></p>

        <!-- Product List -->
        <section class="products products-deposito row-fl">

          <!-- Product #1 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/fixed_deposit_mobile_list/public/psbank.jpg?itok=S6jMygON" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400">PSBank Peso Time Deposit</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-5">
                    <strong class="extra-info bold db">Best interest rates (12 months)</strong>
                    <h3 class="mb5 font-lg color-complement">1.25%</h3>

                  </td>
                  <td class="bl">
                    <strong class="extra-info bold db">Investment Returns</strong>
                    <h3 class="mb5 font-lg">&#8369;500</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/fixed_deposit_mobile_list/public/chinabank.jpg?itok=TmHG-cWA" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400">Chinabank Diamond Savings</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-5">
                    <strong class="extra-info bold db">Best interest rates (12 months)</strong>
                    <h3 class="mb5 font-lg color-complement">0.88%</h3>

                  </td>
                  <td class="bl">
                    <strong class="extra-info bold db">Investment Returns</strong>
                    <h3 class="mb5 font-lg">&#8369;352</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/fixed_deposit_mobile_list/public/maybank.jpg?itok=7-rUjrAX" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400">Maybank Classic Time Deposit</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-5">
                    <strong class="extra-info bold db">Best interest rates (12 months)</strong>
                    <h3 class="mb5 font-lg color-complement">0.88%</h3>

                  </td>
                  <td class="bl">
                    <strong class="extra-info bold db">Investment Returns</strong>
                    <h3 class="mb5 font-lg">&#8369;352</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <!--Inline popup-->
        <section class="row-fl mb20">

          <div id="apply-modal" class="inline-popup hidden">
            <div class="inline-popup-content">
              <h3 class="p10 font-lg inline-popup__header"><strong>Get the best financial deals in the Philippines</strong></h3>

              <div class="p10 pt0">
                <p class="font-sm">
                  <strong>Want to keep up with the latest news on savings, loans and investments?</strong> Sign up for iMoney’s newsletter now!
                </p>

                <form action="http://www.imoney.us5.list-manage1.com/subscribe/post?u=1db2c05f99f2ff02ccfb6ee11&amp;id=340374ccbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="a-left form-horizontal mt20 ng-pristine ng-valid" data-source="Fixed Deposit">
                  <div class="form-group">
                    <label for="inline-popup-email" class="fl-3 control-label">Email</label>
                    <div class="fl-9">
                      <input type="email" id="inline-popup-email" class="form-control" name="email" placeholder="yourname@email.com" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fl-9 fl-offset-3">
                      <button type="submit" class="btn btn-success btn-strong">Submit and Continue</button>
                    </div>
                  </div>
                </form>
              </div>

            <div class="inline-popup-footer cf font-sm">
              <p class="pb10 mb0"><a href="http://www1.uob.com.my/personal/cards/credit/uob_cards_apply_one.html" id="inline-popup-provider-link">No thanks. Direct me to the providers website.</a></p>
            </div>
            </div>

          </div>
        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">
              <h4 class="headline-underline">What is a Time Deposit?</h4>
              <p>A time deposit, also referred to as certificates of deposit, is a fixed deposit at a bank, which you have no access to during the agreed time period in exchange for a higher interest rate comparable to a savings account. Time deposit interest rates usually vary from above 1.00% and as high as 5.00%</p>

              <h5 class="underline color-darkblue mt20">Time Deposit Tenure</h5>

              <p>It really depends on you, the depositor. Usually time deposit terms vary from 1, 2, 3, 6, 9 or 12 months. But with other banks, they offer to the extent of five to six years.</p>

              <h5 class="underline color-darkblue mt20">Time Deposit Fees and Charges</h5>

              <p>Are there any charges when I invest my money in a Time Deposit? Yes, there will be charges. Interest earned on time deposits is subject to a final tax of 20%, these are charged every month when an interest is earned on your account. Besides taxes, it is also subject to stamp duties if the principal amount exceeds P250,000.00, in which you will be charged P1 for every P200 after it.</p>      

              <h5 class="underline color-darkblue mt20">How to find the Best Time Deposit Interest Rates?</h5>

              <p>There are various offers by banks in the Philippines. We have put all of them together and created a comparison tool, which presents you the best interest rates based on your available savings and the time period. Needless to say, the usage of our comparison tool is free of charge. Once, you have found the most favorable bank you may apply for it online.</p>

              <h5 class="underline color-darkblue mt20">Time Deposit Requirements</h5>
              
              <p>The only requirement for a time deposit is, that you have available funds which you will not need to access over a certain period of time. Depending on the bank, there might be a minimum amount or limitations regarding the time period. But in exchange for all the copies of identification and initial amount you will give to the bank, the bank will give you a certificate of time deposit.</p>

              <h5 class="underline color-darkblue mt20">Is Time Deposit Worth Investing In?</h5>

              <p>Certainly! If you are a person who is risk-averse and have very little risk appetite, time deposits are surely for you. What makes time deposit an ideal investment vehicle is that the returns are continuous and predictable. It is pretty straight - forward and there are certainties. You just have to wait for the waiting period to be finished and you'd expect a specific sum at the end of it.</p>
            </div>
          </div>
          <!-- Quick link to top of page -->
          <div class="a-center fl-12 block-groovepaper-grey p10">
            <a href="#">To top</a>
          </div>
        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__ph header-logo--footer">iMoney.ph</a>
              <p class="font-xsm color-light">Philippines no. 1 financial comparison website</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/iMoneyPH" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/iMoneyPH" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/+ImoneyPh" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/aboutus">About</a></li>
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.ph</p>
            </div>
          </div>
        </footer>

      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>
    <script src="../js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
      (function($){
        // enable visual feedback when changes on the calculator
        $('#calculator input, #calculator select').change(function(){
          
          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
            $('#search-result').addClass('animated flash');
          });
        });

        $('#btn-done').on('click', function(e){
          e.preventDefault();
          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
            $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400, function(){
              $('#search-result').addClass('animated flash');
            });
          });
        })

        //Inline Popup
        $('.btn-popup').fancybox({
          maxWidth: 400,
          padding: 0
        });
      }(jQuery));
    </script>

  </body>
</html>


