<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">
  <title>Personal Loan</title>
  <link rel="stylesheet" href="css/mb-personalloan.css">
  <link rel="stylesheet" href="css/animate.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__ph">imoney.ph</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>
    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Credit Card</a></li>
              <li><a href="#">Health Insurance</a></li>
              <li><a href="#">Travel Insurance</a></li>
              <li><a href="#">Housing Loan</a></li>
              <li><a href="#">Personal Loan</a></li>
              <li><a href="#">Savings Account</a></li>
              <li><a href="#">Time Deposit</a></li>
              <li><a href="#">Car Loan</a></li>
              <li><a href="#">Learning Centre</a></li>
            </ul>

          </div>
        </nav>
    <div class="page-header">
      <h1 class="page-title">Compare Personal Loan</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">

        <!-- Calculator -->
        <section id="calculator" class="row-fl block-page pt10 mb20">
          <form action="">
            <!-- amount -->
            <div class="fl-7">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="amount">1.Loan amount</label>
                <div class="input-prepend">
                  <span class="prefix add-on">&#8369;</span>
                  <input type="text" name="amount" placeholder="8000" value="8000" id="amount" class="input-medium">
                </div>
              </div>
            </div>
            <!-- tenure-->
            <div class="fl-5">
              <div class="form-group mb0">
                <label class="control-label mb5 db" for="year">2. Loan Tenure</label>
                <select chosen="" disable-search="true" class="form-control ng-pristine ng-valid" ng-model="tenureFilter" ng-options="value.value as value.name for value in tenureOptions"><option value="0">- Please Select -</option><option value="1">6 month</option><option value="2">12 months</option><option value="3">18 months</option><option value="4" selected="selected">24 month</option><option value="5">30 month</option><option value="5">36 month</option><option value="5">42 month</option><option value="5">48 month</option><option value="5">54 month</option><option value="5">60 month</option></select>
              </div>
            </div>

            <div class="cal-secondary bt fl-12 block-groovepaper-grey">
              <a href="#" id="btn-filter-toggle" data-text="Less Filters" class="db pt10 pb10">More Filters</a>
              <div class="cal-secondary-content">
                <p>Tell us a little bit about yourself:</p>
                <div class="block-cal form-horizontal row-fl pb20">

                  <label for="age" class="control-label fl-6">Age?</label>
                  <div class="fl-6">
                    <input type="text" id="age" name="age" value="35" class="form-text form-control mb10">
                  </div>

                  <label for="monthly_income" class="control-label fl-6">Monthly income?</label>
                  <div class="fl-6">
                    <input type="text" id="income" name="monthly_income" value="2,500" class="form-text form-control mb10">
                  </div>                  
                </div>
                <div class="form-group a-center">
                  <a href="" class="btn btn-info db" id="btn-done">Calculate</a>
                </div>
              </div>


            </div>

          </form>
        </section>

         <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result">Showing 10 results for <strong>&#8369;8,000</strong> loan amount for <strong>24 months</strong></p>

        <!-- Product List -->
        <section class="products products-personalloan row-fl mb20">

          <!-- Product #1 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/thumbnail/public/maybank.jpg?itok=cIOJfCVo" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><a href="#">Maybank Enable Personal Loan</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-4">
                    <strong class="extra-info bold db">Interest / Profit Rate</strong>
                    <h3 class="mb0 font-xlg color-complement">13.20%</h3>                     
                  </td>
                  <td class="w-4 bl">
                    <strong class="extra-info bold db">Monthly Repayment</strong>
                    <h3 class="mb5 font-xlg">&#8369;18,867</h3>
                  </td>                  
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Effective interest rate</span>
                  <strong class="font-lg ">25.60%</strong>
                </li>
                <li>
                  <span class="extra-info db">Min monthly income</span>
                  <strong class="font-lg ">&#8369;18,000</strong>
                </li>
                <li>
                  <span class="extra-info db">Max Loan Term</span>
                  <strong class="font-lg ">3years</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/thumbnail/public/Bank%20of%20the%20Philippine%20Islands.png?itok=TFW67rel" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><a href="#">BPI Personal Loan</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-4">
                    <strong class="extra-info bold db">Interest / Profit Rate</strong>
                    <h3 class="mb0 font-xlg color-complement">14.40%</h3>                     
                  </td>
                  <td class="w-4 bl">
                    <strong class="extra-info bold db">Monthly Repayment</strong>
                    <h3 class="mb5 font-xlg">&#8369;19,067</h3>
                  </td>                  
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Effective interest rate</span>
                  <strong class="font-lg ">25.60%</strong>
                </li>
                <li>
                  <span class="extra-info db">Min monthly income</span>
                  <strong class="font-lg ">&#8369;20,000</strong>
                </li>
                <li>
                  <span class="extra-info db">Max Loan Term</span>
                  <strong class="font-lg ">3years</strong>
                </li>
              </ul>
            </div>
          </div>

          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/thumbnail/public/HSBC%20hongkong%20shanghai%20banking%20corporation.gif?itok=ilyJF0Ob" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><a href="#">HSBC Personal Loan</a></h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#" class="btn btn-success">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-4">
                    <strong class="extra-info bold db">Interest / Profit Rate</strong>
                    <h3 class="mb0 font-xlg color-complement">14.64%</h3>
                  </td>
                  <td class="w-4 bl">
                    <strong class="extra-info bold db">Monthly Repayment</strong>
                    <h3 class="mb5 font-xlg">&#8369;19,107</h3>
                  </td>                  
                </tr>
              </tbody>
            </table>
            <div class="block-product-secondary block-groovepaper-grey">
              <ul class="no-bullet block-extra-info__list listitem--3">
                <li>
                  <span class="extra-info db">Effective interest rate</span>
                  <strong class="font-lg ">25.60%</strong>
                </li>
                <li>
                  <span class="extra-info db">Min monthly income</span>
                  <strong class="font-lg ">&#8369;20,000</strong>
                </li>
                <li>
                  <span class="extra-info db">Max Loan Term</span>
                  <strong class="font-lg ">3years</strong>
                </li>
              </ul>
            </div>
          </div>

        </section>

        <!-- More Info -->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">
              <h4 class="headline-underline">Personal Loans in the Philippines</h4>
              <p>Personal loans are used for paying immediate needs like tuition fees, debt consolidation and to some buy gadgets. Like most loans, a personal loan bears an interest rate agreed upon by two parties, the lender and the borrower. Interest Rates for Personal Loans in the Philippines vary per lender, and are usually quoted on a monthly basis.</p>              
              <h4 class="headline-underline mt20">Personal Loan Application Requirements</h5>
              <p>To apply for a personal loan, lenders requires borrowers to provide salary information and identification for assessment purposes. Salary information can be provided either thru monthly payslips or income tax returns (ITR). It takes about 2-3 days to receive a call from lenders if your loan is approved and another day for payout.</p>
              <h4 class="headline-underline mt20">Personal Loan Lenders</h4>
              <p>Philippines has a lot of financial institutions willing to help you get alone, the business is simple though high risk - listed above are all relevant product information about personal loan lenders available. You can find the most competitive personal loan in seconds with the aid of our personal loan calculator, input the loan amount and tenure and you can view the monthly repayments.</p>
              <h4 class="headline-underline mt20">Personal Loans Online</h4>
              <p>Applying for personal loans online has become a popular trend in the Philippines recently. Click Apply in the comparison page and you, the consumer will be redirected to the lending company’s main website and start filling out the application form.</p>
            </div>
          </div>

        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__ph header-logo--footer">iMoney.ph</a>
              <p class="font-xsm color-light">Philippines no. 1 financial comparison website</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/iMoneyPH" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/iMoneyPH" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/+ImoneyPh" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/aboutus">About</a></li>
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.ph</p>
            </div>
          </div>
        </footer>

      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>
    <script type="text/javascript">
      (function($){

        var calSecondaryContent = $('.cal-secondary-content');

        $('.recommend__title').on('click',function(){
          $(this).next().slideToggle();
        });

        $('#btn-filter-toggle').on('click',function(e){
          var dataText = $(this).data('text'),
              currText = $(this).text();
          calSecondaryContent.slideToggle();

          $(this).data('text',currText).text(dataText);
          e.preventDefault();
        });

        //INPUT CHANGE RESPOND
        // enable visual feedback when input change on the calculator
        $('#calculator input, #calculator select').change(function(){

          //first remove classes
          $('#search-result').removeClass('animated flash'); 

          // next slide down the loader
          $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
              $('#search-result').addClass('animated flash');
            });
        });

        $('#btn-done').on('click',function(e){
          if(calSecondaryContent.is(':visible')){
            $('#btn-filter-toggle').click();
            e.preventDefault();

            //first remove classes
            $('#search-result').removeClass('animated flash'); 

            // next slide down the loader
            $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
                $('html, body').animate({scrollTop: $('#search-result').offset().top - 10},400, function(){
                $('#search-result').addClass('animated flash');
              });
            });
          }
        });

      }(jQuery));
    </script>

  </body>
</html>
