<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/base-mobile.css">
  <title>Travel Insurance</title>
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css">


    <script src="../js/modernizr.2.6.2.js"></script>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=278418415584720";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- header -->
        <header class="header" role="banner">
      <div class="mb-wrapper">
        <!-- iMoney Logo -->
        <a href="#" class="header-logo header-logo__ph">imoney.ph</a>

        <!-- Menu Button -->
        <a href="#nav" id="btn-mainnav-toggle" class="header-menu hidetext">Menu</a>
      </div>
    </header>
    <!-- navigation -->
            <nav role="navigation" class="mb-mainnav" id="nav">

          <div class="mb-mainnav-inner mb-wrapper">
            
            <ul class="no-bullet mb-mainnav__popular">
              <li><a href="#">Credit Card</a></li>
              <li><a href="#">Health Insurance</a></li>
              <li><a href="#">Travel Insurance</a></li>
              <li><a href="#">Housing Loan</a></li>
              <li><a href="#">Personal Loan</a></li>
              <li><a href="#">Savings Account</a></li>
              <li><a href="#">Time Deposit</a></li>
              <li><a href="#">Car Loan</a></li>
              <li><a href="#">Learning Centre</a></li>
            </ul>

          </div>
        </nav>
    <div class="page-header">
      <h1 class="page-title">Travel Insurance</h1>
    </div>

    <!-- main content wrapper-->
    <div class="mb-wrapper">

      <div id="page" role="main">

        <!-- Filter by -->
        <section id="calculator">
          <form action="">
            <div class="form-group row-fl">
              <div class="fl-3">
                <label class="control-label">Filter Currency</label>
              </div>
              <div class="fl-9">
                <div class="btn-group">
                  <button class="btn ng-scope ng-binding btn-group-pressed" ng-class="" ng-repeat="" ng-click="">All</button>
                  <button class="btn ng-scope ng-binding " ng-class="" ng-repeat="" ng-click="">&#8369; (PHP)</button>
                  <button class="btn ng-scope ng-binding  btn-group-last" ng-class="" ng-repeat="" ng-click="">$ (USD)</button>
                </div>
              </div>
            </div>
          </form>
        </section>

        <!-- loader gif -->
        <div class="loader loader--calculator"></div>

        <!-- Search Result-->
        <p class="mb5 row-fl font-sm dib" id="search-result">
          Showing <strong>10</strong> results for <strong>All</strong> Currency  
        </p>
        <!-- Product List -->
        <section class="products row-fl">

          <!-- Product #1 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/bank_list_logo/public/fortune%20general.jpg?itok=zaYtoH1S" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><strong>Fortune General</strong> Travel Protector (Silver)</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr> 
                <tr>
                  <td class="w-2 lightorange-bg">
                    Currency
                  </td>
                  <td class="lightorange-bg">
                    <strong>&#8369; (PHP)</strong>
                  </td>
                </tr>               
              </tbody>
            </table>
            <div class="block-product-secondary a-left font-sm color-light block-groovepaper-grey">
              <h6 class="mb5">Benefits</h6>
              <table class="table-transparent">
                <tr>
                  <td class="w-9">
                    Flight delays
                  </td>
                  <td>
                    <strong>-</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Personal Property &amp; Baggage
                  </td>
                  <td>
                    <strong>5,000</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Medical Emergency
                  </td>
                  <td>
                    <strong>-</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Personal Accident
                  </td>
                  <td>
                    <strong>10,000</strong>
                  </td>
                </tr>
              </table>         
            </div>
          </div>

          <!-- Product #2 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/bank_list_logo/public/HSBC_0.gif?itok=ixoUYzaV" class="table__bank-logo">
                    <h5 class="mb0 fw400"><strong>HSBC Insurance Brokers</strong> Adult Plan (Standard)</h5>                    
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>
                <tr>
                  <td class="w-2 lightorange-bg">
                    Currency
                  </td>
                  <td class="lightorange-bg">
                    <strong>&#8369; (PHP)</strong>
                  </td>
                </tr>                             
              </tbody>
            </table>
            <div class="block-product-secondary a-left font-sm color-light block-groovepaper-grey">
              <h6 class="mb5">Benefits</h6>
              <table class="table-transparent">
                <tr>
                  <td class="w-9">
                    Flight delays
                  </td>
                  <td>
                    <strong>150,000</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Personal Property &amp; Baggage
                  </td>
                  <td>
                    <strong>50,000</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Medical Emergency
                  </td>
                  <td>
                    <strong>-</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Personal Accident
                  </td>
                  <td>
                    <strong>1,000,000</strong>
                  </td>
                </tr>
              </table>         
            </div>
          </div>

          <!-- Product #3 -->
          <div class="block-page block-product bt-lightbluebar">
            <table>
              <tbody>
                <tr>
                  <td class="w-10" colspan="2">
                    <img typeof="foaf:Image" src="http://www.imoney.ph/sites/v2.imoney.ph/files/styles/bank_list_logo/public/bluecross.jpg?itok=KixF6R4u" alt="" class="table__bank-logo">
                    <h5 class="mb0 fw400"><strong>Blue Cross</strong> Deluxe Dollar Plan</h5>
                  </td>
                  <td class="td-apply w-2 bl v-middle" rowspan="2">
                    <a href="#apply-modal" class="btn btn-success btn-popup">Apply</a>
                  </td>
                </tr>  
                <tr>
                  <td class="w-2 lightorange-bg">
                    Currency
                  </td>
                  <td class="lightorange-bg">
                    <strong>$ (USD)</strong>
                  </td>
                </tr>                  
              </tbody>
            </table>
            <div class="block-product-secondary a-left font-sm color-light block-groovepaper-grey">
              <h6 class="mb5">Benefits</h6>
              <table class="table-transparent">
                <tr>
                  <td class="w-9">
                    Flight delays
                  </td>
                  <td>
                    <strong>3,000</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Personal Property &amp; Baggage
                  </td>
                  <td>
                    <strong>1,000</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Medical Emergency
                  </td>
                  <td>
                    <strong>-</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Personal Accident
                  </td>
                  <td>
                    <strong>50,000</strong>
                  </td>
                </tr>
              </table>         
            </div>
          </div>
        </section>

        <!-- MORE INFO-->
        <section class="row-fl block-page pt10">
          <div class="fl-12">
            <div class="block-moreinfo font-sm">
              <h4 class="headline-underline">
                Travel Insurance in the Philippines
              </h4>
              <p>A travel insurance is designed to cut back risks and value borne with sudden events throughout travel. A number of these sudden events will be baggage lost, personal accidents, delayed flights, something that involves the travel provider’s incapacity. In the Philippines. Travel insurance is not usually bought by Filipino travellers because it is connoted as something not essential for travelling, but what most Filipinos aren't aware of is the fact that there are chances, in fact, big chances of most planes have incapacity to perform as they expect.</p>
            </div>
          </div>
           <!-- Quick link to top of page -->
          <div class="a-center fl-12 block-groovepaper-grey p10">
            <a href="#">To top</a>
          </div>
        </section>
        <!--Inline popup-->
        <section class="row-fl mb20">

          <div id="apply-modal" class="inline-popup hidden">
            <div class="inline-popup-content">
              <h3 class="p10 font-lg inline-popup__header"><strong>Get the best financial deals in the Philippines</strong></h3>

              <div class="p10 pt0">
                <p class="font-sm">
                  <strong>Want to keep up with the latest news on savings, loans and investments?</strong> Sign up for iMoney’s newsletter now!
                </p>

                <form action="http://www.imoney.us5.list-manage1.com/subscribe/post?u=1db2c05f99f2ff02ccfb6ee11&amp;id=340374ccbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="a-left form-horizontal mt20 ng-pristine ng-valid" data-source="Fixed Deposit">
                  <div class="form-group">
                    <label for="inline-popup-email" class="fl-3 control-label">Email</label>
                    <div class="fl-9">
                      <input type="email" id="inline-popup-email" class="form-control" name="email" placeholder="yourname@email.com" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fl-9 fl-offset-3">
                      <button type="submit" class="btn btn-success btn-strong">Submit and Continue</button>
                    </div>
                  </div>
                </form>
              </div>

            <div class="inline-popup-footer cf font-sm">
              <p class="pb10 mb0"><a href="http://www1.uob.com.my/personal/cards/credit/uob_cards_apply_one.html" id="inline-popup-provider-link">No thanks. Direct me to the providers website.</a></p>
            </div>
            </div>

          </div>
        </section>

        <!-- Footer -->
                <footer role="contentinfo" class="footer a-center font-sm">
          <div class="row-fl">
            <div class="fl-12">
              <a href="#" class="header-logo header-logo__ph header-logo--footer">iMoney.ph</a>
              <p class="font-xsm color-light">Philippines no. 1 financial comparison website</p>
              <ul class="social no-bullet">
                <li><a href="https://www.facebook.com/iMoneyPH" class="social--facebook">Facebook</a></li>
                <li><a href="https://twitter.com/iMoneyPH" class="social--twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/+ImoneyPh" class="social--google">Google+</a></li>
              </ul>

              <div class="footer-copyright">
                <ul class="no-bullet footer-nav">
                  <li><a href="/aboutus">About</a></li>
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="http://www.imoney-group.com">Corporate</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
                </ul>
              </div>

              <p><a href="#" class="btn-viewfull">View full site</a></p>

              <p class="font-xsm">&copy; 2014 iMoney.ph</p>
            </div>
          </div>
        </footer>

      </div><!-- /#page -->


    </div>
        <script src="../js/jquery-1.9.0.min.js"></script>
    <script src="js/fastclick.min.js"></script>
    <script>
      (function($){

        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

        var mainNav = $('.mb-mainnav'),
            btnMainNav = $('#btn-mainnav-toggle');

        mainNav.hide();
        btnMainNav.on('click',function(e){
          $(this).toggleClass('header-menu-close');
          mainNav.slideToggle(400, function() {
            $('body').toggleClass('mb-mainnav--active');
          });
          e.preventDefault();
        });

      }(jQuery));
    </script>
    <script src="../js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
      (function($){
        // BUTTON .BTN ON CLICK RESPOND
        // enable visual feedback when button selected on the calculator
        $('.btn-group .btn').on('click',function(e){

          e.preventDefault();

             //first remove classes
            $('#search-result').removeClass('animated flash'); 

            // next slide down the loader
            $(this).parents('#calculator').siblings('.loader').slideDown(400).delay(1000).slideUp(400, function(){
                $('#search-result').addClass('animated flash');
              });
        });

        //Inline Popup
        $('.btn-popup').fancybox({
          maxWidth: 400,
          padding: 0
        });
      }(jQuery));
    </script>

  </body>
</html>


