// SG

// .table-savingsaccount {

// 	td:nth-child(5) {
// 		text-align: left;
// 	}

// 	[data-column="0"] {
// 		width: 18%;
// 	}
// 	[data-column="1"],[data-column="2"],[data-column="3"] {
// 		width: 12%
// 	}
// 	.apply-col {
// 		width: 16%;
// 	}
// }

// .btn-homeloan-calculate {
// 	position: relative;
// 	top: 3px;
// }

@import "../mixin";

.pl-bankpage__product {
	@include border-top;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	box-shadow: inset 1px 0 0 transparent;
	position: relative;
	padding: 30px 0;

	&:hover {
		box-shadow: none;
		z-index: auto;
	}

	&:first-child {
		border-top: none;
		padding-top: 0;
	}
}

.pl-bankpage__products {
	min-height: 0;
}