.table-travelinsurance td:nth-child(3) {
  text-align: left; }
.table-travelinsurance [data-column="0"] {
  width: 10%; }
.table-travelinsurance [data-column="1"] {
  width: 10%; }
.table-travelinsurance [data-column="2"] {
  width: 20%; }
.table-travelinsurance .apply-col {
  width: 15%; }
.table-travelinsurance td {
  font-size: 13px; }

.table-healthinsurance td:nth-child(1) {
  text-align: left; }
.table-healthinsurance .apply-col {
  width: 15%; }
