.table-travelinsurance td:nth-child(3) {
  text-align: left; }
.table-travelinsurance [data-column="0"] {
  width: 12%; }
.table-travelinsurance [data-column="1"] {
  width: 10%; }
.table-travelinsurance [data-column="2"] {
  width: 20%; }
.table-travelinsurance .apply-col {
  width: 15%; }
.table-travelinsurance td {
  font-size: 13px; }

.table-healthinsurance th {
  padding-top: 20px;
  padding-bottom: 20px; }
.table-healthinsurance td:nth-child(2) {
  text-align: left; }
.table-healthinsurance [data-column="0"], .table-healthinsurance .apply-col {
  width: 18%; }

.table-lifeinsurance th {
  padding-top: 20px;
  padding-bottom: 20px; }
.table-lifeinsurance td:nth-child(2) {
  text-align: left; }
.table-lifeinsurance [data-column="0"], .table-lifeinsurance .apply-col {
  width: 15%; }
.table-lifeinsurance [data-column="2"], .table-lifeinsurance [data-column="3"] {
  width: 12%; }
