<footer class="footer" role="contentinfo">
	<div class="footer-main row-fl p30 bb">
		<h5>As featured on</h5>
		<div class="media-logos">
			<a href="http://www.imoney.my/news">
				Techcrunch, MalaysiaKini, New Straits Times, Star Property, The Star, 8TV, FreeMalaysiaToday, BFM89.9, Digital News Asia, Make A Pitch, Property Lifestyle, SME Magazine.
			</a>
		</div>

	</div>
	
</footer>