.hidetext, .social [class*="social--"] {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
/* -----------------
  GLOBAL
-------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body, .header {
  min-width: 0; }

.mb-wrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative; }

/* -----------------
  TYPOGRAPHY
-------------------- */
h1 {
  font-size: 26px;
  font-size: 2.6rem; }

blockquote {
  color: #5e6a77;
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  padding: 12px 0;
  font-weight: 300;
  border-left: 3px solid #e7ebed;
  background: #f6f8f9; }

/* -----------------
  GRID
-------------------- */
#page {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 10px 0;
  background: transparent;
  box-shadow: none; }

.row-fl {
  margin-left: -10px;
  margin-right: -10px; }

[class*="fl-"] {
  padding-left: 10px;
  padding-right: 10px; }

/* -----------------
  TABLE
-------------------- */
table {
  border: none; }
  table td, table th {
    padding: 10px; }
  table td {
    vertical-align: top; }
  table th {
    font-size: inherit; }
  table tr:hover td {
    background-color: transparent; }

.table-transparent {
  background: transparent; }
  .table-transparent td, .table-transparent th {
    padding: 5px 2px;
    background: transparent; }
  .table-transparent th {
    border-bottom-width: 1px; }
  .table-transparent tr:hover td {
    background: transparent; }

.table-bordered {
  border: 1px solid #e5e9eb;
  border-bottom: none; }

.content-overflow {
  width: auto;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; }

.tr-expand > td {
  padding: 10px;
  padding-bottom: 20px; }
.tr-expand h4 {
  margin-top: 20px; }
  .tr-expand h4:first-child {
    margin-top: 0; }

/* -----------------
  FORM
-------------------- */
.form-control {
  width: 100%; }

textarea.form-control {
  height: auto; }

.input-append .add-on, .input-prepend .add-on, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  height: 34px; }

.input-xshort {
  width: 40px; }

.form-horizontal .control-label {
  text-align: left; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #f0f3f4;
  border: 1px solid #a9b0b8;
  border-radius: 3px; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group-addon:first-child {
  border-right: 0; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group-addon:last-child {
  border-left: 0; }

/* -----------------
  BUTTON
-------------------- */
.btn-mb {
  border-radius: 3px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  padding: 8px 10px;
  background: #1d9fca;
  color: #fff; }
  .btn-mb:hover, .btn-mb:active {
    background: #1a91b8; }

.btn-mb--facebook {
  background-color: #3b5998; }
  .btn-mb--facebook:hover, .btn-mb--facebook:active {
    background: #355089; }

.btn-toggle {
  position: relative;
  padding-left: 14px; }
  .btn-toggle:before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #929da9;
    position: absolute;
    left: 0;
    top: 50%; }
  .btn-toggle:after {
    content: '';
    width: 2px;
    height: 10px;
    background-color: #929da9;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -4px; }
  .btn-toggle.btn-toggle--opened:after {
    display: none; }

.btn-group--five > .btn {
  width: 20%; }

/* -----------------
  HEADER
-------------------- */
.header {
  height: 44px;
  position: relative;
  z-index: 200; }

.header-logo {
  background-image: url("../img/imoney-malaysia-logo.svg");
  margin: 0 auto;
  float: none;
  display: block;
  width: 130px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 44px; }
  .no-svg .header-logo {
    background-image: url("../img/imoney-malaysia-logo.png"); }
  .header-logo.header-logo__id {
    background-image: url("../img/aturduit-logo.svg");
    width: 130px; }
    .no-svg .header-logo.header-logo__id {
      background-image: url("../img/aturduit-logo.png"); }
    .header-logo.header-logo__id.header-logo--footer {
      height: 40px;
      margin-bottom: 10px; }
  .header-logo.header-logo__ph {
    background-image: url("../img/imoney-philippines-logo.svg");
    width: 110px; }
    .no-svg .header-logo.header-logo__ph {
      background-image: url("../img/imoney-philippines-logo.png"); }
    .header-logo.header-logo__ph.header-logo-footer {
      height: 40px;
      margin-bottom: 10px; }
  .header-logo.header-logo__sg {
    background-image: url("../img/imoney-singapore-logo.svg");
    width: 110px; }
    .no-svg .header-logo.header-logo__sg {
      background-image: url("../img/imoney-singapore-logo.png"); }
    .header-logo.header-logo__sg.header-logo-footer {
      height: 40px;
      margin-bottom: 10px; }

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.4;
  width: 44px;
  height: 44px;
  background: url("../img/icon-menu.svg") left no-repeat; }
  .no-svg .header-menu {
    background-image: url("../img/icon-menu.png"); }
  .header-menu:hover {
    background-color: #f6f8f9; }
  .header-menu.header-menu-close {
    background-position: right; }

.header-language-dropdown {
  position: absolute;
  right: 10px;
  top: 26px; }

/* -----------------
  NAV
-------------------- */
.mb-mainnav {
  background: #1d9fca;
  width: 100%;
  padding: 10px;
  display: none; }
  .mb-mainnav a {
    color: #fff; }

.mb-mainnav-inner {
  overflow: hidden; }

.mb-mainnav__popular {
  font-size: 21px;
  font-size: 2.1rem;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }
  .mb-mainnav__popular li {
    margin: 8px 0; }

.mb-mainnav__header {
  text-transform: uppercase;
  color: #a7e0f2;
  position: relative;
  display: inline-block;
  background: #1d9fca; }
  .mb-mainnav__header:after {
    height: 1px;
    right: 0;
    left: 100%;
    margin-left: 5px;
    bottom: 5px;
    background: rgba(167, 224, 242, 0.5);
    content: '';
    display: block;
    position: absolute;
    width: 600px; }

.mb-mainnav__normal {
  margin: 20px 0; }

.menu li {
  margin: 8px 0; }

/* disable body scroll when nav is active */
/* -----------------
  PAGE
-------------------- */
.page-header {
  padding: 8px 10px;
  background: #06456b;
  margin-bottom: 10px;
  position: relative; }

.page-title {
  color: #fff;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.4;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center; }

.block-page {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

.pagetab-big.pagetab-big-secondary {
  height: 41px; }

.pagetab-big.pagetab-big-secondary ul li.active a {
  color: #1d9fca; }
  .pagetab-big.pagetab-big-secondary ul li.active a:hover {
    color: #1d9fca; }

.btn-share {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 10px;
  color: #fff; }

/* -----------------
  BLOCK
-------------------- */
.cal-secondary-content {
  display: none; }
  .cal-secondary-content.cal-secondary--open {
    display: block; }

.block-product {
  position: relative; }
  .block-product .table__bank-logo {
    max-width: 100px;
    max-height: 30px; }
  .block-product .td-apply {
    text-align: center; }
  .block-product table {
    margin-bottom: 0; }
  .block-product.bt-lightbluebar {
    border-top-width: 2px !important; }

.products-footnote {
  position: relative;
  top: -10px; }

.block-product-secondary {
  padding: 5px 10px; }

.block-extra-info__list {
  overflow: hidden;
  margin-bottom: 0; }
  .block-extra-info__list li {
    float: left;
    padding-right: 5px; }

.listitem--1 li {
  width: 100%; }

.listitem--2 li {
  width: 50%; }

.listitem--3 li {
  width: 33.33333%; }

.listitem--4 li {
  width: 25%; }

.listitem--5 li {
  width: 20%; }

.block-recommend {
  border: 2px solid #1d9fca; }
  .block-recommend.block-recommend--best {
    border-color: #cb2372; }
  .block-recommend.block-recommend--promo {
    border-color: #df931a; }
  .block-recommend.block-recommend--normal {
    border: none; }

.recommend {
  background: #1d9fca;
  color: #fff;
  padding: 5px 10px; }
  .block-recommend--best .recommend {
    background-color: #cb2372; }
  .block-recommend--promo .recommend {
    background-color: #df931a; }
  .block-recommend--normal .recommend {
    background-color: #f6f8f9; }
  .recommend .recommend__title {
    overflow: hidden;
    cursor: pointer; }
    .recommend .recommend__title span {
      background: #06456b;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 3px 6px; }
      .block-recommend--best .recommend .recommend__title span {
        background-color: #9f1c5a; }
      .block-recommend--promo .recommend .recommend__title span {
        background-color: #ba7b16; }
      .block-recommend--normal .recommend .recommend__title span {
        background-color: #1d9fca; }
  .recommend .recommend__content {
    padding-top: 5px;
    display: none; }
    .block-recommend--normal .recommend .recommend__content {
      color: #5e6a77; }

.block-rating {
  color: #fff;
  background: #5e6a77; }
  .block-rating.block-rating--best {
    background: #cb2372; }
  .block-rating.block-rating--promo {
    background: #df931a; }
  .block-rating.block-rating--normal {
    background: #1d9fca; }
  .block-rating > * {
    color: #fff; }

/* -----------------
  FOOTER
-------------------- */
.footer {
  margin: 20px 0;
  background: transparent;
  font-weight: 400; }

.header-logo--footer {
  height: 40px; }

.social {
  margin: 20px 0 0; }
  .social li {
    display: inline-block; }
  .social [class*="social--"] {
    background: url("../img/icon-social.svg") no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px; }
    .no-svg .social [class*="social--"] {
      background-image: url("../img/icon-social.png"); }
  .social .social--twitter {
    background-position: -24px 0; }
  .social .social--google {
    background-position: -48px 0; }
  .social .social--instagram {
    background-position: -72px 0; }
  .social .social--youtube {
    background-position: -96px 0; }
  .social .social--pinterest {
    background-position: -120px 0; }

.footer-nav {
  text-align: center;
  margin-bottom: 0; }
  .footer-nav li {
    display: inline; }
    .footer-nav li a {
      padding: 5px;
      line-height: 2; }

.language-switcher-locale-url {
  float: none; }
  .language-switcher-locale-url li {
    margin: 0 2px 0 0; }
    .language-switcher-locale-url li.first {
      margin-left: 5px; }
    .language-switcher-locale-url li a {
      border-radius: 2px;
      padding: 2px 5px;
      border: 1px solid transparent; }
      .language-switcher-locale-url li a:hover {
        background: #5e6a77;
        text-decoration: none;
        color: #fff; }
    .language-switcher-locale-url li.active a {
      color: #5e6a77;
      border: 1px solid #5e6a77; }
    .language-switcher-locale-url li.active a:hover {
      color: #fff; }

a.btn-viewfull {
  display: block;
  padding: 5px;
  background: #f6f8f9;
  color: #1d9fca;
  margin: 20px 0; }

.footer-copyright {
  padding: 10px 0; }

.media-logos-new > a {
  background: none;
  height: auto;
  display: inline; }

/* -----------------
  INLINE POPUP
-------------------- */
.inline-popup {
  display: block; }
  .inline-popup .inline-popup-content {
    width: auto; }
  .inline-popup h2 {
    font-size: 21px;
    font-size: 2.1rem;
    margin-bottom: 10px;
    padding: 10px 0; }
  .inline-popup .inline-popup-footer {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0; }
  .inline-popup .inline-popup__header {
    background-color: #1ca0cb;
    color: #fff;
    border-radius: 3px 3px 0 0; }

/* -----------------
  FIVE STAR RATING
-------------------- */
.fivestar-imoney {
  margin-bottom: 10px;
  overflow: hidden; }
  .fivestar-imoney div.fivestar-widget-static .star {
    width: 14px; }

/* -----------------
  MISC
-------------------- */
.hidden, .loader {
  display: none; }

.label-red {
  background-color: #da4f49; }

.label-green {
  background-color: #59b259; }

/* -----------------
  LOADER
-------------------- */
.loader {
  background-repeat: no-repeat;
  background-position: center; }
  .loader.loader--calculator {
    height: 66px;
    background-image: url("../img/loader.gif");
    margin-bottom: 10px;
    background-size: auto 100%; }

/* -----------------
  MQ
-------------------- */
@media (max-width: 479px) {
  .block-product .btn {
    padding-left: 8px;
    padding-right: 8px; } }
/* -----------------
  MEDIA QUERIES OVERWRITE DISPLAY FL
-------------------- */
@media (max-width: 480px) {
  .fl-block {
    width: 100%; } }
