/* base font color */
/* lighter font color */
.btn-km-baru.btn-group-pressed {
  background-color: #df931a;
  border-color: #b17515; }
  .btn-km-baru.btn-group-pressed + .btn {
    border-left-color: #b17515; }

.btn-km-bekas.btn-group-pressed {
  background-color: #cb2372;
  border-color: #9f1c5a; }
