.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.cimb-header {
  background: #2d2d2d;
  padding: 30px 0 20px;
  text-align: center; }
  .cimb-header .cimb-text-wrap {
    padding: 0 15px; }
  .cimb-header .cimb-logo {
    background: url(../img/cimb-logo.png) 0 0 no-repeat;
    background-size: 110px 17px;
    width: 110px;
    height: 20px;
    display: inline-block;
    margin: 0 auto; }
  .cimb-header .money-icon {
    background: url(../img/dollar.png) 0 0 repeat-x;
    width: 145px;
    height: 30px;
    background-size: 50px auto;
    margin: 4px auto 10px; }
  .cimb-header .scroll-down {
    color: #f5f5f5;
    font-size: 12px;
    font-size: 1.2rem; }
  .cimb-header h1 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-size: 2rem; }
  .cimb-header h2 {
    color: #9e9e9e;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 400;
    display: inline-block;
    background-color: #131313;
    padding: 4px 10px;
    border-radius: 15px;
    margin-bottom: 5px; }
  .cimb-header .cimb-bullet {
    text-align: left;
    font-size: 13px;
    font-size: 1.3rem;
    padding: 20px 15px 0;
    color: #d3d3d3; }
    .cimb-header .cimb-bullet > li {
      background: url(../img/header-bullet.png) 0 6px no-repeat;
      background-size: 10px 6px; }
      .cimb-header .cimb-bullet > li strong {
        color: #fcf331; }
    .cimb-header .cimb-bullet > li:first-child strong {
      font-size: 14px;
      font-size: 1.4rem; }
  .cimb-header .cimb-image-wrap {
    position: relative;
    margin-bottom: 55px; }
  .cimb-header .cimb-card {
    background: url(../img/cimb-website-cardface.png) 0 0 no-repeat;
    width: 130px;
    height: 80px;
    background-size: 130px 80px;
    position: absolute;
    -webkit-box-shadow: 0 0 40px rgba(210, 235, 255, 0.6);
    box-shadow: 0 0 40px rgba(210, 235, 255, 0.6);
    left: 50%;
    margin-left: -25px;
    bottom: -46px; }

.cimb-steps {
  background: #e93131;
  color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3); }
  .cimb-steps:after {
    content: "";
    clear: both;
    display: block; }
  .cimb-steps.cimb-square {
    padding: 0;
    text-align: center;
    min-height: 145px;
    position: relative;
    margin-bottom: 20px; }
    .cimb-steps.cimb-square .cimb-steps-header {
      background: #76111c;
      font-size: 11px;
      font-size: 1.1rem;
      padding: 8px 4px;
      position: relative; }
      .cimb-steps.cimb-square .cimb-steps-header h4 {
        margin: 0; }
      .cimb-steps.cimb-square .cimb-steps-header:after {
        content: "";
        display: block;
        position: absolute;
        border: 18px solid transparent;
        border-top-color: #76111c;
        left: 50%;
        margin-left: -18px; }
    .cimb-steps.cimb-square p {
      padding: 20px 8px 0 8px;
      font-size: 12px;
      font-size: 1.2rem; }
    .cimb-steps.cimb-square.first {
      border-right: 1px dashed rgba(0, 0, 0, 0.2); }
  .cimb-steps .step {
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    background: #76111c;
    height: 47px;
    padding: 4px 6px;
    position: relative; }
    .cimb-steps .step strong {
      font-size: 14px;
      font-size: 1.4rem; }
    .cimb-steps .step:after {
      content: "";
      display: block;
      border: 24px solid transparent;
      border-left-color: #76111c;
      position: absolute;
      right: -48px;
      top: 0; }
  .cimb-steps .step-desc {
    height: 48px;
    padding: 4px 10px 4px 32px;
    line-height: 18px;
    font-size: 12px;
    font-size: 1.2rem; }
    .cimb-steps .step-desc span {
      vertical-align: middle;
      display: inline-block; }

.cimb-apply-content {
  background: white url(../img/cimb_bg_grey.gif) repeat-x; }
