.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.products-kta .table__bank-logo {
  max-width: 100px;
  max-height: 30px; }
.products-kta .td-apply {
  text-align: center; }
  .products-kta .td-apply .btn {
    padding-left: 8px;
    padding-right: 8px; }
