.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.products-lta .table__bank-logo {
  max-width: 100px;
  max-height: 30px; }
.products-lta .td-apply .btn {
  padding-left: 6px;
  padding-right: 6px; }
