.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.header-404 {
  background: url(../img/404_header.jpg) #f9f7f8 bottom right no-repeat;
  background-size: 600px;
  padding-top: 40px;
  padding-bottom: 40px; }

@media (max-width: 480px) {
  .header-404 h1 {
    font-size: 21px;
    font-size: 2.1rem;
    width: 70%; }

  .header-404 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: 85% bottom; } }
.sb-quicklinks-list a {
  display: block;
  padding: 4px 0; }
