.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.block-extra-info__list li > * {
  display: block; }

table td.td-details {
  padding-left: 0; }

.td-banklogo {
  text-align: center; }

/* Score Card */
.scorecard-content {
  font-size: 12px;
  font-size: 1.2rem; }

.scorecard-list {
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.scorecard-comment {
  padding: 10px 0; }

.scorecard-list .scorecard-list-criteria {
  width: 90px; }
.scorecard-list .scorecard-list-content {
  float: none;
  width: auto;
  min-width: 150px;
  padding-left: 150px; }

.scorebar {
  background: #e7ebed;
  height: 6px;
  position: relative; }
  .scorebar.scorebar-sm {
    width: 50px;
    display: inline-block; }
    .scorebar.scorebar-sm:after {
      background: url(../img/cc-score-indicator-half.png) repeat-y; }
  .scorebar .scorebar-score {
    height: inherit;
    background-color: #1d9fca; }

/* Calculator Form */
.checklist-2col .checkbox {
  width: 50%;
  float: left; }

/* arrow */
.arrow {
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
  position: relative; }

.recommend__arrow {
  margin-right: 4px;
  border-width: 4px; }
  .recommend__arrow.arrow--down {
    border-top-color: #fff;
    top: 9px; }
  .recommend__arrow.arrow--up {
    border-bottom-color: #fff;
    top: -9px; }

/* -----------------
  Product Page
-------------------- */
.block-cc {
  float: none;
  width: auto;
  height: auto; }
  .block-cc.block-cc-featured {
    width: auto;
    padding: 10px; }

.cc__cardimage img {
  max-width: 200px; }

.cc-signup-header {
  margin: 0;
  line-height: 56px;
  height: 56px; }
  .cc-signup-header h4 {
    font-size: 16px;
    font-size: 1.6rem; }
