.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.fd-selected-tenure {
  color: #06456b;
  font-weight: bold; }

.fd-cp-product {
  margin-top: 10px; }
  .fd-cp-product + .fd-cp-product {
    margin-top: 30px; }

.block-product .td-apply {
  text-align: center;
  vertical-align: middle; }
  .block-product .td-apply .btn-success {
    padding-left: 10px;
    padding-right: 10px; }
