.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
/* -----------------
  APPLICATION FORM
-------------------- */
.highlight-bank {
  color: #59b259; }

.form-item {
  margin: 0; }
  .form-item + .form-item {
    margin-top: 5px; }

.form__footer {
  color: #5e6a77;
  font-size: 11px;
  font-size: 1.1rem; }
