.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
/* Slides */
.home-header {
  height: auto;
  margin-bottom: 10px;
  min-height: 200px;
  overflow: hidden; }

.header-slide {
  width: 100%;
  padding: 10px 20px;
  background-repeat: no-repeat;
  text-align: center;
  height: 200px;
  display: none;
  overflow: hidden; }
  .home-header--id .header-slide, .home-header--sg .header-slide {
    text-align: left; }
  .header-slide:first-child {
    display: block; }
  .header-slide a.btn {
    display: inline;
    padding-top: 10px;
    padding-bottom: 11px; }
  .header-slide.slide-ocbc {
    background: url("../img/home-headerslide-ocbc.jpg") center; }
  .header-slide.slide-homeloan {
    background: url("../img/home-headerslide-homeloan.jpg") right 0 #f7f4ed; }
    .header-slide.slide-homeloan a {
      font-weight: bold; }
  .header-slide.slide-creditcard {
    background: url("../img/home-headerslide-creditcard.jpg") right center no-repeat;
    background-size: auto 200px; }
  .header-slide.slide-personalloan {
    background: url("../img/home-headerslide-personalloan.jpg") right 0 #1aabdf; }
    .header-slide.slide-personalloan .slide-title {
      color: #f6f8f9; }
      .header-slide.slide-personalloan .slide-title a {
        color: #fff;
        text-decoration: underline; }
  .header-slide.slide-carinsurance {
    background: url("../img/home-headerslide-asuransimobil.jpg") right center no-repeat;
    -webkit-background-size: auto 200px;
    background-size: auto 200px; }
  .header-slide.slide-bnis {
    background: url(http://direct.imoney.co.id/sites/www.imoney.co.id/files/mobile-id-zaisan-carousel_0.jpg) left top no-repeat #0e8290;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
    .header-slide.slide-bnis .slide-bnis-logo {
      position: absolute;
      top: 0;
      right: 0;
      background: url(http://direct.imoney.co.id/sites/www.imoney.co.id/files/mobile-id-zaisan-carousel-logo.jpg);
      width: 202px;
      height: 32px; }
    .header-slide.slide-bnis img {
      margin-top: 10px;
      display: block;
      width: 55%; }

.header-slide-pager {
  position: static;
  padding: 0 10px;
  text-align: center; }
  .header-slide-pager li a {
    padding: 0;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 2px;
    background: #5e6a77; }
  .header-slide-pager li.cycle-pager-active a:before {
    display: none; }

.slide-title {
  font-size: 24px;
  font-size: 2.4rem;
  padding-bottom: 10px;
  border-bottom: none;
  display: block; }
  .slide-title:before {
    display: none; }

/* popular links */
.sb-quicklinks {
  margin-bottom: 20px; }

.sb-quicklinks-list {
  text-align: center; }
  .sb-quicklinks-list li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 5px 2px 0;
    background: none; }
  .sb-quicklinks-list a {
    text-align: center;
    background: none;
    font-size: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;
    transition: 0.1s all linear;
    color: #1d9fca; }
    .sb-quicklinks-list a:hover {
      text-decoration: none; }
    .sb-quicklinks-list a:active i {
      background-color: #9ab1bc; }

.mb-icon__home {
  background: url(../img/icon-home-pages-60.svg) no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  box-sizing: content-box;
  border: 1px solid #9ab1bc; }
  .no-svg .mb-icon__home {
    background-image: url(../img/icon-home-pages-60.png); }
  .mb-icon__home.mb-icon__home--homeloan {
    background-position: -120px 0; }
  .mb-icon__home.mb-icon__home--personalloan {
    background-position: -60px 0; }
  .mb-icon__home.mb-icon__home--carinsurance {
    background-position: -180px 0; }
  .mb-icon__home.mb-icon__home--learningcentre {
    background-position: -240px 0; }
  .mb-icon__home.mb-icon__home--personalloan-id {
    background-position: -300px 0; }
  .mb-icon__home.mb-icon__home--carloan {
    background-position: -360px 0; }
  .mb-icon__home.mb-icon__home--personalloan-ph {
    background-position: -420px 0; }
  .mb-icon__home.mb-icon__home--travelinsurance {
    background-position: -480px 0; }
  .mb-icon__home.mb-icon__home--healthinsurance {
    background-position: -540px 0; }
  .mb-icon__home.mb-icon__home--savingaccounts {
    background-position: -600px 0; }
  .mb-icon__home.mb-icon__home--personalloan-sg {
    background-position: -660px 0; }
  .mb-icon__home.mb-icon__home--fixeddeposit {
    background-position: -720px 0; }

/* testimonials and so on */
.home-section-title, .home-testimonial .home-section-title {
  font-size: 18px;
  font-size: 1.8rem; }
  .home-testimonial .home-section-title {
    margin-bottom: 10px; }

.lead {
  font-size: 15px;
  font-size: 1.5rem; }

.how-steps h5, .how-steps p {
  text-align: center; }

.testimonials {
  width: 90%; }
  .testimonials:before, .testimonials:after {
    display: none; }
  .testimonials blockquote {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    font-size: 1.5rem; }

/* media queries */
@media (min-width: 480px) {
  .sb-quicklinks-list li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 5px 2px 0;
    background: none; }
    .sb-quicklinks--id .sb-quicklinks-list li {
      width: 33.33%; }
    .sb-quicklinks--ph .sb-quicklinks-list li {
      width: 25%; } }
@media (max-width: 480px) {
  .header-slide h1, .header-slide h2 {
    font-size: 21px;
    font-size: 2.1rem; }
  .header-slide.slide-homeloan, .header-slide.slide-personalloan {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat; }

  .home-header--id .slide-creditcard, .home-header--sg .slide-creditcard {
    -webkit-background-size: auto 140px;
    background-size: auto 140px;
    background-position: right 80px; }

  .home-header--sg .slide-creditcard .slide-title {
    width: auto; }

  .home-header--id .slide-carinsurance {
    background-position: 70%;
    letter-spacing: -1px; }
  .home-header--id .slide-homeloan {
    -webkit-background-size: auto 150px;
    background-size: auto 150px;
    background-position: right bottom; }
  .home-header--id .slide-bnis {
    -webkit-background-size: auto 200px;
    background-size: auto 200px;
    background-position: center; }
    .home-header--id .slide-bnis .slide-bnis-logo {
      width: 101px;
      height: 16px;
      -webkit-background-size: 100% auto;
      background-size: 100% auto; }

  .fl-6 {
    width: auto;
    float: none; } }
@media (max-width: 420px) {
  .home-header--id .slide-bnis img {
    margin-top: 20px;
    width: 70%; } }
