.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
table td {
  vertical-align: middle; }
  table td.td-details {
    padding-left: 0;
    padding-right: 0; }

.block-extra-info__list li > * {
  display: block; }

.repayment-details {
  margin-bottom: 0;
  font-size: 18px;
  font-size: 1.8rem; }
