.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.products-personalloan .table__bank-logo {
  max-width: 100px;
  max-height: 30px; }
