.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.feedback {
  padding: 20px 20px 10px;
  text-align: center;
  background-color: #5e6a77;
  color: #fff; }
  .feedback.feedback--success {
    padding-top: 62px;
    background: url(../img/icon-tick.svg) center 20px no-repeat #59b259; }
    .no-svg .feedback.feedback--success {
      background-image: url(../img/icon-tick.png); }
  .feedback.feedback--fail {
    padding-top: 62px;
    background: url(../img/icon-cross.svg) center 20px no-repeat #da4f49; }
    .no-svg .feedback.feedback--fail {
      background-image: url(../img/icon-cross.png); }

.feedback--title {
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  font-weight: bold; }

.feedback-snippet {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px; }

.with-snippet {
  margin-bottom: 3px; }
