.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
.icon-yes {
  background: url(../img/yes-tick.png) 0 0 no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px; }
