.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: none; }

/* base font color */
/* lighter font color */
/* -----------------
  GLOBAL
-------------------- */
.block-share {
  text-align: center;
  margin: 20px -10px 10px; }

.sharrre {
  margin: 0 0 0 8px;
  display: inline-block; }
  .sharrre:first-child {
    margin-left: 0; }
  .sharrre .box a:hover {
    text-decoration: none; }
  .sharrre .count {
    color: #5e6a77;
    background: #f6f8f9;
    float: right;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .sharrre .count:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: solid 4px transparent;
      margin-top: -4px;
      border-left-color: #fff; }
  .sharrre .count, .sharrre .share {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 28px;
    height: 28px;
    width: 46px;
    position: relative;
    text-align: center;
    display: block; }
  .sharrre .share {
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    float: left;
    color: #fff;
    font-weight: bold; }

#twitter .share {
  background: #55acee; }

#facebook .share {
  background: #3b5998; }

#googleplus .share {
  background: #dd4b39; }
