// PH Personal Loan

//ID

.table-pinjamanpribadi {

	[data-column="0"] {
		width: 16%;
	}
	[data-column="1"],[data-column="2"],[data-column="3"],[data-column="4"],[data-column="5"] {
		width: 12%;
	}
	.apply-col {
		width: 18%;
	}
}