// PH Personal Loan

.table-healthinsurance {

	[data-column="0"] {
		width: 18%;
	}
	[data-column="1"] {
		width: 12%
	}
	[data-column="2"],[data-column="4"],[data-column="5"] {
		width: 10%;
	}
	[data-column="3"] {
		width: 12%;
	}
	[data-column="6"] {
		width: 12%;
	}
	.apply-col {
		width: 15%;
	}
}

.btn-homeloan-calculate {
	position: relative;
	top: 3px;
}