// PH Personal Loan

.table-savingsaccount {

	td:nth-child(5) {
		text-align: left;
	}

	[data-column="0"] {
		width: 18%;
	}
	[data-column="1"],[data-column="2"],[data-column="3"] {
		width: 12%
	}
	.apply-col {
		width: 16%;
	}
}

.btn-homeloan-calculate {
	position: relative;
	top: 3px;
}