// PH Personal Loan

.table-timedeposit {
	td {
		text-align: center;
	}

	th {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	[data-column="0"] {
		width: 25%;
	}
	[data-column="1"],[data-column="2"],[data-column="3"],[data-column="4"],[data-column="5"] {
		width: 12%;
	}
	.apply-col {
		width: 15%;
	}
}

.btn-homeloan-calculate {
	position: relative;
	top: 3px;
}