// PH Personal Loan

.table-travelinsurance {

	[data-column="0"] {
		width: 18%;
	}
	[data-column="1"] {
		width: 10%
	}
	[data-column="2"],[data-column="3"],[data-column="4"],[data-column="5"] {
		width: 14%;
	}
	.apply-col {
		width: 16%;
	}
}

.btn-homeloan-calculate {
	position: relative;
	top: 3px;
}