@import "../../scss/var";

.btn-km-baru.btn-group-pressed {
  background-color: $scorecardpromocolor;
  border-color: darken($scorecardpromocolor,10);

  + .btn {
    border-left-color: darken($scorecardpromocolor,10);
  }
}

.btn-km-bekas.btn-group-pressed {
  background-color: $scorecardbestcardcolor;
  border-color: darken($scorecardbestcardcolor,10);
}