@import "../../scss/mixin";
@import "../../scss/var";

/* -----------------
  GLOBAL
-------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  // &.mb-mainnav--active {
  //   padding-top: 44px;
  // }
}

body, .header {
  min-width: 0;
}

.mb-wrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

/* -----------------
  TYPOGRAPHY
-------------------- */
h1 {
  @include font-size(2.6);
}

blockquote {
  color: $lightercolor;
  @include font-size(1.8);
  text-align: center;
  padding: 12px 0;
  font-weight: 300;
  border-left: 3px solid $bodybgcolor;
  background: $lightgrey;
}

/* -----------------
  GRID
-------------------- */
#page {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 10px 0;
  background: transparent;
  box-shadow: none;
}
.row-fl {
  margin-left: -10px;
  margin-right: -10px;
}
[class*="fl-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/* -----------------
  TABLE
-------------------- */
table {
  border: none;

  td, th {
    padding: 10px;
  }
  td {
    vertical-align: top;
  }

  th {
    font-size: inherit;
  }

  tr:hover {
    td {
      background-color: transparent;
    }
  }
}

.table-transparent {
  background: transparent;

  td, th {
    padding: 5px 2px;
    background: transparent;
  }

  th {
    border-bottom-width: 1px;
  }

  tr:hover {
    td {
      background: transparent;
    }
  }
}

.table-bordered {
  @include border;
  border-bottom: none;

}

.content-overflow {
  width: auto;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.tr-expand {

  > td {
    padding: 10px;
    padding-bottom: 20px;
  }

  h4 {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}

/* -----------------
  FORM
-------------------- */

.form-control {
  width: 100%;
}

textarea.form-control {
  height: auto;
}

.input-append .add-on, .input-prepend .add-on, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  height: 34px;
}
.input-xshort {
  width: 40px;
}

.form-horizontal {
  .control-label {
    text-align: left;
  }
}

//input add-on to follow the new Bootstrap css style
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #f0f3f4;
  border: 1px solid lighten($blkgreycolor,15);
  border-radius: 3px;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}

/* -----------------
  BUTTON
-------------------- */

.btn-mb {
  border-radius: $radius;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  padding: 8px 10px;
  background: $brandcolor2;
  color: #fff;

  &:hover, &:active {
    background: darken($brandcolor2, 4)
  }
}

.btn-mb--facebook {
  background-color: #3b5998;

  &:hover, &:active {
    background: darken(#3b5998, 4)
  }
}

.btn-toggle {
  position: relative;
  padding-left: 14px;

  &:before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: lighten($lightercolor,20);
    position: absolute;
    left: 0;
    top: 50%;
  }

  &:after {
    content: '';
    width: 2px;
    height: 10px;
    background-color: lighten($lightercolor,20);
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -4px;
  }

  &.btn-toggle--opened {
    &:after {
      display: none;
    }
  }
}

.btn-group--five {
  > .btn {
    width: 20%;
  }
}


/* -----------------
  HEADER
-------------------- */
.header {
  height: 44px;
  position: relative;
  z-index: 200;

  // .mb-mainnav--active & {
  //   position: fixed;
  //   width: 100%;
  //   top: 0;
  // }
}
.header-logo {
  background-image: url("../img/imoney-malaysia-logo.svg");
  margin: 0 auto;
  float: none;
  display: block;
  width: 130px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 44px;

  .no-svg & {
    background-image: url("../img/imoney-malaysia-logo.png")
  }

  &.header-logo__id {
    background-image: url("../img/aturduit-logo.svg");
    width: 130px;

    .no-svg & {
      background-image: url("../img/aturduit-logo.png");
    }

    &.header-logo--footer {
      height: 40px;
      margin-bottom: 10px;
    }
  }

  &.header-logo__ph{
    background-image: url("../img/imoney-philippines-logo.svg");
    width:110px;

      .no-svg &{
        background-image:url("../img/imoney-philippines-logo.png");
      }

      &.header-logo-footer{
        height: 40px;
        margin-bottom:10px;
      }
  }

  &.header-logo__sg{
    background-image: url("../img/imoney-singapore-logo.svg");
    width:110px;

    .no-svg &{
      background-image:url("../img/imoney-singapore-logo.png");
    }

    &.header-logo-footer{
      height: 40px;
      margin-bottom:10px;
    }
  }
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.4;
  width: 44px;
  height: 44px;
  background: url("../img/icon-menu.svg") left no-repeat;

  .no-svg & {
    background-image: url("../img/icon-menu.png");
  }

  &:hover {
    background-color: $lightgrey;
  }

  &.header-menu-close {
    background-position: right;
  }
}

.header-language-dropdown {
  position: absolute;
  right: 10px;
  top: 26px;
}

/* -----------------
  NAV
-------------------- */

.mb-mainnav {
  background: $brandcolor2;
  // position: fixed;
  // z-index: 199;
  // top: 0;
  // left: 0;
  width: 100%;
  // height: 100%;
  // -webkit-overflow-scrolling: touch;
  // overflow-y: scroll;
  // padding: 54px 10px 50px;
  padding: 10px;
  display: none;

  a {
    color: #fff
  }
}

.mb-mainnav-inner {
  overflow: hidden;
}

.mb-mainnav__popular {
  @include font-size(2.1);
  font-family: $roboto;
  font-weight: 300;

  li {
    margin: 8px 0;
  }
}

.mb-mainnav__header {
  text-transform: uppercase;
  color: lighten($brandcolor2,35);
  position: relative;
  display: inline-block;
  background: $brandcolor2;

  &:after {
    height: 1px;
    right: 0;
    left: 100%;
    margin-left: 5px;
    bottom: 5px;
    background: rgba(lighten($brandcolor2,35),0.5);
    content: '';
    display: block;
    position: absolute;
    width: 600px;
  }
}
.mb-mainnav__normal {
  margin: 20px 0;
}
.menu {
  li {
    margin: 8px 0;
  }
}

/* disable body scroll when nav is active */
// .mb-mainnav--active {
//   overflow: hidden;
// }

/* -----------------
  PAGE
-------------------- */
.page-header {
  padding: 8px 10px;
  background: $brandcolor1;
  margin-bottom: 10px;
  position: relative;
}

.page-title {
  color: #fff;
  @include font-size(1.9);
  line-height: 1.4;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
}

.block-page {
  background: #fff;
  @include box-shadow;
  margin-bottom: 20px;
}

.pagetab-big.pagetab-big-secondary {
  height: 41px;
}

.pagetab-big.pagetab-big-secondary ul li.active a {
  color: $brandcolor2;

  &:hover {
    color: $brandcolor2;
  }
}

.btn-share {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 10px;
  color: #fff;
}

/* -----------------
  BLOCK
-------------------- */

//Block Calculator
.cal-secondary-content {
  display: none;

  &.cal-secondary--open {
    display: block;
  }
}

//Block Product
.block-product {
  position: relative;

  .table__bank-logo {
    max-width:100px;
    max-height: 30px;
  }

  .td-apply {
    text-align: center;
  }

  table {
    margin-bottom: 0;
  }

  &.bt-lightbluebar {
    border-top-width: 2px !important;
  }
}

.products-footnote {
  position: relative;
  top: -10px;
}

.block-product-secondary {
  padding: 5px 10px;
}

.block-extra-info__list {
  overflow: hidden;
  margin-bottom: 0;

  li {
    float: left;
    padding-right: 5px;
  }
}

@for $i from 1 through 5 {
  .listitem--#{$i} {
    li {
      width: percentage(1/$i);
    }
  }
}

// block recommend
.block-recommend {
  border: 2px solid $brandcolor2;

  &.block-recommend--best {
    border-color: $scorecardbestcardcolor;
  }
  &.block-recommend--promo {
    border-color: $scorecardpromocolor;
  }
  &.block-recommend--normal {
    border: none;
  }
}

.recommend {
  background: $brandcolor2;
  color: #fff;
  padding: 5px 10px;

  .block-recommend--best & {
    background-color: $scorecardbestcardcolor}
  .block-recommend--promo & {
    background-color: $scorecardpromocolor}
  .block-recommend--normal & {
    background-color: $lightgrey;}

  .recommend__title {
    overflow: hidden;
    cursor: pointer;
    span {
      background: $brandcolor1;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 3px 6px;

      .block-recommend--best & {
        background-color: darken($scorecardbestcardcolor,10)}
      .block-recommend--promo & {
        background-color: darken($scorecardpromocolor,8)}
      .block-recommend--normal & {
        background-color: $brandcolor2}
    }

  }

  .recommend__content {
    padding-top: 5px;
    display: none;

    .block-recommend--normal & {
      color: $lightercolor;
    }
  }
}

// block rating

.block-rating {
  color: #fff;
  background: $lightercolor;

  &.block-rating--best {
    background: $scorecardbestcardcolor;
  }

  &.block-rating--promo {
    background: $scorecardpromocolor;
  }

  &.block-rating--normal {
    background: $brandcolor2;
  }

  > * {
    color: #fff;
  }
}

/* -----------------
  FOOTER
-------------------- */

.footer {
  margin: 20px 0;
  background: transparent;
  font-weight: 400;
}

.header-logo--footer {
  height: 40px;
}

.social {
  margin: 20px 0 0;

  li {
    display: inline-block;
  }
  [class*="social--"] {
    background: url("../img/icon-social.svg") no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    @extend .hidetext;

    .no-svg & {
      background-image: url("../img/icon-social.png");
    }
  }

  .social--twitter {background-position: -24px 0}
  .social--google {background-position: -48px 0}
  .social--instagram {background-position: -72px 0}
  .social--youtube {background-position: -96px 0}
  .social--pinterest {background-position: -120px 0}
}

.footer-nav {
  text-align: center;
  margin-bottom: 0;

  li {
    display: inline;

    a {
      padding: 5px;
      line-height: 2;
    }
  }
}

.language-switcher-locale-url {
  float: none;

  li {
    margin: 0 2px 0 0;

    &.first {
      margin-left: 5px;
    }

    a {
      border-radius: 2px;
      padding: 2px 5px;
      border: 1px solid transparent;

      &:hover {
        background: $lightercolor;
        text-decoration: none;
        color: #fff;
      }
    }

    &.active a {
      color: $lightercolor;
      border: 1px solid $lightercolor;
    }
    &.active a:hover{
      color:#fff;
    }
  }
}

a.btn-viewfull {
  display: block;
  padding: 5px;
  background: $lightgrey;
  color: $brandcolor2;
  margin: 20px 0;
}

.footer-copyright {
  padding: 10px 0;
}

.media-logos-new > a {
  background: none;
  height: auto;
  display: inline;
}


/* -----------------
  INLINE POPUP
-------------------- */

.inline-popup {
  display: block;

  .inline-popup-content {
    width: auto;
  }

  h2 {
    @include font-size(2.1);
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .inline-popup-footer {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
  }

  .inline-popup__header {
    background-color: #1ca0cb;
    color: #fff;
    border-radius: 3px 3px 0 0;
  }
}

/* -----------------
  FIVE STAR RATING
-------------------- */

.fivestar-imoney {
  margin-bottom: 10px;
  overflow: hidden;

  div.fivestar-widget-static .star {
    width: 14px;
  }
}


/* -----------------
  MISC
-------------------- */

.hidden {
  display: none;
}

.label-red {
  background-color: $failcolor;
}

.label-green {
  background-color: $successcolor;
}
/* -----------------
  LOADER
-------------------- */
.loader {
  @extend .hidden;
  background-repeat: no-repeat;
  background-position: center;

  &.loader--calculator {
    height: 66px;
    background-image: url("../img/loader.gif");
    margin-bottom: 10px;
    background-size: auto 100%;
  }
}

/* -----------------
  MQ
-------------------- */
@media (max-width: 479px) {
  .block-product {
    .btn {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

/* -----------------
  MEDIA QUERIES OVERWRITE DISPLAY FL
-------------------- */
@media (max-width: 480px) {
  .fl-block {
    width: 100%;
  }
}
