@import "../../scss/mixin";
@import "../../scss/var";

$cimb-color1 : #e93131;
$cimb-color2 : #76111c;

.cimb-header {
	background: #2d2d2d;
	padding:30px 0 20px;
	text-align: center;

	.cimb-text-wrap {
		padding:0 15px;
	}

	.cimb-logo {
		background: url(../img/cimb-logo.png) 0 0 no-repeat;
		background-size: 110px 17px;
		width: 110px;
		height:20px;
		display: inline-block;
		margin:0 auto;
	}

	.money-icon {
		background: url(../img/dollar.png) 0 0 repeat-x;
		width: 145px;
		height: 30px;
		background-size: 50px auto;
		margin: 4px auto 10px;
	}

	.scroll-down {
		color:#f5f5f5;
		@include font-size(1.2);
	}

	h1 {
		color: #ffffff;
		font-weight: bold;
		text-align: center;
		@include font-size(2);
	}

	h2 {
		color:#9e9e9e;
		@include font-size(1.3);
		font-weight: 400;
		display:inline-block;
		background-color:#131313;
		padding:4px 10px;
		border-radius:15px;
		margin-bottom: 5px;
	}

	.cimb-bullet {
		text-align: left;
		@include font-size(1.3);
		padding:20px 15px 0;
		color:#d3d3d3;

		> li {
			background: url(../img/header-bullet.png) 0 6px no-repeat; 
			background-size: 10px 6px;

			strong {
				color: #fcf331;
			}
		}
		> li:first-child strong {
			@include font-size(1.4);
		}
	}

	.cimb-image-wrap {
		position:relative;
		margin-bottom:55px;
	}

	.cimb-card {
		background:url(../img/cimb-website-cardface.png) 0 0 no-repeat;
		width:130px;
		height: 80px;
		background-size: 130px 80px;
		position:absolute;
		@include box-shadow(0 0 40px rgba(210, 235, 255, 0.6));
		left: 50%;
		margin-left: -25px;
		bottom: -46px;
	}
}

.cimb-steps {
	background: #e93131;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);


	&:after {
		content: "";
		clear:both;
		display:block;
	}

	&.cimb-square {
		padding:0;
		text-align: center;
		min-height: 145px;
		position: relative;
		margin-bottom: 20px;

		.cimb-steps-header {
			background:$cimb-color2;
			@include font-size(1.1);
			padding:8px 4px;
			position: relative;

			h4{
				margin:0;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				border:18px solid transparent;
				border-top-color: $cimb-color2;
				left:50%;
				margin-left:-18px;
			}
		}

		p {
			padding:20px 8px 0 8px;;
			@include font-size(1.2);

		}

		&.first {
			border-right:1px dashed rgba(0,0,0,0.2);

		}
	}

	
	.step {
		@include font-size(1.1);
		text-align: center;
		background : #76111c;
		height:47px;
		padding: 4px 6px;
		position: relative;

		strong {
			@include font-size(1.4);
		}

		&:after {
			content: "";
			display:block;
			border:24px solid transparent;
			border-left-color: $cimb-color2;
			position: absolute;
			right:-48px;
			top:0;
		}
	}

	.step-desc {
		height: 48px;
		padding:4px 10px 4px 32px;
		line-height:18px;
		@include font-size(1.2);

		span {
			vertical-align: middle;
			display: inline-block;
		}
	}
}

.cimb-apply-content {
	background: #fff url(../img/cimb_bg_grey.gif) repeat-x;
}

