@import "../../scss/mixin";
@import "../../scss/var";

.products-kta {
  .table__bank-logo {
    max-width:100px;
    max-height: 30px;
  }

  .td-apply {
    text-align: center;
    
    .btn {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

