@import "../../scss/mixin";
@import "../../scss/var";

.header-404 {
  background: url(../img/404_header.jpg) #f9f7f8 bottom right no-repeat;
  background-size: 600px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 480px) {
  .header-404 h1 {
    @include font-size(2.1);
    width: 70%;
  }
  .header-404 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: 85% bottom;
  }
}

.sb-quicklinks-list {
  a {
    display: block;
    padding: 4px 0;
  }
}
