@import "../../scss/mixin";
@import "../../scss/var";

.block-extra-info__list {
  li > * {
    display: block;
  }
}

table {
  td {
    &.td-details {
      padding-left: 0;
    }
  }
}

.td-banklogo {
  text-align: center;
}

/* Score Card */

.scorecard-content {
  @include font-size(1.2);
}

.scorecard-list {
  padding: 5px 0;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.scorecard-comment {
  padding: 10px 0;
}

.scorecard-list {
  .scorecard-list-criteria {
    width: 90px;
  }
  .scorecard-list-content {
    float: none;
    width: auto;
    min-width: 150px;
    padding-left: 150px;
  }
}

.scorebar {
  background: $bodybgcolor;
  height: 6px;
  position: relative;

  &.scorebar-sm {
    width: 50px;
    display: inline-block;

    &:after {
      background: url(../img/cc-score-indicator-half.png) repeat-y;
    }
  }

  .scorebar-score {
    height: inherit;
    background-color: $brandcolor2;
  }
}

/* Calculator Form */
.checklist-2col {
  .checkbox {
    width: 50%;
    float: left;
  }
}

/* arrow */
.arrow {
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
  position: relative;
}

.recommend__arrow {
  margin-right: 4px;
  border-width: 4px;

  &.arrow--down {
    border-top-color: #fff;
    top: 9px;
  }

  &.arrow--up {
    border-bottom-color: #fff;
    top: -9px;
  }
}

/* -----------------
  Product Page
-------------------- */
.block-cc {
  float: none;
  width: auto;
  height: auto;

  &.block-cc-featured {
    width: auto;
    padding: 10px;
  }
}

.cc__cardimage img {
  max-width: 200px;
}

.cc-signup {

  &-header {
    margin: 0;
    line-height: 56px;
    height: 56px;

    h4 {
      @include font-size(1.6);
    }
  }
}