@import "../../scss/mixin";
@import "../../scss/var";

.fd-selected-tenure {
  color: $brandcolor1;
  font-weight: bold;
}
.fd-cp-product {
  margin-top: 10px;

  + .fd-cp-product {
    margin-top: 30px;
  }
}

.block-product {
  .td-apply {
    text-align: center;
    vertical-align: middle;

    .btn-success {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}