@import "../../scss/mixin";
@import "../../scss/var";

/* -----------------
  APPLICATION FORM
-------------------- */

.highlight-bank {
  color: $successcolor;
}

.form-item {
  margin: 0;

  + .form-item {
    margin-top: 5px;
  }
}

.form__footer {
  color: $lightercolor;
  @include font-size(1.1);
}