@import "../../scss/mixin";
@import "../../scss/var";

table {
  td {
    vertical-align: middle;

    &.td-details {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.block-extra-info__list {
  li > * {
    display: block;
  }
}

.repayment-details {
  margin-bottom: 0;
  @include font-size(1.8);
}

