@import "../../scss/mixin";
@import "../../scss/var";


/* Slides */
.home-header {
  height: auto;
  margin-bottom: 10px;
  min-height: 200px;
  overflow: hidden;
}

.header-slide {
  width: 100%;
  padding: 10px 20px;
  background-repeat: no-repeat;
  text-align: center;
  height: 200px;
  display: none;
  overflow: hidden;

  .home-header--id &, .home-header--sg & {
    text-align: left;
  }

  &:first-child {
    display: block;
  }

  a.btn {
    display: inline;
    padding-top: 10px;
    padding-bottom: 11px;
  }

  &.slide-ocbc {
    background: url("../img/home-headerslide-ocbc.jpg") center;
  }

  &.slide-homeloan {
    background: url("../img/home-headerslide-homeloan.jpg") right 0 #f7f4ed;

    a {
      font-weight: bold;
    }
  }

  &.slide-creditcard {
    background: url("../img/home-headerslide-creditcard.jpg") right center no-repeat;
    background-size: auto 200px;
  }

  &.slide-personalloan {
    background: url("../img/home-headerslide-personalloan.jpg") right 0 #1aabdf;

    .slide-title {
      color: $lightgrey;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &.slide-carinsurance {
    background: url("../img/home-headerslide-asuransimobil.jpg") right center no-repeat;
    -webkit-background-size: auto 200px;
    background-size: auto 200px;
  }

  // ID

  &.slide-bnis {
    background: url(http://direct.imoney.co.id/sites/www.imoney.co.id/files/mobile-id-zaisan-carousel_0.jpg) left top no-repeat #0e8290;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;

    .slide-bnis-logo {
      position: absolute;
      top: 0;
      right: 0;
      background: url(http://direct.imoney.co.id/sites/www.imoney.co.id/files/mobile-id-zaisan-carousel-logo.jpg);
      width: 202px;
      height: 32px;
    }

    img {
      margin-top: 10px;
      display: block;
      width: 55%;
    }
  }
}

.header-slide-pager {
  position: static;
  padding: 0 10px;
  text-align: center;

  li {
    a {
      padding: 0;
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin: 0 2px;
      background: $lightercolor;
    }

    &.cycle-pager-active {
      a:before {
        display: none;
      }
    }
  }
}

.slide-title {
  @include font-size(2.4);
  padding-bottom: 10px;
  border-bottom: none;
  display: block;

  &:before {
    display: none;
  }
}

/* popular links */
.sb-quicklinks  {
  margin-bottom: 20px;
}

.sb-quicklinks-list {
  text-align: center;

  li {
    // float: left;
    display: inline-block;
    vertical-align: top;
    width: 33.33%; //33.33%
    padding: 5px 2px 0;
    background: none;

    // &:last-child {
    //   width: 100%;
    // }
  }
  a {
    text-align: center;
    // border: 2px solid darken($lightgrey,30);
    background: none;
    @include font-size(1.0);
    font-weight: 500;
    text-transform: uppercase;
    @include transition(0.1s all linear);
    color: $brandcolor2;

    &:hover {
      text-decoration: none;
    }

    // &:active {
    //   background: $brandcolor2;
    //   border-color: $brandcolor2;
    //   color: #fff;
    //   text-decoration: none;
    //   text-shadow: 0 1px 0 rgba($brandcolor2,.5);
    // }

    &:active {
      i {
        background-color: darken($lightgrey,30);
      }
    }
  }
}

.mb-icon__home {
  // background: url(../img/icon-home-pages.svg) no-repeat;
  // width: 32px;
  // height: 32px;
  // margin: 0 auto 5px;
  // display: block;
  // position: relative;

  background: url(../img/icon-home-pages-60.svg) no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  box-sizing: content-box;
  border: 1px solid darken($lightgrey,30);

  .no-svg & {
    background-image: url(../img/icon-home-pages-60.png);
  }

  &.mb-icon__home--homeloan {
    background-position: -120px 0;
  }

  &.mb-icon__home--personalloan {
    background-position: -60px 0;
  }

  &.mb-icon__home--carinsurance {
    background-position: -180px 0;
  }

  &.mb-icon__home--learningcentre {
    background-position: -240px 0;
  }

  &.mb-icon__home--personalloan-id {
    background-position: -300px 0;
  }

  &.mb-icon__home--carloan {
    background-position: -360px 0;
  }

  &.mb-icon__home--personalloan-ph {
    background-position: -420px 0;
  }

  &.mb-icon__home--travelinsurance {
    background-position: -480px 0;
  }

  &.mb-icon__home--healthinsurance {
    background-position: -540px 0;
  }

  &.mb-icon__home--savingaccounts{
    background-position: -600px 0;
  }
  &.mb-icon__home--personalloan-sg {
    background-position: -660px 0;
  }
  &.mb-icon__home--fixeddeposit {
    background-position: -720px 0;
  }
}


// .sb-hlrate-table {
//   text-align: center;
//   color: $lightercolor;
// }


/* testimonials and so on */
.home-section-title {
  @include font-size(1.8);

  .home-testimonial & {
    @extend .home-section-title;
    margin-bottom: 10px;
  }
}



.lead {
  @include font-size(1.5);
}

.how-steps h5, .how-steps p {
  text-align: center;
}

.testimonials {
  width: 90%;

  &:before, &:after {
    display: none;
  }

  blockquote {
    background: none;
    border: none;
    color: #fff;
    @include font-size(1.5);
  }
}

/* media queries */

@media (min-width: 480px) {
  .sb-quicklinks-list {

    li {
      // float: left;
      display: inline-block;
      vertical-align: top;
      width: 20%; //33.33%
      padding: 5px 2px 0;
      background: none;

      .sb-quicklinks--id & {
        width: 33.33%;
      }

      .sb-quicklinks--ph & {
        width: 25%;
      }
    }
  }
}

@media (max-width: 480px) {

  .header-slide {
    h1, h2 {
      @include font-size(2.1);
    }
    &.slide-homeloan, &.slide-personalloan {
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }

  .home-header--id, .home-header--sg {
    .slide-creditcard {
      -webkit-background-size: auto 140px;
      background-size: auto 140px;
      background-position: right 80px;
    }
  }

  .home-header--sg {
    .slide-creditcard {
      .slide-title {
        width: auto;
      }
    }
  }

  .home-header--id {
    .slide-carinsurance {
      background-position: 70%;
      letter-spacing: -1px;
    }
    .slide-homeloan {
      -webkit-background-size: auto 150px;
      background-size: auto 150px;
      background-position: right bottom
    }
    .slide-bnis {
      -webkit-background-size: auto 200px;
      background-size: auto 200px;
      background-position: center;

      .slide-bnis-logo {
        width: 101px;
        height: 16px;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
      }
    }
  }

  .fl-6 {
    width: auto;
    float: none;
  }
}

@media (max-width: 420px) {
  .home-header--id {
    .slide-bnis {
      img {
        margin-top: 20px;
        width: 70%;
      }
    }
  }
}
