.ad__topbar--homeloan {
  display: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #248BD0),
    color-stop(1, #185EA3)
  );
  background-image: -o-linear-gradient(bottom, #248BD0 0%, #185EA3 100%);
  background-image: -moz-linear-gradient(bottom, #248BD0 0%, #185EA3 100%);
  background-image: -webkit-linear-gradient(bottom, #248BD0 0%, #185EA3 100%);
  background-image: -ms-linear-gradient(bottom, #248BD0 0%, #185EA3 100%);
  background-image: linear-gradient(to bottom, #248BD0 0%, #185EA3 100%);

  padding: 15px 10px;
  position: relative;
  overflow: hidden;

  color: #fff;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.ad__topbar_icon {
  width: 40px;
  margin-right: 10px;
  float: left;

  img {
    display: block;
  }
}

.ad__title {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  line-height: 1.3;
}

.ad__description {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.ad__cta {
  position: absolute;
  right: 13px;
  top: 50%;
  margin-top: -13px;


  img {
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 2px;
    width: 20px;
  }

  a {
    padding: 2px 8px;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    line-height: 23px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    font-size: 1.3rem;
    vertical-align: middle;
    display: block;
    border: 1px solid #185EA3;
    background: #59b259;

    &:hover {
      text-decoration: none;
    }
  }
}

.ad__close {
  position: absolute;
  right: -8px;
  top: -13px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #00366b;
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

