@import "../../scss/mixin";
@import "../../scss/var";

.feedback {
  padding: 20px 20px 10px;
  text-align: center;
  background-color: $lightercolor;
  color: #fff;

  &.feedback--success {
    padding-top: 62px;
    background: url(../img/icon-tick.svg) center 20px no-repeat $successcolor;

    .no-svg & {
      background-image: url(../img/icon-tick.png);
    }
  }

  &.feedback--fail {
    padding-top: 62px;
    background: url(../img/icon-cross.svg) center 20px no-repeat $failcolor;

    .no-svg & {
      background-image: url(../img/icon-cross.png);
    }
  }
}

.feedback--title {
  color: #fff;
  @include font-size(1.8);
  font-weight: 400;
  font-weight: bold;
}

.feedback-snippet{
  font-weight: normal;
  color: rgba(255,255,255, 0.7);
  letter-spacing: 1px;
}

.with-snippet{
  margin-bottom: 3px;
}