@import "../../scss/mixin";
@import "../../scss/var";

/* -----------------
  GLOBAL
-------------------- */
.block-share {
  text-align: center;
  margin: 20px -10px 10px;
}
.sharrre{
  margin:0 0 0 8px;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }

  .box {

    a:hover {
      text-decoration: none;
    }
  }

  .count {
    color: $lightercolor;
    background: $lightgrey;
    float: right;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;

    &:after {
      content:'';
      display:block;
      position:absolute;
      left: 0;
      top: 50%;
      width:0;
      height:0;
      border:solid 4px transparent;
      margin-top: -4px;
      border-left-color:#fff;
    }
  }

  .count, .share {
    @include font-size(1.1);
    line-height: 28px;
    height: 28px;
    width: 46px;
    position: relative;
    text-align: center;
    display: block;
  }

  .share {
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    float: left;
    color: #fff;
    font-weight: bold;
  }
}

#twitter .share {
  background: #55acee;
}
#facebook .share {
  background: #3b5998;
}
#googleplus .share {
  background: #dd4b39;
}