.table-pinjamanpribadi [data-column="0"] {
  width: 16%; }
.table-pinjamanpribadi [data-column="1"], .table-pinjamanpribadi [data-column="2"], .table-pinjamanpribadi [data-column="3"], .table-pinjamanpribadi [data-column="4"], .table-pinjamanpribadi [data-column="5"] {
  width: 12%; }
.table-pinjamanpribadi .apply-col {
  width: 18%; }
