// HK

.table-travelinsurance {

	td:nth-child(3) {
		text-align: left;
	}

	[data-column="0"]{
		width: 12%;
	}
	[data-column="1"]{
		width: 10%;
	}
	[data-column="2"]{
		width: 20%;
	}
	.apply-col {
		width: 15%;
	}
	td {
		font-size: 13px;
	}
}

.table-healthinsurance {

	th {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	td:nth-child(2) {
		text-align: left;
	}
	[data-column="0"], .apply-col {
		width: 18%;
	}
}

.table-lifeinsurance {
	th {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	td:nth-child(2) {
		text-align: left;
	}

	[data-column="0"], .apply-col {
		width: 15%;
	}
	[data-column="2"],[data-column="3"] {
		width: 12%;
	}
}

